<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form name="app_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Global Setting</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
	        <div class="mb0" style="margin-top: 0px; width: 487px; height: auto; border:none; float:left;">
	            <p class="f14 fwbold mb0">Update your global website setting here<br />
	                <span class="f12 fwnormal">Please fill all field below with your correct data</span>
	            </p>
	        </div>
	        <div class="clear"></div>
	        <hr style="float: left;" class="style4">
	        <div class="block-mini box-size" style="margin-top: 0px; width: 100%; height: auto; border-right:none; margin: 0;  float: left;">
                <div style="display: none;">
                    <input value="{lmodule}" id="lmodule" type="hidden">
                    <input value="{ltype}" id="ltype" name="fields[ltype]" type="hidden">
                    <input value="{ltitle}" id="ltitle" name="fields[ltitle]" type="hidden">
                    <input value="{lsef_url}" id="lsef_url" name="fields[lsef_url]" type="hidden">
                    <input value="{lpost_id}" id="lpost_id" name="fields[lpost_id]" type="hidden">
                    <input value="{llang_id}" id="llang_id" name="fields[llang_id]" type="hidden">                    
                    <input value="{lcreated_by}" id="lcreated_by" name="fields[lcreated_by]" type="hidden">
                </div>

                {lcustom}
                
                <div style="width: 100%; margin-top: 15px;" class="list">
                    <label style="text-align: left;width: 100%;margin-left:0px;margin-bottom:5px;">Meta title</label>
                    <input value="{lmeta_title}" id="meta_title" name="fields[lmeta_title]" type="text" class="text" style="margin-left: 0px;width: 100%;">
                </div>
                <div style="width: 100%; margin-top: 15px;" class="list">
                    <label style="text-align: left;width: 100%;margin-left:0px;margin-bottom:5px;">Meta Key</label>
                    <input value="{lmeta_key}" id="meta_key" name="fields[lmeta_key]" type="text" class="text" style="margin-left: 0px; width: 100%;">
                </div>
                <div style="width: 100%; margin-top: 15px;" class="list">
                    <label style="text-align: left;width: 100%;margin-left:0px;margin-bottom:5px;">Meta Description</label>
                    <input value="{lmeta_desc}" id="meta_desc" name="fields[lmeta_desc]" type="text" class="text" style="margin-left: 0px; width: 100%;">
                </div>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>
	
	{ladditional}

    <div class="content-body-1020 content-body-1042 clearfix">
	    <div class="content-1042 new-style-content-1024 clearfix">
	        <div class="button_step_bottom new-bsb" style="float:right;">
	            <input type="submit" value="Save" class="button shadow fwbold mt0" name="save" style="font-size: 15px;padding: 9px 20px;font-weight: 400; margin: 0;">
	            <div class="clear"></div>
	        </div>
	    </div>
	    <div class="clear"></div>
	</div>
	
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->