/* CSS Document */
.clear{clear:both;}
.wrapper-payment-methode {margin: 30px 20px 20px;}
div#list-payment-method {}
div#list-payment-method .lpm-paypal {float:left;}
div#list-payment-method .lpm-veritrans {float:left;}
div#list-payment-method .lpm-doku {float:left}
div#list-payment-method input{margin: 9px 5px;float: left;}
div#list-payment-method img{margin: 0px 20px 0 5px;float: left;}
div#list-payment-method .lpm-doku img{width:30px;}
.button-wrapper input{float:left;}
div#list-payment-method span.custom > input[type='checkbox'] + label.choice2{margin-top:5px;}