<!-- BEGIN viewBlock -->
<link rel="stylesheet" href="http://{apps_dir}/Setting/{app_name}/app.css" type="text/css" media="screen" />
<!-- BEGIN viewContent -->
<div class="">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Payment Method</div>
        <div class="content-1042 new-style-content-1024 mtop30">       
        	<div class="wrapper-payment-methode">
            	<form method="post">
                	<div id="list-payment-method">
                        <div class="lpm-paypal">                        
                            <!--<input type="checkbox" name="paypal_method" id="checkbox_id" {paypal_method}>-->
                            <span class="custom">
                                <input class="field checkbox" type="checkbox" name="paypal_method" id="checkbox_id" {paypal_method}>
                                <label for="checkbox_id" class="choice choice2"></label>
                            </span>
                            <label for="checkbox_id"><img src="http://{template_dir}/images/payment_method/ppcom.svg" /></label>
                            <div class="clear"></div>
                        </div> 	
                        <!--<div class="lpm-veritrans">
                            <input type="checkbox" name="verisign_method" id="checkbox_id2" {verisign_method}>
                          	<span class="custom">
                                <input  class="field checkbox" type="checkbox" name="verisign_method" id="checkbox_id2" {verisign_method}>
                                <label for="checkbox_id2" class="choice choice2"></label>
                            </span>
                            <label for="checkbox_id2"><img src="http://{template_dir}/images/payment_method/verisign.png" /></label>
                            <div class="clear"></div>                    
                        </div>-->
                        <div class="lpm-doku">
                            <!--<input type="checkbox" name="doku_method" id="checkbox_id3" {doku_method}>-->
                            <span class="custom">
                                <input  class="field checkbox" type="checkbox" name="doku_method" id="checkbox_id3" {doku_method}>
                                <label for="checkbox_id3" class="choice choice2"></label>
                            </span>
                            <label for="checkbox_id3"><img src="http://{template_dir}/images/payment_method/doku-logo.png" /></label>
                            <div class="clear"></div>     
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="button-wrapper">
                        <input type="submit" value="Save Changes" name="act" class="button shadow fwbold" style="padding: 9px 10px 9px;" />
                        <div class="clear"></div>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div>
<!-- END viewContent -->

<!-- END viewBlock -->