<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<section class="tripdtl">
    <div class="container">
        <h2 class="dtitle">NEW REQUEST</h2>
        <div class="innercon-pd flex">
            <div class="conlireq">
                <span class="smallesttitle">{notif}</span>
                <!-- BEGIN viewLoopContent -->
                <div class="eachreq">
                    <div class="reqh flex">
                        <h3 class="room-name">{room_name}</h3>
                        <div class="reqbtn flex">
                            <a class="dbtn" href="{detailink}">SEE DETAILS</a>
                            <a class="{confirm_btn_cls}">CONFIRM</a>
                        </div>
                    </div>
                    <div class="reqb flex">
                        <figure>
                            <img src="{thumbnail}" class="cover" alt="{property}">
                        </figure>
                        <figcaption>
                            <p>
                                <span>STATUS</span>
                                Check<br/>Availability
                            </p>
                            <p>
                                <span>GUESTS</span>
                                {guest}
                            </p>
                            <p>
                                <span>DATES</span>
                                {date}
                                <i>{nights}</i>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <!-- END viewLoopContent -->
            </div>
            <div class="constat">
                <div class="hostingprogress constat-section">
                    <h2 class="statitle">HOSTING PROGRESS</h2>
                    <div class="htprs">
                        <p>
                            {current_month} Earnings
                            <span>{earnings}</span>
                        </p>
                        <p>
                            30-day views
                            <span>{view_num}</span>
                        </p>
                        <p>
                            30-day bookings
                            <span>{booking_num}</span>
                        </p>
                        <p>
                            Overall Rating
                            <span>{overall_rating}</span>
                        </p>
                        <p>
                            Total Reviews
                            <span>{total_review}</span>
                        </p>
                    </div>
                </div>
                <div class="numbreservation constat-section">
                    <h2 class="statitle">MONTHLY STATISTICS</h2>
                    <span class="chartitle">NUMBER OF RESERVATIONS</span>
                    <canvas id="booking-chart" class="barchart__"></canvas>
                </div>
                <div class="monthrearningcharts constat-section">
                    <span class="chartitle">EARNINGS</span>
                    <canvas id="earnings-chart" class="barchart__"></canvas>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</section>
<!-- END viewContent -->
<!-- END viewBlock -->