<!-- BEGIN viewBlock -->
<section class="tripdtl">
    <div class="container">
        <h2 class="dtitle">HOW CAN WE HELP YOU?</h2>
        <div class="hlfhlf helpbox renorm ehlf-fullw box-w flex">
            <div class="ehlf flex">
                <h3>BUSINESS DEVELOPMENT</h3>
                <p>{name}</p>
            </div>
            <div class="ehlf flex">
                <h3>E-MAIL</h3>
                <p><a href="mailto:{email}">{email}</a></p>
            </div>
            <div class="ehlf flex">
                <h3>PHONE </h3>
                <p><a href="tel:{phone}">{phone}</a></p>
            </div>
            <div class="ehlf flex">
                <h3>ADDRESS</h3>
                <p>{address}</p>
            </div>
        </div>
    </div>
</section>
<!-- END viewBlock -->