<!-- BEGIN mapsBlock -->
<section id="accommodation-result-list" class="obox mapin">
    <div class="hfm-desc kshfl">
        <h2>{head_title}</h2>
    </div>
    <span class="litit">{str_5}</span>
    <div class="smallfilter flex">
        <a href="javascript:;" class="opt_ sort-by-surf-type">
            <span>{str_2}</span>
        </a>
        <a href="javascript:;" class="opt_ sort-by-certified">
            <span>{str_4}</span>
        </a>
        <a href="javascript:;" class="opt_ sort-by-price">
            <span>{str_8}</span>
        </a>
    </div>

    <!-- BEGIN resultBlock -->
    <div class="iniribet flex">
        <div class="mapoption scrollbar-inner">
            <!-- BEGIN resultLoopBlock -->
            <div class="e-mo flex" data-coordinate="{mcoordinate}" data-title="{title}" data-surf-type="{surf_type}" data-price="{start_price}" data-certified="{certified}">
                <figure>
                    <a href="{permalink}">
                        <img class="cover b-lazy" data-src="{img_thumb}" src="{img_placeholder}" alt="">
                    </a>
                </figure>
                <figcaption class="flex">
                    <h2><a href="{permalink}">{title}</a></h2>
                    <span class="ic2 flex">
                        <img src="//{theme_url}/assets/img/pin.svg">
                        <small>{location}</small>
                    </span>
                    <span class="ic2 flex">
                        <img src="//{theme_url}/assets/img/ppl.svg">
                        <small>{str_1}</small>
                    </span>
                    <img class="ceft_ {certified_css}" src="//{theme_url}/assets/img/certified.svg" alt="nomad-certified">
                </figcaption>

                {hightlight}
                
                <div class="adt-mo adt-ft flex">
                    <span class="ic2 flex">
                        REF #123456
                    </span>
                    <span class="ic2 flex">
                        {review_label}
                        <img src="//{theme_url}/assets/img/stars-{review_star}.svg">
                        ({review_count})
                    </span>
                    <span class="ic2 flex">
                        {str_9}
                        <b class="prc__">{start_price_format}</b>
                    </span>
                </div>
            </div>
            <!-- END resultLoopBlock -->
        </div>
        <div id="amaps" class="mapnya amaps" data-coordinate="{coordinate}" data-pin="//{theme_url}/assets/img/pin-map.svg" data-pin-active="//{theme_url}/assets/img/pin-map-active.svg">
        </div>
    </div>
    <!-- END resultBlock -->

    <!-- BEGIN noresultBlock -->
    <div class="no-result-found">
        <p>{str_1}</p>
    </div>
    <!-- END noresultBlock -->
</section>
<!-- END mapsBlock -->