<!-- BEGIN mainBlock -->
<header id="bighead" class="kcln">
    <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    <figcaption>
        <h1>{header_title}</h1>
        {search_form}
    </figcaption>
</header>
<div class="subheader flex">
    <div class="subnh flex">
        <figure class="flex c-flex">
            <img src="//{theme_url}/assets/img/hm.svg">
        </figure>
        <h2><a data-anchor="#accommodation-result-list">{accommodation_title}</a></h2>
    </div>
    <div class="subnh flex">
        <figure class="flex c-flex">
            <img src="//{theme_url}/assets/img/sf.svg">
        </figure>
        <h2><a data-anchor="#best-surf-list">{surfing_in_title}</a></h2>
    </div>
</div>

<!-- BEGIN sectionBriefBlock -->
<section class="obox halform nowf_">
    <div class="{short_brief_class}">
        <div class="hfm-desc kshfl">
            <h2>{short_brief_title}</h2>
            <p>{short_brief_content}</p>
            <a href="{short_brief_button_link}" class="{short_brief_button_css}">
                {short_brief_button}
            </a>
        </div>
        <img class="peta b-lazy" data-src="{short_brief_map}" src="{short_brief_map_placeholder}" alt="" />
    </div>
</section>
<!-- END sectionBriefBlock -->

{accommodation_map}

<!-- BEGIN sectionClimateBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{climate_title}</h2>
        <div class="o-desc">
            <p>{climate_short_description}</p>
        </div>
        <div class="climate">
            <!-- #skip -->
            <!-- <div style="display: flex; justify-content: center; padding-bottom:100px;">
                <iframe src="https://magicseaweed.com/Canggu-Surf-Report/935/Embed/" width="940" height="600" frameborder="0"></iframe>
            </div> -->
        </div>
    </div>
</section>
<!-- END sectionClimateBlock -->

<!-- BEGIN sectionSwellForcastBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{swell_forcast_title}</h2>
        <div class="o-desc">
            <p>{swell_forcast_short_description}</p>
        </div>
        <div class="swell-forcast">
            <div style="display: flex; justify-content: center; padding:50px 0 100px;">
                {swell_forcast_iframe}
            </div>
        </div>
    </div>
</section>
<!-- END sectionSwellForcastBlock -->

<!-- BEGIN sectionBestSurfAreaBlock -->
<section id="best-surf-list" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{surf_area_title}</h2>
        {surf_area_short_description}
        <div class="list-card flex">
            <div class="trio-slider home-slider nt5">
                <!-- BEGIN sectionBestSurfAreaLoopBlock -->
                <div class="e-card">
                    <figure>
                        <a href="{permalink}">
                            <img data-src="{image}" src="{image_placeholder}" class="cover lazy-load" alt="">
                        </a>
                    </figure>
                    <figcaption>
                        <h3><a href="{permalink}">{title}</a></h3>
                        <p>{description}</p>
                    </figcaption>
                </div>
                <!-- END sectionBestSurfAreaLoopBlock -->
                <div class="arrow l__"></div>
                <div class="arrow n__"></div>
            </div>
        </div>
    </div>
</section>
<!-- END sectionBestSurfAreaBlock -->

<!-- BEGIN sectionBestSurfSpotBlock -->
<section id="best-surf-list" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{surf_spot_title}</h2>
        <div class="o-desc">
            <p>{surf_spot_short_description}</p>
        </div>
        <div id="smaps" class="smaps realmapfull" data-coordinate="{surf_spot_coordinate}" data-pin="//{theme_url}/assets/img/pin-map.svg" data-pin-active="//{theme_url}/assets/img/pin-map-active.svg">
        </div>
    </div>
    <div class="o-container transparent">
        <div class="surf-spot">
            <div class="filter">
                <span>Sort by</span>
                <div class="filter-option">
                    <select name="filter" class="select-opt">
                        <option value="experience">{str_1}</option>
                        <option value="direction">{str_2}</option>
                        <option value="quality">{str_3}</option>
                        <option value="type">{str_4}</option>
                    </select>
                </div>
            </div>
            <div class="spot-list">
                <!-- BEGIN sectionBestSurfSpotLoopBlock -->
                <div class="spot-item" data-coordinate="{mcoordinate}" data-title="{title}" data-direction="{direction}" data-type="{type}" data-experience="{experience}" data-quality="{quality}">
                    <div class="spot-inner">
                        <article class="spot-wrap">
                            <a class="figure" href="{permalink}">
                                <img class="cover b-lazy" data-src="{image}" src="{image_placeholder}" alt="">
                            </a>
                            <div class="spot-box">
                                <h3><a href="{permalink}">{title}</a></h3>
                                <ul class="inner">
                                    <li><span>{str_6}</span><p>{direction}</p></li>
                                    <li><span>{str_8}</span><p>{type}</p></li>
                                    <li><span>{str_5}</span><p>{experience}</p></li>
                                    <li><span>{str_7}</span><p>{quality_star}</p></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- END sectionBestSurfSpotLoopBlock -->
            </div>
        </div>
    </div>
</section>
<!-- END sectionBestSurfSpotBlock -->

<!-- BEGIN sectionIndicatorBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="prbuget flex">
            <!-- BEGIN sectionIndicatorLoopBlock -->
            <div class="e-prb">
                <figure class="flex c-flex">
                    <img class="b-lazy" data-placeholder="{image_placeholder}" src="{image}" alt="">
                </figure>
                <h2>{title}</h2>
                <p>{content}</p>
            </div>
            <!-- END sectionIndicatorLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionIndicatorBlock -->

<!-- BEGIN sectionSafetyInfoBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="nav-fdo flex mxc_">
            <!-- BEGIN sectionSafetyInfoLoopBlock -->
            <h2 ds="{idx}" {class}>{title}</h2><hr/>
            <!-- END sectionSafetyInfoLoopBlock -->
        </div>

        <div class="fdo-cont ole">
            <div class="fdo-slide">
                <!-- BEGIN sectionSafetyInfoLoop2Block -->
                <div class="e-fdo {class2}">
                    <div class="ei-fdo block">
                        {content}
                    </div>
                </div>
                <!-- END sectionSafetyInfoLoop2Block -->
            </div>
        </div>
    </div>
</section>
<!-- END sectionSafetyInfoBlock -->

<!-- BEGIN sectionTrendingPostBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{trending_title}</h2>
        <div class="trending-list-card list-card ns__ flex">
            <div class="trio-slider trending-slider">
                <!-- BEGIN sectionTrendingPostLoopBlock -->             
                <a href="{rpermalink}" class="e-card">
                    <figure>
                        <img class="cover lazy-load" data-src="{rimg_thumb}" src="{rimg_placeholder}" alt="">
                    </figure>
                    <figcaption>
                        <h3>{rtitle}</h3>
                        {rbrief}
                    </figcaption>
                </a>
                <!-- END sectionTrendingPostLoopBlock -->
            </div>
        </div>
    </div>
</section>
<!-- END sectionTrendingPostBlock -->
<!-- END mainBlock -->