<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>

<!-- BEGIN trendingBlock -->
<section class="obox arya">
    <div class="o-container">
        <h2 class="o-tit">{str_1}</h2>
        <div class="list-card flex">
            <div class="blog-slider">
                <!-- BEGIN trendingLoopBlock -->
                <div class="e-blog">
                    <a href="{permalink}">
                        <img class="cover lazy-load" data-src="{thumbnail_image}" src="{thumbnail_image_placeholder}" alt="">
                    </a>
                    <div>
                        <h3><a href="{permalink}">{title}</a></h3>
                        <div class="blog-posted">
                            <label>{str_2} :</label>
                            <span style="margin-right: 3px;">{date} | </span>
                            <label>{str_3} :</label>
                            <span>{author}</span>
                        </div>
                        {brief_text}
                        <a href="{permalink}">{str_4}</a>
                    </div>
                </div>
                <!-- END trendingLoopBlock -->
                <div class="arrow l__"></div>
                <div class="arrow n__"></div>
            </div>
        </div>
    </div>
</section>
<!-- END trendingBlock -->

<!-- BEGIN recentBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{str_5}</h2>
        <div class="blog-content-categories">
            <div class="blog-content">
                <!-- BEGIN recentLoopBlock -->
                <div class="blog-card">
                    <a class="figure" href="{permalink}">
                        <img class="cover b-lazy" data-src="{thumbnail_image}" src="{thumbnail_image_placeholder}" alt="">
                    </a>
                    <div class="blog-details">
                        <h3><a href="{permalink}">{title}</a></h3>
                        <div class="blog-posted">
                            <label>{str_2} :</label>
                            <span style="margin-right: 3px;">{date} | </span>
                            <label>{str_3} :</label>
                            <span>{author}</span>
                        </div>
                        {brief_text}
                        <a href="{permalink}">{str_4}</a>
                    </div>
                </div>
                <!-- END recentLoopBlock -->

                {paging}
            </div>
            <div class="blog-categories">
                <!-- BEGIN archiveBlock -->
                <div class="blog-archives">
                    <h3>{str_6}</h3>
                    {archive_link}
                </div>
                <!-- END archiveBlock -->

                <!-- BEGIN categoriesBlock -->
                <div class="blog-archives">
                    <h3>{str_7}</h3>
                    {categories_link}
                </div>
                <!-- END categoriesBlock -->

                <!-- BEGIN tagsBlock -->
                <div class="blog-box">
                    <h3>{str_8}</h3>
                    <div class="box-list">
                        {tags_link}
                    </div>
                </div>
                <!-- END tagsBlock -->
            </div>
        </div>
    </div>
</section>
<!-- END recentBlock -->
<!-- END mainBlock -->