<!-- BEGIN mainBlock -->
<header id="bighead" class="kcln">
    <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    <figcaption>
        <h1>{header_title}</h1>
        {search_form}
    </figcaption>
</header>
<div class="subheader flex">
    <div class="subnh flex">
        <figure class="flex c-flex">
            <img src="//{theme_url}/assets/img/hm.svg">
        </figure>
        <h2><a data-anchor="#accommodation-result-list">{accommodation_title}</a></h2>
    </div>
    <div class="subnh flex">
        <figure class="flex c-flex">
            <img src="//{theme_url}/assets/img/sf.svg">
        </figure>
        <h2><a data-anchor="#best-spot-list">{best_spot_title}</a></h2>
    </div>
</div>
<section class="{short_brief_class}">
    <div class="o-container flex">
        <div class="hfm-desc kshfl">
            <h2>{short_brief_title}</h2>
            <p>{short_brief_content}</p>
            <a href="{short_brief_button_link}" class="{short_brief_button_css}">
                {short_brief_button}
            </a>
        </div>
    </div>
</section>

{accommodation_map}

<!-- BEGIN sectionBestSpotBlock -->
<section id="best-spot-list" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{best_spot_title}</h2>
        {best_spot_short_description}
        <div class="list-card flex">
            <div class="trio-slider home-slider nt5">
                <!-- BEGIN sectionBestSpotLoopBlock -->
                <div class="e-card">
                    <figure>
                        <a href="{permalink}">
                            <img data-src="{image}" src="{image_placeholder}" class="cover lazy-load" alt="">
                        </a>
                    </figure>
                    <figcaption>
                        <h3><a href="{permalink}">{title}</a></h3>
                        <p>{description}</p>
                    </figcaption>
                </div>
                <!-- END sectionBestSpotLoopBlock -->
                <div class="arrow l__"></div>
                <div class="arrow n__"></div>
            </div>
        </div>
    </div>
</section>
<!-- END sectionBestSpotBlock -->
<!-- END mainBlock -->