<!-- BEGIN mainBlock -->
<section class="tabca container flex">
    <div id="bootstercart">

        <!-- BEGIN sectionAddOnsBlock -->
        <div class="tabca-c flex">
            <div data-list="cart-addon" class="e-tca active">
                <h3>{str_1}</h3>
                <span></span>
            </div>
            <div data-list="cart-guest" class="e-tca">
                <h3>{str_2}</h3>
                <span></span>
            </div>
            <div data-list="cart-verify" class="e-tca">
                <h3>{str_3}</h3>
                <span></span>
            </div>
            <div data-list="cart-confirm" class="e-tca">
                <h3>{str_4}</h3>
                <span></span>
            </div>  
        </div>
        <form id="cart-addon" class="detcart actv" method="post">
            <h2>{str_5}</h2>

            <!-- BEGIN sectionAddOnsLoopBlock -->
            <div class="e-dtc flex">
                <figure>
                    <img class="cover" src="{addons_img}" alt="">
                </figure>
                <figcaption>
                    <h3>{addons_name}</h3>
                    <p>{addons_brief}</p>
                </figcaption>
                <div class="additional-cart flex">
                    <h3>{addons_format_price}</h3>
                    <input type="text" class="hidden" name="addons[{addons_id}][name]" value="{addons_name}" />
                    <input type="text" class="hidden" name="addons[{addons_id}][price]" value="{addons_price}" />
                    <div class="slct">
                        <select class="select-addons" name="addons[{addons_id}][num]" autocomplete="off">
                            {addons_num_option}
                        </select>
                    </div>
                    <label for="addons_check_{addons_id}">
                        <input id="addons_check_{addons_id}" class="addons-checkbox" type="checkbox" name="addons[{addons_id}][check]" value="1" autocomplete="off" {addons_check}>
                        <span>{str_6}</span>
                    </label>
                </div>
                <label for="addons_check_{addons_id}" class="{addons_class}">
                    <div class="inner">
                        <img src="//{theme_url}/assets/img/check-white-circle.svg">
                        <span>{str_7}</span>
                    </div>
                </label>
            </div>
            <!-- END sectionAddOnsLoopBlock -->

            <div class="btnnextprev flex">
                <input type="text" class="hidden" name="nights" value="{nights}" />
                <input type="text" class="hidden" name="post_id" value="{post_id}" />

                <a href="javascript:;" class="prv-b none flex">
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                    <span>{str_8}</span>
                </a>
                <button type="submit" class="nxt-b flex" name="add_addons">
                    <span>{str_9}</span>
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                </button>
            </div>
        </form>
        <!-- END sectionAddOnsBlock -->

        <!-- BEGIN sectionGuestBlock -->
        <div class="tabca-c flex">
            <div data-list="cart-addon" class="e-tca active">
                <h3>{str_1}</h3>
                <span></span>
            </div>
            <div data-list="cart-guest" class="e-tca active">
                <h3>{str_2}</h3>
                <span></span>
            </div>
            <div data-list="cart-verify" class="e-tca">
                <h3>{str_3}</h3>
                <span></span>
            </div>
            <div data-list="cart-confirm" class="e-tca">
                <h3>{str_4}</h3>
                <span></span>
            </div> 
        </div>
        <form id="cart-guest" class="detcart actv" method="post">
            <h2>{str_5}</h2>

            <!-- BEGIN sectionGuestLoopBlock -->
            <div class="datadetailguest">
                <div class="headatadetail">
                    <h3>{label}</h3>
                    <i class="plusmina">
                        -
                    </i>
                </div>
                <div class="ddtl-formcon">
                    <div class="daform">
                        {fieldset}
                    </div>
                </div>
            </div>
            <!-- END sectionGuestLoopBlock -->

            <div class="btnnextprev flex">
                <input type="text" class="hidden" name="nights" value="{nights}" />
                <input type="text" class="hidden" name="post_id" value="{post_id}" />

                <a href="{back_url}" class="prv-b flex">
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                    <span>{str_6}</span>
                </a>
                <button type="submit" class="nxt-b flex" name="add_guests">
                    <span>{str_7}</span>
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                </button>
            </div>
        </form>
        <!-- END sectionGuestBlock -->
        
        <!-- BEGIN sectionVerificationBlock -->
        <div class="tabca-c flex">
            <div data-list="cart-addon" class="e-tca active">
                <h3>{str_1}</h3>
                <span></span>
            </div>
            <div data-list="cart-guest" class="e-tca active">
                <h3>{str_2}</h3>
                <span></span>
            </div>
            <div data-list="cart-verify" class="e-tca active">
                <h3>{str_3}</h3>
                <span></span>
            </div>
            <div data-list="cart-confirm" class="e-tca">
                <h3>{str_4}</h3>
                <span></span>
            </div>
        </div>
        <form id="cart-verify" class="detcart actv" method="post">
            <h2>{str_5}</h2>

            <!-- BEGIN sectionVerificationLoopBlock -->
            <div class="datadetailguest">
                <div class="headatadetail">
                    <h3>{label}</h3>
                </div>
                <div class="ddtl-formcon">
                    <div class="daform">
                        {fieldset}
                    </div>
                </div>
            </div>
            <!-- END sectionVerificationLoopBlock -->

            <div class="btnnextprev flex">
                <input type="text" class="hidden" name="nights" value="{nights}" />
                <input type="text" class="hidden" name="post_id" value="{post_id}" />

                <a href="{back_url}" class="prv-b flex">
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                    <span>{str_6}</span>
                </a>
                <button type="submit" class="nxt-b flex" name="checkout">
                    <span>{str_7}</span>
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                </button>
            </div>
            <div class="booking-note">
                {str_8}
            </div>
        </form>
        <!-- END sectionVerificationBlock -->
        
        <!-- BEGIN sectionConfirmationBlock -->
        <div class="tabca-c flex">
            <div data-list="cart-addon" class="e-tca active">
                <h3>{str_1}</h3>
                <span></span>
            </div>
            <div data-list="cart-guest" class="e-tca active">
                <h3>{str_2}</h3>
                <span></span>
            </div>
            <div data-list="cart-verify" class="e-tca active">
                <h3>{str_3}</h3>
                <span></span>
            </div>
            <div data-list="cart-confirm" class="e-tca active">
                <h3>{str_4}</h3>
                <span></span>
            </div>
        </div>
        <div id="cart-confirm" class="detcart actv">
            <!-- BEGIN sectionCheckAvailabilityBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>{str_5}</h2>
                <p>{str_6}</p>
                <div class="alertcart">{str_7}</div>
            </div>
            <div class="detailconfirm">
                <p>{str_8}</p>
            </div>
            <!-- END sectionCheckAvailabilityBlock -->

            <!-- BEGIN sectionRequestInProcessBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>{str_5}</h2>
                <p>{str_9}</p>
                <div class="alertcart">{str_7}</div>
            </div>
            <!-- END sectionRequestInProcessBlock -->

            <!-- BEGIN sectionRequestConfirmBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>{str_5}</h2>
                <p>{str_10}</p>
                <div class="alertcart">{str_11}</div>
            </div>
            <div class="detailconfirm detailconfirm-center">
                <p>{str_12}</p>
            </div>
            <!-- END sectionRequestConfirmBlock -->

            <!-- BEGIN sectionRequestNotFoundOrCancelledBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>{str_13}</h2>
                <p>{str_14}</p>
                <div class="alertcart">{str_15}</div>
            </div>
            <!-- END sectionRequestNotFoundOrCancelledBlock -->

            <!-- BEGIN sectionRequestPaymentDoneBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>{str_5}</h2>
                <p>{str_16}</p>
            </div>
            <div class="detailconfirm">
                <p>{str_17}</p>
            </div>
            <!-- END sectionRequestPaymentDoneBlock -->

            <!-- BEGIN sectionDetailRequestBlock -->
            <div class="detailconfirm">
                <h3>{str_18}</h3>
                <div class="othe-dest flex">
                    <figure>
                        <img class="cover b-lazy" data-src="{thumbnail}" src="{thumbnail_placeholder}" alt="" />
                    </figure>
                    <figcaption>
                        <h3>{title}</h3>
                        <h4>{rating}</h4>
                        <div class="othe-rate flex">
                            <span>{rnum} {reviews}</span>
                        </div>
                    </figcaption>
                </div>
                <div class="cart-tr flex">
                    <h5>{str_19}</h5>
                    <div class="cart-td flex">{guest}</div>
                </div>
                <div class="cart-tr flex">
                    <h5>{str_20}</h5>
                    <div class="cart-td flex">
                        <strong>{num_of_night}</strong>
                    </div>
                    <div class="trcico flex">
                        <div class="trwrp flex">
                            <h5>{str_21}</h5>
                            <div class="cart-td flex">
                                <strong>{checkin_date}</strong>
                            </div>
                        </div>
                        <div class="trwrp flex">
                            <h5>{str_22}</h5>
                            <div class="cart-td flex">
                                <strong>{checkout_date}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                {trips}
                {rooms}
                {addons}
                
                <div class="cart-tr subtetete flex">
                    <h5>{str_23} ({currency_code})</h5>
                    <div class="cart-td flex">
                        {total} {currency_code}
                    </div>
                    <h5>{str_24}</h5>
                    <div class="cart-td flex">
                        <strong>{balance} {currency_code}</strong>
                    </div>
                </div>
                <div class="blk-total flex">
                    <h5>{str_26}</h5>
                    <h4>{deposit} {currency_code}</h4>
                </div>
                <div class="lastplsss">
                    <p>
                        {str_27}<br> 
                        <strong>
                            <a href="mailto:{email}">{email}</a>
                        </strong>
                    </p>
                    <p>
                        {str_28}
                    </p>
                    <img src="//{theme_url}/assets/img/payment-channel.svg" alt="">
                </div>
            </div>
            <!-- END sectionDetailRequestBlock -->

            <!-- BEGIN sectionDetailRequestDoneBlock -->
            <div class="detailconfirm">
                <h3>{str_18}</h3>
                <div class="othe-dest flex">
                    <figure>
                        <img class="cover b-lazy" data-src="{thumbnail}" src="{thumbnail_placeholder}" alt="" />
                    </figure>
                    <figcaption>
                        <h3>{title}</h3>
                        <h4>{rating}</h4>
                        <div class="othe-rate flex">
                            <span>{rnum} {reviews}</span>
                        </div>
                    </figcaption>
                </div>
                <div class="cart-tr flex">
                    <h5>{str_19}</h5>
                    <div class="cart-td flex">{guest}</div>
                </div>
                <div class="cart-tr flex">
                    <h5>{str_20}</h5>
                    <div class="cart-td flex">
                        <strong>{num_of_night}</strong>
                    </div>
                    <div class="trcico flex">
                        <div class="trwrp flex">
                            <h5>{str_21}</h5>
                            <div class="cart-td flex">
                                <strong>{checkin_date}</strong>
                            </div>
                        </div>
                        <div class="trwrp flex">
                            <h5>{str_22}</h5>
                            <div class="cart-td flex">
                                <strong>{checkout_date}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                {trips}
                {rooms}
                {addons}
                
                <div class="cart-tr subtetete flex">
                    <h5>{str_23} ({currency_code})</h5>
                    <div class="cart-td flex">
                        {total} {currency_code}
                    </div>
                    <h5>{str_24}</h5>
                    <div class="cart-td flex">
                        <strong>{balance} {currency_code}</strong>
                    </div>
                </div>
                <div class="blk-total flex">
                    <h5>{str_25}</h5>
                    <h4>{deposit} {currency_code}</h4>
                </div>
            </div>
            <!-- END sectionDetailRequestDoneBlock -->
        </div>
        <!-- END sectionConfirmationBlock -->

        <!-- BEGIN sectionPaymentBlock -->
        <form id="cart-payment" class="detcart actv" method="post" data-url="//{site_url}/ajax-request/" data-callback="https://{site_url}/ajax-request/" data-bid="{lbooking_id}">
            <!-- BEGIN sectionPaymentNotFoundBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>SORRY</h2>
                <p>Your Booking Request is not found or has been cancelled</p>
                <div class="alertcart">Should you need any help or any question, please contact us</div>
            </div>
            <!-- END sectionPaymentNotFoundBlock -->

            <!-- BEGIN sectionPaymentExpiredLinkBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>SORRY</h2>
                <p>This payment link is already expired!</p>
                <div class="alertcart">Please contact our support to get another payment link</div>
            </div>
            <!-- END sectionPaymentExpiredLinkBlock -->

            <!-- BEGIN sectionPaymentDoneBlock -->
            <div class="cartthankyou">
                <i class="chk_"></i>
                <h2>SORRY</h2>
                <p>We can't process the payment page, this is because the invoice has been paid before or there are other technical problems </p>
                <div class="alertcart">Should you need any help or any question, please contact us</div>
            </div>
            <!-- END sectionPaymentDoneBlock -->

            <!-- BEGIN sectionPaymentFormBlock -->
            {payment_intent}
            <!-- END sectionPaymentFormBlock -->
        </form>
        <!-- END sectionPaymentBlock -->
    </div>

    <div class="onri-cart {onri_class}">
        <!-- BEGIN sectionSidebarBlock -->
        <div class="wrapingsblh">
            
            <!-- BEGIN sectionSidebarLoopBlock -->
            <div class="wrapin">
                <h1>{name}</h1>
                {location}
                <div class="o-dest">
                    <div class="othe-dest flex">
                        <figure>
                            <img class="b-lazy cover" data-src="{thumbnail}" src="{thumbnail_placeholder}" alt="" />
                        </figure>
                        <figcaption>
                            <h4>{rating}</h4>
                            <div class="othe-rate flex">
                                <span>{rnum} {reviews}</span>
                            </div>
                        </figcaption>
                    </div>
                    <h3>{num_of_night}</h3>
                    <div class="ci1 flex">
                        <span>{sidebar_lbl_12}</span>
                        <p>{checkin_date}</p>
                    </div>
                    <div class="ci1 flex">
                        <span>{sidebar_lbl_13}</span>
                        <p>{checkout_date}</p>
                    </div>
                    {trips}
                </div>
                <div class="o-dest">
                    <h3>{sidebar_lbl_11}</h3>
                    <div class="ci1 flex">
                        <p>{guest}</p>
                    </div>
                </div>

                {rooms}
                {addons}
            </div>
            <!-- END sectionSidebarLoopBlock -->

            <div class="blacktot">
                <div class="ci2 flex">
                    <span>{sidebar_lbl_14} ({currency_code})</span>
                    <p>{total}</p>
                </div>
                <div class="ci2 flex">
                    <span>{sidebar_lbl_15} ({currency_code})</span>
                    <p class="bgr_">{deposit}</p>
                </div>
                <p class="ksa__">
                    {sidebar_lbl_16}
                </p>
            </div>
        </div>
        <!-- END sectionSidebarBlock -->

        <!-- BEGIN sectionSidebarConfirmationBlock -->
        <div class="wrapingsblh">
            <div class="wrapin">
                <div class="ka25">
                    <h3>{sidebar_lbl_1}</h3>
                    {sidebar_contact_us_text}
                    <a href="{contact_form_link}" class="yelbut">{sidebar_lbl_2}</a>
                    {sidebar_contact_us_subtext}
                </div>
                <div class="{call_global_css}">
                    <h3>{sidebar_lbl_3}</h3>
                    <!-- BEGIN whatsappGlobalBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/whatsapp-circle.svg" alt="">
                        <span>Whatsapp</span>
                        <a href="{chat_global}">{wa_global}</a>
                    </p>
                    <!-- END whatsappGlobalBlock -->
                    <!-- BEGIN phoneGlobalBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/phone-circle.svg" alt="">
                        <span>{sidebar_lbl_4}</span>
                        <a href="{tel_global}">{phone_global}</a>
                    </p>
                    <!-- END phoneGlobalBlock -->
                </div>
                <div class="{call_asia_css}">
                    <h3>{sidebar_lbl_5}</h3>
                    <!-- BEGIN whatsappAsiaBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/whatsapp-circle.svg" alt="">
                        <span>Whatsapp</span>
                        <a href="{chat_asia}">{wa_asia}</a>
                    </p>
                    <!-- END whatsappAsiaBlock -->
                    <!-- BEGIN phoneAsiaBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/phone-circle.svg" alt="">
                        <span>{sidebar_lbl_4}</span>
                        <a href="{tel_asia}">{phone_asia}</a>
                    </p>
                    <!-- END phoneAsiaBlock -->
                </div>
                <div class="{call_europe_css}">
                    <h3>{sidebar_lbl_6}</h3>
                    <!-- BEGIN whatsappEuropeBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/whatsapp-circle.svg" alt="">
                        <span>Whatsapp</span>
                        <a href="{chat_europe}">{wa_europe}</a>
                    </p>
                    <!-- END whatsappEuropeBlock -->
                    <!-- BEGIN phoneEuropeBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/phone-circle.svg" alt="">
                        <span>{sidebar_lbl_4}</span>
                        <a href="{tel_europe}">{phone_europe}</a>
                    </p>
                    <!-- END phoneEuropeBlock -->
                </div>
                <div class="{call_international_css}">
                    <h3>{sidebar_lbl_7}</h3>
                    <!-- BEGIN whatsappInternationalBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/whatsapp-circle.svg" alt="">
                        <span>Whatsapp</span>
                        <a href="{chat_international}">{wa_international}</a>
                    </p>
                    <!-- END whatsappInternationalBlock -->
                    <!-- BEGIN phoneInternationalBlock -->
                    <p class="flex">
                        <img src="//{theme_url}/assets/img/phone-circle.svg" alt="">
                        <span>{sidebar_lbl_4}</span>
                        <a href="{tel_international}">{phone_international}</a>
                    </p>
                    <!-- END phoneInternationalBlock -->
                </div>
                <div class="{call_skype_css}">
                    <!-- BEGIN skypeAmericaBlock -->
                    <a href="{skype_america}" class="blue-btn">{sidebar_lbl_8}</a>
                    <!-- END skypeAmericaBlock -->
                    <!-- BEGIN skypeEuropeBlock -->
                    <a href="{skype_europe}" class="blue-btn">{sidebar_lbl_9}</a>
                    <!-- END skypeEuropeBlock -->
                    <!-- BEGIN skypeAsiaBlock -->
                    <a href="{skype_asia}" class="blue-btn">{sidebar_lbl_10}</a>
                    <!-- END skypeAsiaBlock -->
                </div>
            </div>
        </div>
        <!-- END sectionSidebarConfirmationBlock -->

        <!-- BEGIN sectionSidebarEmptyBlock  -->
        <div class="wrapingsblh">
            <div class="wrapin">
                <div class="ka25">
                    <h3>{sidebar_lbl_1}</h3>
                    {sidebar_contact_us_text}
                    <a href="{contact_form_link}" class="yelbut">{sidebar_lbl_2}</a>
                </div>
            </div>
        </div>
        <!-- END sectionSidebarEmptyBlock  -->
    </div>
</section>
<!-- END mainBlock -->

<!-- BEGIN emptyBlock -->
<section class="tabca container flex">
    <div id="bootstercart">
        <div class="tabca-c flex">
            <div data-list="cart-addon" class="e-tca active">
                <h3>{str_1}</h3>
                <span></span>
            </div>
            <div data-list="cart-guest" class="e-tca">
                <h3>{str_2}</h3>
                <span></span>
            </div>
            <div data-list="cart-verify" class="e-tca">
                <h3>{str_3}</h3>
                <span></span>
            </div>
            <div data-list="cart-confirm" class="e-tca">
                <h3>{str_4}</h3>
                <span></span>
            </div>
        </div>
        <div id="cart-addon" class="detcart actv" method="post">
            <h2>{str_5}</h2>
            <p>{str_6}</p>
        </div>
    </div>

    <div class="onri-cart">
        <div class="wrapingsblh">
            <div class="wrapin">
                <div class="ka25">
                    <h3>{str_7}</h3>
                    <p>
                        {str_9}
                    </p>
                    <p>
                        {str_10}
                    </p>
                    <a href="{contact_form_link}" class="yelbut">
                        {str_8}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END emptyBlock -->