<!-- BEGIN mainBlock -->
<header id="bighead" class="kcln">
    <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    <figcaption>
        <h1>{header_title}</h1>
        {search_form}
    </figcaption>
</header>
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{title}</h2>
        <div class="o-desc">
            <p>{brief_text}</p>
        </div>
        <!-- BEGIN destinationBlock -->
        <div class="list-card flex">
            <!-- BEGIN destinationLoopBlock -->
            <div class="e-card">
                <figure>
                    <a href="{permalink}">
                        <img class="cover" src="{image}" alt="">
                    </a>
                </figure>
                <figcaption>
                    <h3><a href="{permalink}">{title}</a></h3>
                    {description}
                </figcaption>
            </div>
            <!-- END destinationLoopBlock -->
        </div>
        <!-- END destinationBlock -->
    </div>
</section>
<!-- END mainBlock -->