<!-- BEGIN mainBlock -->
<!-- BEGIN sectionOneBlock -->
<header id="bighead">
    <div class="homeslide">
        <!-- BEGIN sectionOneLoopBlock -->
        <div class="item" data-big-title="{slide_big_title}" data-middle-title="{slide_middle_title}" data-bottom-title="{slide_bottom_title}" data-subtitle="{slide_subtitle}">        
            {slide_img}
            {slide_video}
        </div>
        <!-- END sectionOneLoopBlock -->
    </div>
    <figcaption>
        {first_big_title}
        {first_middle_title}
        {first_bottom_title}
        {first_subtitle}
        
        {search_form}
    </figcaption>
</header>
<!-- END sectionOneBlock -->

<!-- BEGIN sectionTwoBlock -->
<section id="section-2" class="obox oboxnotop">
    <div class="o-container">
        <h2 class="o-tit flex-center">{heading_title}</h2>
        <div class="flex-wrap listext">
            <!-- BEGIN sectionTwoLoopBlock -->
            <div class="e-listext">
                <div class="inner">
                    <h3>{item_title}</h3>
                    <p>{item_description}</p>
                </div>
            </div>
            <!-- END sectionTwoLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionTwoBlock -->

<!-- BEGIN sectionThreeBlock -->
<section id="section-3" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="o-desc">
            <p>{heading_short_description}</p>
        </div>
        <div class="list-poster flex">
            <!-- BEGIN sectionThreeLoopBlock -->
            <div class="e-poster">
                <figure>
                    <img data-src="{image}" src="{image_placeholder}" class="cover b-lazy" alt="">
                    <figcaption>
                        <h3>{title}</h3>
                        <a href="{permalink}">{btn_text}</a>
                    </figcaption>
                </figure>
            </div>
            <!-- END sectionThreeLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionThreeBlock -->

<!-- BEGIN sectionFourBlock -->
<section id="section-4" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="o-desc">
            <p>{heading_short_description}</p>
        </div>
        <div class="list-card flex">
            <!-- BEGIN sectionFourLoopBlock -->
            <div class="e-card">
                <figure>
                    <a href="{permalink}">
                        <img class="cover" src="{image}" alt="">
                    </a>
                    <figcaption>
                        <h3><a href="{permalink}">{title}</a></h3>
                        {description}
                    </figcaption>
                </figure>
            </div>
            <!-- END sectionFourLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionFourBlock -->

<!-- BEGIN sectionFiveBlock -->
<section id="section-5" class="bigposter">
    <img data-src="{background_image}" src="{background_placeholder}" class="cover lazy-load" alt="">
    <figcaption>
        <h2><a href="{call_to_action_link}">{big_title}{middle_title}{bottom_title}</a></h2>
    </figcaption>
</section>
<!-- END sectionFiveBlock -->

<!-- BEGIN sectionSixBlock -->
<section id="section-6" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="list-card ns__ flex">
            <div class="trio-slider home-slider">
                <!-- BEGIN sectionSixLoopBlock -->
                <div class="e-card">
                    <figure>
                        <a href="{permalink}">
                            <img data-src="{image}" src="{image_placeholder}" class="cover lazy-load" alt="">
                        </a>
                        <figcaption>
                            <h3><a href="{permalink}">{title}</a></h3>
                            {description}
                        </figcaption>
                    </figure>
                </div>
                <!-- END sectionSixLoopBlock -->
                <div class="arrow l__"></div>
                <div class="arrow n__"></div>
            </div>
        </div>
    </div>
</section>
<!-- END sectionSixBlock -->

<!-- BEGIN sectionSevenBlock -->
<section id="section-7" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="list-card ns__ flex">
            <div class="trio-slider home-slider nt5">
                <!-- BEGIN sectionSevenLoopBlock -->
                <div class="e-card">
                    <figure>
                        <a href="{permalink}">
                            <img data-src="{image}" src="{image_placeholder}" class="cover lazy-load" alt="">
                        </a>
                        <figcaption>
                            <h3><a href="{permalink}">{title}</a></h3>
                            {description}
                        </figcaption>
                    </figure>
                </div>
                <!-- END sectionSevenLoopBlock -->
                <div class="arrow l__"></div>
                <div class="arrow n__"></div>
            </div>
        </div>
    </div>
</section>
<!-- END sectionSevenBlock -->

<!-- BEGIN sectionEightBlock -->
<section id="section-8" class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="list-card ns__ flex">
            <div class="trio-slider home-slider rvw__">
                <!-- BEGIN sectionEightLoopBlock -->
                <div class="e-card">
                    <div class="e-review flex c-flex">
                        <figure>
                            <img data-src="{item_avatar}" src="{item_avatar_placeholder}" class="cover lazy-load" alt="">
                        </figure>
                        <figcaption>
                            <h3>{item_name}</h3>
                            <small>{item_desc}</small>
                            <div class="ratestar">
                                <img src="//{theme_url}/assets/img/stars-{item_star}.svg" alt="">
                            </div>
                            <p>{item_review}</p>
                        </figcaption>
                    </div>
                </div>
                <!-- END sectionEightLoopBlock -->
                <div class="arrow l__"></div>
                <div class="arrow n__"></div>
            </div>
        </div>
    </div>
</section>
<!-- END sectionEightBlock -->

<!-- BEGIN sectionNineBlock -->
<section id="section-9" class="obox">
    <div class="o-container of__">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="boostext">
            <div class="text2 flex">
                {description}
            </div>
        </div>
    </div>
</section>
<!-- END sectionNineBlock -->

<!-- BEGIN sectionTenBlock -->
<section id="section-10" class="obox">
    <div class="o-container">
        <h2 class="o-tit inleft">
            <a href="">{ig_account}</a>
        </h2>
        <div class="kotakotak flex">
            <!-- BEGIN sectionTenLoopBlock -->
            <figure>
                <a href="{permalink}" target="_blank">
                    <img class="cover" src="{media_url}" alt="">
                </a>
            </figure>
            <!-- END sectionTenLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionTenBlock -->

<!-- BEGIN sectionElevenBlock -->
<section id="section-11" class="bigposter postcamp">
    <figure>
        <img data-src="{background_image}" src="{background_placeholder}" class="cover b-lazy" alt="">
    </figure>
    <div class="clearfix flex-center">
        <article class="box box-left">
            <div class="inner">
                <h2>{title}</h2>
                <h3>{subtitle}</h3>
                <p>{brief_text}</p>
                <a class="btn" href="{btn_link}" target="_blank">{btn_text}</a>
            </div>
        </article>
        <article class="box box-right">
            <div class="inner">
                {content}
            </div>
        </article>
    </div>
</section>
<!-- END sectionElevenBlock -->

<!-- END mainBlock -->