<!-- BEGIN searchBlock -->
<form class="mheadform" method="post">
    <a href="javascript:;" class="ifd field-1" data-trigger="search">
        <img src="//{theme_url}/assets/img/i-pin.svg">
        <span class="hf_">{dest_label}</span>
    </a>
    <fieldset class="hidden">
        <div class="popup-search" data-act="search">
            <div class="fields field-loc">
                <label>{str_1}</label>
                <div class="select-opt">
                    <select name="dest" data-placeholder="{str_10}">
                        <option value=""></option>
                        {location_option}
                    </select>
                </div>
            </div>
            <div class="fields field-term">
                <label>{str_2}</label>
                <div class="select-opt" data-placeholder="All type">
                    <select name="term">
                        <option value=""></option>
                        {terms_option}
                    </select>
                </div>
            </div>
            <div class="fields field-date">
                <label>{str_3}</label>
                <input type="text" name="checkin" value="{checkin_value}" autocomplete="off" readonly required>
            </div>
            <div class="fields field-date">
                <label>{str_4}</label>
                <input type="text" name="checkout" value="{checkout_value}" autocomplete="off" readonly required>
            </div>
            <div class="fields field-guest">
                <label>{str_5}</label>
                <div class="number-field">
                    <input type="number" name="adult" value="{adult_value}" min="1" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                    <div class="number-nav">
                        <div class="number-button up">
                            <img src="//{theme_url}/assets/img/plus.svg">
                        </div>
                        <div class="number-button down">
                            <img src="//{theme_url}/assets/img/minus.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields field-guest">
                <label>{str_6}</label>
                <div class="number-field">
                    <input type="number" name="child" value="{child_value}" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                    <div class="number-nav">
                        <div class="number-button up">
                            <img src="//{theme_url}/assets/img/plus.svg">
                        </div>
                        <div class="number-button down">
                            <img src="//{theme_url}/assets/img/minus.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields field-guest">
                <label>{str_7}</label>
                <div class="number-field">
                    <input type="number" name="adult" value="{infant_value}" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                    <div class="number-nav">
                        <div class="number-button up">
                            <img src="//{theme_url}/assets/img/plus.svg">
                        </div>
                        <div class="number-button down">
                            <img src="//{theme_url}/assets/img/minus.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields field-btn">
                <button type="button" class="ibt">
                    <span class="hf_">{str_8}</span>
                </button>
            </div>
        </div>
    </fieldset>
    <button type="submit" name="search" class="ibt">
        <img src="//{theme_url}/assets/img/i-src.svg">
        <span class="hf_">{str_8}</span>
    </button>
</form>

<div class="c-ovl">
    <form class="headform flex" method="post">
        <div class="ifd field-1">
            <img src="//{theme_url}/assets/img/i-pin.svg">
            <span class="hf_">{dest_label}</span>
            <ul class="drd_ dd1">
                <li data-id="0" data-name="{str_10}" data-type="dest">{str_10}</li>
                <!-- BEGIN sectionPopularDestinationBlock -->
                <li class="dis_">
                    {str_11}
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                    <ul>
                        <!-- BEGIN sectionPopularDestinationLoopBlock -->
                        <li data-id="{dest_id}" data-name="{dest_name}" data-type="dest">{dest_name}</li>
                        <!-- END sectionPopularDestinationLoopBlock -->
                    </ul>
                </li>
                <!-- END sectionPopularDestinationBlock -->

                <!-- BEGIN sectionContinentBlock -->
                <li data-id="{dest_id}" data-name="{dest_name}" data-type="dest">{dest_name}</li>
                <!-- END sectionContinentBlock -->
            </ul>
        </div>
        <div class="ifd thedate">
            <img src="//{theme_url}/assets/img/i-calendar.svg">
            <span class="hf_ cin__">{checkin_label}</span>
        </div>
        <div class="ifd thd_">
            <img src="//{theme_url}/assets/img/i-calendar.svg">
            <span class="hf_ cou__">{checkout_label}</span>
        </div>
        <div class="ifd">
            <img src="//{theme_url}/assets/img/i-wave.svg">
            <span class="hf_">{term_label}</span>
            <img src="//{theme_url}/assets/img/arrow-btm.svg" class="w-ad">
            <ul class="drd_ dd1">
                <!-- BEGIN sectionSurfTypeBlock -->
                <li class="dis_">
                    {str_12}
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                    <ul>
                        <!-- BEGIN sectionSurfTypeLoopBlock -->
                        <li data-id="{term_id}" data-name="{term_name}" data-type="term">{term_name}</li>
                        <!-- END sectionSurfTypeLoopBlock -->
                    </ul>
                </li>
                <!-- END sectionSurfTypeBlock -->

                <!-- BEGIN sectionAccommodationTypeBlock -->
                <li class="dis_">
                    {str_13}
                    <img src="//{theme_url}/assets/img/arrow-btm.svg">
                    <ul>
                        <!-- BEGIN sectionAccommodationTypeLoopBlock -->
                        <li data-id="{term_id}" data-name="{term_name}" data-type="term">{term_name}</li>
                        <!-- END sectionAccommodationTypeLoopBlock -->
                    </ul>
                </li>
                <!-- END sectionAccommodationTypeBlock -->
            </ul>
        </div>
        <div class="ifd fguest">
            <img src="//{theme_url}/assets/img/i-people.svg">
            <span class="hf_">{guest_value}</span>
            <img src="//{theme_url}/assets/img/arrow-btm.svg" class="w-ad">
            <ul class="drd_ ddp_">
                <li>
                    <span>{str_5}</span>
                    <div class="plmi flex">
                        <i class="mmm" data-type="adult"><img src="//{theme_url}/assets/img/minus.svg"></i>
                        <p>{adult_value}</p>
                        <i class="ppp" data-type="adult"><img src="//{theme_url}/assets/img/plus.svg"></i>
                    </div>
                </li>
                <li>
                    <span>{str_6}
                    <i>2-12 y/o</i>
                    </span>
                    <div class="plmi flex">
                        <i class="mmm" data-type="child"><img src="//{theme_url}/assets/img/minus.svg"></i>
                        <p>{child_value}</p>
                        <i class="ppp" data-type="child"><img src="//{theme_url}/assets/img/plus.svg"></i>
                    </div>
                </li>
                <li>
                    <span>{str_7}
                    <i>-2 y/o</i>
                    </span>
                    <div class="plmi flex">
                        <i class="mmm" data-type="infant"><img src="//{theme_url}/assets/img/minus.svg"></i>
                        <p>{infant_value}</p>
                        <i class="ppp" data-type="infant"><img src="//{theme_url}/assets/img/plus.svg"></i>
                    </div>
                </li>
            </ul>
        </div>
        <fieldset class="hidden">
            <input type="text" name="term" value="{term_value}" autocomplete="off">
            <input type="text" name="dest" value="{dest_value}" autocomplete="off">
            <input type="text" name="adult" value="{adult_value}" autocomplete="off">
            <input type="text" name="child" value="{child_value}" autocomplete="off">
            <input type="text" name="infant" value="{infant_value}" autocomplete="off">
            <input type="text" name="checkin" value="{checkin_value}" autocomplete="off">
            <input type="text" name="checkout" value="{checkout_value}" autocomplete="off">
        </fieldset>
        <button type="submit" name="search" class="ibt">
            <img src="//{theme_url}/assets/img/i-src.svg">
            <span class="hf_">{str_9}</span>
        </button>
    </form>
</div>
<!-- END searchBlock -->