<!-- BEGIN mainBlock -->
<header id="bighead" class="kcln">
    <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    <figcaption>
        <h1>{heading_title}</h1>
        {search_form}
    </figcaption>
</header>
<div class="subheader flex">
    <div class="subnh flex">
        <figure class="flex c-flex">
            <img src="//{theme_url}/assets/img/hm.svg">
        </figure>
        <h2>{title_2}</h2>
        <h2 class="formobile_">{title_3}</h2>
    </div>
</div>
<section class="obox mapin">
    <div class="hfm-desc kshfl">
        <h2>{title_1}</h2>
        <p>
            <span><b>{str_7}:</b> {checkin}</span>
            <span><b>{str_6}:</b> {checkout}</span>
        </p>
        <div class="conbuton flex in-black">
            <a href="javascript:;" class="y-btn change-date">{str_3}</a>
        </div>
    </div>
    <span class="litit">{str_5}</span>
    <div class="smallfilter flex">
        <a href="javascript:;" class="opt_ sort-by-surf-type">
            <span>{str_2}</span>
        </a>
        <a href="javascript:;" class="opt_ sort-by-certified">
            <span>{str_4}</span>
        </a>
        <a href="javascript:;" class="opt_ sort-by-price">
            <span>{str_8}</span>
        </a>
    </div>

    <!-- BEGIN resultBlock -->
    <div class="iniribet flex">
        <div class="mapoption scrollbar-inner">
            <!-- BEGIN resultLoopBlock -->
            <div class="e-mo flex" data-coordinate="{mcoordinate}" data-title="{title}" data-surf-type="{surf_type}" data-price="{start_price}" data-certified="{certified}">
                <figure>
                    <a href="{permalink}">
                        <img class="cover b-lazy" data-src="{img_thumb}" src="{img_placeholder}" alt="">
                    </a>
                </figure>
                <figcaption class="flex">
                    <h2><a href="{permalink}">{title}</a></h2>
                    <span class="ic2 flex">
                        <img src="//{theme_url}/assets/img/pin.svg">
                        <small>{location}</small>
                    </span>
                    <span class="ic2 flex">
                        <img src="//{theme_url}/assets/img/ppl.svg">
                        <small>{str_1}</small>
                    </span>
                    <img class="ceft_ {certified_css}" src="//{theme_url}/assets/img/certified.svg" alt="nomad-certified">
                </figcaption>

                {hightlight}
                
                <div class="adt-mo adt-ft flex">
                    <span class="ic2 flex">
                        REF #123456
                    </span>
                    <span class="ic2 flex">
                        {review_label}
                        <img src="//{theme_url}/assets/img/stars-{review_star}.svg">
                        ({review_count})
                    </span>
                    <span class="ic2 flex">
                        {str_9}
                        <b class="prc__">{start_price_format}</b>
                    </span>
                </div>
            </div>
            <!-- END resultLoopBlock -->
        </div>
        <div id="amaps" class="mapnya amaps" data-coordinate="{coordinate}" data-pin="//{theme_url}/assets/img/pin-map.svg" data-pin-active="//{theme_url}/assets/img/pin-map-active.svg">
        </div>
    </div>
    <!-- END resultBlock -->

    <!-- BEGIN noresultBlock -->
    <div class="no-result-found">
        <p>{str_1}</p>
    </div>
    <!-- END noresultBlock -->
</section>
<!-- END mainBlock -->

<!-- BEGIN searchBlock -->
<header id="bighead" class="kcln">
    <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    <figcaption>
        <h1>{heading_title}</h1>
        {search_form}
    </figcaption>
</header>
<!-- END searchBlock -->