<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{post_title}</h2>
        <div class="text2 flex">
        	{post_content}
        </div>
    </div>
</section>

<!-- BEGIN sectionOneBlock -->
<section class="obox">
	<!-- BEGIN sectionOneLoopBlock -->
    <div class="o-container o-image-box fullpad flex">
        <figure>
            <img class="b-lazy" data-src="{thumbnail_image}" src="{thumbnail_image_placeholder}" alt="">
        </figure>
        <figcaption>
            <h2>{title}</h2>
            {content}
        </figcaption>
    </div>
	<!-- END sectionOneLoopBlock -->
</section>
<!-- END sectionOneBlock -->

<section class="obox">
	<!-- BEGIN sectionTwoBlock -->
	<div class="o-container">
	    <h2 class="o-tit">{heading_title}</h2>
	    <div class="flex-wrap listext incenter only3">
			<!-- BEGIN sectionTwoLoopBlock -->
	        <div class="e-listext">
                <div class="inner">
                    <h3>{title}</h3>
                    <p>{description}</p>
                </div>
	        </div>
			<!-- END sectionTwoLoopBlock -->
	    </div>
	    <h3 class="sque-tit">{short_desc}</h3>
	</div>
	<!-- END sectionTwoBlock -->

	<!-- BEGIN sectionThreeBlock -->
	<div class="o-container">
	    <h2 class="o-tit the2nd">{heading_title}</h2>
	    <div class="list-card ns__ flex">
	        <div class="trio-slider home-slider nt7">
				<!-- BEGIN sectionThreeLoopBlock -->
	            <div class="e-card">
	                <figure>
	                    <img class="cover lazy-load" data-src="{gallery_image}" src="{gallery_image_placeholder}" alt="">
	                </figure>
	            </div>
				<!-- END sectionThreeLoopBlock -->
	            <div class="arrow l__"></div>
	            <div class="arrow n__"></div>
	        </div>
	    </div>
	</div>
	<!-- END sectionThreeBlock -->
</section>

<!-- BEGIN sectionTermGridBlock -->
<section class="section-cardlist">
	<div class="container flex">
		<!-- BEGIN sectionTermGridLoopBlock -->
	    <a href="{permalink}" class="estack">
	        <figure>
	            <img class="cover b-lazy" data-src="{image}" src="{image_placeholder}" alt="">
	        </figure>
	        <figcaption>
	            <h3>{title}</h3>
	            <p>{description}</p>
	            <span class="f-btn">EXPLORE {title}</span>
	        </figcaption>
	    </a>
		<!-- END sectionTermGridLoopBlock -->
	</div>
</section>
<!-- END sectionTermGridBlock -->

<!-- BEGIN sectionFourBlock -->
<section class="obox wwotb_">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="text2 flex">{content}</div>
        <a href="{btn_link}" class="y-btn ib__">{btn_text}</a>
    </div>
</section>
<!-- END sectionFourBlock -->

<!-- END mainBlock -->