<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>
<!-- BEGIN sectionOneBlock -->
<section class="obox">
    <div class="o-container m-nobg">
        <div class="nav-fdo flex mxc_">
			<!-- BEGIN sectionOneLoopBlock -->
            <h2 ds="{idx}" {class}>{title}</h2><hr/>
			<!-- END sectionOneLoopBlock -->
        </div>

        <div class="fdo-cont mxc_">
		    <div class="fdo-slide">
				<!-- BEGIN sectionOneLoop2Block -->
		        <div class="e-fdo {class2}">
		            <h2 class="bpknya">{title} <img src="//{theme_url}/assets/img/arrow-btm.svg"></h2>
		            <div class="xc1_">
		                <div class="xc2_">							
		                	{content}
		                </div>
		            </div>
		        </div>
				<!-- END sectionOneLoop2Block -->
		    </div>
		</div>
    </div>
</section>
<!-- END sectionOneBlock -->
<!-- END mainBlock -->