<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>
<!-- BEGIN sectionOneBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit flex-center">{heading_title}</h2>
        <div class="flex-wrap listext">
			<!-- BEGIN sectionOneLoopBlock -->
            <div class="e-listext">
                <div class="inner">
                    <h3>{title}</h3>
                    <p>{description}</p>
                </div>
            </div>
			<!-- END sectionOneLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionOneBlock -->

<!-- BEGIN sectionTwoBlock -->
<section class="obox">
    <div class="o-container ">
        <h2 class="o-tit mxc_">{heading_title} <img src="//{theme_url}/assets/img/arrow-btm.svg"></h2>
        <div class="abg_">
            <div class="adk_ thetier">
				<!-- BEGIN sectionTwoLoopBlock -->
                <div class="e-tier flex">
                    <figure>
                        <img class="b-lazy" data-src="{image}" src="{image_placeholder}" alt="">
                    </figure>
                    <figcaption>
                        <h3>{title}</h3>
                        <span>{subtitle}</span>
                        <p>{description}</p>
                    </figcaption>
                </div>
				<!-- END sectionTwoLoopBlock -->
            </div>
        </div>
    </div>
</section>
<!-- END sectionTwoBlock -->

<!-- BEGIN sectionThreeBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit mxc_">{heading_title} <img src="//{theme_url}/assets/img/arrow-btm.svg"></h2>
        <div class="abg_">
            <div class="adk_ contentplaintext">{content}</div>
        </div>
    </div>
</section>
<!-- END sectionThreeBlock -->

<!-- BEGIN sectionFourBlock -->
<section class="obox splain_">
    <div class="o-container">
        <h2 class="o-tit mxc_">{heading_title} <img src="//{theme_url}/assets/img/arrow-btm.svg"></h2>
        <div class="abg_">
            <div class="adk_ contentplaintext">
            	{content}
                <a href="{btn_link}" class="y-btn ib__">{btn_text}</a>
            </div>
        </div>
    </div>
</section>
<!-- END sectionFourBlock -->
<!-- END mainBlock -->