<!-- BEGIN mainBlock -->
<header id="veneu-header">
    <section class="veneu-header-data">
        {breadcrumbs}

        <h2>{post_title}</h2>

        {locations}

        <!-- BEGIN galleryBlock -->
        <div class="veneu-header-image">
            <div class="veneu-header-container-slider">
                <div class="veneu-header-slider">
                    <!-- BEGIN galleryLoopBlock -->
                    <div data-id="{img_id}" class="veneu-header-box">
                        <img data-src="{img_preview}" src="{img_placeholder}" class="vhs-img lazy-load" alt="">
                        <img src="//{theme_url}/assets/img/favorite.svg" class="vhs-favorite" alt="">
                    </div>
                    <!-- END galleryLoopBlock -->
                </div>
                <div class="vhs-arrow">
                    <img src="//{theme_url}/assets/img/arrow-circle-left.svg" class="vhs-left" alt="">
                    <img src="//{theme_url}/assets/img/arrow-circle-left.svg" class="vhs-right" alt="">
                </div>
            </div>
            <div class="veneu-header-support">
                <div class="veneu-header-thumb">
                    <!-- BEGIN galleryThumbLoopBlock -->
                    <a class="vh-thumb" data-id="{img_id}">
                        <img data-src="{img_thumb}" src="{img_placeholder}" class="lazy-load" alt="">
                    </a>
                    <!-- END galleryThumbLoopBlock -->
                </div>
                <!-- BEGIN achivementBlock -->
                <div class="veneu-header-achivment">
                    <div class="veneu-header-text">
                        <label>{achievement_label}</label>
                        <div class="veneu-header-score">
                            <span>{achievement_title}</span>
                            <img src="//{theme_url}/assets/img/stars-white-{achievement_rate}.svg" alt="">
                        </div>
                    </div>
                    <img data-src="{achievement_bg}" src="{achievement_placeholder}" class="lazy-load" alt="">
                </div>
                <!-- END achivementBlock -->
            </div>
        </div>
        <!-- END galleryBlock -->
    </section>
</header>

<div class="veneu-header-menu-wrapp">
    <section class="veneu-header-menus">
        <ul>
            <!-- BEGIN packageAnchorBlock -->
            <li data-anchor="#section-package">{package_title}</li>
            <!-- END packageAnchorBlock -->
            <!-- BEGIN roomsAnchorBlock -->
            <li data-anchor="#section-room">{rooms_title}</li>
            <!-- END roomsAnchorBlock -->
            <!-- BEGIN whatsincludedAnchorBlock -->
            <li data-anchor="#section-inclusion">{whats_include_title}</li>
            <!-- END whatsincludedAnchorBlock -->
            <!-- BEGIN foodmealsAnchorBlock -->
            <li data-anchor="#section-food">{foods_title}</li>
            <!-- END foodmealsAnchorBlock -->
            <!-- BEGIN surfInfoAnchorBlock -->
            <li data-anchor="#section-info">{surfing_info_title}</li>
            <!-- END surfInfoAnchorBlock -->
            <!-- BEGIN todoAnchorBlock -->
            <li data-anchor="#section-to-do">{to_do_title}</li>
            <!-- END todoAnchorBlock -->
            <!-- BEGIN gethereAnchorBlock -->
            <li data-anchor="#section-how-to">{how_to_title}</li>
            <!-- END gethereAnchorBlock -->
            <!-- BEGIN reviewAnchorBlock -->
            <li data-anchor="#section-review">{reviews_title}</li>
            <!-- END reviewAnchorBlock -->
            <!-- BEGIN termconditionAnchorBlock -->
            <li data-anchor="#section-tc">{t_c_title}</li>
            <!-- END termconditionAnchorBlock -->
        </ul>
    </section>
</div>

<div class="obox-2-box">
    <div class="obig-container">
        <section class="obig-box">
            <div class="obig-skill-levels">
                <h3>{post_title}</h3>
                <!-- BEGIN skillBlock -->
                <ul class="{skill_css}">
                    <li>
                        <label><b>{skill_title}</b></label>
                    </li>
                    <!-- BEGIN skillLoopBlock -->
                    <li>
                        <img src="//{theme_url}/assets/img/check-circle.svg" alt="">
                        <label>{skill}</label>
                    </li>
                    <!-- END skillLoopBlock -->
                </ul>
                <!-- END skillBlock -->
                <div class="text-block">
                    {post_content}
                </div>
            </div>
            <!-- BEGIN hightlightBlock -->
            <div class="obig-highlight">
                <h4>{highlight_title}</h4>
                <ul>
                    <!-- BEGIN hightlightLoopBlock -->
                    <li>{hightlight}</li>
                    <!-- END hightlightLoopBlock -->
                </ul>
            </div>
            <!-- END hightlightBlock -->
        </section>
        
        <!-- BEGIN accommodationtextBlock -->
        <section class="obig-box">
            <div class="obig-skill-levels">
                <h3>{str_22}</h3>
                <div class="text-block">
                    {accommodation_text}
                </div>
            </div>
        </section>
        <!-- END accommodationtextBlock -->
    </div>     
    <div class="osmall-container transparent osmall-btn-action">
        <div class="osmall-btn no-margin">
            <a data-anchor="{request_action}">{str_6}</a>
        </div>
        <div class="osmall-btn grey">
            <a data-trigger="inquiry-contact">{str_7}</a>
        </div>
    </div>
</div>

<!-- BEGIN packageBlock -->
<section id="section-package" class="obox">
    <div class="o-container no-padding transparent">
        <div class="oveneu-title-filter">
            <h2>{schedule_heading}</h2>
        </div>
        <table class="veneu-tabel">
            <thead>
                <tr>
                    <th width="200">{tbl_txt_1}</th>
                    <th width="200">{tbl_txt_2}</th>
                    <th>{tbl_txt_3}</th>
                    <th>{tbl_txt_4}</th>
                    <th class="pack-name">{tbl_txt_10}</th>
                    <th>{tbl_txt_6}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN packageLoopBlock -->
                <tr class="package-item">
                    <td width="200"><span class="text-date checkin">{tbl_txt_11}</span></td>
                    <td width="200"><span class="text-date checkout">{tbl_txt_11}</span></td>
                    <td>{package_duration}</td>
                    <td>{package_price}</td>
                    <td class="pack-name">{package_name}</td>
                    <td class="guest">
                        <form class="vtabel-guest-select" method="post" action="{post_action}">
                            <input type="text" class="hidden" name="room_id" value="" autocomplete="off" />
                            <input type="text" class="hidden" name="infant" value="0" autocomplete="off" />
                            <input type="text" class="hidden" name="child" value="0" autocomplete="off" />
                            <input type="text" class="hidden" name="adult" value="1" autocomplete="off" required />
                            <input type="text" class="hidden" name="checkin" autocomplete="off" value="" required />
                            <input type="text" class="hidden" name="checkout" autocomplete="off" value="" required />
                            <input type="text" class="hidden" name="pid" value="{package_id}" autocomplete="off" required />
                            <input type="text" class="hidden" name="night" value="{package_night}" autocomplete="off" required />
                            <input class="vtabel-guest-num" type="text" name="guest" value="1" autocomplete="off" required readonly />
                            <ul class="vtabel-guest-select-list">
                                <li>
                                    <span>{str_1}</span>
                                    <div class="plmi flex">
                                        <i class="mmm" data-type="adult"><img src="//{theme_url}/assets/img/minus.svg"></i>
                                        <p>1</p>
                                        <i class="ppp" data-type="adult"><img src="//{theme_url}/assets/img/plus.svg"></i>
                                    </div>
                                </li>
                                <li>
                                    <span>{str_2}
                                    <i>2-12 y/o</i>
                                    </span>
                                    <div class="plmi flex">
                                        <i class="mmm" data-type="child"><img src="//{theme_url}/assets/img/minus.svg"></i>
                                        <p>0</p>
                                        <i class="ppp" data-type="child"><img src="//{theme_url}/assets/img/plus.svg"></i>
                                    </div>
                                </li>
                                <li>
                                    <span>{str_3}
                                    <i>-2 y/o</i>
                                    </span>
                                    <div class="plmi flex">
                                        <i class="mmm" data-type="infant"><img src="//{theme_url}/assets/img/minus.svg"></i>
                                        <p>0</p>
                                        <i class="ppp" data-type="infant"><img src="//{theme_url}/assets/img/plus.svg"></i>
                                    </div>
                                </li>
                            </ul>
                            <button type="submit" name="add_package"></button>
                        </form>
                    </td>
                    <td class="btn">
                        {package_action}
                    </td>
                </tr>
                <!-- END packageLoopBlock -->
            </tbody>
        </table>
    </div>
</section>
<!-- END packageBlock -->

<form id="accommodation-form" class="obox-2-box accommodation-form" method="post" action="{post_action}">
    <div class="obig-container">
        <!-- BEGIN roomsBlock -->
        <section id="section-room" class="obig-box no-padding transparent">
            <h3>{room_heading}</h3>
            <!-- BEGIN roomsLoopBlock -->
            <div class="charter-box">
                <div class="charter-header">
                    <label>{room_name}</label>
                    <div class="charter-room">
                        <small>{select_title}</small>
                        <div class="charter-select">
                            <input type="text" class="hidden" name="room[{room_id}][name]" value="{room_name}" />
                            <input type="text" class="hidden" name="room[{room_id}][price]" value="{room_price}" />
                            <select class="select-room" name="room[{room_id}][num]" autocomplete="off">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="charter-content">
                    <div class="charter-details">
                        <figure>
                            <img data-src="{room_image}" src="{room_image_placeholder}" class="b-lazy" alt="">
                            <a data-fancybox-trigger="gallery-{room_id}" href="javascript:;">Gallery</a>
                        </figure>
                        <div class="charter-data">
                            {room_facilities}
                            <div class="charter-info">
                                <div class="charter-people">
                                    <img src="//{theme_url}/assets/img/people-group.svg">
                                    <label>{room_max_adult}</label>
                                </div>
                                <div class="charter-people">
                                    <img src="//{theme_url}/assets/img/people-group.svg">
                                    <label>{room_max_child}</label>
                                </div>
                                <div class="charter-people">
                                    <img src="//{theme_url}/assets/img/people-group.svg">
                                    <label>{room_baby_bed}</label>
                                </div>
                            </div>
                        </div>
                        <div class="hidden">
                            {room_gallery}
                        </div>
                    </div>
                    <div class="charter-price">
                        <span>{room_format_price}</span>
                        <p>{per_night}<br/>{per_person}</p>
                    </div>
                </div>
            </div>
            <!-- END roomsLoopBlock -->
        </section>
        <!-- END roomsBlock -->

        <!-- BEGIN whatsincludedBlock -->
        <section id="section-inclusion" class="obig-box">
            <h3 style="margin-bottom: 35px;">{whats_include_title}</h3>
            <div class="obig-include">
                <!-- BEGIN whatsincludedLoopBlock -->
                <div>
                    <h4>{whats_included_title}</h4>
                    <ul>
                        {whats_included_item}
                    </ul>
                </div>
                <!-- END whatsincludedLoopBlock -->
            </div>
        </section>
        <!-- END whatsincludedBlock -->

        <!-- BEGIN foodmealsBlock -->
        <section id="section-food" class="obig-box">
            <h3>{foods_title_2}</h3>
            {food}
            <div class="obig-meals">
                <!-- BEGIN foodmealsLoopBlock -->
                <div>
                    <label>{food_title}</label>
                    <ul>
                        {food_item}
                    </ul>
                </div>
                <!-- END foodmealsLoopBlock -->
            </div>
        </section>
        <!-- END foodmealsBlock -->

        <!-- BEGIN surfInfoBlock -->
        <section id="section-info" class="obig-box">
            <h3>{surfing_info_title_2}</h3>
            <div class="obig-surf-information">
                <!-- BEGIN surfInfoLoopBlock -->
                <div style="margin-bottom: 30px;">
                    <h4>{surfing_info_title}</h4>
                    <p>{surfing_info}</p>
                </div>
                <!-- END surfInfoLoopBlock -->
            </div>
        </section>
        <!-- END surfInfoBlock -->

        <!-- BEGIN ourStaffBlock -->
        <section class="obig-box">
            <h3 style="text-align: center;">{staff_title}</h3>
            <div class="obig-staff">
                <div class="staff-slider">
                    <!-- BEGIN ourStaffLoopBlock -->
                    <div class="staff-slider-content">
                        <img data-src="{avatar}" src="{avatar_placeholder}" class="ss-img lazy-load" alt="">
                        <label>{name}</label>
                        <img src="//{theme_url}/assets/img/stars-{performance}.svg" class="ss-star" alt="">
                        <p>{description}</p>
                    </div>
                    <!-- END ourStaffLoopBlock -->
                </div>
                <div class="ss-arrow">
                    <img src="//{theme_url}/assets/img/arrow-circle-left.svg" class="ss-left" alt="">
                    <img src="//{theme_url}/assets/img/arrow-circle-left.svg" class="ss-right" alt="">
                </div>
            </div>
        </section>
        <!-- END ourStaffBlock -->

        <!-- BEGIN todoBlock -->
        <section id="section-to-do" class="obig-box">
            <div class="o-container" style="padding-top: 0px;">
                <h2 class="o-tit">{to_do_title}</h2>
                <div class="list-card list-card-relative-no-btm-pad flex">
                    <div class="trio-slider surf-by-region-slider">
                        <!-- BEGIN todoLoopBlock -->
                        <div class="e-card">
                            <figure>
                                <img src="{image}" alt="">
                            </figure>
                            <figcaption>
                                <h3>{title}</h3>
                                <p>{description}</p>
                            </figcaption>
                        </div>
                        <!-- END todoLoopBlock -->
                    </div>
                    <div class="arrow-wrapp">
                        <div class="arrow l__"></div>
                        <div class="arrow n__"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END todoBlock -->

        <!-- BEGIN gethereBlock -->
        <section id="section-how-to" class="obig-box-nomargin">
            <h3>{how_to_title}</h3>
            <!-- BEGIN gethereMapBlock -->
            <div id="map-canvas" class="how-maps" data-coordinate="{map_coordinate}"></div>
            <!-- END gethereMapBlock -->
            <div class="obig-airports">
                <h4>{closer_airport}</h4>
                <div class="airport-box">
                    <div class="airport-initial">
                        <label>{closer_airport_city}</label>
                    </div>
                    <div class="airport-name">
                        <label>{closer_airport_name}</label>
                    </div>
                </div>
                <div class="airport-arrival">
                    <!-- BEGIN gethereLoopBlock -->
                    <div style="margin-bottom: 50px;">
                        <h4>{arrival_by_title}</h4>
                        <p>{arrival_by_transport}</p>
                    </div>
                    <!-- END gethereLoopBlock -->
                </div>
            </div>
        </section>
        <!-- END gethereBlock -->

        <!-- BEGIN reviewBlock -->
        <section id="section-review" class="obig-box">
            <h3 style="margin-bottom: 25px;">{reviews_title_2}</h3>
            <div class="reviews-filter">
                <div class="filter-stars">
                    <label>{rating_label}</label>
                    <img src="//{theme_url}/assets/img/stars-{rating}.svg">
                </div>
                <div class="filter-option">
                    <label>{most_recent}</label>
                    <img src="//{theme_url}/assets/img/arrow-black.svg" width="5">
                </div>
            </div>
            <ul class="reviews-score">
                <li>
                    <span>{review_txt_1}</span>
                    <img src="//{theme_url}/assets/img/stars-{accuracy_rate}.svg">
                </li>
                <li>
                    <span>{review_txt_2}</span>
                    <img src="//{theme_url}/assets/img/stars-{location_rate}.svg">
                </li>
                <li>
                    <span>{review_txt_3}</span>
                    <img src="//{theme_url}/assets/img/stars-{activities_rate}.svg">
                </li>
                <li>
                    <span>{review_txt_4}</span>
                    <img src="//{theme_url}/assets/img/stars-{cleanliness_rate}.svg">
                </li>
                <li>
                    <span>{review_txt_5}</span>
                    <img src="//{theme_url}/assets/img/stars-{staff_rate}.svg">
                </li>
                <li>
                    <span>{review_txt_6}</span>
                    <img src="//{theme_url}/assets/img/stars-{overall_rate}.svg">
                </li>
            </ul>
            <div class="reviews-comment">
                <div class="comment-button">
                    <label>{num_reviews}</label>
                </div>
                <!-- BEGIN reviewLoopBlock -->
                <div class="comment-details">
                    <div class="cd-img-name">
                        <img data-src="{review_avatar}" src="{review_avatar_placeholder}" class="b-lazy" alt="">
                        <span>{review_name}</span>
                        <span>{review_date}</span>
                    </div>
                    <div class="cd-title-text">
                        <label>{review_title}</label>
                        <div>{review_content}</div>
                    </div>
                </div>
                <!-- END reviewLoopBlock -->
            </div>
            <!--
            <div class="blog-paged">
                <img src="//{theme_url}/assets/img/arrow-black.png">
                <span class="current">1</span>
                <span>2</span>
                <span>3</span>
                <span>...</span>
                <span>15</span>
                <span>16</span>
                <img src="//{theme_url}/assets/img/arrow-black.png">
            </div>
            -->
        </section>
        <!-- END reviewBlock -->

        <!-- BEGIN partnerBlock -->
        <section class="obig-box-nomargin" style="padding: 0px;">
            <div class="obig-partner">
                <figure class="op-picture">
                    <img src="{partner_img}" alt="">
                </figure>
                <div class="partner-name-lcoation">
                    <label>{partner_since}</label>
                    <span>{partner_location}</span>
                </div>
                <img src="//{theme_url}/assets/img/certified.svg" class="op-logo">
            </div>
        </section>
        <!-- END partnerBlock -->

        <!-- BEGIN termconditionBlock -->
        <section id="section-tc" class="obig-box">
            <h3>{tc_title_1}</h3>
            <div class="travel-term-list">
                <div class="term-anchor">
                    <div class="ttl-logo">
                        <img src="//{theme_url}/assets/img/payment.svg">
                    </div>
                    <label>{tc_title_2}</label>
                    <img src="//{theme_url}/assets/img/arrow-btm.svg" class="ttl-arrow" alt="">
                </div>
                <div class="term-body">
                    <div class="inner">
                        {tc_payment}
                    </div>
                </div>
            </div>
            <div class="travel-term-list">
                <div class="term-anchor">
                    <div class="ttl-logo">
                        <img src="//{theme_url}/assets/img/cancellation.svg">
                    </div>
                    <label>{tc_title_3}</label>
                    <img src="//{theme_url}/assets/img/arrow-btm.svg" class="ttl-arrow">
                </div>
                <div class="term-body">
                    <div class="inner">
                        {tc_cancellation}
                    </div>
                </div>
            </div>
            <div class="travel-term-list">
                <div class="term-anchor">
                    <div class="ttl-logo">
                        <img src="//{theme_url}/assets/img/transfer.svg">
                    </div>
                    <label>{tc_title_4}</label>
                    <img src="//{theme_url}/assets/img/arrow-btm.svg" class="ttl-arrow">
                </div>
                <div class="term-body">
                    <div class="inner">
                        {tc_transfer}
                    </div>
                </div>
            </div>
        </section>
        <!-- END termconditionBlock -->
    </div>
    
    <div class="{sticky_class}">
        <div class="osmall-header">
            <span>{start_price_label}</span>
            <label>{start_price_format}</label>
        </div>
        <div class="osmall-body">
            <!-- BEGIN roomsBookingBlock -->
            <div class="osmall-dates" id="check-in">
                <img src="//{theme_url}/assets/img/dates.svg">
                <label class="check-in-label">{checkin_label}</label>
                <input type="text" name="checkin" value="{checkin_value}" autocomplete="off" required>
            </div>
            <div class="osmall-dates" id="check-out">
                <img src="//{theme_url}/assets/img/dates.svg">
                <label class="check-out-label">{checkout_label}</label>
                <input type="text" name="checkout" value="{checkout_value}" autocomplete="off" required>
            </div>
            <div class="osmall-dates" id="guest">
                <img src="//{theme_url}/assets/img/people-group.svg">
                <label class="guest-label">{guest_label}</label>
                <input type="text" name="guest" value="{guest_value}" autocomplete="off" required>
                <ul class="drd_ ddp_">
                    <li>
                        <span>{str_1}</span>
                        <div class="plmi flex">
                            <i class="mmm" data-type="adult"><img src="//{theme_url}/assets/img/minus.svg"></i>
                            <p>{adult_value}</p>
                            <i class="ppp" data-type="adult"><img src="//{theme_url}/assets/img/plus.svg"></i>
                        </div>
                    </li>
                    <li>
                        <span>{str_2}
                        <i>2-12 y/o</i>
                        </span>
                        <div class="plmi flex">
                            <i class="mmm" data-type="child"><img src="//{theme_url}/assets/img/minus.svg"></i>
                            <p>{child_value}</p>
                            <i class="ppp" data-type="child"><img src="//{theme_url}/assets/img/plus.svg"></i>
                        </div>
                    </li>
                    <li>
                        <span>{str_3}
                        <i>-2 y/o</i>
                        </span>
                        <div class="plmi flex">
                            <i class="mmm" data-type="infant"><img src="//{theme_url}/assets/img/minus.svg"></i>
                            <p>{infant_value}</p>
                            <i class="ppp" data-type="infant"><img src="//{theme_url}/assets/img/plus.svg"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="osmall-price hidden">
                <span>{str_4}</span>
                <label>{start_price_format}</label>
            </div>
            <button type="submit" name="add_to_cart" class="osmall-btn">
                <label>{add_to_cart_label}</label>
            </button>
            <div class="osmall-contact-us">
                <span>{str_5}</span>
                <div class="contact-us-logo">
                    <a href="mailto:{email_booking}"><img src="//{theme_url}/assets/img/email-circle.svg"></a>
                    <a href="{wa_global}" target="_blank"><img src="//{theme_url}/assets/img/phone-circle.svg"></a>
                </div>
            </div>
            <!-- END roomsBookingBlock -->

            <!-- BEGIN requestBookingBlock -->
            <div class="osmall-btn-action">
                <div class="osmall-btn no-top-margin">
                    <a data-anchor="{request_action}">{str_6}</a>
                </div>
                <div class="osmall-contact-us">
                    <span>{str_5}</span>
                    <div class="contact-us-logo">
                        <a href="mailto:{email_booking}"><img src="//{theme_url}/assets/img/email-circle.svg"></a>
                        <a href="{wa_global}" target="_blank"><img src="//{theme_url}/assets/img/phone-circle.svg"></a>
                    </div>
                </div>
            </div>
            <!-- END requestBookingBlock -->
        </div>
    </div>        
    <fieldset class="hidden">
        <input type="text" name="post_id" value="{post_id}" autocomplete="off">
        <input type="text" name="adult" value="{adult_value}" autocomplete="off">
        <input type="text" name="child" value="{child_value}" autocomplete="off">
        <input type="text" name="infant" value="{infant_value}" autocomplete="off">
        <input type="text" name="post_title" value="{post_title}" autocomplete="off">
        <input type="text" name="post_start_price" value="{start_price}" autocomplete="off">
    </fieldset>
</form>

<!-- BEGIN relatedPostBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{related_title}</h2>
        <div class="trending-list-card list-card ns__ flex">
            <div class="trio-slider trending-slider">
                <!-- BEGIN relatedPostLoopBlock -->                
                <a href="{rpermalink}" class="e-card">
                    <figure>
                        <img class="cover lazy-load" data-src="{rimg_thumb}" src="{rimg_placeholder}" alt="">
                    </figure>
                    <figcaption>
                        <h3>{rtitle}</h3>
                        {rbrief}
                    </figcaption>
                </a>
                <!-- END relatedPostLoopBlock -->
            </div>
        </div>
    </div>
</section>
<!-- END relatedPostBlock -->

<div class="accpopup hidden">
    <div class="cki_ cki_2 cookies-4" data-act="inquiry-contact">
        <form class="form_inquiry_contact" name="form_contact" action="//{site_url}/ajax-request/">
            <h2>{str_10}</h2>
            <input type="text" name="first_name" placeholder="{str_12}" required>
            <input type="text" name="last_name" placeholder="{str_13}" required>
            <input type="email" name="email" placeholder="{str_14}" required>
            <input type="text" name="phone" placeholder="{str_15}" required>
            <input type="text" class="datepicker datepicker-from" placeholder="{str_16}" autocomplete="off" required>
            <input type="text" class="datepicker datepicker-to" placeholder="{str_17}" autocomplete="off" required>
            <textarea name="message" placeholder="{str_18}" required></textarea>
            <input type="hidden" name="ajax_key" value="send_contact_more_inquiry" required>
            <input type="hidden" name="post_id" value="{post_id}" required>
            <input type="hidden" name="date_from" required>
            <input type="hidden" name="date_to" required>
            <div class="cocb_ flex">
                <button type="submit" data-process-label="{str_20}" data-label="{str_19}">{str_19}</button>
                <span class="hidden message-text-success">{str_21}</span>
            </div>
        </form>
    </div>
</div>
<!-- END mainBlock -->