<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>

<!-- BEGIN sectionOneBlock -->
<section class="section-cardlist eps-cont">
    <div class="container flex">
		<!-- BEGIN sectionOneLoopBlock -->
        <div class="ep-shop">
            <h3 class="offbanner">{float_title}</h3>
            <figure>
                <img class="contain b-lazy" data-src="{image}" src="{image_placeholder}" alt="">
            </figure>
            <figcaption>
                <h2>{title}</h2>
                <p>{description}</p>
            </figcaption>
        </div>
		<!-- END sectionOneLoopBlock -->

        <div class="ep-shop">
            <figcaption>
                <h2>{more_title}</h2>
                <p>{more_desc}</p>
            </figcaption>
            <a href="{more_btn_link}" class="y-btn">{more_btn_text}</a>
        </div>
    </div>
</section>
<!-- END sectionOneBlock -->

<!-- BEGIN sectionTwoBlock -->
<section class="obox halform">
    <div class="o-container flex">
        <div class="hfm-desc">
            <h2>{heading_title}</h2>
            {content}
        </div>
        <div class="hfm-form">
            <div class="daform">
                <form action="//{site_url}/ajax-request/" data-redirect="//{site_url}/thank-you/" name="contact_form" method="post">
                    <div class="first-last-name">
                        <input type="hidden" name="email_to" value="{email_to}">
                        <input type="hidden" name="ajax_key" value="send_contact_inquiry" />
                        <input class="hf__" type="text" name="first_name" placeholder="First Name" required />
                        <input class="hf__" type="text" name="last_name" placeholder="Last Name" required />
                    </div>
                    <input type="email" name="email" placeholder="Email Address" required />
                    <input type="email" name="confirm_email" placeholder="Confirm Email Address" required />
                    <input type="text" name="phone_number" placeholder="Phone Number" required />
                    <input type="text" name="subject" placeholder="Subject" required />
                    <textarea name="message" placeholder="The message" rows="3" required></textarea>
                    <button type="submit">SEND</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END sectionTwoBlock -->
<!-- END mainBlock -->