<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>

<!-- BEGIN sectionOneBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit flex-center">{heading_title}</h2>
        <div class="flex-wrap listext">
            <!-- BEGIN sectionOneLoopBlock -->
            <div class="e-listext">
                <div class="inner">
                    <h3>{title}</h3>
                    <p>{description}</p>
                </div>
            </div>
            <!-- END sectionOneLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionOneBlock -->

<!-- BEGIN sectionTwoBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="o-desc">
            {content}
        </div>
    </div>
</section>
<!-- END sectionTwoBlock -->

<!-- BEGIN sectionThreeBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="o-desc">
            {content}
        </div>
    </div>
</section>
<!-- END sectionThreeBlock -->

<!-- BEGIN sectionFourBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="o-desc o-2-column">
            {content}
        </div>
    </div>
</section>
<!-- END sectionFourBlock -->

<!-- BEGIN sectionFiveBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="o-desc o-2-column">
            {content}
        </div>
    </div>
</section>
<!-- END sectionFiveBlock -->

<!-- BEGIN sectionSixBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="o-desc o-2-column">
            {content}
        </div>
    </div>
</section>
<!-- END sectionSixBlock -->

<!-- BEGIN sectionSevenBlock -->
<section class="obox">
    <div class="o-container" style="position: relative;">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="flex testi">
            <div class="c-comment">
                <div class="comment-slider">
                    <!-- BEGIN sectionSevenLoopBlock -->
                    <div class="e-comment">
                        <img src="//{theme_url}/assets/img/quotes.svg" class="img-quatitationmark" alt="">
                        <figcaption>
                            <p>{quotes}</p>
                        </figcaption>
                        <div class="user-details">
                            <img class="lazy-load" data-src="{avatar_img}" src="{avatar_img_placeholder}" alt="">
                            <div>
                                <label>{title}</label>
                                <span>{description}</span>
                            </div>
                        </div>
                    </div>
                    <!-- END sectionSevenLoopBlock -->
                </div>
                <div class="arrow l__"></div>
                <div class="arrow n__"></div>
            </div>
        </div>
    </div>
</section>
<!-- END sectionSevenBlock -->

<!-- BEGIN sectionEightBlock -->
<section class="obox">
    <div class="o-container">
        <div class="f-register">
            <div class="fr-left">
                <span>{heading_title}</span>
                {content}
            </div>
            <div class="fr-right">
                <form action="//{site_url}/ajax-request/" data-redirect="//{site_url}/thank-you/" name="franchises_form" method="post">
                    <div class="first-last-name">
                        <input type="hidden" name="email_to" value="{email_to}">
                        <input type="hidden" name="ajax_key" value="send_franchises_inquiry" />
                        <input class="hf__" type="text" name="first_name" placeholder="First Name" required />
                        <input class="hf__" type="text" name="last_name" placeholder="Last Name" required />
                    </div>
                    <input type="email" name="email" placeholder="Email Address" required />
                    <input type="email" name="confirm_email" placeholder="Confirm Email Address" required />
                    <input type="text" name="phone_number" placeholder="Phone Number" required />
                    <input type="text" name="subject" placeholder="Subject" required />
                    <textarea name="message" placeholder="The message" rows="3" required></textarea>
                    <button type="submit">SEND</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END sectionEightBlock -->
<!-- END mainBlock -->