<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>

<!-- BEGIN sectionOneBlock -->
<section class="obox">
    <div class="o-contact">
        <div class="o-contact-us">
            <h2 class="o-contact-us-title">{heading_title}</h2>
            {content}
            <form action="//{site_url}/ajax-request/" data-redirect="//{site_url}/thank-you/" name="register_form" method="post">
                <div class="first-last-name">
                    <input type="hidden" name="email_to" value="{email_to}">
                    <input type="hidden" name="ajax_key" value="send_register_inquiry" />
                    <input type="text" name="first_name" placeholder="First name" required />
                    <input type="text" name="last_name" placeholder="Last Name" required />
                </div>
                <input type="email" name="email" placeholder="Email" required />
                <input type="email" name="confirm_email" placeholder="Confirm Email" required />
                <input type="text" name="phone_number" placeholder="Phone Number" required />
                <input type="text" name="subject" placeholder="Subject" required />
                <textarea name="message" placeholder="The message" required></textarea>
                <div class="action-box">
                    <button type="submit">{button}</button>
                </div>
            </form>
        </div>
        <div class="o-call-us">
            <div class="call-us-container">
                <div class="{call_global_css}">
                    <span>Call us</span>
                    <div class="call-us-contact">
                        <!-- BEGIN whatsappGlobalBlock -->
                        <div class="call-us-wa">
                            <img src="//{theme_url}/assets/img/whatsapp-circle.svg">
                            <label>Whatsapp</label>
                            <a href="{chat_global}">{wa_global}</a>
                        </div>
                        <!-- END whatsappGlobalBlock -->
                        <!-- BEGIN phoneGlobalBlock -->
                        <div class="call-us-phone">
                            <img src="//{theme_url}/assets/img/phone-circle.svg">
                            <label>Phone</label>
                            <a href="{tel_global}">{phone_global}</a>
                        </div>
                        <!-- END phoneGlobalBlock -->
                    </div>
                </div>
                <div class="{call_asia_css}">
                    <span>Asia</span>
                    <div class="call-us-contact">
                        <!-- BEGIN whatsappAsiaBlock -->
                        <div class="call-us-wa">
                            <img src="//{theme_url}/assets/img/whatsapp-circle.svg">
                            <label>Whatsapp</label>
                            <a href="{chat_asia}">{wa_asia}</a>
                        </div>
                        <!-- END whatsappAsiaBlock -->
                        <!-- BEGIN phoneAsiaBlock -->
                        <div class="call-us-phone">
                            <img src="//{theme_url}/assets/img/phone-circle.svg">
                            <label>Phone</label>
                            <a href="{tel_asia}">{phone_asia}</a>
                        </div>
                        <!-- END phoneAsiaBlock -->
                    </div>
                </div>
                <div class="{call_europe_css}">
                    <span>Europe</span>
                    <div class="call-us-contact">
                        <!-- BEGIN whatsappEuropeBlock -->
                        <div class="call-us-wa">
                            <img src="//{theme_url}/assets/img/whatsapp-circle.svg">
                            <label>Whatsapp</label>
                            <a href="{chat_europe}">{wa_europe}</a>
                        </div>
                        <!-- END whatsappEuropeBlock -->
                        <!-- BEGIN phoneEuropeBlock -->
                        <div class="call-us-phone">
                            <img src="//{theme_url}/assets/img/phone-circle.svg">
                            <label>Phone</label>
                            <a href="{tel_europe}">{phone_europe}</a>
                        </div>
                        <!-- END phoneEuropeBlock -->
                    </div>
                </div>
                <div class="{call_international_css}">
                    <span>International</span>
                    <div class="call-us-contact">
                        <!-- BEGIN whatsappInternationalBlock -->
                        <div class="call-us-wa">
                            <img src="//{theme_url}/assets/img/whatsapp-circle.svg">
                            <label>Whatsapp</label>
                            <a href="{chat_international}">{wa_international}</a>
                        </div>
                        <!-- END whatsappInternationalBlock -->
                        <!-- BEGIN phoneInternationalBlock -->
                        <div class="call-us-phone">
                            <img src="//{theme_url}/assets/img/phone-circle.svg">
                            <label>Phone</label>
                            <a href="{tel_international}">{phone_international}</a>
                        </div>
                        <!-- END phoneInternationalBlock -->
                    </div>
                </div>
            </div>
            <div class="{call_skype_css}">
                <!-- BEGIN skypeAmericaBlock -->
                <a class="call-us-skype-button" href="{skype_america}">
                    <img src="//{theme_url}/assets/img/skype-circle.svg">
                    <label>Call Skype America</label>
                </a>
                <!-- END skypeAmericaBlock -->
                <!-- BEGIN skypeEuropeBlock -->
                <a class="call-us-skype-button" href="{skype_europe}">
                    <img src="//{theme_url}/assets/img/skype-circle.svg">
                    <label>Call Skype Europe</label>
                </a>
                <!-- END skypeEuropeBlock -->
                <!-- BEGIN skypeAsiaBlock -->
                <a class="call-us-skype-button" href="{skype_asia}">
                    <img src="//{theme_url}/assets/img/skype-circle.svg">
                    <label>Call Skype Asia</label>
                </a>
                <!-- END skypeAsiaBlock -->
            </div>
            <p>You can also reach us by email <b><a href="mailto:{email_booking}">{email_booking}</a></b></p>
        </div>
    </div>
</section>
<!-- END sectionOneBlock -->

<!-- BEGIN sectionTwoBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit flex-center">{heading_title}</h2>
        <div class="flex-wrap listext">
            <!-- BEGIN sectionTwoLoopBlock -->
            <div class="e-listext">
                <div class="inner">
                    <h3>{title}</h3>
                    <p>{description}</p>
                </div>
            </div>
            <!-- END sectionTwoLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionTwoBlock -->
<!-- END mainBlock -->