<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>

<section class="obox">
    <div class="o-container">
        <div class="o-desc-bd">
            <div class="inner">
                {post_content}
            </div>
            <div class="bd-details">
                {post_category}
            </div>
            <div class="bd-socialmedia">
                <p>Share This Story, Choose Your Platform!</p>
                <a href="{fb_share_link}" class="icon-socialmedia">
                    <img src="//{theme_url}/assets/img/fb-circle.svg" alt="">
                </a>
            </div>
            <div class="bd-page">
                {post_nav_link}
            </div>
        </div>
    </div>
</section>
<!-- END mainBlock -->