<!-- BEGIN mainBlock -->
<header id="smallhalf-head" class="flex">
    <figure>
        <img class="cover b-lazy" data-src="{header_image}" src="{header_image_placeholder}" alt="">
    </figure>
    <figcaption class="flex c-flex">
        <h1>{post_title}</h1>
        <hr>
        <div class="descnya">
            <p>{post_brief}</p>
        </div>
    </figcaption>
</header>

<!-- BEGIN sectionOneBlock -->
<section class="obox">
    <div class="o-container">
        <h2 class="o-tit">{heading_title}</h2>
        <div class="zigy">
            <!-- BEGIN sectionOneLoopBlock -->
            <div class="e-zig flex">
                <figure>
                    <img class="cover b-lazy" data-src="{thumbnail_image}" src="{thumbnail_image_placeholder}" alt="">
                </figure>
                <figcaption>
                    {content}
                </figcaption>
            </div>
            <!-- END sectionOneLoopBlock -->
        </div>
    </div>
</section>
<!-- END sectionOneBlock -->

<!-- BEGIN sectionTwoBlock -->
<section class="obox">
    <div class="o-container flex">
        <div class="ad-frm infull_">
            <h2>{heading_title}</h2>
            <div class="descnya kicik">
                {content}
            </div>
            <div class="daform">
                <form action="//{site_url}/ajax-request/" data-redirect="//{site_url}/thank-you/" name="digital_form" method="post">
                    <fieldset>
                        <label>Why are you interested in working with Nomad Surfers?</label>
                        <input type="text" name="field1" required />
                    </fieldset>
                    <fieldset>
                        <label>What experience and strengths can you bring to our business?</label>
                        <input type="text" name="field2" required />
                    </fieldset>
                    <fieldset>
                        <label>Honestly how many hours per day of work would be perfect life for you?<br/>Please be honest better for you in the long run and remember we also hire people for less hours and less responsability.</label>
                        <input type="text" name="field3" required />
                    </fieldset>
                    <fieldset>
                        <label>How much salary are you expecting to receive?</label>
                        <input type="text" name="field4" required />
                    </fieldset>
                    <fieldset>
                        <p class="file-field">
                            <input type="file" name="field5" required />
                            <span>Upload Resume</span>
                        </p>
                        <input type="hidden" name="email_to" value="{email_to}" />
                        <input type="hidden" name="ajax_key" value="send_digital_inquiry" />
                        <button type="submit">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END sectionTwoBlock -->
<!-- END mainBlock -->