<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<div class="content-body-1020 content-body-1042">
    <div class="header-1020 header-1042">Dashboard</div>
    <div class="content-1042 new-style-content-1024 mtop30">
        <div class="latest-booking">
            <h2>Latest Booking</h2>
        </div>
        <hr class="style4">
        <div class="block-full-list">
            <table id="table-latest-booking" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th data-orderable="false" width="150">Booking ID</th>
                        <th data-orderable="false">Name</th>
                        <th data-orderable="false">Accommodation</th>
                        <th data-orderable="false" width="150">Booking Date</th>
                        <th data-orderable="false" width="100">Total Booking</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <a href="{view_booking_url}" class="button shadow fwbold more-dashboard" style="margin-right: 0px; width:auto; padding:0 20px;">
            <span class="just-lbl">All Bookings</span>
            <div class="clear"></div>
        </a>
    </div>
    <div class="clear"></div>
    <div class="content-1042 new-style-content-1024 mtop30">
        <div class="latest-booking">
            <h2>Latest Accommodation</h2>
        </div>
        <hr class="style4">
        <div class="block-full-list">
            <table id="table-latest-accommodation" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th data-orderable="false" width="90">Picture</th>
                        <th data-orderable="false">Name</th>
                        <th data-orderable="false" width="150">Type</th>
                        <th data-orderable="false" width="200">Surf Trip</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <a href="{view_acco_url}" class="button shadow fwbold more-dashboard" style="margin-right: 0px; width:auto; padding:0 20px;">
            <span class="just-lbl">All Accommodation</span>
            <div class="clear"></div>
        </a>
        <a href="{add_acco_url}" class="button" style="float: right; margin: 20px 0px;">
            <span class="button_ayp "></span>
            <span>Add Accommodation</span>
            <div class="clear"></div>
        </a>
    </div>

    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
    <input type="hidden" id="ajax_booking_url" value="{ajax_booking_url}" autocomplete="off">    
</div>
<!-- END viewContent -->
<!-- END viewBlock -->