<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form action="" name="new_booking" method="post" data-ajax-url="{ajax_url}">
    <div class="content-body-1020 content-body-1042">
        <div class="header-1020 header-1042">{htitle}</div>
        {message}
        <div class="content-1042 new-style-content-1024 mtop30">
            <div class="mb0" style="margin-top: 0px; width: 487px; height: auto; border:none; float:left;">
                <p class="f14 fwbold mb0">{hdesc}<br />
                    <span class="f12 fwnormal">All fields with (*) mark are required</span>
                </p>
            </div>
            <div class="clear"></div>
            <hr style="float: left;" class="style4">
            <div class="block-mini box-size" style="margin-top: 0px; width: 100%; height: auto; border-right:none; margin: 0;  float: left;">
                <div class="customer-cont">
                    <div class="title-container">CUSTOMER DETAILS</div>
                    <div class="cust-detail-left">
                        <div class="box">
                            <div class="content-container-left">Title</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right">
                                <select class="popup-field-select" name="fields[ltitle]" autocomplete="off">
                                    {ltitle}
                                </select>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content-container-left">First Name *</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right relative-content">
                                <input id="lfname" class="popup-field-text" type="text" name="fields[lfname]" value="{lfname}" required />
                            </div>
                        </div>
                        <div class="box">
                            <div class="content-container-left">Last Name *</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right relative-content">
                                <input id="llname" class="popup-field-text" type="text" name="fields[llname]" value="{llname}" required />
                            </div>
                        </div>
                        <div class="box">
                            <div class="content-container-left">Email *</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right relative-content">
                                <input id="lemail" class="popup-field-text" type="email" name="fields[lemail]" value="{lemail}" required />
                            </div>
                        </div>
                        <div class="box">
                            <div class="content-container-left">Phone *</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right relative-content">
                                <input id="lphone" class="popup-field-text" type="text" name="fields[lphone]" value="{lphone}" required />
                            </div>
                        </div>
                    </div>
                    <div class="cust-detail-right">
                        <div class="box">
                            <div class="content-container-left">Booking Date</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right relative-content">
                                <input id="lcreated_date" class="popup-field-text" type="text" name="fields[lcreated_date]" value="{lcreated_date}" required autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="box">
                            <div class="content-container-left">Check In/Out *</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right">
                                <div class="text-half relative-content">
                                    <input id="lcheck_in" class="popup-field-text text-date" type="text" name="fields[lcheck_in]" value="{lcheck_in}" required autocomplete="off" readonly />
                                </div>
                                <div class="text-half relative-content">
                                    <input id="lcheck_out" class="popup-field-text text-date" type="text" name="fields[lcheck_out]" value="{lcheck_out}" required autocomplete="off" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content-container-left">Num of Night *</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right relative-content">
                                <input id="lnights" class="popup-field-text text-number field-night" data-a-sep="." data-a-dec="," data-m-dec="0" data-a-sign="" type="text" name="fields[lnights]" value="{lnights}" required autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="box box-top">
                            <div class="content-container-left">Note</div>
                            <div class="titik-dua">:</div>
                            <div class="content-container-right">
                                <textarea class="popup-field-textarea" name="fields[lnote]" autocomplete="off">{lnote}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pass-cont">
                    <p class="title-container">GUEST DETAILS<br/><i>klik "Add New" if you want to add new guest</i></p>
                    {lguests}
                </div>
                <div class="purchase-cont">
                    <p class="title-container">ACCOMMODATION DETAILS<br/><i>price for trip and room will be price per person and per night</i></p>                    
                    <table class="table-booking-detail">
                        <thead>
                            <tr class="back-soft-blue">
                                <th class="text-left relative-content" colspan="4">
                                    <select class="popup-field-select" name="fields[lpost_id]" autocomplete="off" required>
                                        <option value="">Select Property</option>
                                        {lpost_id}
                                    </select>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {ldetails}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body-1020 content-body-1042">
        <div class="content-1042 new-style-content-1024">
            <div class="button_step_bottom new-bsb" style="float:right;">
                <input type="hidden" id="lbooking_id" name="fields[lbooking_id]" value="{lbooking_id}" autocomplete="off" />
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>
<!-- END formContent -->
<!-- END formBlock -->