<!-- BEGIN popupViewBlock -->
<div id="popup-{lbooking_id}" class="popup-wrap box-size">
    <div class="booking-wrapper-container">
        <div class="center-booking-wrapper">
            <div class="booking-id-cont flex">
                <div class="booking-id-content">Booking ID : #<span class="idbooking">{lbooking_code}</span></div>
                <div class="booking-id-content">Status : <span class="idbooking">{lstatus}</span></div>
            </div>
            <div class="customer-cont">
                <p class="title-container">CUSTOMER DETAILS</p>
                <div class="cust-detail-left">
                    <p class="content-container-left">Name</p><p class="titik-dua">:</p><p class="content-container-right">{lfullname}</p>
                    <p class="content-container-left">Email</p><p class="titik-dua">:</p><p class="content-container-right">{lemail}</p>
                    <p class="content-container-left">Phone</p><p class="titik-dua">:</p><p class="content-container-right">{lphone}</p>
                </div>
                <div class="cust-detail-right">
                    <p class="content-container-left">Booking Date</p><p class="titik-dua">:</p><p class="content-container-right">{lcreated_date}</p>
                    <p class="content-container-left">Check In</p><p class="titik-dua">:</p><p class="content-container-right">{lcheckin}</p>
                    <p class="content-container-left">Check Out</p><p class="titik-dua">:</p><p class="content-container-right">{lcheckout}</p>
                </div>
            </div>
            <div class="pass-cont">
                <!-- BEGIN guestViewBlock -->
                <table class="table-pass-detail">
                    <tbody>
                        <tr class="back-soft-blue">
                            <td class="text-left" width="50">No</td>
                            <td class="text-left">Guest Name</td>
                            <td class="text-left" width="80">Type</td>
                        </tr>
                        <!-- BEGIN guestViewLoopBlock -->
                        <tr>
                            <td class="text-left">{no}</td>
                            <td class="text-left">{name}</td>
                            <td class="text-left">{gtype}</td>
                        </tr>
                        <!-- END guestViewLoopBlock -->
                    </tbody>
                </table>
                <!-- END guestViewBlock -->
            </div>
            <div class="purchase-cont">
                <p class="title-container">ACCOMMODATION DETAILS</p>
                <table class="table-booking-detail">
                    <tbody>
                        <tr class="back-soft-blue">
                            <td class="text-left" colspan="6">{acc_name}</td>
                        </tr>
                        <!-- BEGIN entireViewBlock -->
                        <tr class="back-soft-gray">
                            <td class="text-right" colspan="5">Entire Place Price</td>
                            <td class="text-right">
                                <p class="text-number" data-a-sep="." data-a-dec="," data-m-dec="0" data-a-sign="{lcurrency} ">{efprice}</p></td>
                            </td>
                        </tr>
                        <!-- END entireViewBlock -->
                        <!-- BEGIN tripsViewBlock -->
                        <tr class="back-soft-gray">
                            <td class="text-left" colspan="5">Detail Trip/Package</td>
                        </tr>
                        <!-- BEGIN tripsViewLoopBlock -->
                        <tr>
                            <td class="text-left" colspan="5"><p>{detail}</p></td>
                        </tr>
                        <!-- END tripsViewLoopBlock -->
                        <!-- END tripsViewBlock -->
                        <!-- BEGIN roomsViewBlock -->
                        <tr class="back-soft-gray">
                            <td class="text-left" width="50">No</td>
                            <td class="text-left" colspan="2">Room Name</td>
                            <td class="text-center" width="50">Qty</td>
                            <td class="text-right" width="125">Price</td>
                            <td class="text-right" width="125">Sub Total</td>
                        </tr>
                        <!-- BEGIN roomsViewLoopBlock -->
                        <tr>
                            <td class="text-left"><p>{no}</p></td>
                            <td class="text-left" colspan="2"><p>{name}</p></td>
                            <td class="text-center"><p>{qty}</p></td>
                            <td class="text-right"><p class="text-number" data-a-sep="." data-a-dec="," data-m-dec="0" data-a-sign="{lcurrency} ">{fprice}</p></td>
                            <td class="text-right"><p class="text-number" data-a-sep="." data-a-dec=","  data-m-dec="0"data-a-sign="{lcurrency} ">{fsubtotal}</p></td>
                        </tr>
                        <!-- END roomsViewLoopBlock -->
                        <tr class="back-soft-gray">
                            <td class="text-right" colspan="5">Total</td>
                            <td class="text-right">{froom_total}</td>
                        </tr>
                        <!-- END roomsViewBlock -->
                        <!-- BEGIN addonsViewBlock -->
                        <tr class="back-soft-blue">
                            <td class="text-left" colspan="6">Add-Ons</td>
                        </tr>
                        <tr class="back-soft-gray">
                            <td class="text-left" width="50">No</td>
                            <td class="text-left" colspan="2">Add-ons Name</td>
                            <td class="text-center" width="50">Qty</td>
                            <td class="text-right" width="125">Price</td>
                            <td class="text-right" width="125">Sub Total</td>
                        </tr>
                        <!-- BEGIN addonsViewLoopBlock -->
                        <tr>
                            <td class="text-left"><p>{no}</p></td>
                            <td class="text-left" colspan="2"><p>{name}</p></td>
                            <td class="text-center"><p>{qty}</p></td>
                            <td class="text-right"><p class="text-number" data-a-sep="." data-a-dec="," data-m-dec="0" data-a-sign="{lcurrency} ">{fprice}</p></td>
                            <td class="text-right"><p class="text-number" data-a-sep="." data-a-dec=","  data-m-dec="0"data-a-sign="{lcurrency} ">{fsubtotal}</p></td>
                        </tr>
                        <!-- END addonsViewLoopBlock -->
                        <tr class="back-soft-gray">
                            <td class="text-right" colspan="5">Total</td>
                            <td class="text-right">{faddons_total}</td>
                        </tr>
                        <!-- END addonsViewBlock -->
                        <tr class="back-soft-blue">
                            <td class="text-right" colspan="5">Grand Total</td>
                            <td class="text-right">{ftotal}</td>
                        </tr>
                        <tr class="back-soft-blue">
                            <td class="text-right" colspan="5">Deposit</td>
                            <td class="text-right">{fdeposit}</td>
                        </tr>
                        <tr class="back-soft-blue">
                            <td class="text-right" colspan="5">Balance</td>
                            <td class="text-right text-red">{fbalance}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END popupViewBlock -->