<!-- BEGIN calendarBlock -->
{error}
<!-- BEGIN calendarContent  -->
<form name="app_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Availability Calendar</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
	        <div class="mb0" style="margin-top: 0px; width: 487px; height: auto; border:none; float:left;">
	            <p class="f14 fwbold mb0"><b>{ltitle}</b> Calendar<br />
	                <span class="f12 fwnormal">Set allotment and rate in specific date</span>
	            </p>
	        </div>
	        <div class="clear"></div>
	        <hr style="float: left;" class="style4">
	        <div class="block-mini box-size" style="margin-top: 0px; width: 100%; height: auto; border-right:none; margin: 0;  float: left;">
                <div class="list list-field {lroom_type_class}">
                    <label class="list-field-title">Room Type</label>
                    <div class="chzn-selecto">
                        <select id="lroom_type" name="lroom_type" class="chzn-select" autocomplete="off" style="width:300px;" data-placeholder="Choose accommodation">
                            {lroom_type}
                        </select>
                    </div>
                </div>
	        </div>
	        <div class="clear"></div>
            <div id="wrap-list-form-calendar" class="wrap-list-form">

		    </div>
	    </div>
	</div>
	
    <input type="hidden" id="lpost_id" value="{lpost_id}" autocomplete="off">
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</form>
<!-- END calendarContent  -->
<!-- END calendarBlock -->