<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form class="app-form" name="app_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Accommodations</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
            <div class="mb0 frm-title">
	            <p class="f14 fwbold mb0">Create an accommodation<br />
	                <span class="f12 fwnormal">All fields with (*) mark are required</span>
	            </p>
	        </div>
            <div class="topbtn">
                <a href="{preview_url}" class="{preview_class}" target="_blank">
                    <span class="button_txt">PREVIEW</span>
                </a>
                <button class="button shadow fwbold mt0" type="submit" name="save">Save</button>
                <a href="{add_url}" class="button">
                    <span class="button_ayp"></span>
                    <span class="button_txt">ADD NEW</span>
                </a>
            </div>
            {switcher_lang}
	        <div class="clear"></div>
	        <hr style="float: left;" class="style4">
	        <div class="block-mini box-size box-wrapp">
                <div class="list">
                    <label>Name</label>
                    <input value="{lpost_id}" id="lpost_id" name="fields[lpost_id]" type="hidden">
                    <input value="{llang_id}" id="llang_id" name="fields[llang_id]" type="hidden">
                    <input value="{ltitle}" id="ltitle" name="fields[ltitle]" type="text" class="text required">
                    <small><i>The name that will appear on your site.</i></small>
                </div>
                <div class="list">
                    <label>Slug</label>
                    <input value="{lsef_url}" id="lsef_url" name="fields[lsef_url]" type="text" class="text required">
                    <small><i>The slug is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</i></small>
                </div>
                <div class="list">
                    <p>Description</p>
                    <div><textarea id="ldescription" class="textarea tinymce" name="fields[ldescription]" autocomplete="off">{ldescription}</textarea></div>
                </div>
                <div class="list list-field {translate_css}">
                    <label class="list-field-title">Manage By Partner</label>
                    <div class="chzn-selecto">
                        <select id="lcreated_by" name="fields[lcreated_by]" class="chzn-select" autocomplete="off" style="width:100%;" data-placeholder="Choose partner">
                            <option value="admin">No partner</option>
                            {lcreated_by}
                        </select>
                    </div>
                </div>
                <div class="list list-field {translate_css}">
                    <label class="list-field-title">Type of Surf Trips</label>
                    <div class="chzn-selecto">
                        <select id="surf_trip" name="terms[surf_trip][]" class="chzn-select" autocomplete="off" style="width:100%;" data-placeholder="Choose accommodation type" multiple>
                            {laccommodation_surf_trip}
                        </select>
                    </div>
                </div>
                <div class="list list-field {translate_css}">
                    <label class="list-field-title">Type of Accommodation</label>
                    <div class="chzn-selecto">
                        <select id="accommodation_type" name="terms[accommodation_type]" class="chzn-select" autocomplete="off" style="width:300px;" data-placeholder="Choose accommodation type">
                            {laccommodation_type}
                        </select>
                    </div>
                </div>

                {lcustom}

                <div class="list">
                    <label>Meta title</label>
                    <input value="{lmeta_title}" id="meta_title" name="fields[lmeta_title]" type="text" class="text">
                </div>
                <div class="list">
                    <label>Meta Key</label>
                    <input value="{lmeta_key}" id="meta_key" name="fields[lmeta_key]" type="text" class="text">
                </div>
                <div class="list">
                    <label>Meta Description</label>
                    <input value="{lmeta_desc}" id="meta_desc" name="fields[lmeta_desc]" type="text" class="text">
                </div>
                <div class="list {translate_css}">
                    <label>Order id</label>
                    <input value="{lorder_id}" id="order_id" name="fields[lorder_id]" type="text" class="text">
                </div>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>

	{ladditional}

    <div class="content-body-1020 content-body-1042">
        <div class="content-1042 new-style-content-1024">
            <div class="button_step_bottom new-bsb" style="float:right;">
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
	
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
    <input type="hidden" id="page_act" value="{act}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->