<!-- BEGIN popupAddBlock -->
<div id="popup-new-schedule" class="popup-wrap box-size">
    <div class="booking-wrapper-container">
        <div class="center-booking-wrapper">
            <form id="form-new-schedule" name="form_new_schedule" method="post">
                <div class="content-body-1020 content-body-1042">
                    <div class="content-1042 new-style-content-1024 mtop30">
                        <div class="mb0">
                            <p class="f14 fwbold mb0">{add_tittle}<br />
                                <span class="f12 fwnormal">Please fill form below with correct data</span>
                            </p>
                        </div>
                        <div class="clear"></div>
                        <hr class="style4">
                        <div class="block-mini box-size">
                            <div class="list">
                                <label>Check In</label>
                                <input value="add_schedule" name="pKEY" type="hidden">
                                <input value="{ldlu}" name="pfield[ldlu]" type="hidden">
                                <input value="{lpost_id}" name="pfield[{fname}]" type="hidden">
                                <input value="{llang_id}" name="pfield[llang_id]" type="hidden">
                                <input value="{lusername}" name="pfield[lusername]" type="hidden">
                                <input value="{lcreated_by}" name="pfield[lcreated_by]" type="hidden">
                                <input value="{lcreated_date}" name="pfield[lcreated_date]" type="hidden">
                                <input name="pfield[lcheck_in]" type="text" class="text text-daterange required lcheck_in" autocomplete="off" required>
                            </div>
                            <div class="list">
                                <label>Check Out</label>
                                <input name="pfield[lcheck_out]" type="text" class="text text-daterange required lcheck_out" autocomplete="off" required>
                            </div>
                            <div class="list">
                                <label>Duration</label>
                                <input name="pfield[lduration]" type="text" class="text lduration" autocomplete="off" required>
                                <small><i>ex: 5D4N</i></small>
                            </div>
                            <div class="{litinerary_class}">
                                <label class="list-field-title">Departure</label>
                                <input name="pfield[ldeparture]" type="text" class="text ldeparture" placeholder="ex: Bali" required>
                            </div>
                            <div class="{litinerary_class}">
                                <label class="list-field-title">Intinerary</label>
                                <input name="pfield[litinerary]" type="text" class="text litinerary" placeholder="ex: Lombok, Sumba, Sumbawa" {litinerary_attribute}>
                                <small><i>Seperated by comma on each destination</i></small>
                            </div>
                        </div>
                        <div class="button_step_bottom new-bsb" style="float:right;">
                            <input type="button" value="Save" class="button shadow fwbold mt0" name="save" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END popupAddBlock -->

<!-- BEGIN popupEditBlock -->
<div id="popup-{lschedule_id}" class="popup-wrap box-size">
    <div class="booking-wrapper-container">
        <div class="center-booking-wrapper">
            <form name="app_form" method="post">
                <div class="content-body-1020 content-body-1042">
                    <div class="content-1042 new-style-content-1024 mtop30">
                        <div class="mb0">
                            <p class="f14 fwbold mb0">{edit_title}<br />
                                <span class="f12 fwnormal">Please fill form below with correct data</span>
                            </p>
                        </div>
                        <div class="clear"></div>
                        <hr class="style4">
                        <div class="block-mini box-size">
                            <div class="list">
                                <label>Check In</label>                                
                                <input value="update_schedule" name="pKEY" type="hidden" class="pkey">
                                <input value="1" name="pfield[{lschedule_id}][lstatus]" type="hidden" class="lstatus">
                                <input value="{lpost_id}" name="pfield[{lschedule_id}][lpost_id]" type="hidden" class="lpost_id">
                                <input value="{lcheck_in}" name="pfield[{lschedule_id}][lcheck_in]" type="text" class="text text-daterange required lcheck_in" required>
                            </div>
                            <div class="list">
                                <label>Check Out</label>
                                <input value="{lcheck_out}" name="pfield[{lschedule_id}][lcheck_out]" type="text" class="text text-daterange required lcheck_out" required>
                            </div>
                            <div class="list">
                                <label>Duration</label>
                                <input value="{lduration}" name="pfield[{lschedule_id}][lduration]" type="text" class="text lduration" required>
                                <small><i>ex: 5D4N</i></small>
                            </div>
                            <div class="{litinerary_class}">
                                <label class="list-field-title">Departure</label>
                                <input value="{ldeparture}" name="pfield[{lschedule_id}][ldeparture]" type="text" class="text ldeparture" placeholder="ex: Bali" required>
                            </div>
                            <div class="{litinerary_class}">
                                <label class="list-field-title">Intinerary</label>
                                <input value="{litinerary}" name="pfield[{lschedule_id}][litinerary]" type="text" class="text litinerary" placeholder="ex: Lombok, Sumba, Sumbawa" {litinerary_attribute}>
                                <small><i>Seperated by comma on each destination</i></small>
                            </div>
                        </div>
                        <div class="button_step_bottom new-bsb" style="float:right;">
                            <input type="button" value="Save" class="button shadow fwbold mt0" name="save_{lschedule_id}" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END popupEditBlock -->

<!-- BEGIN notfoundBlock -->
<div id="popup-{lschedule_id}" class="popup-wrap box-size">
    <div class="booking-wrapper-container">
        <div class="center-booking-wrapper">
            <div class="content-body-1020 content-body-1042">
                <div class="content-1042 new-style-content-1024 mtop30">
                    <div class="mb0">
                        <p class="f14 fwbold mb0">Edit schedule trip<br />
                            <span class="f12 fwnormal">Can't find the requested data!</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END notfoundBlock -->

<!-- BEGIN popupAvailabilityBlock -->
<div id="popup-{lpost_id}" class="popup-wrap box-size">
    <div class="booking-wrapper-container">
        <div class="center-booking-wrapper">
            <form name="app_form" method="post">
                <div class="content-body-1020 content-body-1042">
                    <div class="content-1042 new-style-content-1024 mtop30">
                        <div class="mb0">
                            <p class="f14 fwbold mb0">Manage Rate / Availability<br />
                                <span class="f12 fwnormal">Available from: {start} - {end}</span>
                            </p>
                        </div>
                        <div class="clear"></div>
                        <hr class="style4">
                        <div class="block-mini box-size">
                            <div class="list hidden">
                                <input value="{lcreated_date}" name="lcreated_date" type="hidden" class="lcreated_date" autocomplete="off">
                                <input value="{lcurrency_id}" name="lcurrency_id" type="hidden" class="lcurrency_id" autocomplete="off">
                                <input value="{lcreated_by}" name="lcreated_by" type="hidden" class="lcreated_by" autocomplete="off">
                                <input value="{lallotment}" name="lallotment" type="hidden" class="lallotment" autocomplete="off">
                                <input value="{lusername}" name="lusername" type="hidden" class="lusername" autocomplete="off">
                                <input value="{lpost_id}" name="lpost_id" type="hidden" class="lpost_id" autocomplete="off">
                                <input value="{lterm_id}" name="lterm_id" type="hidden" class="lterm_id" autocomplete="off">
                                <input value="{lstart}" name="lstart" type="hidden" class="lstart" autocomplete="off">
                                <input value="{lend}" name="lend" type="hidden" class="lend" autocomplete="off">
                                <input value="{ldlu}" name="ldlu" type="hidden" class="ldlu" autocomplete="off">
                                <input value="update_availability" name="pKEY" type="hidden" class="pkey">
                            </div>
                            <div class="list list-field">
                                <label class="list-field-title">Status Availability</label>
                                <div class="chzn-selecto">
                                    <select name="lstatus" class="chzn-select lstatus" autocomplete="off" style="width:100%;" data-placeholder="Choose actions on date">
                                        <option value=""></option>
                                        <option value="1">Available</option>
                                        <option value="2">Not Available</option>
                                    </select>
                                </div>
                            </div>
                            <div class="list list-field">
                                <label class="list-field-title">Change Rate?</label>
                                <div class="chzn-selecto">
                                    <select name="lrate_change" class="chzn-select lrate_change" autocomplete="off" style="width:100%;">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="list list-field">
                                <label class="list-field-title">Select Rate</label>
                                <div class="chzn-selecto">
                                    <select name="lrate_id" class="chzn-select lrate_id" autocomplete="off" style="width:100%;" disabled>
                                        <option value="">Custom Rate</option>
                                        {lrate_id}
                                    </select>
                                </div>
                            </div>
                            <div class="list">
                                <label>Rate Price</label>
                                <input id="lrate" value="{lrate}" name="lrate" type="text" class="text text-price lrate" data-a-sign="{sign}" autocomplete="off" data-a-sep="." data-a-dec="," data-m-dec="0">
                            </div>
                            <div class="list">
                                <label>No of rooms available</label>
                                <input id="lavailable" value="{lavailable}" name="lavailable" type="text" class="text text-num lavailable" autocomplete="off" data-a-sep="." data-a-dec="," data-m-dec="0" data-a-max="{lallotment}" disabled>
                            </div>
                            <div class="list">
                                <label>No of rooms booked</label>
                                <input id="lbooked" value="{lbooked}" name="lbooked" type="text" class="text text-num lbooked" autocomplete="off" data-a-sep="." data-a-dec="," data-m-dec="0" data-a-max="{lallotment}" disabled>
                            </div>
                        </div>
                        <div class="button_step_bottom new-bsb" style="float:right;">
                            <input type="submit" value="Confirm Changes" class="button shadow fwbold mt0" name="save_{lpost_id}" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END popupAvailabilityBlock -->