<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<div class="content-body-1020 content-body-1042">
    <div class="header-1020 header-1042">Manage Menu</div>
    {message}
    <div class="content-1042 new-style-content-1024 mtop30">
        <div class="block-flex box-size">
            <div class="mb0 b-left">
                <p class="f14 fwbold mb0">Create a menu<br />
                    <span class="f12 fwnormal">All fields are required</span>
                </p>
            </div>
            <div class="mb0 b-right">
                <p class="f14 fwbold mb0" style="text-align: right;">Search Site Menu<br />
                    <span class="f12 fwnormal">You can fill the box to refine your search.</span>
                </p>
            </div>
            <div class="clear"></div>
            <hr class="style4">
        </div>
        <div class="block-flex box-size">
            <div class="block-mini bw-left">
                <form method="post" enctype="multipart/form-data">
                    <span class="or35"></span>
                    <div class="list">
                        <label>Group</label>
                        <div class="chzn-selecto">
                            <select name="fields[lgroup_id]" class="chzn-select" style="width: 100%;">
                                <option value="0">Select Group Menu</option>
                                {lgroup_id}
                            </select>
                        </div>
                    </div>
                    <div class="list">
                        <label>Title</label>
                        <input value="{lmenu}" name="fields[lmenu]" type="text" class="text" />
                        <input value="{lmenu_id}" name="fields[lmenu_id]" type="hidden" autocomplete="off" />
                    </div>
                    <div class="list">
                        <div class="half-box">
                            <label>Parent</label>
                            <div class="chzn-selecto">
                                <select name="fields[lparent_id]" class="chzn-select" style="width: 100%;">
                                    <option value="0">Root</option>
                                    {lparent_id}
                                </select>
                            </div>
                        </div>
                        <div class="half-box">
                            <label>Order ID</label>
                            <input value="{lorder_id}" name="fields[lorder_id]" type="text" class="text" />
                        </div>
                    </div>
                    <div class="list">
                        <div class="half-box">
                            <label>Type</label>
                            <div class="chzn-selecto">
                                <select name="fields[llink_type]" class="chzn-select link-type" style="width: 100%;">
                                    {llink_type}
                                </select>
                            </div>
                        </div>
                        <div class="half-box">
                            <label>Target</label>
                            <div class="chzn-selecto">
                                <select name="fields[ltarget]" class="chzn-select" style="width: 100%;">
                                    {ltarget}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="append-ajax">
                        <div class="list">
                            <label>URL</label>
                            <input value="{lcustom_url}" name="fields[lcustom_url]" type="text" class="text custom-url" {attr_custom_url} />
                        </div>
                        <div class="list">
                            <label>Modules</label>
                            <div class="chzn-selecto">
                                <select name="fields[lmodule_id]" class="chzn-select list-modules" style="width: 100%;" {attr_module}>
                                    <option value="">Select Modules</option>
                                    {lmodule_id}
                                </select>
                            </div>
                        </div>
                        <div class="list">
                            <label>Applications</label>
                            <div class="chzn-selecto">
                                <select name="fields[lapp_id]" class="chzn-select list-application" style="width: 100%;" {attr_app}>
                                    <option value="">Select Application</option>
                                    {lapp_id}
                                </select>
                            </div>
                        </div>
                        <div class="list">
                            <label>Trigger</label>
                            <input value="{ltrigger}" name="fields[ltrigger]" type="text" class="text trigger-id" style="width: 100%;" {attr_trigger} />
                        </div>
                    </div>
                    {switcher_lang}
                    <a href="{cancel_url}" class="button shadow fwbold {cancel_css}">CANCEL</a>
                    <label for="btn_cta" class="btn-plus-style {btn_style}">
                        <span class="admin-logos"></span>
                        <input name="save" type="submit" value="{action_label}" class="" id="btn_cta">
                    </label>
                </form>
            </div>
            <div class="block-mini bw-right">
                <div class="block-list">
                    <div class="list">
                        <label>Choose Language</label>
                        <div class="chzn-selecto">
                            <select name="llang_id" class="chzn-select" autocomplete="off">
                                {llang_id}
                            </select>
                        </div>
                    </div>
                    <div class="list">
                        <label>Type something</label>
                        <div class="block-flex box-size">
                            <div class="search-wrapp">
                                <input type="text" class="text textstyle search-txt mt10" name="lsearch" placeholder="Search..." autocomplete="off" />
                                <input type="button" class="button shadow fwbold btn-magnifier" />
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn-filter button shadow fwbold" value="FILTER" name="filter">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <hr class="style4">
        <div class="block-full-list">
            <table id="table" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th data-orderable="false">Title</th>
                        <th data-orderable="false">Group</th>
                        <th data-orderable="false" width="125">Parent</th>
                        <th data-orderable="false" width="125">Link type</th>
                        <th data-orderable="false" width="80">Language</th>
                        <th data-orderable="false" width="80">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" id="limit" value="{limit}" autocomplete="off">
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
    <input type="hidden" id="lang" value="{llang}" class="current-lang" autocomplete="off" />
</div>
<!-- END viewContent -->
<!-- END viewBlock -->