<!-- BEGIN formBlock -->
{error}
<!-- BEGIN profileContent -->
<section class="editprof">
    <div class="container flex">
        <div class="profmen">
            <a href="//{panel_url}/profile/" class="actv">Profile</a>
            <a href="//{panel_url}/security/">Login & security</a>
            <a href="//{panel_url}/signout/">Logout</a>
        </div>
        <div class="profcont">
            {message}
            <form class="cutkform flex" method="post" action="" enctype="multipart/form-data">
                <div class="cutleft">
                    <div class="fld flex">
                        <label for="">First name</label>                        
                        <input id="luser_id" type="hidden" name="fields[luser_id]" value="{luser_id}" required />
                        <input type="text" name="fields[lfirstname]" value="{lfirstname}" required />
                    </div>
                    <div class="fld flex">
                        <label for="">Last name</label>
                        <input type="text" name="fields[llastname]" value="{llastname}" required />
                    </div>
                    <div class="fld flex">
                        <label for="">Email</label>
                        <input type="email" name="fields[lemail]" value="{lemail}" required />
                    </div>
                    <div class="fld flex">
                        <label for="">Gender</label>
                        {lgender}
                    </div>
                    <div class="fld flex">
                        <label>Birth date</label>
                        <div class="birthbox flex">
                            <input type="text" name="fields[lbirthdate][month]" value="{lbirthdate_month}" class="mdl" autocomplete="off" placeholder="MM" />
                            <input type="text" name="fields[lbirthdate][day]" value="{lbirthdate_day}" class="mdl" autocomplete="off" placeholder="DD" />
                            <input type="text" name="fields[lbirthdate][year]" value="{lbirthdate_year}" autocomplete="off" placeholder="YYYY" />
                        </div>
                    </div>
                    <div class="fld flex">
                        <label for="labout">About</label>
                        <textarea id="labout" name="fields[labout]" cols="30" rows="10" autocomplete="off">{labout}</textarea>
                    </div>
                    <div class="fld flex">
                        <label for="lphone">Phone</label>
                        <input id="lphone" type="text" name="fields[lphone]" value="{lphone}" autocomplete="off" required />
                    </div>
                    <div class="fld flex {ladditional_field_css}">
                        <label for="lwebsite">Website</label>
                        <input id="lwebsite" type="text" name="fields[lwebsite]" value="{lwebsite}" autocomplete="off" />
                    </div>
                    <div class="fld flex {ladditional_field_css}">
                        <label for="lfacebook">Facebook</label>
                        <input id="lfacebook" type="text" name="fields[lfacebook]" value="{lfacebook}" autocomplete="off" />
                    </div>
                    <div class="fld flex {ladditional_field_css}">
                        <label for="linstagram">Instagram</label>
                        <input id="linstagram" type="text" name="fields[linstagram]" value="{linstagram}" autocomplete="off" />
                    </div>
                    <div class="fld flex">
                        <label for=""></label>
                        <button type="submit" name="save">SAVE</button>
                    </div>
                </div>
                {limage}
            </form>

            <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
        </div>
    </div>
</section>
<!-- END profileContent -->
<!-- BEGIN securityContent -->
<section class="editprof">
    <div class="container flex">
        <div class="profmen">
            <a href="//{panel_url}/profile/">Profile</a>
            <a href="//{panel_url}/security/" class="actv">Login & security</a>
            <a href="//{panel_url}/signout/">Logout</a>
        </div>
        <div class="profcont">
            {message}
            <form class="cutkform flex" method="post" action="">
                <div class="cutleft">
                    <h2 class="titleform">CHANGE PASSWORD</h2>
                    <div class="fld flex">
                        <label class="long" for="lopassword">Old password</label>
                        <input type="hidden" name="fields[luser_id]" value="{luser_id}" required />
                        <input id="lopassword" type="password"name="fields[lopassword]" autocomplete="off" required />
                    </div>
                    <div class="fld flex">
                        <label class="long" for="lpassword">New password</label>
                        <input id="lpassword" type="password"name="fields[lpassword]" autocomplete="off" required />
                    </div>
                    <div class="fld flex">
                        <label class="long" for="lcpassword">Confirm new password</label>
                        <input id="lcpassword" type="password"name="fields[lcpassword]" autocomplete="off" required />
                    </div>
                    <div class="fld flex">
                        <label class="long" for=""></label>
                        <button type="submit" name="save">SAVE</button>
                    </div>
                </div>
            </form>

            <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
        </div>
    </div>
</section>
<!-- END securityContent -->
<!-- END formBlock -->