.booking_print{
    width:auto;
    margin:0;
    padding:0;
}

.print_top{
    margin:0 0 15px 0;
    padding: 0 0 20px 0;
    border-bottom:1px solid #DDDDDD;
}

.print_top_right{
	width:500px;
	float:right;
    margin:23px 0 0 0;
}

.print_top_right h2{
    margin:0;
    padding:0;
    color: #23A8DE;
    font-size:15px;
    text-align:right;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bookingby{
	margin:0;
	padding:0 0 15px 0;
	border-bottom: 1px solid #DDDDDD;
}

.bookingby h4{
	font-weight:bold;
	font-size:18px;
	margin-bottom:10px;
	color:#2D2B79;
    font-weight: none;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bookingby-left{
	width:60%;
	float:left;
}

.bookingby-right{
	width:25%;
	float:right;
}

.bookingby-right-hotel{
	width:35%;
	float:right;
}

.bookingby-left table, .bookingby-right table, .bookingby-right-hotel table{
	color: #868686;
    font-size:13px;
}

.bookingdetails-top{
	margin:10px 0 0 0;
	padding:0;
}

.paddingleft{
	padding-left:10px;
}

.paddingleft5{
	padding-left:5px;
}

.h170{
	height: 170px;
}


.bookingdetails{
	margin:25px 0 20px 0;
	padding:0;
}

.bookingdetailshotel h3{
	margin:0;
	padding:0;
}

.bookingdetailshotel{
	margin:0px 0 0px 0;
	padding:0;
}

.bookingdetails, .bookingdetails-top h4{
	font-weight:bold;
	font-size:18px;
    font-weight:0;
    margin:0 0 0px 0;
	color:#2D2B79;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-header{
	font-size:12px;
    height:15px;
	color:#878787;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr.style6{
	border:none; float:left; height: 1px; width:100%; margin:0px 0 5px 0px; background: #DDDDDD;
}

hr.style2{
	border:none; float:left;
}

.sub-total-acco{
    color:red;
    font-weight:600;
    font-size:14px;
    text-align:right;
    margin-top:10px;
	padding-bottom: 10px;
	margin-bottom:10px;
	border-bottom: 1px solid #DDDDDD;
}

.list-header span.lbl{
	margin:4px 10px;
}

.list-content-box{
	border-bottom: solid 1px #DDDDDD;
}

.list-content-box{
    color: #555555;
}

.list-content{
    padding-top:10px;
    padding-left:5px;
}

.clear{
    clear: both;
}

.pickup{
	margin:0px 0 0px 0;
	padding:0 0 5px 0;
}

.pickup h4{
	font-weight:bold;
	font-size:18px;
	margin-bottom:10px;
	color:#2D2B79;
	padding-bottom:5px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom:1px solid #DDDDDD;
	font-weight: 0;
}

.pickup p{
	color:#878787;
	font-size:13px;
}

h6#desti{
	color:#22A7DE;
	font-weight:bold;
	margin:0;
	padding:0;
	font-size:13px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h6#details{
	font-size:11px;
	font-weight:0;
	margin:0;
	padding:0;
	color:#878787;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.total-box{
	background-color:#F4F4F4;
	border:1px solid #DDDDDD;
	padding:10px 15px;
	margin-top:15px;
	margin-bottom:25px;
}

.total-box h3{
	width:30%;
	color:#545454;
	font-size:16px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float:left;
	font-weight: 0;
	margin:0;
	padding:0;
}

.total-box h2{
	width:30%;
	color:#FF0000;
	font-size:18px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float:right;
	text-align:right;
	margin:0;
	padding:0;
	font-weight: 0;
}

.passenger{
	margin:0;
	padding:0;
}

.passenger h4{
	font-weight:bold;
	font-size:18px;
	color:#2D2B79;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom:1px solid #DDDDDD;
	padding-bottom:15px;
	margin:0;
	font-weight: 0;
}

.passenger-detil{
	padding:10px 0;
}

.passenger-header{
	font-size:11px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#878787;
	float:left;
}

select.select-passenger {
	background-color: #F8F8F8;
	margin-top: 5px;
	height: 36px;
	padding: 5px 10px;
	border: 1px solid #EEEEEE;
    width:80%;
}

input.text-passenger {
	background-color: #F8F8F8;
	margin-top: 5px;
	height: 24px;
	padding: 5px 10px;
    background-position: 4% 50%, right center;
	border: 1px solid #EEEEEE;
    width:80%;
}

.date {
	background-image: url(../../images/icon_date-detail.svg);
	background-repeat:no-repeat;
	margin-top:10px;
}

.wrap-passenger-content{
	border-bottom:1px solid #DDDDDD;
	margin-top:5px;
}

.passenger-content{
	font-size:13px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#333333;
	float:left;
	padding-bottom:10px;
}
