/* CSS Document */
.content-notification h3 {font-size: 24px;font-weight: bold; margin: 10px 0 25px;}
.content-notification .lable {float: left; width: 100px;margin-top: 4px;}
.content-notification .lable.ads {width: 150px;}
.content-notification .dot-2 {float: left; width: 10px;margin-top: 4px;}
.content-notification .input {float: left; width: 440px;}
.content-notification .input input.txt {width:100%;padding: 4px;max-width:429px;}
.content-notification .input select {padding: 4px;}
.content-notification .field {margin-bottom: 10px;}
.content-notification p.title {margin: 20px 0 5px;}
.content-notification .clear{clear:both; float:none;}

.content-notification input.txt-cdr {width: 200px; margin-right: 10px;padding:4px}
.content-notification input.txt-cdr.last-child {margin-right: 0px;}
.content-notification .input .icon-set {background: url(../../images/icon-set.png) no-repeat;float: left;width: 17px;height: 17px;cursor:pointer;}
.content-notification span.icon-set.min {background-position: 0 -92px;margin-top: 6px;float: left;}
.content-notification span.icon-set.plus {background-position: -30px -92px;margin-top: 6px;float: left;}
.content-notification span.icon-set.min.disabled {background-position: 0 -134px; cursor:default;}
.content-notification span.icon-set.plus.disabled {background-position: -30px -134px; cursor:default;}
.error-date-not-available{margin: 10px 2px 0 0;display:none;}

.content-notification span.num-lable {float: left;margin: 6px 10px 0;font-weight: bold;}
.content-notification span.lbl-villa {float: left; margin-top: 5px; margin-right: 20px;}
.content-notification .input.ads {width: 100%;/* margin-left: 25px; */}
.content-notification .input.ads span.lbl-villa {float:left;margin: 5px 15px 4px 24px;}
.content-notification .input.ads span.icon-set.min {margin-left:15px;}
.content-notification .input.ads span.num-lable {margin-bottom: 0px;}
.content-notification .lbl-num{margin-top: 6px;text-align: right;}
.content-notification .lbl-price{float:right; margin-top:6px;}
.content-notification span.lbl-desc {float: left; margin: 6px 15px 0; font-size: 12px;}
.content-notification div#total-cont {text-align: right;margin-top: 40px; border-top: dashed 3px;padding-top: 20px;}

.content-notification b.total{font-size: 18px;}
.overlay-ajax-edit-booking {position: absolute; top: 15px; left: 15px; bottom: 15px; right: 15px; background: url(../../images/loader-medium-black.GIF) rgba(0,0,0,1) center center no-repeat; z-index: 99; opacity:0.5; display:none;}
.content-notification .lbl-num.tal{text-align:left;}

.content-notification .notify {margin-top: 15px; border: solid 1px; padding: 5px; text-align: center; display:none;}
.content-notification .notify.success {border-color: #23BA47;background: #D5FFC3;}
.content-notification .notify.error {background: #FFCBCB;border-color: #FC0000;}

