/* CSS Document */
.content-notification h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 25px;
}

.content-notification h4 {
    margin: 0 0 20px 0;
    padding: 0px;
    font-size: 25px;
    letter-spacing: 1px;
}

.content-notification h5 {
    width: 145px;
    font-size: 13px;
    letter-spacing: 1px;
    background: url('../../images/location.png') no-repeat;
}

.content-notification .lable {
    float: left;
    width: 100px;
    margin-top: 4px;
}

.content-notification .lable.ads {
    width: 150px;
}

.content-notification .dot-2 {
    float: left;
    width: 10px;
    margin-top: 4px;
}

.content-notification .input {
    float: left;
    width: 440px;
}

.content-notification .input input.txt {
    width: 100%;
    padding: 4px;
    max-width: 429px;
}

.content-notification .input select {
    padding: 4px;
}

.content-notification .field {
    margin-bottom: 10px;
}

.content-notification p.title {
    margin: 20px 0 5px;
}

.content-notification .clear {
    clear: both;
    float: none;
}

.content-notification input.txt-cdr {
    width: 200px;
    margin-right: 10px;
    padding: 4px
}

.content-notification input.txt-cdr.last-child {
    margin-right: 0px;
}

.content-notification .input .icon-set {
    background: url(../../images/icon-set.png) no-repeat;
    float: left;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.content-notification span.icon-set.min {
    background-position: 0 -92px;
    margin-top: 6px;
    float: left;
}

.content-notification span.icon-set.plus {
    background-position: -30px -92px;
    margin-top: 6px;
    float: left;
}

.content-notification span.icon-set.min.disabled {
    background-position: 0 -134px;
    cursor: default;
}

.content-notification span.icon-set.plus.disabled {
    background-position: -30px -134px;
    cursor: default;
}

.error-date-not-available {
    margin: 10px 2px 0 0;
    display: none;
}

.content-notification span.num-lable {
    float: left;
    margin: 6px 10px 0;
    font-weight: bold;
}

.content-notification span.lbl-villa {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

.content-notification .input.ads {
    width: 100%;
    /* margin-left: 25px; */
}

.content-notification .input.ads span.lbl-villa {
    float: left;
    margin: 5px 15px 4px 24px;
}

.content-notification .input.ads span.icon-set.min {
    margin-left: 15px;
}

.content-notification .input.ads span.num-lable {
    margin-bottom: 0px;
}

.content-notification .lbl-num {
    margin-top: 6px;
    text-align: right;
}

.content-notification .lbl-price {
    float: right;
    margin-top: 6px;
}

.content-notification span.lbl-desc {
    float: left;
    margin: 6px 15px 0;
    font-size: 12px;
}

.content-notification div#total-cont {
    text-align: right;
    margin-top: 40px;
    border-top: dashed 3px;
    padding-top: 20px;
}

.content-notification b.total {
    font-size: 18px;
}

.overlay-ajax-edit-booking {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    background: url(../../images/loader-medium-black.GIF) rgba(0, 0, 0, 1) center center no-repeat;
    z-index: 99;
    opacity: 0.5;
    display: none;
}

.content-notification .lbl-num.tal {
    text-align: left;
}

.content-notification .notify {
    margin-top: 15px;
    border: solid 1px;
    padding: 5px;
    text-align: center;
    display: none;
}

.content-notification .notify.success {
    border-color: #23BA47;
    background: #D5FFC3;
}

.content-notification .notify.error {
    background: #FFCBCB;
    border-color: #FC0000;
}

.top-title{
    margin-top:70px; color:#22A7DE;
	padding-bottom:15px;
	border-bottom: 1px solid #DDDDDD;
}

.top-title-detil{
    margin-top:70px; color:#22A7DE;
	padding-bottom:15px;
	border-bottom: 1px solid #DDDDDD;
}

.top-title-detil h4{
    font-size:16px;
    margin-bottom:10px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	float:left;
}

.top-title h4{
    font-size:16px;
    margin-bottom:10px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	float:left;
}

.top-title form{
    float:right;
}

input.btn-print{
    font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	float:right;
	padding:10px 35px 10px 55px;
	color:#878787;
	text-decoration:none;
	background-color:#EEEEEE;
    background-image: url('../../images/icon_print.png');
    background-repeat: no-repeat;
    background-position: 30% 50%;
    border:none;
    cursor: pointer;
}

.top-title a{
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	float:right;
	padding:5px 35px;
	color:#878787;
	text-decoration:none;
	background-color:#EEEEEE;
}

.editmybooking{
    float:right;
    color:#2D2B79;
    font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
}

.editmybooking a{
    float:left; margin-top:7px; margin-left:5px;
    color:#878787;
    text-decoration: none;
    background-color: #FFFFFF;
}

.top-title img{
	margin-right:5px;
	margin-top:5px;
}

.top-title-detil img{
    margin-right:5px;
	margin-top:5px;
}

.bookingby{
	margin:15px 0;
	padding:0 0 15px 0;
	border-bottom: 1px solid #DDDDDD;
}

.bookingby h4{
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
	color:#2D2B79;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bookingby-left{
	width:60%;
	float:left;
}

.bookingby-right{
	width:30%;
	float:right;
}

.bookingby-right-edit{
	width:40%;
	float:right;
}

.bookingby-left, .bookingby-right table{
	color: #868686;
}

.bookingdetails{
	margin:25px 0 20px 0;
	padding:0;
}

.bookingdetails h4{
	font-weight:bold;
	font-size:16px;
	color:#2D2B79;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-header{
	/*font-size:11px;*/
	color:#878787;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font11{
    font-size:11px;
}

hr.style6{
	border:none; float:left; height: 1px; width:100%; margin:15px 0 5px 0px; background: #DDDDDD;
}

.list-header span.lbl{
	margin:4px 10px;
}

.list-content-box{
	border-bottom: solid 1px #DDDDDD;
}

.pickup{
	margin:25px 0 20px 0;
	padding:0 0 5px 0;
}

.pickup h4{
	font-weight:bold;
	font-size:16px;
	color:#2D2B79;
	padding-bottom:10px;
	margin-bottom:10px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom:1px solid #DDDDDD;
}

h6#desti{
	color:#22A7DE;
	font-weight:bold;
	font-size:13px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h6#details{
	font-size:11px;
	color:#878787;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.total-box{
	background-color:#F4F4F4;
	border:1px solid #DDDDDD;
	padding:15px;
	margin-bottom:25px;
    margin-top: 15px;
}

.total-box h3{
	width:30%;
	color:#545454;
	font-size:16px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float:left;
	font-weight: bold;
}

.total-box h2{
	width:30%;
	color:#FF0000;
	font-size:18px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float:right;
	text-align:right;
	font-weight: bold;
}

.passenger{
	margin:0;
	padding:0;
}

.passenger h4{
	font-weight:bold;
	font-size:16px;
	color:#2D2B79;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom:1px solid #DDDDDD;
	padding-bottom:15px;
}

.passenger-detil{
	padding:10px 0;
}

.passenger-header{
	font-size:11px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#878787;
	float:left;
}

select.select-passenger {
	background-color: #F8F8F8;
	margin-top: 5px;
	height: 36px;
	padding: 5px 10px;
	border: 1px solid #EEEEEE;
    width:80%;
}

input.text-passenger {
	background-color: #F8F8F8;
	margin-top: 5px;
	height: 24px;
	padding: 5px 10px;
    background-position: 4% 50%, right center;
	border: 1px solid #EEEEEE;
    width:80%;
}

.date {
	background-image: url(../../images/icon_date-detail.svg);
	background-repeat:no-repeat;
	margin-top:10px;
}

.birthday {
	background-image: url(../../images/icon_date-detail.svg);
	background-repeat:no-repeat;
	margin-top:10px;
}

.wrap-passenger-content{
	border-bottom:1px solid #DDDDDD;
    margin-bottom:10px;
}

.passenger-content{
	font-size:13px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#333333;
	float:left;
	margin-top:3px;
	padding-bottom:10px;
}


.cancel{
    width:150px;
	background-color:#F4F4F4;
	padding:10px 20px;
	text-align: center;
	float: left;
	margin-top:15px;
    border:1px solid #DDDDDD;
}

.cancel_disabled{
    width:150px;
	background-color:#ffffff;
	padding:10px 20px;
	text-align: center;
	float: left;
	margin-top:15px;
    border:1px solid #EEEEEE;
    cursor: no-drop;
}

.cancel a{
	color:#333333;
	text-decoration: none;
    font-style: italic;
	font-size:15px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cancel_disabled a{
	color:#AAAAAA;
	text-decoration: none;
    font-style: italic;
	font-size:15px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: no-drop;
}

button.btn-save-change{
    width:150px;
	background-color:#FFA348;
	padding:12px 20px 13px;
	text-align: center;
	float: right;
	margin-top:15px;
    color:#FFFFFF;
    cursor: pointer;    
    border:none;
}


.sendmail{  
	width:120px;
	background-color:#FFA348;
	padding:10px 20px;
	text-align: center;
	float: right;
	margin-top:15px;
    color:#FFFFFF;
    cursor: pointer;
}

.sendmail a{
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size:13px;
}

.sendmail_disbled{  
	width:120px;
	background-color:#ffffff;
	padding:10px 20px;
	text-align: center;
	float: right;
	margin-top:15px;
    border:1px solid #EEEEEE;
    cursor:no-drop;
}

input.sendmailbutton{
	color:#fff;
	text-decoration: none;
	font-size:15px;
	letter-spacing: 1px;
	font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background:none;
    border:none;
}

.box-overflow{
    overflow-y: scroll; margin-top:-60px; height:830px; padding:20px 40px;
}

.box-pricee {
    background-color: #2F2C7B;
    color: #fff;
    padding: 20px 60px;
}

.box-pricee h4{
    margin:0px; color:#F4F4F4; float:left; font-weight:none; font-size:14px; font-family: 'Open Sans';
}
.box-pricee h1{
    float:right; font-size:24px;
}

.box-form-booking{
    background-color:#F4F4F4;
    border-bottom:1px solid #DDDDDD;
    padding:20px 50px;
}


#btn_add_booking{
    background-color:#23A8DE;
    border:none;
    color:#fff;
    padding:8px 30px;
    height:40px;
    margin:13px 0 0 20px;
    font-weight:bold;
}

.fixed_price{
    position:fixed;
    top:9.2%;
    width:680px;
    z-index:400;
}

.box-overflow input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    height:25px;
}   

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /* background: #FF0000; */
    background: transparent;
}

.container-hotel-booking{
    margin:0;
    padding:0;
}

.container-hotel-booking h3{
    background-image: url("../../images/icon_hotel.png");
    background-size: 14px 16px;
    background-repeat: no-repeat;
    padding-left:25px;
    margin:5px 0 0 0;
    font-size:13px;
    color:#545454;
    font-weight: bold;
}

.h160{
	height:160px;
}

.fright{
    float:right;
}


.delete_book{
    float: right;
	background-image: url("../../../templates/images/icon_delete_book.png");
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	margin: 5px 0 0 0;
	padding: 0;
	cursor: pointer;
}

.marright10{
    margin-right: 10px;
}
.marright15{
    margin-right: 15px;
}
.martop10{
    margin-top: 10px;
}


.btn-add-room{
    background-color: #FFFFFF;
    border:1px solid #DDDDDD;
    font-size:12px;
    color:#535353;
    padding:5px 15px;
    float:right;
    cursor: pointer;
    margin-bottom:10px;
}



.btn-add-hotel{
    background-color: #FFFFFF;
    border:1px solid #DDDDDD;
    font-size:13px;
    color:#535353;
    padding:11px 15px;
    float:left;
    cursor: pointer;
    margin-bottom:10px;
    margin-top:5px;
}

.add-service {
	padding:0;
    margin:5px 0 0 0;
}

.add-check {
	float: left;
	width: 15px;
	height: 15px;
	border: 1px solid #555555;
	cursor: pointer;
}

.add-check-disable{
	float: left;
	width: 15px;
	height: 15px;
	border: 1px solid #EEEEEE;
	cursor: no-drop;
	background-color: #F8F8F8;
}

.check-add-service {
	float: left;
	margin-left: 3px;
	width: 16px;
	margin-top: -4px;
	display: none;
}

.check-add-service.show {
	display: block;
}

.add-text {
	float: left;
	color: #545454;
	font-size: 12px;
	font-family: 'Open sans';
	font-weight: 500;
	padding-left: 10px;
    padding-top:2px;
}

.h195{ height:195px; }
.h230{ height: 230px; }

.error center p{
    text-shadow: 0 0 0!important;
}

p.num_room_book{
   color:#777777; margin-top:0px; font-size:12px; float:left;
}

input.num_room_css{
    background-color: #F8F8F8;
	margin-top: 5px;
	padding: 5px 0px 5px 10px;
	border: 1px solid #EEEEEE;
    width:40px;
    font-size:11px;
}

input.count_passenger{
    background-color: #F8F8F8;
	margin-top: 5px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #EEEEEE;
    width:30px;
    height:25px;
    font-size:11px;
}

input.count_passenger1{
    background-color: #FFFFFF;
	margin-top: 5px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #DDDDDD;
    width:30px;
    height:25px;
    font-size:11px;
}

input.date_room_css{
    background-color: #F8F8F8;
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #EEEEEE;
    width:80px;
    background-image: url(../../images/icon44.png);
    background-repeat: no-repeat;
    background-position: 95% 50%, right center;
    cursor: pointer;
}


.sub-total-acco{
    color:red;
    font-weight:600;
    font-size:14px;
    float:right;
    margin-top:10px;
}

.display_none{
    display: none;
}

.mbottom11{
    margin-bottom: 11px;
}

.select-more-room{
    background-color: #F8F8F8;
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #CCCCCC;
    width:220px;
    font-size:13px;
    color:#333333;
}

.selectize_tour{
    font-size:11px;
}

.h140{
    height:140px;
}

.select-more-hotel{
	margin-top: 5px;
    width:195px;
    font-size:13px;
    color:#333333;
}

.select-more-disabled{
    background-color: #F8F8F8;
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #F4F4F4;
    width:220px;
    font-size:13px;
    color: #DDDDDD;
}

.num-room-more{
    background-color: #F8F8F8;
	margin-top: 5px;
	padding: 11px 10px;
	border: 1px solid #CCCCCC;
    width:130px;
    font-size:13px;
    color:#333333;
    margin-right:10px;
}

.check-in-more, .check-out-more{
    background-color: #F8F8F8;
	margin-top: 5px;
	padding: 11px 10px;
	border: 1px solid #CCCCCC;
    width:172px;
    color:#333333;
    font-size:13px;
    margin-right:10px;
    padding-left: 30px;
    background-image: url(../../images/icon_date-detail.svg);
    background-repeat: no-repeat;
    background-position: 2%, 0%;
}

