/* CSS Document */


/*TABLE CSS*/

.container-table-cancelation {
	float: left;
	width: 100%;
	display: table;
}

.container-table-cancelation .container-row {
	display: table-row;
}

.container-table-cancelation .container-row .container-column {
	color: #333333;
	display: table-cell;
	font-family: 'Open sans';
	font-size: 15px;
	font-weight: 400;
	border-left: 1px solid rgba(221, 221, 221, 0.3);
	padding: 5px;
	text-align:center;
}

.container-table-cancelation .container-row .container-column.header-table {
	background-color: #2F2C7B;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding:10px 0;
	vertical-align: middle;
}

.container-table-cancelation .container-row .container-column:nth-child(1) {
	border-left: none;
}

.content-notification h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0 25px;
}

.content-notification h4 {
	margin: 0 0 20px 0;
	padding: 0px;
	font-size: 25px;
	letter-spacing: 1px;
}

.content-notification h5 {
	width: 145px;
	font-size: 13px;
	letter-spacing: 1px;
	background: url('../../images/location.png') no-repeat;
}

.content-notification .lable {
	float: left;
	width: 100px;
	margin-top: 4px;
}

.content-notification .lable.ads {
	width: 150px;
}

.content-notification .dot-2 {
	float: left;
	width: 10px;
	margin-top: 4px;
}

.content-notification .input {
	float: left;
	width: 440px;
}

.content-notification .input input.txt {
	width: 100%;
	padding: 4px;
	max-width: 429px;
}

.content-notification .input select {
	padding: 4px;
}

.content-notification .field {
	margin-bottom: 10px;
}

.content-notification p.title {
	margin: 20px 0 5px;
}

.content-notification .clear {
	clear: both;
	float: none;
}

.content-notification input.txt-cdr {
	width: 200px;
	margin-right: 10px;
	padding: 4px
}

.content-notification input.txt-cdr.last-child {
	margin-right: 0px;
}

.content-notification .input .icon-set {
	background: url(../../images/icon-set.png) no-repeat;
	float: left;
	width: 17px;
	height: 17px;
	cursor: pointer;
}

.content-notification span.icon-set.min {
	background-position: 0 -92px;
	margin-top: 6px;
	float: left;
}

.content-notification span.icon-set.plus {
	background-position: -30px -92px;
	margin-top: 6px;
	float: left;
}

.content-notification span.icon-set.min.disabled {
	background-position: 0 -134px;
	cursor: default;
}

.content-notification span.icon-set.plus.disabled {
	background-position: -30px -134px;
	cursor: default;
}

.error-date-not-available {
	margin: 10px 2px 0 0;
	display: none;
}

.content-notification span.num-lable {
	float: left;
	margin: 6px 10px 0;
	font-weight: bold;
}

.content-notification span.lbl-villa {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}

.content-notification .input.ads {
	width: 100%;
	/* margin-left: 25px; */
}

.content-notification .input.ads span.lbl-villa {
	float: left;
	margin: 5px 15px 4px 24px;
}

.content-notification .input.ads span.icon-set.min {
	margin-left: 15px;
}

.content-notification .input.ads span.num-lable {
	margin-bottom: 0px;
}

.content-notification .lbl-num {
	margin-top: 6px;
	text-align: right;
}

.content-notification .lbl-price {
	float: right;
	margin-top: 6px;
}

.content-notification span.lbl-desc {
	float: left;
	margin: 6px 15px 0;
	font-size: 12px;
}

.content-notification div#total-cont {
	text-align: right;
	margin-top: 40px;
	border-top: dashed 3px;
	padding-top: 20px;
}

.content-notification b.total {
	font-size: 18px;
}

.overlay-ajax-edit-booking {
	position: absolute;
	top: 15px;
	left: 15px;
	bottom: 15px;
	right: 15px;
	background: url(../../images/loader-medium-black.GIF) rgba(0, 0, 0, 1) center center no-repeat;
	z-index: 99;
	opacity: 0.5;
	display: none;
}

.content-notification .lbl-num.tal {
	text-align: left;
}

.content-notification .notify {
	margin-top: 15px;
	border: solid 1px;
	padding: 5px;
	text-align: center;
	display: none;
}

.content-notification .notify.success {
	border-color: #23BA47;
	background: #D5FFC3;
}

.content-notification .notify.error {
	background: #FFCBCB;
	border-color: #FC0000;
}

.close-detail-hotel {
	width: 23px;
	height: 20px;
	right: -10px;
	background: url(../../images/icon21.png) left no-repeat #EEEEEE;
	background-position: center 5px;
	background-size: 10px;
	border: solid 1px #fff;
	padding: 0 0px 1px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	cursor: pointer;
}

.top-button {
	background-color: #FFF;
	color: #525252;
	font-size: 16px;
	top: 72px;
	position: relative;
	font-weight: 600;
	padding: 0 15px;
}

.top-button-left {
	width: 150px;
	float: left;
}

.top-button-right {
	width: 25px;
	float: right;
}

.top-title {
	position: relative;
	top: 100px;
	z-index: 500;
	color: #fff;
}

.top-title-room {
	position: relative;
	top: 120px;
	z-index: 500;
	color: #fff;
}

.top-title h4,
.top-title-room h4 {
	font-size: 24px;
	margin-bottom: 10px;
	font-family: 'Open Sans';
	color: #ffffff;
	font-weight: 400;
}

.top-title h5,
.top-title-room h5 {
	font-size: 14px;
	font-family: 'Open Sans';
	color: #ffffff;
	font-weight: 100;
	margin: 0px;
	padding: 0px;
}

.box-overflow {
	overflow: auto;
	margin-top: -60px;
	height: 830px;
}

.box-pricee {
	background-color: #2F2C7B;
	color: #fff;
	padding: 20px 60px;
}

.box-pricee h4 {
	margin: 0px;
	color: #F4F4F4;
	float: left;
	font-weight: none;
	font-size: 14px;
	font-family: 'Open Sans';
}

.box-pricee h1 {
	float: right;
	font-size: 24px;
	font-family: 'Open Sans';
	font-weight: 500;
}

.box-form-booking {
	background-color: #F4F4F4;
	border-bottom: 1px solid #DDDDDD;
	padding: 20px 50px;
}

.form_book1 {
	width: 45%;
	margin-top: 5px;
	float: left;
}

.form_book1 label {
	text-align: left;
	width: 100%;
	margin-left: 0px;
}

.form_book2 {
	width: 30%;
	margin-top: 5px;
	float: left;
}

.form_book2 label {
	text-align: left;
	width: 100%;
	margin-left: 0px;
}

.form_book3 {
	width: 26.3%;
	margin-top: 5px;
	float: left;
}

.form_book3 label {
	text-align: left;
	width: 100%;
	margin-left: 0px;
}

.form_book4 {
	width: 21.5%;
	margin-top: 5px;
	float: left;
}

.form_book4 label {
	text-align: left;
	width: 100%;
	margin-left: 0px;
}

.date, .datebookpop {
	background-image: url(../../images/icon_date-detail.svg);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 50px;
}

.checkin,
.checkout {
	background-image: url(../../images/icon_date-detail.svg);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 50px;
}

#btn_add_booking {
	background-color: #23A8DE;
	border: none;
	color: #fff;
	height: 36px;
	width: 93%;
	margin: 13px 0 0 0;
	font-weight: bold;
	cursor: pointer;
}

.btn_add_booking {
	background-color: #23A8DE;
	border: none;
	color: #fff;
	height: 36px;
	width: 93%;
	margin: 13px 0 0 0;
	font-weight: bold;
	cursor: pointer;
}

.chzn-selecto .chzn-container {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	width: 280px;
	margin: 5px 0px;
	float: left;
	margin-left: 0px;
}

.chzn-selecto.ml0 .chzn-container {
	margin-left: 0px;
}

.chzn-selecto.mt0 .chzn-container {
	margin-top: 0px;
}

.chzn-selecto.ml5 .chzn-container {
	margin-left: 5px;
}

.chzn-selecto.ml10 .chzn-container {
	margin-left: 10px;
}

.chzn-selecto.ml15 .chzn-container {
	margin-left: 15px;
}

.chzn-selecto.mtb0 .chzn-container {
	margin-top: 0px;
	margin-bottom: 0px;
}

.chzn-selecto.m0 .chzn-container {
	margin: 0px;
}

.chzn-selecto.inline .chzn-container-single .chzn-single,
.chzn-selecto.inline .chzn-container {
	height: 30px;
}

.chzn-selecto.inline .chzn-container-single .chzn-single span {
	border: none;
}

.chzn-selecto.inline .chzn-container-single .chzn-drop {
	top: 26px;
}

.chzn-selecto.cus1 .chzn-container {
	margin-left: 24px;
	margin-top: 10px;
	width: 120px;
}

.chzn-selecto2 .chzn-container {
	margin: 0px;
}

.chzn-selecto3 .chzn-container {
	margin-left: 0px;
}

.chzn-selecto .chzn-container-single .chzn-search {
	/*display:none;
	border: medium none;
    height: 0 !important;
    opacity: 0;
    padding: 0;
    top: 0;*/
}

.chzn-selecto .chzn-container-single .chzn-drop {
	margin-top: 2px;
}

.chzn-selecto .chzn-container .chzn-results {
	margin: 0px;
	padding: 0px;
	max-height: 350px;
	max-height: 450px;
}

.chzn-selecto .chzn-container .chzn-results .active-result {
	border: none;
	padding: 10px;
	border-top: 1px solid #AAAAAA;
	font-size: 12px;
}


/*.chzn-selecto .chzn-container .chzn-results .active-result.result-selected,
.chzn-selecto .chzn-container .chzn-results .active-result:hover{
	background:FFA348;
	color:#FFF;
	text-shadow:none;
}*/

.chzn-selecto .chzn-container .chzn-results .active-result.result-selected:hover,
.chzn-selecto .chzn-container .chzn-results .active-result.result-selected.highlighted,
.chzn-selecto .chzn-container .chzn-results .active-result:hover {
	background: FFA348;
	color: #fff;
	text-shadow: none;
}

.chzn-selecto .chzn-container .chzn-results .active-result.result-selected {
	color: #000;
}

.chzn-selecto .chzn-container-single .chzn-single div {
	background: none;
	height: 33px;
	width: 30px;
	background-position: -134px 0;
	border: solid 1px #ccc;
	border-left: none;
	background-color: #fff;
}

.chzn-selecto .chzn-container-single .chzn-single div.clear {
	opacity: 0;
}

.chzn-selecto .chzn-container-single .chzn-single div b {
	background: url(../../images/admin-logos.png) no-repeat;
	background-position: -143px -12px;
	width: 14px;
	height: 10px;
	margin: 12px 9px;
}

.chzn-selecto .chzn-container-single .chzn-single.chzn-single-with-drop div {
	background-position: 0 -60px;
	background-position: 0px -40px;
}


/*.chzn-selecto .chzn-container-single .chzn-single span{border: 1px solid #BDBDBD;  padding-bottom: 2px;   padding-top: 2px;font-size:12px;}*/

.chzn-selecto .chzn-container-single .chzn-single span {
	border: 1px solid #ccc;
	border-right: none;
	padding-bottom: 4px;
	padding-top: 5px;
	font-size: 14px;
	background: #fff;
	font-weight: 300;
}

.chzn-selecto .chzn-container-single .chzn-single span.selecterror {
	background: #FFDDDD;
}

.chzn-selecto .chzn-container-single .chzn-single {
	color: #333333;
	border-right: none;
	padding: 0px;
}

.chzn-selecto .chzn-container.chzn-container-single.selecterror .chzn-single span {
	border-color: #FF4000;
}

.chzn-selecto .chzn-container.chzn-container-single.selecterror .chzn-single div {
	border-color: #FF4000;
}

.country-member-add.chzn-selecto .chzn-container {
	margin-left: 0px;
	float: none;
	margin: 3px 0 0 0;
}

.chzn-selecto.country-member-add {
	float: left;
	width: 100%;
	margin: 10px 0 20px 0;
}

.chzn-selecto-section .chzn-container {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	width: 280px;
	margin: 5px 0px;
	float: left;
	margin-left: 25px;
}

.chzn-selecto-section .chzn-container .chzn-results {
	width: 120px;
}

.chzn-selecto-section .chzn-container-single .chzn-drop {
	border-radius: 0 0 0 0;
	border-right: 0 none;
	width: 106px !important;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result,
.chzn-selecto-section .chzn-container .chzn-results .active-result.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result:hover {
	width: 52px;
	height: 30px;
	float: left;
	padding: 0px;
	text-indent: -9999px;
	overflow: hidden;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result:first-child {
	display: none;
}

.chzn-selecto-section .chzn-container-single .chzn-single span {
	background: url(../../images/icon188.png) left no-repeat;
	padding-left: 52px;
	background-position: 5px 4px;
}

.chzn-selecto.chzn-selecto-section .chzn-container-single .chzn-single span.selecterror {
	background: url(../../images/icon188.png) left no-repeat #FFDDDD;
	background-position: 5px 4px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-1 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -8px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-2 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -164px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-3 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -39px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-4 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -195px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-5 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -70px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-6 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -226px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-7 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -101px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-8 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -257px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-9 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -132px;
}

.chzn-selecto-section .chzn-container-single .chzn-single span.selected-section-10 {
	background: url(../../images/icon187.png) left no-repeat;
	background-position: -1px -288px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-1 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -7px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-1.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-1:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -7px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-2 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -163px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-2.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-2:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -163px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-3 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -38px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-3.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-3:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -38px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-4 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -194px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-4.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-4:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -194px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-5 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -69px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-5.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-5:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -69px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-6 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -225px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-6.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-6:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -225px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-7 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -100px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-7.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-7:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -100px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-8 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -256px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-8.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-8:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -256px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-9 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -131px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-9.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-9:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -131px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-10 {
	background: url(../../images/icon187.png) left no-repeat;
	border-right: solid 1px #AAA;
	background-position: -1px -287px;
}

.chzn-selecto-section .chzn-container .chzn-results .active-result-10.result-selected,
.chzn-selecto-section .chzn-container .chzn-results .active-result-10:hover {
	background: url(../../images/icon187.png) left no-repeat #EA4B12;
	border-right: solid 1px #AAA;
	background-position: -1px -287px;
}

.chzn-selecto.chzn-selecto-action .chzn-container-single .chzn-drop {
	border-radius: 0 0 0 0;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results {
	padding: 5px;
	padding-bottom: 2px;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result {
	padding: 5px;
	background: url(../../images/bgline6.jpg) top repeat-x;
	border-top: 0px;
	margin-bottom: 3px;
	padding-top: 8px;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:nth-child(1).result-selected,
.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:nth-child(1):hover {
	background: #F4F4F4 !important;
	color: #333;
	text-shadow: none;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:nth-child(2).result-selected,
.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:nth-child(2):hover {
	background: url(../../images/bgline6.jpg) top repeat-x #008BEA;
	color: #FFF;
	text-shadow: none;
	x
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:nth-child(3).result-selected,
.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:nth-child(3):hover {
	background: url(../../images/bgline6.jpg) top repeat-x #F36200;
	color: #FFF;
	text-shadow: none;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:first-child {
	background: none;
	padding-top: 5px;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result.result-selected,
.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:hover {
	background: url(../../images/bgline6.jpg) top repeat-x #EA4B12;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:first-child.result-selected,
.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:first-child:hover {
	background: #EA4B12;
}


/*CSS Tour Detail*/

.container-cover-detail {
	position: relative;
	float: left;
	z-index: 0;
	width: 100%;
	height: 520px;
	margin-top: 73px;
	background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%), url(../images/detail-tour-bg2.jpg);
	background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%), url(../images/detail-tour-bg2.jpg);
	background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%), url(../images/detail-tour-bg2.jpg);
	background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%), url(../images/detail-tour-bg2.jpg);
	background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%), url(../images/detail-tour-bg2.jpg);
	background-repeat: repeat, no-repeat;
	background-size: 100% 100%, cover;
	background-position: 0% 0%, center center;
	background-attachment: scroll, scroll;
}

.container-cover-detail-content {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	z-index: 0;
	width: 66.0416666666%;
	max-width: 1068px;
	margin: 0 auto;
}

.container-cover-detail-content .title {
	float: left;
	width: 50%;
	padding-bottom: 20px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	font-size: 16px;
}

.container-cover-detail-content .line {
	float: left;
	clear: both;
	width: 3%;
	height: 2px;
	background-color: rgb(222, 222, 222);
	margin: 0;
}

.container-cover-detail-content .text {
	float: left;
	clear: both;
	width: 60%;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.2;
	color: rgb(255, 255, 255);
}

.container-see-all-image {
	float: left;
	clear: both;
	width: 30%;
	padding-top: 2px;
}

.image-see-all {
	display: block;
	height: auto;
	overflow: hidden;
	float: left;
	width: 21px;
}

.text-all {
	float: left;
	padding-left: 15px;
	font-size: 14px;
	font-weight: 400;
	color: rgb(255, 255, 255);
}

.tour-list-left {
	float: left;
	width: 65.7473453426%;
	margin-left: -0.06054%;
}

.tour-list-right {
	float: left;
	width: 31.5288535479%;
	margin-left: 2.7831%;
}

.container-tab {
	float: left;
	width: 100%;
	padding-top: 30px;
}

.container-tab .tab-text {
	display: block;
	float: left;
	width: 28%;
	margin-left: 0.79634%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: rgb(238, 238, 238);
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	text-align: center;
	color: #555555;
	font-size: 16px;
	cursor: pointer;
}

.container-tab .active {
	border-top: 1px solid rgb(224, 224, 224);
	border-right: 1px solid rgb(224, 224, 224);
	border-left: 1px solid rgb(224, 224, 224);
	color: rgb(33, 30, 114);
	font-weight: 700;
	background-color: #ffffff;
}

.container-overview {
	float: left;
	clear: both;
	width: 100%;
	margin-left: -0.01742%;
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(238, 238, 238);
}

.container-review {
	float: left;
	width: 99.9825831653%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.container-star-review {
	float: left;
	width: 195px
}

.container-star {
	float: left;
	width: 98px;
	margin-top: 3px;
}

.container-star img:first-child {
	margin-left: 0
}

.image-star {
	display: block;
	height: auto;
	overflow: hidden;
	width: 13px;
	margin-left: 8.13138%;
	float: left
}

.text-review {
	float: left;
	padding-left: 15px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 400;
	color: #000
}

.container-people {
	float: left;
	width: 132px;
	padding-left: 10px;
	border-left: 1px solid #DDDDDD;
}

.people-num {
	float: left;
	font-family: Helvetica;
	font-weight: 700;
	color: #211e72;
}

.container-duration {
	float: left;
	width: 150px;
	margin-left: 0.02987%;
	padding-left: 10px;
	border-left: 1px solid #DDDDDD;
}

.duration-num {
	float: left;
	font-family: Helvetica;
	font-weight: 700;
	color: rgb(33, 30, 114);
	background-position: left center;
}

.container-overview-text {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.container-overview-text h1, .container-overview-text h2, .container-overview-text h3, .container-overview-text h4, .container-overview-text h5, .container-overview-text h6{
	margin-bottom:10px;
}


.container-overview-text p {
	margin-bottom: 10px;
}

.container-overview-text em{
	font-style: italic;
}

.container-overview-text strong{
	font-weight: bold;
}

.container-overview-text ul{
	margin:0 0 10px 20px;
	padding:0px;
}

.container-overview-text ul li{
	list-style-type: circle;
}

.container-overview-text ol{
	margin:0 0 10px 15px;
	padding:0px;
}

.container-overview-text ol li{
	list-style-type: decimal;
}

.container-overview-text table, .container-desc-content table{
	width:100%!important;
	margin-bottom: 10px;
}

.container-overview-text table tr:nth-child(1) , .container-desc-content table tr:nth-child(1){
	background-color:#2F2C7B;
	padding:10px 5px;
}

.container-overview-text table tr:nth-child(1) td, .container-desc-content table tr:nth-child(1) td{
	padding:10px 5px!important;
	color:#FFF!important;
}

.container-overview-text table tr td, .container-desc-content table tr td{
	padding:10px 5px!important;
	color:#000;
	border-bottom:1px solid #2F2C7B;
}

.overview-text {
	float: left;
	width: 100%;
	line-height: 1.5;
	color: #333333;
	font-weight: 100;
	font-size: 16px;
}

.container-advantage {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 1px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.container-advantage-list {
	float: left;
	width: 100%;
}

.container-advantage-list div:first-child {}

.advantage-list {
	float: left;
	width: 43%;
	padding-left: 27px;
	padding-right: 15px;
	line-height: 1.3;
	color: #333333;
	background: url(../../images/icon_check.svg) no-repeat;
	font-size: 16px;
	font-weight: 100;
	padding-bottom: 10px;
}

.container-desc {
	float: left;
	clear: both;
	width: 100%;
}

.container-desc-icon {
	float: left;
	width: 99.9825831653%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(238, 238, 238);
}

.desc-icon {
	position: relative;
	float: left;
	padding-left: 50px;
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 600;
	height: 25px;
	padding-top: 10px;
	color: #2f2c7b;
	background: url(../../images/icon_information.svg) no-repeat;
	background-position: left center;
	background-size: 30px 32px;
}

.container-desc-content {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container-desc-content h1, .container-desc-content h2, .container-desc-content h3, .container-desc-content h4, .container-desc-content h5, .container-desc-content h6{
	margin-bottom:10px;
}

.container-desc-content p {
	margin-bottom: 10px;
}

.container-desc-content em{
	font-style: italic;
}

.container-desc-content strong{
	font-weight: bold;
}

.container-desc-content ul{
	margin:0 0 10px 20px;
	padding:0px;
}

.container-desc-content ul li{
	list-style-type: circle;
}


.container-desc-content ol{
	margin:0 0 10px 15px;
	padding:0px;
}

.container-desc-content ol li{
	list-style-type: decimal;
}

.desc-content {
	float: left;
	width: 100%;
	line-height: 1.5;
	color: #333333;
	font-size: 16px;
	font-weight: 100;
}

.container-plan {
	float: left;
	clear: both;
	width: 100%;
	margin: 1px 0 0 -0.01991%
}

.container-plan-icon {
	float: left;
	width: 99.9825831653%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.plan-icon {
	float: left;
	padding-left: 50px;
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 600;
	color: #2f2c7b;
	height: 25px;
	padding-top: 10px;
	background: url(../../images/icon_plan.svg) no-repeat;
	background-position: left center;
	background-size: 30px 32px
}

.container-plan-list-white {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px
}

.container-plan-list-grey {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eee
}

.text-time {
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	color: #211e72
}

.text-detail {
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #555
}

.container-facilities {
	float: left;
	clear: both;
	width: 100%
}

.container-facilities-icon {
	float: left;
	width: 99.9825831653%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.facilities-icon {
	float: left;
	padding-left: 50px;
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 600;
	height: 25px;
	padding-top: 10px;
	color: #2f2c7b;
	background: url(../../images/icon_include2.svg) no-repeat;
	background-position: left center;
	background-size: 30px 32px
}

.container-facilities-list {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px
}

.container-notinclude {
	float: left;
	clear: both;
	width: 100%
}

.container-notinclude-icon {
	float: left;
	width: 99.9825831653%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.notinclude-icon {
	float: left;
	padding-left: 50px;
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 600;
	height: 25px;
	padding-top: 10px;
	color: #2f2c7b;
	background: url(../../images/icon_not-include.svg) no-repeat;
	background-position: left center;
	background-size: 30px 32px
}

.container-notinclude-list {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px
}

.not-advantage-list {
	float: left;
	width: 50%;
	padding-left: 35px;
	padding-right: 15px;
	line-height: 1.3;
	color: #333;
	background: url(../../images/not-include.svg) no-repeat;
	background-size: 15px 15px;
	font-size: 16px;
	font-weight: 100;
	padding-bottom: 10px
}

.container-right {
	float: left;
	width: 100%;
	margin-top: -103px
}

.container-inquiry {
	float: left;
	width: 100%;
	overflow: hidden
}

.container-inquiry-blue {
	float: left;
	width: 99.6999172185%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(1, 164, 231, 0.8);
	overflow: hidden
}

.text-get-quote {
	width: 99.6999172185%;
	margin: 0 auto;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: #fff
}

.container-inquiry-wheat {
	float: left;
	clear: both;
	width: 99.6999172185%;
	padding: 20px;
	border: 1px solid #eee;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #f8f8f8
}

.container-inquiry-wheat input:first-child {}

.container-inquiry-wheat ._input {
	display: block;
	float: left;
	width: 100%;
	height: 40px;
	padding-left: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	background-repeat: no-repeat, no-repeat;
	background-size: auto auto, auto auto;
	background-position: 4% 50%, right center;
	background-attachment: scroll, scroll;
	background-color: #fff;
	font-family: 'Open sans';
	font-size: 14px;
	font-weight: 400;
	color: #000;
}

.container-inquiry-wheat .date {
	background-image: url(../images/icon_date-detail.svg), url(../images/select-arrows.svg)
}

.container-inquiry-wheat .guest {
	background-image: url(../images/icon_guest-detail.svg), url(../images/select-arrows.svg)
}

.container-inquiry-button {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px
}

.container-inquiry-button ._button {
	display: block;
	border-radius: 6px;
	background-color: #f00;
	font-family: 'Open Sans';
	text-align: center;
	color: #fff;
	height: 40px;
	width: 170px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 600
}

.container-inquiry-wishlist {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 25px;
	text-align: center
}

.center-wishlist {
	width: 147px;
	margin: 0 auto
}

.text-wishlist {
	padding-left: 16px;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
	color: #000;
	background: url(../images/unfavorite-01.svg);
	background-repeat: no-repeat;
	background-position: left center;
	width: auto;
	cursor: pointer
}

.text-wishlist:hover {
	background-image: url('../images/icon_favorite.svg'), none
}

.container-other-tour {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 40px
}

.container-other-tour .title {
	float: left;
	width: 100%;
	padding-bottom: 15px;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 600;
	color: #211e72
}

.other-tour-list div:first-child {
	margin-top: 0
}

.other-tour {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	border: 1px solid #eee;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #f8f8f8;
	margin-top: 15px
}

.other-tour-image {
	float: left;
	width: 30%;
	height: 89px;
	margin-left: -0.12538%;
	background-image: url(../images/bali-6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center
}

.other-tour-detail {
	position: relative;
	float: left;
	width: 70%
}

.other-tour-detail .strong-blue {
	float: left;
	width: 100.3670411985%;
	margin-left: -0.3657000001%;
	padding: 10px 10px 10px 20px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	color: #211e72
}

.other-tour-detail .light-detail {
	float: left;
	clear: both;
	width: 100%;
	padding-left: 20px;
	font-size: 13px;
	font-weight: 400;
	color: #f00
}

.container-other-tour .see-more {
	float: left;
	clear: both;
	width: 100.3632589517%;
	margin-left: -0.3632600001%;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #211e72;
	height: auto
}

.goto_contact {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	background-color: #f8f8f8
}

.center-text-contact {
	margin: 0 auto;
	width: 70%
}

.text-contact {
	float: left;
	margin-top: 1px;
	padding-left: 50px;
	font-size: 14px;
	font-weight: 600;
	color: #333;
	background: url(../images/icon-contract-details.svg) no-repeat;
	background-position: left center
}

.text-contact span {
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-color: transparent;
	border-style: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: transparent;
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	color: #f00;
	opacity: 1;
	word-break: normal;
	word-wrap: normal;
	white-space: normal
}

.cont-text-detail {
	position: relative;
	float: left;
	clear: both;
	z-index: 0;
	padding-left: 50px;
	font: 600 22px/1.38 'Open Sans';
	color: #2f2c7b;
	padding-top: 18px;
	padding-bottom: 18px;
	width: auto;
	background: url(../../images/icon_information.svg) no-repeat;
	background-position: left center
}

.container-detail-title {
	float: left;
	clear: both;
	width: 100%;
	padding-bottom: 10px
}

.container-detail-title .text-title {
	float: left;
	width: 99.821144674%;
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: 600;
	line-height: 1.38;
	color: #211e72;
	font-size: 16px
}

.container-detail-content {
	float: left;
	clear: both;
	width: 99.821144674%;
	margin-left: .15678%
}

.container-detail-content .text-list {
	float: left;
	width: 100%;
	font-weight: 700;
	color: #333;
	font-size: 16px;
	line-height: 1.5
}

.container-detail-content .text-list span {
	margin-left: 3%;
	font-weight: 100
}

.text-biglist {
	font-weight: 100;
	float: left;
	width: 100%;
	color: #333;
	font-size: 16px;
	line-height: 1.5
}

.container-cancellation {
	float: left;
	clear: both;
	width: 100%
}

.container-cancellation-icon {
	float: left;
	width: 99.9825831653%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #eee
}

.cancellation-icon {
	position: relative;
	float: left;
	clear: both;
	z-index: 46;
	padding-left: 50px;
	font: 600 22px/1.38 'Open Sans';
	color: #2f2c7b;
	background: url(../../images/icon_ask.svg) no-repeat;
	background-position: left center;
	background-size: 30px 32px
}

.container-cancellation-content {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px
}

.cancellation-content {
	float: left;
	width: 100%;
	color: #333;
	font-weight: 100;
	font-size: 16px;
	line-height: 1.5
}

.container-schedule {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 50px
}

.container-schedule-icon {
	float: left;
	width: 99.9825831653%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #eee
}

.schedule-icon {
	position: relative;
	float: left;
	clear: both;
	z-index: 46;
	padding-left: 50px;
	font: 600 22px/1.38 'Open Sans';
	color: #2f2c7b;
	background: url(../../images/icon_ask.svg) no-repeat;
	background-position: left center;
	background-size: 30px 32px
}

.container-schedule-content {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px
}

.schedule-content-blue {
	float: left;
	width: 99.821144674%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	line-height: 1.38;
	color: #211e72;
	font-size: 16px
}

.schedule-content span {
	font-weight: 700;
	margin-right: 3%
}

.schedule-content {
	float: left;
	width: 100%;
	color: #333;
	font-weight: 100;
	font-size: 16px;
	line-height: 1.5
}

.review-star {
	float: right;
	width: 20%;
	padding-top: 30px;
	padding-bottom: 18px
}

.container-review-box {
	float: left;
	clear: both;
	width: 99.9825801313%;
	padding: 30px 50px;
	border: 1px solid #e0e0e0;
	background-color: #f4f4f4
}

.container-review-name {
	float: left;
	width: 100%
}

.avatar {
	display: block;
	float: left;
	overflow: hidden;
	width: 68px;
	height: 68px;
	background: url(../../images/default-review-icon.png) no-repeat;
	background-position: center center
}

.avatar-detail {
	float: left;
	width: 50.0012444931%;
	margin-top: 8px;
	padding-left: 20px
}

.avatar-name {
	float: left;
	width: 99.9601910828%;
	margin-left: -0.24447%;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 500;
	color: #555
}

.avatar-location {
	float: left;
	clear: both;
	width: 99.9601910828%;
	margin-left: -0.24447%;
	font-family: 'Open Sans';
	color: #888;
	font-weight: 100
}

.review-title {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 10px;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 500;
	color: #555
}

.container-review-content {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin-left: -0.02972%
}

.container-review-content .element {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 29;
	width: 100%;
	height: 57px;
	background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0, #f4f4f4 100%);
	background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0, #f4f4f4 100%);
	background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0) 0, #f4f4f4 100%);
	background-image: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0) 0, #f4f4f4 100%);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #f4f4f4 100%)
}

.review-content {
	position: relative;
	float: left;
	z-index: 28;
	padding-top: 5px;
	padding-bottom: 20px;
	font-weight: 100;
	line-height: 1.4;
	color: #555
}

.read-more-review {
	float: left;
	clear: both;
	width: 100%;
	font-weight: 600;
	color: #555
}

.container-review-box-bottom {
	float: left;
	clear: both;
	width: 99.9651541926%;
	padding-top: 30px
}

.container-review-star {
	float: left;
	width: 120px
}

.container-review-star img:first-child {
	margin-left: 0
}

.review-date {
	float: right;
	width: 119px;
	color: #888;
	font-family: 'Open sans';
	font-weight: 100
}

.center-button-see-review {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px
}

.button-see-review {
	display: block;
	font-family: 'Open Sans';
	text-align: center;
	margin: 0 auto;
	width: 200px;
	height: 50px;
	border: 1px solid rgba(33, 30, 114, 0.43);
	border-radius: 3px;
	background-color: #fff;
	font-size: 16px;
	color: #211e72;
	font-weight: 100
}

.fixed_price {
	position: fixed;
	top: 9.2%;
	width: 680px;
	z-index: 400;
}

.box-overflow input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
	height: 36px;
	width: 40px;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	/* remove scrollbar space */
	background: transparent;
	/* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
	/*background: #FF0000;*/
}


/* style detil hotel */

.container-review-nearby {
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid #EEEEEE;
}

.container-review-desc-hotel {
	margin: 0;
	padding: 0;
}

.container-review-desc-hotel h1, .container-review-desc-hotel h2, .container-review-desc-hotel h3, .container-review-desc-hotel h4, .container-review-desc-hotel h5, .container-review-desc-hotel h6{
	margin-bottom:10px;
}

.container-review-desc-hotel p{
	margin-bottom: 10px;
}

.container-review-desc-hotel em{
	font-style:italic;
}

.container-review-desc-hotel strong{
	font-weight: bold;
}

.container-review-desc-hotel ul{
	margin:0 0 10px 20px;
	padding:0px;
}

.container-review-desc-hotel ul li{
	list-style-type: circle;
}

.container-review-desc-hotel ol{
	margin:0 0 10px 15px;
	padding:0px;
}

.container-review-desc-hotel ol li{
	list-style-type: decimal;
}


.container-review-desc-hotel table, .container-desc-content table{
	width:100%!important;
	margin-bottom: 10px;
}

.container-review-desc-hotel table tr:nth-child(1){
	background-color:#2F2C7B;
	padding:10px 5px;
}

.container-review-desc-hotel table tr:nth-child(1) td{
	padding:10px 5px!important;
	color:#FFF!important;
}

.container-review-desc-hotel table tr td{
	padding:10px 5px!important;
	color:#000;
	border-bottom:1px solid #2F2C7B;
}

.description-text p {
	width: 100%;
	color: #525252;
	font-weight: normal;
	font-family: 'Open sans';
	font-size: 13px;
	line-height: 1.5;
	margin-bottom:10px;
}

.value-content-text p{
	margin-bottom: 10px;
}

.description-text em, .value-content-text em{
	font-style:italic;
}

.description-text strong, .value-content-text strong{
	font-weight: bold;
}

.description-text ul, .value-content-text ul{
	margin:0 0 10px 20px;
	padding:0px;
}

.description-text ul li, .value-content-text ul li{
	list-style-type: circle;
}

.description-text ol, .value-content-text ol{
	margin:0 0 10px 15px;
	padding:0px;
}

.description-text ol li, .value-content-text ol li{
	list-style-type: decimal;
}


.description-text table, .value-content-text table{
	width:100%!important;
	margin-bottom:10px;
}

.description-text table tr:nth-child(1), .value-content-text tr:nth-child(1){
	background-color:#2F2C7B;
	padding:10px 5px;
}

.description-text table tr:nth-child(1) td, .value-content-text tr:nth-child(1) td{
	padding:10px 5px!important;
	color:#FFF!important;
}

.description-text table tr td, .value-content-text table tr td{
	padding:10px 5px!important;
	color:#000;
	border-bottom:1px solid #2F2C7B;
}


p.desc-hotel-text {
	font-size: 14px;
	color: #525252;
	font-family: 'Open Sans';
	font-weight: 300;
}

p.choose_room {
	font-size: 14px;
	color: #525252;
	font-family: 'Open Sans';
	margin-bottom: 10px;
}

.container-room {
	background-color: #F8F8F8;
	border: 1px solid #EEEEEE;
	border-radius: 10px;
}

.container-room h2 {
	color: #2E2C7A;
	font-size: 17px;
	font-family: 'Open Sans';
	font-weight: 700;
	padding: 15px 20px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 15px;
}

.container-room-detil {
	margin: 0;
	padding: 0;
}

.container-room-detil img {
	width: 165px;
	margin: 5px 20px;
	float: left;
}

.container-room-info {
	float: left;
	width: 69.7%;
}

.container-room-info a {
	color: #888888;
	padding: 0px;
	margin: 0 10px 0 0;
	font-size: 13px;
	text-decoration: none;
	font-weight: 500;
}

.container-room-info a.actives {
	color: #333333;
}

a.border-right {
	border-right: 1px solid #DDDDDD;
	padding-right: 15px;
}

hr.border_info_room {
	background-color: #DDDDDD;
	border: none;
	width: 100%;
	height: 1px;
	margin-top: 8px;
}


/* Hotel CSS */

.icon_include {
	width: 30%;
	margin: 0px;
	padding: 0px;
}

.room-container {
	float: left;
	width: 100%;
	background-color: #F8F8F8;
	border: 1px solid #EEEEEE;
	border-radius: 6px;
	height: auto;
	margin-bottom: 15px;
}

.room-header {
	float: left;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}

.room-content {
	float: left;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}

.room-button {
	float: left;
	width: 95%;
	padding: 10px 15px;
}

.container-desc-content .room-title {
	float: left;
	width: 100%;
	color: #2E2C7A;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Open sans';
	padding: 10px 15px;
}

.button-select {
	float: right;
	width: auto;
	font-size: 14px;
	color: #01A4E7;
	background-color: #fff;
	border: 1px solid #01A4E7;
	border-radius: 40px;
	padding: 5px 15px;
	cursor: pointer;
}

.room-button .selected {
	background-color: #59B200;
	border: 1px solid #59B200;
	color: #FFF;
	background-image: url(../../images/icon-cek-button.svg);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 40px;
}

.room-image {
	float: left;
	width: 30%;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.room-img {
	float: left;
	width: 100%;
	height: 100px;
}

.room-content-detail {
	float: left;
	width: 64.5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.room-info-container {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}

.room-info-container .active {
	color: #333333;
	font-weight: 600;
}

.room-detail {
	float: left;
	width: 100%;
	height: auto;
}

.room-info {
	float: left;
	font-size: 13px;
	color: #888888;
	font-family: 'Open sans';
	border-right: 1px solid #DDD;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: 300;
	cursor: pointer;
}

.booking-conditions {
	float: left;
	font-size: 13px;
	color: #888888;
	font-family: 'Open sans';
	border-right: 1px solid #DDD;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: 300;
	cursor: pointer;
}

.cancelation-policy {
	float: left;
	font-size: 13px;
	color: #888888;
	font-family: 'Open sans';
	padding-left: 15px;
	font-weight: 300;
	cursor: pointer;
}

.room-icon {
	float: left;
	width: 25%;
	padding: 10px 0px 10px 15px;
}

.room-total {
	float: left;
	width: 20%;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	padding: 10px 15px;
}

.room-price-container {
	float: left;
	width: 40%;
}

.room-tooltip {
	float: left;
	width: 100%;
}

.room-price {
	float: left;
	width: 100%;
}

.icon-room {
	float: left;
	width: calc(25% - 10px);
	color: #555555;
	font-size: 13px;
	font-weight: 300;
	font-family: 'Open sans';
	padding-left: 25px;
}

.room-icon .bed {
	background: url(../../images/icon_bed_room.png) no-repeat;
	padding-bottom: 15px;
	margin-right: 10px;
}

.room-icon .shower {
	background: url(../../images/icon_shower.png) no-repeat;
	padding-bottom: 15px;
}

.room-icon .person {
	background: url(../../images/icon_people_room.png) no-repeat;
	margin-right: 10px;
}

.room-icon .wifii {
	background: url(../../images/icon_wifi.png) no-repeat;
	margin-right: 10px;
}

.container-desc-content .room-text {
	float: left;
	width: 100%;
	color: #555;
	font-size: 13px;
	font-family: 'Open sans';
	font-weight: 300;
	padding-bottom: 10px;
}

.room-num {
	float: left;
	width: 85%;
	background-color: #fff;
	height: 35px;
	color: #555;
	font-size: 13px;
	font-family: 'Open sans';
	font-weight: 300;
	border: 1px solid #EEE;
	padding-left: 10px;
}

.container-desc-content .tooltip-text {
	float: left;
	width: 96%;
	color: #333;
	font-size: 13px;
	font-family: 'Open sans';
	font-weight: 300;
	padding: 10px 15px;
	border-bottom: 1px solid #DDD;
	background: url(../../images/icon-tooltip.svg) no-repeat;
	background-position: 94% center;
}

.container-desc-content .price-green {
	float: left;
	width: 100%;
	color: #468C00;
	font-size: 16px;
	font-family: 'Open sans';
	font-weight: 600;
	padding-top: 10px;
	padding-left: 15px;
}

.container-desc-content .price-green span {
	color: #333;
	font-size: 13px;
}

.container-desc-content .price-cross {
	float: left;
	width: 100%;
	color: #333;
	font-size: 13px;
	font-family: 'Open sans';
	font-weight: 300;
	text-decoration: line-through;
	padding-left: 15px;
}

.container-desc-content .extra-text {
	float: left;
	width: 100%;
	color: #333;
	font-size: 13px;
	font-family: 'Open sans';
	font-weight: 300;
	padding-left: 15px;
	font-style: italic;
}

.info-list {
	float: left;
	width: calc(100%/3);
	padding-right: 15px;
	line-height: 1.3;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 10px;
}

.info-list span {
	color: #888888;
}

#show_room_check {
	margin-top: 10px;
	padding: 10px 0;
	color: #444444;
	font-size: 15px;
	font-weight: bold;
}

.container-detail-room-info {
	display: block;
	float: left;
	width: auto;
	height: auto;
	background-color: #fff;
	border-top: 1px solid #DDD;
	padding: 65px 45px 5px;
}

.detail-room-left {
	float: left;
	width: 60%;
	padding-right: 30px;
}

.detail-room-right {
	float: left;
	width: 30%;
}

.detail-data {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}

.detail-data-title {
	float: left;
	width: 100%;
	color: #2F2C7B;
	font-size: 16px;
	font-family: 'Open sans';
	font-weight: 600;
	padding-bottom: 15px;
}

.detail-data-content {
	float: left;
	width: 100%;
}

.detail-important-info {
	float: left;
	width: 100%;
	color: #525252;
	font-size: 13px;
	font-family: 'Open sans';
	font-weight: 300;
	line-height: 2;
}

.value-important-info {
	float: left;
	width: auto;
	color: #525252;
	font-weight: 600;
}


.detail-data-content .advantage-list {
	width: 100%;
	color: #525252;
	font-size: 14px;
	font-family: 'Open sans';
	padding-bottom: 0;
	line-height: 2.2;
	padding-right: 0;
	background-position: left 42%;
}

.value-content {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}

.value-content-title {
	float: left;
	width: 100%;
	color: #525252;
	font-size: 14px;
	font-family: 'Open sans';
	font-weight: 600;
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.value-content-text {
	float: left;
	width: 100%;
	color: #525252;
	font-weight: normal;
	font-family: 'Open sans';
	font-size: 13px;
	line-height: 1.5;
}

.center-images-info {
	width: 100%;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.center-thumb-info {
	width: 100%;
	height: auto;
	position: absolute;
	background-color: transparent;
	top: 0;
}

.info-all-image {
	height: 400px;
}

.info-all-thumb {
	float: left;
	height: 50px;
	margin-left: 6px;
	cursor: pointer;
	opacity: 0.5;
}

.info-all-thumb.slick-current {
	border: 1px solid #fff;
	opacity: 1;
}

.info-image-prev {
	position: absolute;
	top: 333px;
	left: 150px;
	z-index: 2;
	width: 12px;
	margin: auto 0;
	cursor: pointer
}

.info-image-next {
	position: absolute;
	top: 333px;
	right: 150px;
	z-index: 2;
	width: 12px;
	margin: auto 0;
	cursor: pointer
}

.info-thumb-wrapper {
	width: 100%;
	height: auto;
	position: absolute;
	background-color: transparent;
	top: 320px;
}

.info-thumb-container {
	margin: 0 auto;
	position: relative;
	background-color: transparent;
	width: 45%;
	height: auto;
}

.title-room {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: 'Open sans';
	font-weight: 600;
	position: absolute;
	z-index: 2;
	padding-top: 15px;
}

.container-booking-condition {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 30px 45px 45px;
}

.center-popup-booking-condition {
	margin: 0 auto;
	position: relative;
	background-color: transparent;
	width: 50%;
	max-width: 1068px;
	height: auto;
	top: 50vh;
}

.title-booking-condition {
	float: left;
	width: 100%;
	color: #2D2C79;
	font-size: 24px;
	font-family: 'Open sans';
	font-weight: 600;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.content-booking-condition p {
	float: left;
	width: 100%;
	color: #525252;
	font-size: 13px;
	font-family: 'Open sans';
	font-weight: 500;
}

.container-cancelation-policy {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 30px 45px 45px;
}

.center-popup-cancelation-policy {
	margin: 0 auto;
	position: relative;
	background-color: transparent;
	width: 50%;
	max-width: 1068px;
	height: auto;
	top: 50vh;
}