@charset "utf-8";
/* CSS Document */


.list-content a{
	text-decoration: none;
}

/* B User Account */

.property_popup:hover{
	text-decoration: underline;
}

.wrap-list-property{
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #BCBCBC;
    height: auto;
    padding: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
    width: 550px;
	border: solid 1px #BDBDBD;
	text-align: left;
	padding-bottom: 0px;
	left:60px;
	top:-140px;
	
	display:none;
	
	-moz-box-shadow: 0px 0px 5px #BCBCBC;
	-webkit-box-shadow: 0px 0px 5px #BCBCBC;
	box-shadow: 0px 0px 5px #BCBCBC;
	
	
}

.wrap-list-property .list-property{
	float: left;
	margin-bottom: 20px;
	border: solid 1px #BDBDBD;
	height: 120px;
	display: block;
	width: 549px;
}

.wrap-list-property .list-property .list-property-b1{
	float: left;
	width: 180px;
	height: 120px;
	-moz-box-shadow: 3px 0 2px #BCBCBC;
	-webkit-box-shadow: 3px 0 2px #BCBCBC;
	box-shadow: 3px 0 2px #BCBCBC;
	position: relative;
	z-index: 3;
}

.wrap-list-property .list-property .list-property-b1 img{
	margin: 5px;
}

.wrap-list-property .list-property .list-property-b2{
	float: left;
	width: 369px;
	height: 120px;
	
	background: -moz-linear-gradient(top, #FDFDFD 0%, #D6D6D6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#D6D6D6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FDFDFD 0%,#D6D6D6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FDFDFD 0%,#D6D6D6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FDFDFD 0%,#D6D6D6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FDFDFD 0%,#D6D6D6 100%); /* W3C */
	
	
	position: relative;
	z-index: 2;
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-t{
	display: block;
	padding: 10px;
	background:url(../../images/20130207/bor2.jpg) bottom repeat-x;	
	height: 45px;
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-t h2{
	font-family:"MyriadPro-SemiboldSemiCn" !important;
	font-size: 16px;
	color: #333333;
	padding-bottom: 0;
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-t span{
	font-size: 13px;
	font-style: italic;
	color: #777;
	background:url(../../images/20130207/icon1.png) no-repeat;	
	padding-left: 10px;
	background-position: 0px 2px;
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-bl{
	background:url(../../images/20130207/bor3.jpg) right repeat-y;	
	display: block;
    height: 48px;
    line-height: 1.2em;
    padding: 3px 10px;
    width: 215px;
    font-size: 13px;
    float: left;
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-bl b{
	font-weight: normal;
	font-family:"MyriadPro-SemiboldSemiCn" !important;
	color: #333333;
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-br{
	display: block;
    float: left;
    height: 48px;
    padding: 0 7px;
    width: 113px;
    font-family:"MyriadPro-SemiboldSemiCn" !important;
    color: #333333;
    font-size: 13px;
    
    position:relative; 
    
}


.wrap-list-property .list-property .list-property-b3{
	float: left;
	width: 219px;
	height: 100px;
	padding: 10px;
	
	-moz-box-shadow: 3px 0 2px #BCBCBC;
	-webkit-box-shadow: 3px 0 2px #BCBCBC;
	box-shadow: 3px 0 2px #BCBCBC;
	position: relative;
	z-index: 1;
	
	font-size: 13px;
}

.wrap-list-property .list-property .list-property-b3 h2{
	font-family:"MyriadPro-SemiboldSemiCn" !important;
	font-size: 13px !important;
}

.wrap-list-property .list-property .list-property-b3 a{
	color: #00A5C4;
	text-decoration: underline;
	font-family:"MyriadPro-SemiboldSemiCn" !important;
}
.wrap-list-property .list-property .list-property-b3 ul{
	margin-left: 15px;
    margin-top: 5px;
    padding-left: 10px;
}

.wrap-list-property .list-property .list-property-b3 li{
	list-style-image: url(../../images/20130207/icon96_2.png) ;	
}

.wrap-list-property .list-property .list-property-b3 li form{
	display: inline;
}

.wrap-list-property .list-property .list-property-b3 li form .button_a{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #00A5C4;
    display: inline;
    
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
}

.wrap-list-property .list-property .list-property-b4{
	float: left;
	width: 190px;
	height: 120px;
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-tl{
	border-right: 1px solid #E5E5E5;
    color: #333333;
    display: block;
    float: left;
    
    font-size: 13px;
    height: 50px;
    padding: 5px;
    text-align: right;
    width: 55px;
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-tr{
	background:url(../../images/20130207/icon130.png) left no-repeat;	
	float: left;
    height: 50px;
    padding: 5px;
    width: 109px;
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b{
	display: block;
    float: left;
    width: 100%;
    border-top: 1px solid #E5E5E5;
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action{
	background: -moz-linear-gradient(top, #FDFDFD 0%, #D6D6D6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#D6D6D6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FDFDFD 0%,#D6D6D6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FDFDFD 0%,#D6D6D6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FDFDFD 0%,#D6D6D6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FDFDFD 0%,#D6D6D6 100%); /* W3C */
	
	border: 1px solid #BDBDBD;
    cursor: pointer;
    display: block;
    float: left;
    height: 48px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 85px;
    
    position: relative;
    
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action:hover{
	background: -moz-linear-gradient(top, #D6D6D6 0%, #FDFDFD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6D6D6), color-stop(100%,#FDFDFD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #D6D6D6 0%,#FDFDFD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #D6D6D6 0%,#FDFDFD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #D6D6D6 0%,#FDFDFD 100%); /* IE10+ */
	background: linear-gradient(to bottom, #D6D6D6 0%,#FDFDFD 100%); /* W3C */
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action .icon131_1{
	margin: 6px 0px 0px 29px;
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action .icon132{
	margin: 3px 0 0 29px;
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action input{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    text-indent: -99999px;
    width: 85px;
    top: 0px;
    left: 0px;
}




.wrap-progressbar{
	background: url(../../images/20130207/default120x78.jpg) no-repeat;
    display: block;
    height: 78px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 120px;
    z-index: 10000;
}

.wrap-progressbar.wrap-progressbar-my-property{
	background: none repeat scroll 0 0 transparent;
    height: 32px;
    left: 0;
    top: 26px;
    width: 133px;
}

.wrap-progressbar.wrap-progressbar-my-property .progressbar-text{
	background: none repeat scroll 0 0 #333333;
    border-radius: 2px 2px 2px 2px;
    bottom: 25px;
    color: #FFFFFF;
    
    font-size: 11px;
    height: 15px;
    left: 0px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    width: 30px;
}

.wrap-progressbar.wrap-progressbar-my-property .progressbar-text .progressbar-arrow{
	background: url(../../images/20130207/icon2.png) no-repeat;
	width: 9px;
	height: 6px;
	position: absolute;
	bottom: -6px;
	left: 11px;
}

.wrap-progressbar.wrap-progressbar-my-property .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all{
	 width: 120px;
}


.wrap-progressbar span{
	display: block;
    font-size: 13px;
    width: 124px;
    font-family:"MyriadPro-SemiboldSemiCn" !important;
}

.wrap-progressbar span:first-child{
	margin-top: 10px;
}

.wrap-progressbar .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all{
	background: url(../../images/20130207/bg3.png) repeat-x;
	height: 10px;
    margin-left: 4px;
    margin-top: 12px;
    width: 110px;
}

.wrap-progressbar .ui-progressbar .ui-progressbar-value{
	background: none repeat scroll 0 0 #22B9D4;
    height: 9px;
    margin-top: 1px;
    margin-left: 1px;
    
    background: -moz-linear-gradient(top, #23B8D5 0%, #229AD0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23B8D5), color-stop(100%,#229AD0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #23B8D5 0%,#229AD0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #23B8D5 0%,#229AD0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #23B8D5 0%,#229AD0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #23B8D5 0%,#229AD0 100%); /* W3C */
	
	background: url(../../images/20130207/bg4.png) repeat-x;
	
	border: medium none;
	
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 5px;
}


.wrap-list-property .scrollbar4 { clear: both;
    font-size: 12px;
    margin: 0px;
    width: 530px;}
.wrap-list-property .scrollbar4 .viewport { width: 520px; height: 531px;  position: relative; }
.wrap-list-property .scrollbar4 .viewport.viewporthidden{ overflow: hidden; }
.wrap-list-property .scrollbar4 .overview { list-style: none; position: absolute; left: 0; top: 0; width:100%;}
.wrap-list-property .scrollbar4 .overview ul li {
	padding:2px;
}
.wrap-list-property .scrollbar4 .overview ul li span{
	float:right;
}
.wrap-list-property .scrollbar4 .thumb .end,
.wrap-list-property .scrollbar4 .thumb { background-color: #989898; }
.wrap-list-property .scrollbar4 .scrollbar { position: relative; float: right; width: 6px; }
.wrap-list-property .scrollbar4 .track { background-color: #DFDDDD; height: 100%; width:6px; position: relative; padding: 0; border-radius:2px;}
.wrap-list-property .scrollbar4 .thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; border-radius:2px;}
.wrap-list-property .scrollbar4 .thumb .end { overflow: hidden; height: 5px; width: 6px; }
.wrap-list-property .scrollbar4 .disable{ display: none; }


.property_popup{
	cursor: pointer;
}

.actionm .content-mask{
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
    height: 22px;
    left: 7px;
    opacity: 0.5;
    position: absolute;
    top: 16px;
    width: 95px;
    z-index: 1;
}

.actionm .content-mask .loadmore-loading{
    display: block;
    position: absolute;
    right: 5px;
}
	

/* E User Account */


/* B Home Display Settings */
.block-mini .list .olmd{
	margin-right: 0px;
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:first-child{
	color: #333333;
}
.list-content-box .list-content{
	font-size: 13px;
	
}
.list-content-box-new .list-content{padding:  0;}
.list-content-box .list-content:nth-child(2n+1){background:#EFF5FC}
.list-content-box.listdelete .list-content:nth-child(2n+1){background:#FFDDDD}
.list-content-box.listoff .list-content:nth-child(2n+1){background:#E1E7ED;}
/*.wrap-list-content-box .list-content-box:nth-child(2n) .list-content:nth-child(2n+1){background:#E1E7ED;}
.wrap-list-content-box .list-content-box:nth-child(2n) .list-content:nth-child(2n+2){background:#F0F0F0}
.wrap-list-content-box .list-content-box.listoff .list-content:nth-child(2n+1){background: #D7D7D7;}
.wrap-list-content-box .list-content-box.listoff .list-content:nth-child(2n+2){background:#ccc;}*/
.wrap-list-content-box .list-content-box.listoff .list-content:nth-child(2n+1){background:#E1E7ED;}
.wrap-list-content-box .list-content-box.listoff .list-content:nth-child(2n+2){background:#F0F0F0}


.list-content-box .list-content b{
	font-weight: normal;
    
}

.avartar_hd_temp div{
	position: absolute; z-index: 100; left: 390px; top: 201px;
	-moz-box-shadow: 0px 0px 5px #BCBCBC;
	-webkit-box-shadow: 0px 0px 5px #BCBCBC;
	box-shadow: 0px 0px 5px #BCBCBC;
	background: #FFF;
	border: solid 1px #BDBDBD;
	padding: 20px;
}

.wrapper-file{
	float: left;
	width: 100%;
	height: 100%;
	
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 58px;
    position: absolute;
    width: 100px;
    z-index: 11;
}

.wrapper-file img{
	position: absolute;
}

.file-loading{
	width:13px;
	height:13px;
	background:url(../../images/icon204.png) no-repeat;
	margin:0 auto;
	display:none;
	margin-top: 23px;
	
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin .5s infinite linear;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}


.wrap-file {
    margin: 5px;
    position: absolute;
}

.wrap-file span {
    float: left;
    
    font-weight: normal !important;
    height: 16px !important;
    margin: 0 4px 0 0;
    padding: 0 2px;
}

span.avatarfile_ok{
	cursor: pointer;
    height: 16px !important;
    margin: 0;
    padding: 0 2px;
    position: absolute;
    right: 4px;
    top: 5px;
}

.wrap-file .avatarfile input {
    cursor: pointer;
    height: 20px;
    left: -2px;
    opacity: 0;
    position: absolute;
    top: -2px;
    width: 67px;
}

.actione{
	/*
	background-position: 0 0;
    padding-left: 24px;
    padding-right: 0;
    */
}

.actione:hover{
	/*
	background-position: 0 -22px;
	*/
}
.actione span{
    border-left: 1px solid #BDBDBD;
    border-right: medium none;
    float: left;
    height: 13px;
    font-size: 11px;
}

.actiond span{
    border-left: 1px solid #BDBDBD;
    border-right: medium none;
    float: left;
    height: 13px;
    font-weight: normal  !important;
    font-size: 11px;
}

.actiond.actiond_section span,
.actiond.actiond_slider span{
	height: auto;
}

.list-content .action-box a span,
.actiondr span{
	height: 13px;
	font-weight: normal;
    
}

.section-list{
	height: 170px;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 0%,#EEEEEE 100%); /* W3C */
	
}

.curent-section{
	font-weight: normal;
    
}

.section-list .icon200{
	background: url("../../images/icon203.png") no-repeat scroll 0 0 transparent;
    top: 75px;
}

.wrap-drag-drop-126 .content-drag-drop .actiondr span,
.actiondr.actiondrbaru span,
.section-list-active .actiondr span{
	line-height: 12px;
    
	padding: 5px 9px 5px 6px;
    vertical-align: middle;
}

.section-list .text1{
	top: 73px;
}

.section-addnew{
	display: none;
}

.main-section{
	padding-bottom: 10px;
}

.button_phm,
.button5{
	font-weight: normal;
	
	font-size: 19px !important;
}

.section-list .text1,
.wrap-drag-drop .content-drag-drop .text1,
.wrap-drag-drop .content-drag-drop .text2,
.wrap-drag-drop-126 .content-drag-drop .text2,
.wrap-drag-drop-list-action .actionsd span, 
.wrap-drag-drop-list-action .actionss span, 
.wrap-drag-drop-list-action .actiond span{
	font-weight: normal !important;
    
}

.wrap-filter-char{
	position: absolute; right: 0px; z-index: 1; width: 131px; top: 0px;
}

.wrap-filter-char p{
	margin-bottom: 0px !important;
}

.wrap-filter-char .olmd{
	float: right !important;
    margin-top: 7px !important;
}

.container .content-right.content-right-1020 .fwnormal{
	
}

.wrap-snapshot{background: none repeat scroll 0 0 #FFFFFF; -moz-box-shadow: 0px 0px 5px #BCBCBC;-webkit-box-shadow: 0px 0px 5px #BCBCBC;	box-shadow: 0px 0px 5px #BCBCBC; display: none; padding: 0 20px 20px; position: absolute; right: -490px; top: 0; width: 450px; z-index: 101;}
#home-display-page .wrap-snapshot{right:-483px;width:450px;}
#home-display-page .wrap-drag-drop-126 {width: 140px;}
#home-display-page .wrap-drag-drop-126 .box-drag-drop {width:135px;}
#home-display-page .wrap-drag-drop-126 .content-drag-drop {width: 122px;height: 71px;  background: none;}

a.button_phm input{
	cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.avartar_hd_block:hover .action-delete-avatar-hd{
	display: block;
}
.action-delete-avatar-hd{
	background:url(../../images/icon183.png) no-repeat;
	position:absolute;
	width:15px;
	height:16px;
	right: 4px;
    top: 4px;
	display:none;
	cursor:pointer;
}
/* E Home Display Settings */

/* B SIDEBAR LEFT */

.menubo li a{
	font-weight: normal;
	font-size: 14px;
}

.menubo .box-avar48 h4{
/*	font-weight: normal;
	
	font-size: 15px;*/
}

.container .content-right.content-right-1020 .fwbold{
	font-weight: normal;
	
}
.list-header{
	font-weight: normal;
	
	font-size: 15px; color:#444444;
}
/* E SIDEBAR LEFT */

/* B Admin Accounts  */
.step span.step14{font-weight: 300;font-size: 14px;}
.block-mini .list .avatarfile{
	
    font-size: 13px;
    font-weight: normal !important;
    text-align: center;
}
/* E Admin Accounts  */

/* B System Emails  */
.sendmsg-body textarea{
    padding-bottom: 55px;
}
.sendmsg-body .logo{
	bottom: 47px;
    height: 45px;
    left: 15px;
    position: absolute;
    width: 461px;
    background: url(../../images/20130207/icon3.png) no-repeat #333333;
    background-position: 5px 5px;
}

.sendmsg-body .notif{
	background: url(../../images/20130207/icon4.png) no-repeat;
	bottom: 8px;
    
    left: 10px;
    padding-left: 20px;
    position: absolute;
    display: none;
}
/* E System Emails  */

/* B Reviews  */
.icon5{
	width:13px;
	height:11px;
	position:absolute;
	background: url(../../images/20130207/icon5.png) no-repeat;
	right: 3px;
	bottom: 3px;
	cursor: pointer;
}

.icon6{
	background: url(../../images/20130207/icon6.png) no-repeat;
	cursor: pointer;
    height: 17px;
    left: 10px;
    position: absolute;
    top: 15px;
    width: 16px;
}

.icon7{
	background: url(../../images/20130207/icon7.png) no-repeat;
	cursor: pointer;
    height: 18px;
    left: 21px;
    position: absolute;
    top: 16px;
    width: 18px;
    background-position: -4px -4px;
}

.icon7.accept{
	background-position: -4px -54px;
}
.icon7.refuse{
	background-position: -4px -104px;
}
.icon7.ban{
	background-position: -4px -154px;
}

.list-content a.c_008DEA {
    color: #008DEA;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(1){
	background: url(../../images/20130207/icon7.png) no-repeat;
	background-position: 127px 4px;
	color: #333333;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(1):hover{
	background: url(../../images/20130207/icon7.png) #EA4B12 no-repeat;
	background-position: 127px 4px;
	color: #FFF;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(2){
	background: url(../../images/20130207/icon7.png) no-repeat;
	background-position: 127px -95px;
	color: #333333;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(2):hover{
	background: url(../../images/20130207/icon7.png) #EA4B12 no-repeat;
	background-position: 127px -95px;
	color: #FFF;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(3){
	background: url(../../images/20130207/icon7.png) no-repeat;
	background-position: 127px -45px;
	color: #333333;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(3):hover{
	background: url(../../images/20130207/icon7.png) #EA4B12 no-repeat;
	background-position: 127px -45px;
	color: #FFF;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(4){
	background: url(../../images/20130207/icon7.png) no-repeat;
	background-position: 127px -145px;
	color: #333333;
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(4):hover{
	background: url(../../images/20130207/icon7.png) #EA4B12 no-repeat;
	background-position: 127px -145px;
	color: #FFF;
}

.review-box{
	bottom: 75px;
    height: 189px;
    left: -66px;
    position: absolute;
    text-shadow: none;
    width: 231px;
    z-index: 10;
    
    -moz-box-shadow: 0px 0px 5px #999999;
	-webkit-box-shadow: 0px 0px 5px #999999;
	box-shadow: 0px 0px 5px #999999;
	
	display: none;
	
	left: -10000px;
}


.review-box .review-body{
	background: none repeat scroll 0 0 #333333;
    color: #333333;
    padding: 10px;
}

.review-box .review-body{ position: relative; background: #333333; }
.review-box .review-body:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.review-box .review-body:after { border-color: rgba(51, 51, 51, 0); border-top-color: #333333; border-width: 10px; left: 50%; margin-left: -6px; }

.review-box .review-body .content-mask{
	background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.review-box .review-body .content-mask:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.review-box .review-body .content-mask:after { border-color: rgba(51, 51, 51, 0); border-top-color: #FFF; border-width: 10px; left: 50%; margin-left: -6px; }

.review-box .review-body .content-mask .loadmore-loading{
    display: block;
    position: absolute;
    right: 5px;
}

.review-box .review-body .review-title{
	background: url(../../images/20130207/icon8.png) #333333 no-repeat;
    color: #FFFFFF;
    font-size: 13px;
    padding: 0 25px;
    position: relative;
    text-shadow: none;
}

.review-box .review-body .review-title a{
	color: #FFF;
}

.review-box .review-body .review-title .icon7{
    left: auto;
    right: 0;
    top: 0;
}

.review-box .review-body .review-desc{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 10px 0;
    padding: 10px;
}

.review-box .review-body .review-footer{
	
}
.review-box .review-body .review-footer .button {
	float: none;
	border: none;
	text-shadow:0 -1px 0 #989898;
	width: 60px;
	margin: 0 13px 0 0;
	font-size: 12px;
	height: 25px;
    opacity: 0.5;
}

.review-box .review-body .review-footer .button.actionr-triger{
	opacity: 1;
}

.review-box .review-body .review-footer .button.none{
	display: none;
}

.review-box .review-body .review-footer .button:nth-child(1){
	background: -moz-linear-gradient(top, #9CDC5B 0%, #59B200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9CDC5B), color-stop(100%,#59B200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9CDC5B 0%,#59B200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9CDC5B 0%,#59B200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9CDC5B 0%,#59B200 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9CDC5B 0%,#59B200 100%); /* W3C */
}

.review-box .review-body .review-footer .button:nth-child(1):hover{
	background: -moz-linear-gradient(top, #59B200 0%, #9CDC5B 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59B200), color-stop(100%,#9CDC5B)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #59B200 0%,#9CDC5B 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #59B200 0%,#9CDC5B 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #59B200 0%,#9CDC5B 100%); /* IE10+ */
	background: linear-gradient(to bottom, #59B200 0%,#9CDC5B 100%); /* W3C */
}

.review-box .review-body .review-footer .button:nth-child(4),
.review-box .review-body .review-footer .button:nth-child(3){
	background: -moz-linear-gradient(top, #FAAC90 0%, #D90000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAAC90), color-stop(100%,#D90000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FAAC90 0%,#D90000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FAAC90 0%,#D90000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FAAC90 0%,#D90000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FAAC90 0%,#D90000 100%); /* W3C */
	
	float: right;
	margin: 0px;	
}

.review-box .review-body .review-footer .button:nth-child(4):hover,
.review-box .review-body .review-footer .button:nth-child(3):hover{
	background: -moz-linear-gradient(top, #D90000 0%, #FAAC90 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D90000), color-stop(100%,#FAAC90)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #D90000 0%,#FAAC90 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #D90000 0%,#FAAC90 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #D90000 0%,#FAAC90 100%); /* IE10+ */
	background: linear-gradient(to bottom, #D90000 0%,#FAAC90 100%); /* W3C */
}
.review-box .scrollbar4 { clear: both;
    font-size: 12px;
    margin: 0px;
    width: 530px;}
.review-box .scrollbar4 .viewport { width: 520px; height: 531px;  position: relative; }
.review-box .scrollbar4 .viewport.viewporthidden{ overflow: hidden; }
.review-box .scrollbar4 .overview { list-style: none; position: absolute; left: 0; top: 0; width:100%;}
.review-box .scrollbar4 .overview ul li {
	padding:2px;
}
.review-box .scrollbar4 .overview ul li span{
	float:right;
}
.review-box .scrollbar4 .thumb .end,
.review-box .scrollbar4 .thumb { background-color: #989898; }
.review-box .scrollbar4 .scrollbar { position: relative; float: right; width: 6px; }
.review-box .scrollbar4 .track { background-color: #DFDDDD; height: 100%; width:6px; position: relative; padding: 0; border-radius:2px;}
.review-box .scrollbar4 .thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; border-radius:2px;}
.review-box .scrollbar4 .thumb .end { overflow: hidden; height: 5px; width: 6px; }
.review-box .scrollbar4 .disable{ display: none; }
	

.webwidget_rating_sex{
    padding: 0px;
    margin: 0 5px;
    float: left;
}
.webwidget_rating_sex li{
    line-height: 0px;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
    list-style: none;
    float: left;
    cursor: pointer;
    background-image: url("../../images/icon245.png");
}
.webwidget_rating_sex li span{
    display: none;
}
/* E Reviews  */


.add_property{
	float: left;
	background: url("../../images/20130207/icon179.png") left no-repeat;
	padding-left: 20px;
	margin: 12px 12px 12px 20px;
	color: #009FB1;
	cursor: pointer;
	display: none;
}

.delete_property{
	float: left;
	background: url("../../images/20130207/icon6.png") left no-repeat;
	padding-left: 20px;
	margin: 12px 12px 12px 20px;
	color: #777777;
	cursor: pointer;
	display: none;
}


.list-property-active li {
    background: linear-gradient(to bottom, #F7F7F7 0%, #EEEEEE 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #BDBDBD;
    float: left;
    margin: 5px 10px 5px 0;
    padding: 2px 5px 2px 5px;
}

.list-property-active li .icon209 {
    background: url("../../images/20130207/icon6.png") no-repeat scroll right center #FFFFFF;
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 0;
    width: 20px;
}
