<!-- BEGIN formBlock -->
<form action="{ajax_url}" class="form-upload-media" method="post">
	<div class="h-title">
		<h3>UPLOAD LISTING PHOTOS</h3>
		<a href="javascript:;">
			<img src="//{img_url}/close.svg" alt="">
		</a>
	</div>
	<div class="list">
		<div id="file-drop-zone" class="file-drop-zone">
	        <div class="drag-drop">
	        	<div class="inner">
		            <b>DRAG AND DROP PHOTOS HERE</b>
		            <i>Minimum 00kb, maximum 00Mb. Best resolution 000dpi.</i>
		            <label>
		            	<span>BROWSE FILES</span>
		            	<input type="file" name="files" multiple>
		            </label>
		        </div>
	        </div>
	    </div>
	</div>
    <div class="action">
    	<input type="hidden" name="pKEY" value="upload_media">
    	<input type="hidden" name="lapp_id" value="{lapp_id}">
    	<input type="hidden" name="module_id" value="{lmodule_id}">
    	<button type="button" class="upload-media">UPLOAD</button>
    </div>
	<div class="progressbar">
		<span></span>
	</div>
</form>

<div id="cloned-wrapp" class="cloned-wrapp hide">
    <figure class="item">
        <img src="https://dummyimage.com/286x143/c1c1c1/ffffff" alt="" class="cover">
        <a class="upload"></a>
        <a href="javascript:;" class="delimg">
            <img src="//{img_url}/close-rounded.svg">
        </a>
    </figure>
</div>
<!-- END formBlock -->