<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form class="app-form" name="app_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Blog</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
            <div class="mb0 frm-title">
	            <p class="f14 fwbold mb0">Create a new blog<br />
	                <span class="f12 fwnormal">All fields with (*) mark are required</span>
	            </p>
	        </div>
            <div class="topbtn">
                <button class="button shadow fwbold mt0" type="submit" name="save">Save</button>
                <a href="{add_url}" class="button" style="">
                    <span class="button_ayp"></span>
                    <span class="button_txt">ADD NEW</span>
                </a>
            </div>
            {switcher_lang}
            <div class="clear"></div>
            <hr class="style4">
            <div class="block-mini box-size box-wrapp">
                <div class="list">
                    <label>Title</label>             
                    <input value="{lmodule}" id="lmodule" type="hidden">
                    <input value="{lpost_id}" id="lpost_id" name="fields[lpost_id]" type="hidden">                
                    <input value="{llang_id}" id="llang_id" name="fields[llang_id]" type="hidden">
        			<input value="{lcreated_by}" id="lcreated_by" name="fields[lcreated_by]" type="hidden">
                    <input value="{ltitle}" id="ltitle" name="fields[ltitle]" type="text" class="text required">
                    <small><i>The name that will appear on your site.</i></small>
                </div>
                <div class="list">
                    <label>Slug</label>
                    <input value="{lsef_url}" id="lsef_url" name="fields[lsef_url]" type="text" class="text required">
                    <small><i>The slug is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</i></small>
                </div>
                <div class="list">
                    <p>Description</p>
                    <div><textarea id="ldescription" class="textarea tinymce" name="fields[ldescription]" autocomplete="off">{ldescription}</textarea></div>
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Categories</label>
                    <div class="chzn-selecto">
                        <select id="blog_category" name="terms[blog_category][]" class="chzn-select" autocomplete="off" style="width:100%;" data-placeholder="Choose category" multiple>
                            {lblog_category}
                        </select>
                    </div>
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Tags</label>
                    <div class="chzn-selecto">
                        <select id="blog_tag" name="terms[blog_tag][]" class="chzn-select" autocomplete="off" style="width:100%;" data-placeholder="Choose tags" multiple>
                            {lblog_tag}
                        </select>
                    </div>
                </div>

                {lcustom}

                <div class="list">
                    <label>Meta title</label>
                    <input value="{lmeta_title}" id="meta_title" name="fields[lmeta_title]" type="text" class="text">
                </div>
                <div class="list">
                    <label>Meta Key</label>
                    <input value="{lmeta_key}" id="meta_key" name="fields[lmeta_key]" type="text" class="text">
                </div>
                <div class="list">
                    <label>Meta Description</label>
                    <input value="{lmeta_desc}" id="meta_desc" name="fields[lmeta_desc]" type="text" class="text">
                </div>
                <div class="list">
                    <label>Order id</label>
                    <input value="{lorder_id}" id="order_id" name="fields[lorder_id]" type="text" class="text">
                </div>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>

	{ladditional}

    <div class="content-body-1020 content-body-1042">
        <div class="content-1042 new-style-content-1024">
            <div class="button_step_bottom new-bsb" style="float:right;">
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
	
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->