<!-- BEGIN detailBlock -->
{error}
<!-- BEGIN detailContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab mrbot_ flex">
            <h2 class="dtitle">{ptitle}</h2>
            <div class="frmsrc flex">
                <a href="javascript:history.go(-1)" class="blckbtn">BACK</a>
                <a href="{review_url}" class="yelowbtn {action_class}">{action_text}</a>
            </div>
        </div>
        <div class="hlfhlf renorm box-w flex">
            <div class="ehlf flex">
                <h3>GUESTS</h3>
                <p>
                    {guest}
                    <span>{guest_num}</span>
                </p>
            </div>
            <div class="ehlf flex">
                <h3>PRICE</h3>
                <p>
                    {total}
                    <span><i class="label_">Deposit</i> {deposit}</span>
                    <span><i class="label_">To be paid</i> {balance}</span>
                </p>
            </div>
            <div class="ehlf flex">
                <h3>LISTING </h3>
                <p>
                    {listing_name}
                    <span>{listing_location}</span>
                </p>
            </div>
            <div class="ehlf flex">
                <h3>ROOM</h3>
                <p>
                    {rooms}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>CHECK IN</h3>
                <p>
                    {check_in}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>ADD-ONS</h3>
                <p>
                    {addons}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>CHECK OUT</h3>
                <p>
                    {check_out}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>SPECIAL REQUEST</h3>
                <p>
                    <span>{note}</span>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END detailContent -->
<!-- END detailBlock -->