<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<section class="maintab">
    <div class="container">
        <div class="toptab flex">
            <div class="frmsrc flex">
                <div class="conselopt">
                    <select name="filter" class="selopt sl2_ajax" data-placeholder="Show">
                        <option value=""></option>
                        <option value="uc">Upcoming</option>
                        <option value="pc">Pending Confirmation</option>
                        <option value="pp">Pending Payment</option>
                        <option value="cp">Completed</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tabtab">
            <table id="table_trips" class="tabwrapp">
                <thead>
                    <tr>
                        <th width="300">STATUS</th>
                        <th data-orderable="false">DATE & LOCATION</th>
                        <th data-orderable="false">HOST</th>
                        <th width="120" data-orderable="false">DETAILS</th>
                        <th data-orderable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</section>
<!-- END viewContent -->
<!-- END viewBlock -->