<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form class="app-form" name="package_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Schedules</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
            <div class="mb0 frm-title">
	            <p class="f14 fwbold mb0">Create a schedule<br />
	                <span class="f12 fwnormal">All fields with (*) mark are required</span>
	            </p>
	        </div>
            <div class="topbtn">
                <button class="button shadow fwbold mt0" type="submit" name="save">Save</button>
                <a href="{add_url}" class="button" style="">
                    <span class="button_ayp"></span>
                    <span class="button_txt">ADD NEW</span>
                </a>
            </div>
            {switcher_lang}
            <div class="clear"></div>
            <hr class="style4">
            <div class="block-mini box-size box-wrapp">
                <div class="list list-field">
                    <label class="list-field-title">Accommodation</label>                
                    <input value="{llang_id}" id="llang_id" name="fields[llang_id]" type="hidden">
                    <input value="{lcreated_by}" id="lcreated_by" name="fields[lcreated_by]" type="hidden">
                    <input value="{lschedule_id}" id="lschedule_id" name="fields[lschedule_id]" type="hidden">
                    <div class="chzn-selecto">
                        <select id="lpost_id" name="fields[lpost_id]" class="chzn-select" autocomplete="off" style="width:100%;" data-placeholder="Choose accommodation" required {laccommodation_status}>
                            <option value=""></option>
                            {laccommodation}
                        </select>
                    </div>
                    <small><i>Set accommodation for this schedule</i></small>
                </div>
                <div class="list">
                    <label>Departure</label>
                    <input value="{ldeparture}" id="ldeparture" name="fields[ldeparture]" type="text" class="text required" required>
                    <small><i>The departure location for this schedule, Ex: Bali</i></small>
                </div>
                <div class="list">
                    <label>Itinerary</label>
                    <input value="{litinerary}" id="litinerary" name="fields[litinerary]" type="text" class="text required" required>
                    <small><i>The detailed plan or route of a journey, make sure to separate routes with commas, Ex: Bali, Raja Ampat, Komodo, Bali</i></small>
                </div>
                <div class="list">
                    <label>Schedule date</label>                
                    <input value="{ldaterange}" id="ldaterange" name="fields[ldaterange]" type="text" class="text text-date-range" autocomplete="off" readonly required />
                    <input value="{lcheck_in}" id="lcheck_in" name="fields[lcheck_in]" type="text" class="text text-date-start hidden" autocomplete="off" required />
                    <input value="{lcheck_out}" id="lcheck_out" name="fields[lcheck_out]" type="text" class="text text-date-end hidden" autocomplete="off" required />
                    <small><i>Set this field to determine when this schedule will depart</i></small>
                </div>
                <div class="list">
                    <label>Duration</label>                
                    <input value="{lduration}" id="lduration" name="fields[lduration]" type="text" class="text" autocomplete="off" readonly />
                    <small><i>This field will determine the duration of this schedule</i></small>
                </div>
                <div class="list">
                    <label class="list-field-title">Rates</label>
                    <input value="{lprice}" name="fields[lprice]" class="text text-rate text-small" autocomplete="off" data-a-sign="{lsign}" data-a-sep="." data-a-dec="," data-m-dec="0">
                </div>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>

    <div class="content-body-1020 content-body-1042">
        <div class="content-1042 new-style-content-1024">
            <div class="button_step_bottom new-bsb">
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save">
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
	
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->