<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<div class="content-body-1020 content-body-1042">
    <div class="header-1020 header-1042">Manage Amenities</div>
    {message}
    <div class="content-1042 new-style-content-1024 mtop30">
        <div class="block-flex box-size">
            <div class="mb0 b-left">
                <p class="f14 fwbold mb0">Create a new Amenities (or update)<br />
                    <span class="f12 fwnormal">Fill-in the form.</span>
                </p>
            </div>
            <div class="mb0 b-right">
                <p class="f14 fwbold mb0" style="text-align: right;">Search Amenities<br />
                    <span class="f12 fwnormal">You can fill the box to refine your search.</span>
                </p>
            </div>
            <div class="clear"></div>
            <hr class="style4">
        </div>
        <div class="block-flex box-size">
            <div class="block-mini bw-left">
                <form method="post" enctype="multipart/form-data">
                    <span class="or35"></span>
                    <div class="list">
                        <label>Title</label>
                        <input value="{lterm_id}" name="fields[lterm_id]" type="hidden" autocomplete="off" />
                        <input value="{lname}" name="fields[lname]" type="text" class="text" />
                    </div>
                    <div class="list">
                        <label>Order ID</label>
                        <input value="{lorder_id}" name="fields[lorder_id]" type="text" class="text"/>
                    </div>
                    {switcher_lang}
                    <a href="{cancel_url}" class="button shadow fwbold {cancel_css}">CANCEL</a>
                    <label for="btn_cta" class="btn-plus-style {btn_style}">
                        <span class="admin-logos"></span>
                        <input name="save" type="submit" value="{action_label}" id="btn_cta">
                    </label>
                </form>
            </div>
            <div class="block-mini bw-right">
                <div class="block-list">
                    <div class="list">
                        <label>Choose Language</label>
                        <div class="chzn-selecto">
                            <select name="llang_id" class="chzn-select" autocomplete="off">
                                {llang_id}
                            </select>
                        </div>
                    </div>
                    <div class="list">
                        <label>Type something</label>
                        <div class="block-flex box-size">
                            <div class="search-wrapp">
                                <input type="text" class="text textstyle search-txt mt10" name="lsearch" placeholder="Search..." autocomplete="off" />
                                <input type="button" class="button shadow fwbold btn-magnifier" />
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn-filter button shadow fwbold" value="FILTER" name="filter">
                </div>
            </div>
            <div class="clear"></div>
            <hr class="style4">
        </div>
        <div class="block-full-list">
            <table id="table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th data-orderable="false" width="80">Language</th>
                        <th width="80">Status</th>
                        <th data-orderable="false" width="80">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" id="limit" value="{limit}" autocomplete="off">
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</div>
<!-- END viewContent -->
<!-- END viewBlock -->