<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form class="app-form" name="app_form" method="post">
    <div class="content-body-1020 content-body-1042">
        <div class="header-1020 header-1042">Manage Agent Account</div>
        {message}
        <div class="content-1042 new-style-content-1024 mtop30">
            <div class="mb0 frm-title">
                <p class="f14 fwbold mb0">Update agent account<br />
                    <span class="f12 fwnormal">All fields with (*) mark are required</span>
                </p>
            </div>
            <div class="topbtn">
                <button class="button shadow fwbold mt0" type="submit" name="save">Save</button>
            </div>
            <div class="clear"></div>
            <hr class="style4">
            <div class="block-mini box-size box-wrapp">
                <div class="list">
                    <label>First Name *</label>
                    <input value="{luser_id}" id="luser_id" name="fields[luser_id]" type="hidden">
                    <input value="{lcreated_by}" id="lcreated_by" name="fields[lcreated_by]" type="hidden">
                    <input value="{lfirstname}" id="lfirstname" name="fields[lfirstname]" type="text" class="text" required autocomplete="off">
                </div>
                <div class="list">
                    <label>Last Name</label>
                    <input value="{llastname}" id="llastname" name="fields[llastname]" type="text" class="text" autocomplete="off">
                </div>
                <div class="list">
                    <label>Gender</label>                    
                    <div class="select2-selecto">
                        <select id="lgender" name="fields[lgender]" class="select2-select" data-placeholder="Select gender" autocomplete="off" style="width: 100%;">
                            <option value=""></option>
                            {lgender}
                        </select>
                    </div>
                </div>
                <div class="list">
                    <label>Status</label>
                    <div class="select2-selecto">
                        <select id="lstatus" name="fields[lstatus]" class="select2-select" data-placeholder="Select agent status" autocomplete="off" style="width: 100%;">
                            <option value=""></option>
                            {lstatus}
                        </select>
                    </div>
                </div>
                <div class="list">
                    <label>Order ID</label>
                    <input value="{lorder_id}" id="lorder_id" name="fields[lorder_id]" type="text" class="text">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content-body-1020 content-body-1042">
        <div class="header-1020 header-1042">Credentials</div>
        <div class="content-1042 new-style-content-1024">
            <div class="block-mini box-size box-wrapp">
                <div class="list">
                    <label>Username *</label>
                    <input value="{lusername}" id="lusername" name="fields[lusername]" type="text" class="text" required readonly autocomplete="off">
                </div>
                <div class="list">
                    <label>Email *</label>
                    <input value="{lemail}" id="lemail" name="fields[lemail]" type="email" class="text" required readonly autocomplete="off">
                </div>
                <div class="list">
                    <label>Password</label>
                    <input id="lpassword" name="fields[lpassword]" type="password" class="text" autocomplete="off">
                </div>
                <div class="list">
                    <label>Confirm Password</label>
                    <input id="lcpassword" name="fields[lcpassword]" type="password" class="text" autocomplete="off">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content-body-1020 content-body-1042">
        <div class="header-1020 header-1042">Other Details</div>
        <div class="content-1042 new-style-content-1024">
            <div class="block-mini box-size box-wrapp">
                <div class="list">
                    <label>Phone</label>
                    <input value="{lphone}" id="lphone" name="fields[lphone]" type="text" class="text" autocomplete="off">
                </div>
                <div class="list">
                    <label>Website</label>
                    <input value="{lwebsite}" id="lwebsite" name="fields[lwebsite]" type="text" class="text" autocomplete="off">
                </div>
                <div class="list">
                    <label>Facebook</label>
                    <input value="{lfacebook}" id="lfacebook" name="fields[lfacebook]" type="text" class="text" autocomplete="off">
                </div>
                <div class="list">
                    <label>Instagram</label>
                    <input value="{linstagram}" id="linstagram" name="fields[linstagram]" type="text" class="text" autocomplete="off">
                </div>
                <div class="list">
                    <label>About</label>
                    <textarea id="labout" name="fields[labout]" class="textarea" autocomplete="off" rows="10">{labout}</textarea>
                </div>
            </div>
            <div class="button_step_bottom new-bsb">
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save">
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="url_ajax" value="{ajax_url}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->