<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<div class="content-body-1020 content-body-1042">
    <div class="header-1020 header-1042">Manage Agent Accounts</div>
    {message}
    <div class="content-1042 new-style-content-1024 mtop30">
        <div class="clear"></div>
        <div class="block-mini" style="margin-top: 0px; width: 100%; height: auto; border: none;margin: 0;  float: left;">
            <p class="f14 fwbold">Search Agent Account<br />
                <span class="f12 fwnormal">Search agent via Searchbox below</span>
            </p>
            <div class="list">
                <form method="post" action="{url_post}">
                    <input value="{search_val}" name="search" type="text" class="text textstyle search-txt" placeholder="Search agent account" style="margin: 0px 0px 6px; width: 378px; background-position: 437px 0px;float: left;line-height: 237%;"/>
                    <input type="button" class="button shadow fwbold btn-magnifier" value="" style="float: left; margin: 0px;"/>
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <hr style="float: left;" class="style4">
        <div class="block-full-list">
            <table id="table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Agent Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th width="80">Status</th>
                        <th data-orderable="false" width="80">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" id="limit" value="{limit}" autocomplete="off">
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</div>
<!-- END viewContent -->
<!-- END viewBlock -->