<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<section class="tripdtl">
    <div class="container">
        <h2 class="dtitle">RATE "{ltitle}"</h2>

        {message}
        <div class="hlfhlf renorm box-w flex">
            <div class="rvrvrv">
                <form class="review-form flex-wrap" method="post">
                    <h2 class="titleform">WHAT DID YOU THINK OF {ltitle}?</h2>
                    <div class="ehlf flex">
                        <h3>Accuracy</h3>
                        {laccuracy_score}
                    </div>
                    <div class="ehlf flex">
                        <h3>Cleanliness</h3>
                        {lcleanliness_score}
                    </div>
                    <div class="ehlf flex">
                        <h3>Location</h3>
                        {llocation_score}
                    </div>
                    <div class="ehlf flex">
                        <h3>Staff</h3>
                        {lstaff_score}
                    </div>
                    <div class="ehlf flex">
                        <h3>Activities</h3>
                        {lactivities_score}
                    </div>
                    <div class="ehlf flex">
                        <h3>Overall</h3>
                        {loverall_score}
                    </div>
                    <div class="fld flex">
                        <input type="hidden" name="fields[lname]" value="{lname}" />
                        <input type="hidden" name="fields[lpost_id]" value="{lpost_id}" />
                        <input type="hidden" name="fields[lreview_id]" value="{lreview_id}" />
                        <input type="hidden" name="fields[lbooking_id]" value="{lbooking_id}" />
                        <input type="text" name="fields[lreview_title]" value="{lreview_title}" placeholder="Title of your experience" />
                    </div>
                    <textarea name="fields[lreview_note]" id="" rows="10" placeholder="Tell us about your experience">{lreview_note}</textarea>
                    <button type="submit" name="save">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END formContent -->
<!-- END formBlock -->