<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form class="app-form" name="package_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Packages</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
            <div class="mb0 frm-title">
	            <p class="f14 fwbold mb0">Create a package<br />
	                <span class="f12 fwnormal">All fields with (*) mark are required</span>
	            </p>
	        </div>
            <div class="topbtn">
                <button class="button shadow fwbold mt0" type="submit" name="save">Save</button>
                <a href="{add_url}" class="button" style="">
                    <span class="button_ayp"></span>
                    <span class="button_txt">ADD NEW</span>
                </a>
            </div>
            {switcher_lang}
            <div class="clear"></div>
            <hr class="style4">
            <div class="block-mini box-size box-wrapp">
                <div class="list">
                    <label>Name</label>                
                    <input value="{llang_id}" id="llang_id" name="fields[llang_id]" type="hidden">
                    <input value="{lpackage_id}" id="lpackage_id" name="fields[lpackage_id]" type="hidden">
        			<input value="{lcreated_by}" id="lcreated_by" name="fields[lcreated_by]" type="hidden">
                    <input value="{lname}" id="lname" name="fields[lname]" type="text" class="text required">
                    <small><i>The name that will appear on your site.</i></small>
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Period</label>
                    <div class="chzn-selecto">
                        <select id="ltype" name="fields[ltype]" class="chzn-select" autocomplete="off" style="width:100%;" data-placeholder="Choose period" required>
                            {ltype}
                        </select>
                    </div>
                    <small><i>Set type of period that will be used to determine the duration of this package</i></small>
                </div>
                <div class="list list-period-type list-period-type-1">
                    <label>Range of date</label>                
                    <input value="{ldaterange}" id="ldaterange" name="fields[ldaterange]" type="text" class="text text-date-range" autocomplete="off" readonly />
                    <input value="{ldate_start}" id="ldate_start" name="fields[ldate_start]" type="text" class="text text-date-start hidden" autocomplete="off" />
                    <input value="{ldate_end}" id="ldate_end" name="fields[ldate_end]" type="text" class="text text-date-end hidden" autocomplete="off" />
                    <small><i>Set this field if you choose date range to determine the duration of this package</i></small>
                </div>
                <div class="list">
                    <label>Number of Night</label>                
                    <input value="{lnight}" id="lnight" name="fields[lnight]" type="text" class="text text-number" data-a-sign=" nights" autocomplete="off" data-a-sep="." data-a-dec="," data-a-pos="s" data-m-dec="0" data-a-min="1" />
                    <small><i>Set this field if you choose number of night to determine the duration of this package</i></small>
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Accommodation</label>
                    <div class="chzn-selecto">
                        <select id="lpost_id" name="fields[lpost_id]" class="chzn-select" autocomplete="off" style="width:100%;" data-placeholder="Choose accommodation" required {laccommodation_status}>
                            <option value=""></option>
                            {laccommodation}
                        </select>
                    </div>
                    <small><i>Set accommodation for this package</i></small>
                </div>
                <div class="list-room-rate">
                    {lpackage_detail}
                </div>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>

    <div class="content-body-1020 content-body-1042">
        <div class="content-1042 new-style-content-1024">
            <div class="button_step_bottom new-bsb">
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save">
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
	
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->