/* ========= BEGIN HOME ========== */
body{font-family: Arial, Verdana;	font-size:10px;}
.arraw{float:left; width:32px; height:32px; cursor:pointer; background-image:url(../images/arraw.png);}
.arraws{float:left; width:32px; height:32px; cursor:pointer; background-image:url(../images/arraws.png);}
table #table1 th{padding:5px; border-right:#dfdbdc solid 1px;}
table #table1 td{padding:5px; border-right:#eeeeee solid 1px; border-bottom:#eeeeee solid 1px}
table{border-bottom:1px #f0f0f0 solid;}
.wrapper{
	height:auto;
	width:auto;
}

.header{
	width:100%;
}
.menu_top{
	width:100%;
}
.toolbar{
	width:100%;
}
.main_body{
	width:100%;
	height:100px;
}
.body_home{
padding:20px;
}
.footer{
	width:100%;
	color:#FF6600;
	font-size:12px;
	font-family:Arial, Verdana;
}
.rules{
position:absolute;
margin-top:5px;
margin-left:10px;
color:#FF0000;
}
a {
	text-decoration:none;
	color:#0066CC;
}
a:hover {
	text-decoration:none;
	color:#0066CC;
}

a.logo {
	border:0;
	margin:1px;
}
a.logo:hover {
	border:1px;
	margin:2px;
}
a.logo img{
	border:0;
}

a.headView {
	text-decoration:none;
	color:#FFF;
}
a.headView:hover {
	text-decoration:none;
	color:#CCC;
}

a.zapatec {
	text-decoration:none;
	color:#FFF;
}
a.zapatec:hover {
	text-decoration:none;
	color:#FFF;
}
/* ========================== */
/*---Seach */
.search{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FF6600;
font-weight:bold;
margin-left:10px;
margin-bottom:5px;

}
/*********************************************************** TOOLBAR ********************************************************/
#toolbar{
	width:100% !important;
	width:99% ;
	
}
#toolbar_kiri{
	width:6%;
	float:left;
	height:80px;
}
#toolbar_tengah{
	width:44%;
	width:43% !important;
	float:left;
	height:80px;
	
	
}
#toolbar_tengah h1{
	margin-top:20px;
}
#toolbar_kanan{
	width:50% !important;
	width:49%;
	float:left;
	height:80px;
	
}
div.btn{
  margin: 1px;
  border: 1px solid #CCC;
  height: auto;
  width: 60px;
  float: right;
  text-align: center;
}
div.btn a img{
  display: inline;
  margin: 2px;
  border: 0px;
  
}
div.btn input{
  display: inline;
  margin: 3.5px !important;
  margin: 2px;
  border: 0px;
  
}
div.btn button{
  display: inline;
  margin: 3.5px !important;
  margin: 2px;
  border: 0px;
  background-color:#FFFFFF;
  
}
div.btn_desc{
  text-align: center;
  margin: 0px;
  color:#FF6600;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px;
}
div.btn a:hover img {
	border: 0px solid #FF6600;
	margin-top:4px !important;
	margin-top:6px;
}
 
div.btn  input:hover  {
	border: 0px solid #FF6600;
	margin-top:5px !important;
	margin-top:4.5px;
}
div.btn  .btn_desc:hover{
	color:#666666;
}


/*********************************************************** MAIN BODY *******************************************/

#main_body{
	width:100%;
	height:auto;
	margin-top:0px;
	margin-bottom:10px;
	clear:left;
	background-color:#EEE;
	border:1px solid #CCC;	

}

#body_kiri{
	border:1px solid #000;
	width:60%;
	height:auto;
	margin:4px;
	float:left;
	background-color:#EEE;
	padding:5px;
}
#body_kanan2{
	border:1px solid #000;
	width:35%;
	height:100%;
	margin:4px;
	float:left;
	background-color:#EEE;
}

#body_kanan{
	border:1px solid #000;
	margin-left:200px;
	width:40%;
	height:100%;
	margin:4px;
	background-color:#EEE;
}
.main_body{
	width:auto;
	height:100%;
	margin-top:0px;
	margin-bottom:10px;
	padding-bottom:10px;
	clear:left;
	background-color:#EEE;
	border:1px solid #EEE;	
}

div.img
{
  margin: 2px;
  border: 1px solid #CCC;
  height: 150px;
  width: auto;
  float: left;
  text-align: center;
}	
div.img img
{
  display: inline;
  margin: 3px;
  border: 0px solid #ffffff;
}
div.img a:hover img  {
	border: 0px solid #FF6600;
	margin-top:0px !important;
	margin-top:5px;
}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
  color:#FF6600;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}
div.img a:hover .desc{
	color:#666666;
}
#license{
	color:#FF6600;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	clear:left;
}
h1{
	font-family:Arial, Helvetica, sans-serif, "Century Gothic";
	font-size:16px;
	padding:0;
	margin:0;
	color:#ff6600;
}
a{
	color:#0066CC;
	text-decoration:none;
}
a:hover{
	color:#0066CC;
	text-decoration:underline;
}
input, select{
	font:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:5px;
}
textarea{
	background-color:#eef9f7;
	margin:0;
	padding:0;
	font-family:Arial,"Lucida Sans Unicode", Helvetica, sans-serif;
	font-size:11px;
	color:#636262;
	line-height:1.5em;
	width:620px;
	height:200px;
}

/*.row_ganjil a{*/
.row_ganjil {
    clear:left; 
	background-color:#F5F5F5;
	font-size:11px;
	color:#000000;
	border-bottom:1px solid #CCC;
	margin:0;
	height:30px;
	display:block;
}

.row_ganjil input{
	margin-top:3px;
	margin-bottom:3px;
}
/*.row_genap a{*/
.row_genap{
	clear:left;
	background-color:#FFFFFF;
	font-size:11px;
	color:#000000;
	border-bottom:1px solid #CCC;
	margin:0;
	height:30px;
	display:block;
}

.row_genap input{
	margin-top:3px;
}
a.logo {
	border:0;
	margin:1px;
}
a.logo:hover {
	border:1px;
	margin:2px;
}
a.logo img{
	border:0;
}
/*---Start Pagination---*/
#pagination {
text-align: center;
width: auto;
border: 0px solid #006633;
margin: 0 auto;
font-size:12px;
}
#pagination p {
margin-top: 0;
}
#pagination ul {
margin-bottom: 0;
padding: 0;
font-size:12px;
}
#pagination li {
display: inline;
margin: 0;
margin-right: 1em;
color: #eee;
font-size:12px;
}
#pagination .sel {color: #FF9900; font-weight: bold;font-size:12px;}
/*---End Pagination--*/
.button_edit
{
background-image:url(../images/edit_f2.jpg);
background-repeat:no-repeat;
background-position:center;
border:0;
height: 32px !important; 
height: 35px;
width: 32px;
background-color:#FFFFFF;
color:#fff70c;
font-size:0px;
text-align:right; 
vertical-align:bottom;
cursor:pointer;
}
.button_delete
{
background-image:url(../images/delete_f2.jpg);
background-repeat:no-repeat;
background-position:center;
border:0;
height: 32px !important; 
height: 35px;
width: 32px;
background-color:#FFFFFF;
color:#fff70c;
font-size:0px;
text-align:right; 
vertical-align:bottom;
cursor:pointer;
}
.button_search
{
background-image:url(../images/search.png);
background-repeat:no-repeat;
background-position:left;
border:0px solid #FF3300;
height: 20px !important; 
height: 20px;
width: 80px;
background-color:#dfdbdc;
color:#FF3300;
text-align:center; 
cursor:pointer;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}
.button_yesno{
height: 20px !important; 
height: 20px;
width: 40px;
border:1px solid #FF3300;
background-color:#dfdbdc;
color:#FF3300;
text-align:center; 
cursor:pointer;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}
.width500{
	width: 500px;
}
.width200{
	width: 200px;
}
th{
	/*background-image:url(images/background.jpg);*/
	background-color:#FF6600;
	border-bottom:1px #ccc solid;
	padding-top:0px;
	padding-bottom:0px;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	height:5px;
}
th.errorMsg{
	text-align:left;
	font-size:16px;
}
th.detail{
	text-align:left;
}
tr
{
	background-color:#FFFFFF;
	color:#000000;
	font-family:arial,verdana,helvetica;
	font-size:11px;
	vertical-align:top;
}
td{
	padding-left:3px;
	padding-right:3px;
	padding-top:0px;
	padding-bottom::0px;
	vertical-align:middle;
}
.row_list_2
{
	background-color:#F5F5F5;
	color:#000000;
	font-family:arial,verdana,helvetica;
	font-size:11px;
	vertical-align:top;
}
.recommended{
color:#FF6600;
font:Arial, Helvetica, sans-serif 12px;
}
.requiredMsg{
color:#000000;
font-family:Arial, Helvetica, sans-serif, "Arial Narrow";
float:left;
font-size:11px;
}
.required{
font:Arial, Helvetica, sans-serif;
font-size:10px;
margin:5px;
}
.plus{
color:#FF00FF;
font-family:Arial, Helvetica, sans-serif, "Arial Narrow";
font-size:18px;
}
.table_body_kiri{
width:60%;
height:auto;
}
.table_body_kanan{
width:40%;
height:auto;
}
.iframe_page_detail{
width: 585px;
height: 400px;
border:0;
}
.page_detail_content{
width:441px;
background-color:#FFFFFF;
line-height:1.5em;
font-size:11px;
color:#404345;
font-family:Arial, Helvetica, sans-serif;
line-height:1.9em;
}
.uk{
background-image:url(../images/flags/uk.gif);
background-repeat:no-repeat;
width:16px;
height:11px;
float:left;
position:absolute;
}
.de{
background-image:url(../images/flags/de.gif);
background-repeat:no-repeat;
width:16px;
height:11px;
float:right;
}
.fr{
background-image:url(../images/flags/fr.gif);
background-repeat:no-repeat;
width:16px;
height:11px;
float:left;
position:absolute;
}
.id{
background-image:url(../images/flags/id.gif);
background-repeat:no-repeat;
width:16px;
height:11px;
float:left;
}

/* ========================== */

/* ========= BEGIN MENU TOP ===== */
/*********************************************************** MENU TOP********************************************/
#orange_line{
	background-color:#FF6600;
	border:1px solid #FFF;
	padding:3 6px;
	border-right-color:#CCC;
	border-bottom-color:#CCC;
	height:8px;
}
#menu{
  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding: 3 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #EEE;
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
  z-index: 100;

}

ul#navmenu {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 100%; /*For KHTML*/
  list-style: none;
  height: 24px;
  z-index: 100;
}

ul#navmenu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
  z-index: 100;
}

ul#navmenu ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 200px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 100;
}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
  z-index: 100;
}

ul#navmenu ul li {
  width: 200px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  z-index: 100;
}

/* Root Menu */
ul#navmenu a {
  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #EEE;
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 51%; /*For IE*/
  z-index: 100;
}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
  background: #FF6600;
  color: #FFF;
}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
  float: none;
  background: #EEE;
  color: #666;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
  background: #FF6600;
  color: #FFF;
}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
  background: #FF6600;
  color: #FFF;
}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
  background: #FF6600;
  color: #FFF;
}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
  display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
  display: block;
}

/* ========= END MENU TOP ======= */

/* ========= END HOME ========== */

/* ========= BEGIN LOGIN ======= */
/*---Login ----*/
.login_container{
	width:300px;
	height:270px;
	margin:0 auto;
	border:1px #FF6633 solid;
}
.login_header{
	background:url(http://www.lumonata.com/images/lumonata_logo.gif) no-repeat top right;
	height:70px;
	border-bottom:2px #FF9900 solid;
}
.label{
	margin:20px;
	font-size:12px;
	font-weight:bold;
	
}
.submit_btn{
	border:0;
	background-color:#FF3300;
	color:#FFF;
	height:20px;
	width:40px;
}
/* ========= END LOGIN ========== */
/**==========PAGING ====*/
#paging{
	text-align:center;
	margin-top:10px;
	font-size:12px;

}
#paging ul{
	list-style:none;
	padding:0;
	margin:0;
}
#paging ul li{
	display:inline;
	margin:2px;
}
/*======END PAGING ====*/
/*BEGIN PASSWORD STRENGTH METER*/
.passBackBar{
width:100px;
height:10px;
background-color:#CCCCCC;
float:left;
margin-right:5px; 
margin-top:3px;
}
.passBar{
height: 10px; width:50px;
}
.passText{
font-weight:bold;
}
/*END PASSWORD STRENGTH METER*/
.error{
	height:auto;
	background:#FFB0B0;
	border:1px solid #FF0000;
	color:#000000;
	padding:2px 5px 2px 5px;
}
.success{
	height:auto;
	background:#93FF93;
	/*border:1px solid #003300;
	border-bottom:2px #003300 solid;
	border-right:2px #003300 solid;*/
	padding:10px;
	color:#000000;
}
.confirm{
	height:auto;
	background:#FFB871;
	/*border:1px solid #FF9900;*/
	padding:10px;
	color:#000000;
}

/*Only for Login*/
body#login-page {font-family: 'Open Sans', sans-serif;font-size: 10px;}
body#login-page .clear{clear:both;}
body#login-page .login_header {background:url(../images/logo.png) no-repeat center center;background-size: 200px auto;border-bottom:none;margin: 0px auto 25px;}
body#login-page .login_container{width: 290px;height: 245px;border: 1px #AAAAAA solid;margin:0 auto;padding: 55px 50px;}
body#login-page .title-login .admin-logos {float:left;width:26px; height:34px; margin: 0 15px 0 0;}
body#login-page .title-login{margin: 0 0 30px 0;}
body#login-page .title-login h1{font-size:33px;font-weight:300;float: left;line-height: 100%;color: #384EA1;}
body#login-page .admin-logos {background:url(../images/admin-logos.png) no-repeat;}
body#login-page h1{font-family: 'Open Sans', sans-serif;font-size:16px;color:#384EA1;margin:0;padding:0;} 
body#login-page input{font-family: 'Open Sans', sans-serif;font-size:14px;margin: 0px 0px 10px 0px;padding: 10px 15px;border: 1px solid #aaaaaa;} 
body#login-page .w262px{width:262px;}
body#login-page .login_container .submit_btn {margin-top: 15px;}
body#login-page .login_container .alert{ padding:20px 0 0; color:red; font-size:12px; }
body#login-page .login_container .alert p{ margin:0; }
body#login-page .submit_btn{border:0;background-color: #F26532;color:#FFF;padding: 10px 30px;height: auto;width: auto;} 
body#login-page .footer-product-by {margin: 100px auto 0 auto;width: 190px;}
body#login-page .footer-product-by span.lbl {font-size:12px;color:#555; float:left;margin-top: 6px;}
body#login-page .footer-product-by span.admin-logos {float:left;width: 110px;height: 25px;background: url(../images/lumonata.png) no-repeat;background-position: center center;background-size: contain;margin: 0 0 0 15px;}