<!-- BEGIN detailBlock -->
{error}
<!-- BEGIN detailContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab mrbot_ flex">
            <h2 class="dtitle">{ptitle}</h2>
            <div class="frmsrc flex">
                <a href="javascript:history.go(-1)" class="blckbtn">BACK</a>
            </div>
        </div>
        <div class="hlfhlf renorm box-w flex">
            <div class="ehlf flex">
                <h3>GUESTS</h3>
                <p>
                    {guest}
                    <span>{guest_num}</span>
                </p>
            </div>
            <div class="ehlf flex">
                <h3>PRICE</h3>
                <p>
                    {total}
                    <span><i class="label_">Deposit</i> {deposit}</span>
                    <span><i class="label_">To be paid</i> {balance}</span>
                </p>
            </div>
            <div class="ehlf flex">
                <h3>LISTING </h3>
                <p>
                    {listing_name}
                    <span>{listing_location}</span>
                </p>
            </div>
            <div class="ehlf flex">
                <h3>ROOM</h3>
                <p>
                    {rooms}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>CHECK IN</h3>
                <p>
                    {check_in}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>ADD-ONS</h3>
                <p>
                    {addons}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>CHECK OUT</h3>
                <p>
                    {check_out}
                </p>
            </div>
            <div class="ehlf flex">
                <h3>SPECIAL REQUEST</h3>
                <p>
                    <span>{note}</span>
                </p>
            </div>
        </div>
        <div class="ctrlbtn sprtr_ flex {action_class}">
            <a href="javascript:;" class="nbtn nbtn-confirm-booking green_" data-id="{bid}">Confirm Booking</a>
            <a href="javascript:;" class="nbtn nbtn-change-date yellow_" data-id="{bid}">Propose Alternative Dates</a>
            <a href="javascript:;" class="nbtn nbtn-refuse-booking red_" data-id="{bid}">Refuse Booking</a>
        </div>
    </div>

    <div class="hidden">
        <div id="popup-confirm-booking" class="popup popup-confirm-booking">
            <div class="inner">
                <div class="boxs">
                    <h2>DO YOU REALLY WANT TO<br/>CONFIRM THIS BOOKING</h2>
                    <div class="action">
                        <a href="javascript:;" class="btn btn-confirm-yes">Yes</a>
                        <a href="javascript:;" class="btn btn-confirm-no">No</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-change-date" class="popup popup-change-date">
            <div class="inner">
                <div class="boxs">
                    <h2>ALTERNATIVE DATES</h2>
                    <div class="form">
                        <fieldset>
                            <label>Check in</label>
                            <input type="text" class="datepicker" name="lcheck_in" autocomplete="off" required />
                        </fieldset>
                        <fieldset>
                            <label>Check out</label>
                            <input type="text" class="datepicker" name="lcheck_out" autocomplete="off" required />
                        </fieldset>
                        <fieldset>
                            <label>Message</label>
                            <textarea name="lmessage" required></textarea>
                        </fieldset>
                        <p class="desc">
                            Dates and rates may not be updated by the partner. Upon availability request, 
                            the partner will confirm before any payment is charged from you
                        </p>
                        <div class="action">
                            <a href="javascript:;" class="btn btn-send">SEND</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-refuse-booking" class="popup popup-refuse-booking">
            <div class="inner">
                <div class="boxs">
                    <h2>DO YOU REALLY WANT TO<br/>REFUSE THIS BOOKING</h2>
                    <div class="action">
                        <a href="javascript:;" class="btn btn-refuse-yes">Yes</a>
                        <a href="javascript:;" class="btn btn-refuse-no">No</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</section>
<!-- END detailContent -->
<!-- END detailBlock -->