<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab flex">
            <h2 class="dtitle">PENDING CONFIRMATION</h2>
            <div class="frmsrc flex">
                <div class="form flex">
                    <img src="//{template_url}/asset/img/src.svg" alt="" class="icnsearch">
                    <input type="text" name="pcbsearchval" autocomplete="off">
                    <button type="button" name="pcbsearchbtn">SEARCH</button>
                </div>
            </div>
        </div>
        <div class="tabtab">
            <table id="table_pcbooking" class="tabwrapp">
                <thead>
                    <tr>
                        <th data-orderable="false" width="50">
                            <div class="td1 cutkform">
                                <div class="form-group">
                                    <input id="pc_cb" class="checkall" name="pc_checkall" type="checkbox" onchange="check_list(this,'#table_pcbooking');" autocomplete="off">
                                    <label for="pc_cb"></label>
                                </div>
                            </div>
                        </th>
                        <th width="120">BOOKING ID</th>
                        <th width="200">GUESTS</th>
                        <th>CHECK-IN</th>
                        <th>CHECK-OUT</th>
                        <th>BOOKED</th>
                        <th>LISTING</th>
                        <th width="120">TOTAL AMOUNT</th>
                        <th data-orderable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="ctrlbtn l_ sprtr_ flex">
            <a href="javascript:;" class="nbtn nbtn-confirm-booking green_">Confirm Booking</a>
            <a href="javascript:;" class="nbtn nbtn-change-date yellow_">Propose Alternative Dates</a>
            <a href="javascript:;" class="nbtn nbtn-refuse-booking red_">Refuse Booking</a>
        </div>
        <div class="toptab flex">
            <h2 class="dtitle">PENDING PAYMENT</h2>
            <div class="frmsrc flex">
                <div class="form flex">
                    <img src="//{template_url}/asset/img/src.svg" alt="" class="icnsearch">
                    <input type="text" name="ppbsearchval" autocomplete="off">
                    <button type="button" name="ppbsearchbtn">SEARCH</button>
                </div>
            </div>
        </div>
        <div class="tabtab">
            <table id="table_ppbooking" class="tabwrapp">
                <thead>
                    <tr>
                        <th data-orderable="false" width="50">
                            <div class="td1 cutkform">
                                <div class="form-group">
                                    <input id="pp_cb" class="checkall" name="pp_checkall" type="checkbox" onchange="check_list(this,'#table_ppbooking');" autocomplete="off">
                                    <label for="pp_cb"></label>
                                </div>
                            </div>
                        </th>
                        <th width="120">BOOKING ID</th>
                        <th width="200">GUESTS</th>
                        <th>CHECK-IN</th>
                        <th>CHECK-OUT</th>
                        <th>BOOKED</th>
                        <th>LISTING</th>
                        <th width="120">TOTAL AMOUNT</th>
                        <th data-orderable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    
    <div class="hidden">
        <div id="popup-confirm-booking" class="popup popup-confirm-booking">
            <div class="inner">
                <div class="boxs">
                    <h2>DO YOU REALLY WANT TO<br/>CONFIRM THIS BOOKING</h2>
                    <div class="action">
                        <a href="javascript:;" class="btn btn-confirm-yes">Yes</a>
                        <a href="javascript:;" class="btn btn-confirm-no">No</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-change-date" class="popup popup-change-date">
            <div class="inner">
                <div class="boxs">
                    <h2>ALTERNATIVE DATES</h2>
                    <div class="form">
                        <fieldset>
                            <label>Check in</label>
                            <input type="text" class="datepicker" name="lcheck_in" autocomplete="off" required />
                        </fieldset>
                        <fieldset>
                            <label>Check out</label>
                            <input type="text" class="datepicker" name="lcheck_out" autocomplete="off" required />
                        </fieldset>
                        <fieldset>
                            <label>Message</label>
                            <textarea name="lmessage" required></textarea>
                        </fieldset>
                        <p class="desc">
                            Dates and rates may not be updated by the partner. Upon availability request, 
                            the partner will confirm before any payment is charged from you
                        </p>
                        <div class="action">
                            <a href="javascript:;" class="btn btn-send">SEND</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-refuse-booking" class="popup popup-refuse-booking">
            <div class="inner">
                <div class="boxs">
                    <h2>DO YOU REALLY WANT TO<br/>REFUSE THIS BOOKING</h2>
                    <div class="action">
                        <a href="javascript:;" class="btn btn-refuse-yes">Yes</a>
                        <a href="javascript:;" class="btn btn-refuse-no">No</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</section>
<!-- END viewContent -->
<!-- END viewBlock -->