<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab flex">
            <h2 class="dtitle">RESERVATIONS</h2>
            <div class="frmsrc flex">
                <div class="conselopt" style="display:none;">
                    <select name="acco_id" class="selopt sl2_ajax" data-placeholder="Select Listing">
                        <option value=""></option>
                        {accommodation_list_option}
                    </select>
                </div>
                <div class="conselopt">
                    <select name="status" class="selopt sl2_ajax" data-placeholder="All Booking Status">
                        <option value=""></option>
                        <option value="0">Check Availability</option>
                        <option value="1">Confirmed</option>
                        <option value="2">Refused</option>
                        <option value="3">Request Alternative Dates</option>
                    </select>
                </div>
                <div class="cfield wh-set">
                    <input name="period" type="text" class="datepicker" placeholder="Booking Date" />
                    <input name="start" type="hidden" value="" />
                    <input name="end" type="hidden" value="" />
                </div>
                <div class="form flex">
                    <img src="//{template_url}/asset/img/src.svg" alt="" class="icnsearch">
                    <input type="text" name="rsearchval" autocomplete="off">
                    <button type="button" name="rbsearchbtn">SEARCH</button>
                </div>
            </div>
        </div>
        <div class="tabtab">
            <table id="table_reservations" class="tabwrapp">
                <thead>
                    <tr>
                        <th width="120">BOOKING ID</th>
                        <th width="200">GUESTS</th>
                        <th>CHECK-IN</th>
                        <th>CHECK-OUT</th>
                        <th>BOOKED</th>
                        <th>LISTING</th>
                        <th width="120">TOTAL AMOUNT</th>
                        <th data-orderable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</section>
<!-- END viewContent -->
<!-- END viewBlock -->