<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<div class="content-body-1020 content-body-1042">
    <div class="header-1020 header-1042">Manage Translations</div>
    {message}
    <div class="content-1042 new-style-content-1024 mtop30">
        <div class="block-flex box-size">
            <div class="mb0 b-left">
                <p class="f14 fwbold mb0">Create a new Translation (or update)<br />
                    <span class="f12 fwnormal">Fill-in the form.</span>
                </p>
            </div>
            <div class="mb0 b-right">
                <p class="f14 fwbold mb0" style="text-align: right;">Search Translation<br />
                    <span class="f12 fwnormal">You can fill the box to refine your search.</span>
                </p>
            </div>
            <div class="clear"></div>
            <hr class="style4">
        </div>
        <div class="block-flex box-size">
            <div class="block-mini bw-left">
                <form method="post" enctype="multipart/form-data">
                    <span class="or35"></span>
                    <div class="list">
                        <label>String Code</label>
                        <input value="{ltranslate_id}" name="fields[ltranslate_id]" type="hidden" class="text" />
                        <input value="{ltranslate_code}" name="fields[ltranslate_code]" type="text" class="text" {ltranslate_code_attr} />
                        <small class="list-field-desc"><i>Code that will be used to call the translation (for example: call-me).</i></small>
                    </div>
                    <div class="list list-field">
                        <label>Translations</label>
                        {ltranslate_content}
                    </div>
                    <a href="{cancel_url}" class="button shadow fwbold {cancel_css}">CANCEL</a>
                    <label for="btn_cta" class="btn-plus-style {btn_style}">
                        <span class="admin-logos"></span>
                        <input name="save" type="submit" value="{action_label}" class="" id="btn_cta">
                    </label>
                </form>
            </div>
            <div class="block-mini bw-right">
                <div class="block-list">
                    <div class="list">
                        <label>Type something</label>
                        <div class="block-flex box-size">
                            <div class="search-wrapp">
                                <input type="text" class="text textstyle search-txt mt10" name="lsearch" placeholder="Search..." autocomplete="off" />
                                <input type="button" class="button shadow fwbold btn-magnifier" />
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn-filter button shadow fwbold" value="FILTER" name="filter">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <hr class="style4">
        <div class="block-full-list">
            <table id="table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th data-orderable="false">Code</th>
                        <th data-orderable="false" width="600">Text</th>
                        <th>Created Date</th>
                        <th data-orderable="false" width="80">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" id="limit" value="{limit}" autocomplete="off">
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</div>
<!-- END viewContent -->
<!-- END viewBlock -->