.wrap-list-form{
    margin-top: 20px;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child){
    margin: 0;
}

.fc .fc-button{
    border-radius: 0;
}

.fc .fc-button:disabled{
    background: inherit !important;
}

.fc-h-event{
    background: inherit;
    border-color: transparent;
    text-align: right;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fc-h-event .fc-event-main{
    color: #23a8de;
}

.fc-h-event .fc-event-main p{
    margin: 2px 0 !important;
}

.fc-daygrid-day-bg{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.fc-day-past .fc-daygrid-day-bg{
    background-color: #f5f5f5;
}

.fc-booked .fc-daygrid-day-bg{
    background-color: #FFBABA;
}

.fc-col-header-cell .fc-scrollgrid-sync-inner{
    background: #FFA348;
    color: #FFFFFF;
    padding: 5px;
}

.fc .fc-button-primary{
    background: #FFA348;
    border-color: #FFA348;
}

.fc .fc-button-primary:hover{
    border-color: #FFA348;
    background: #FFA348;
}

.fc .fc-button-primary:focus, 
.fc .fc-button-primary:not(:disabled).fc-button-active:focus, 
.fc .fc-button-primary:not(:disabled):active:focus{
    border-color: #FFA348;
    background: #FFFFFF;
    box-shadow: none;
    color: #FFA348;
}

.fc-h-event .fc-event-main p.allotment{
    font-weight: 600;
    color: green;
}

.fc-h-event .fc-event-main p.rate{
    font-weight: 600;
    color: purple;
}

.fc .fc-daygrid-day-number{
    color: #1B86B4;
    font-size: 15px;
    font-weight: 600;
}

.fc .fc-daygrid-day-events,
.fc .fc-daygrid-event-harness{
    position: static !important;
}