.box-size *{
    box-sizing: border-box;
}

.flex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.text-red{
    color: red !important;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.error {
    background: none repeat scroll 0 0 #FFBABA;
    border: 1px solid #D8000C;
    box-sizing: border-box;
    color: #D8000C;
    padding: 15px
}

.error h2{
    color: #D8000C !important;
}

.error p{
    color: #D8000C !important;
    margin: 0 !important;
}

.error .button_yesno{
    text-transform: uppercase;
    background: #D8000C;
    padding: 8px 15px;
    margin-top: 15px;
    font-size: 15px;
    color: #FFFFFF;
    border: 0;
}

.tcheck{
    margin: 0 auto;
}

a.button{
    height: 35px;
}

a.button span{
    margin: 4px;
}

.popup-wrap .booking-wrapper-container{
    position: static;
    display: none;
}

.popup-booking .booking-wrapper-container{
    display: block;
}

.popup-booking .popup-wrap{
    background: transparent;
    padding: 15px;
}

.popup-booking .center-booking-wrapper{
    max-width: 1024px;
    width: 100%;
    margin: 0;
}

.popup-change-rate-availability .center-booking-wrapper{
    max-width: 500px;
}

.popup-change-rate-availability .button{
    margin: 15px 0 0;
}

.popup-change-rate-availability .custom-rate{
    text-decoration: underline;
    cursor: pointer;
    color: #1B86B4;
}

.popup-schedule .center-booking-wrapper{
    max-width: 600px;
}

.popup-booking .fancybox-close-small{
    background: url(../images/icon-close-new.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: cover;
    box-shadow: 4px 3px 5px #000000;
        border-radius: 50%;
        cursor: pointer;
        height: 30px;
        width: 30px;
        opacity: 1;
}

.popup-booking .content-1042.new-style-content-1024.mtop30{
    margin: 0;
}

.popup-booking .block-mini{
    border-right: none;
    max-width: 600x;
    height: auto;
    width: 100%;
    margin: 0;
}

.popup-booking .block-mini .chosen-container{
    width: 100% !important;
}

.popup-booking .list{
    margin-top: 15px;
    width: 100%; 
}

.popup-booking .list small{
    margin-top: 5px; 
    display: block; 
    float: left;
}

.popup-booking .list label{
    margin-bottom: 5px;
    width: 100%;
}

.popup-booking .list input.text{
    width: 100%;
    margin: 0;
}

.table-booking-detail{
    width: 100%;
}

.table-booking-detail tbody td,
.table-booking-detail thead th{
    border: 1px solid #ddd;
}

.actionv,
.actionc,
.actionp,
.actionf,
.action_view,
.action_bookingstatus{
    color: inherit;
    text-decoration: none;
}

.block-mini .list-select-option{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
}

.block-mini .list-select-option .chzn-selecto{
    width: 33.33%;
}

.block-mini .list-select-option .chzn-selecto .chosen-container{
    width: 100% !important;
}

.block-mini .list-select-option .chzn-selecto .chosen-container-single .chosen-single{
    border-right: 0;
}

.block-mini .list-select-option .chzn-selecto-last .chosen-container-single .chosen-single{
    border-right: 1px solid #ccc;
}

.block-mini .list-full{
    width: 100%;
}

.block-mini .list-full .chzn-selecto{
    width: 25%;
}

.block-flex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
}

.block-flex .half-box{
    padding-right: 5px;
    float: left;
    width:50%;
}

.block-flex .half-box:last-child{
    padding-left: 5px;
    padding-right: 0;
}

.b-left{
    margin-top: 0px; 
    height: auto; 
    border:none; 
    float:left;
    width: 50%; 
}

.b-right{
    border-left:1px solid #CEE3F4; 
    margin-top: 0px; 
    margin-left:0px; 
    height: auto; 
    float:left;
    width: 50%; 
}

.bw-left{
    border-right:1px solid #CEE3F4;
    padding-right: 30px;
    height: auto; 
    float: left;
    width: 50%; 
    margin: 0;  
}

.bw-right{
    padding-left: 30px;
    border: none;
    height: auto;
    float: left;
    width: 50%;
    margin: 0;
}

.bw-right .block-list{
    float: none;
}

.bw-left .list label,
.bw-right .list label{
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

.bw-left .list input.text,
.bw-right .list input.text{
    width: 100%;
    margin: 0;
}

.bw-left .list .field-wrapp{
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.bw-left .list .field-wrapp span{
    margin-right: 10px;
    width: 40px;
}

.bw-left .list .field-wrapp input.text,
.bw-left .list .field-wrapp .textarea{
    width: calc(100% - 50px);
}

.bw-left .list .field-wrapp .textarea{
    margin: 0;
}

.bw-left .button{
    margin: 10px 0 0 10px;
    background: #bbbbbb;
    text-align: center;
    line-height: 35px;
    padding: 0px 10px;
    font-size: 15px; 
    float: right;
    width: 108px;
    height: 35px; 
}

.bw-left label.btn-plus-style,
.bw-right label.btn-plus-style{
    margin: 10px 0 0 0;
}

.bw-right .search-wrapp{
    position: relative;
    width: 100%;
}

.bw-right .search-wrapp input.text.search-txt{
    background-position: 437px 0px;
    padding-right: 50px;
    width: 100%;
    margin: 0;  
}

.bw-right .search-wrapp .button{
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
}

.bw-right .btn-filter{
    margin: 10px 0 0 0;
    padding: 9px 10px;
    font-size: 15px;
    height: 35px;
    width: 110px;
    float: right;
}

.bw-right .chzn-select{
    width: 100%;
}

.topbtn{
    margin-top: 10px;
    float: right;
}

.topbtn a{
    margin: 0 0 0 5px;
    line-height: 34px;
    height: 34px;
}

.topbtn a .button_txt{
    margin: 0 10px 0 10px !important;
}

.topbtn button{
    text-transform: uppercase;
    padding: 8px 15px;
    margin: 0 0 0 5px;
    font-size: 15px;
    height: 34px;
}

.button_step_bottom{
    float: right;
}

.button_step_bottom .button{
    text-transform: uppercase;
    padding: 8px 15px;
    font-weight: 400;
    font-size: 15px;
    height: 34px;
}

.frm-title{
    margin-top: 0px; 
    width: 487px; 
    height: auto; 
    border:none; 
    float:left;
}

.app-form .box-wrapp{
    border-right:none; 
    margin-top: 0px; 
    height: auto;
    width: 100%;  
    margin: 0;
}

.app-form .box-wrapp .list{
    margin-top: 15px;
    width: 100%; 
}

.app-form .box-wrapp .list label{
    margin-bottom:5px;
    text-align: left;
    margin-left:0px;
    width: 100%;
}

.app-form .box-wrapp .list small{
    margin-top: 5px; 
    display: block; 
    float: left;
}

.app-form .box-wrapp .list .text{
    margin-left: 0px; 
    width: 100%;
}

.app-form .box-wrapp .list .textarea{
    border: 1px solid #CCC;
    margin-left: 0px;
    background: #FFF;
    width: 100%;
}

.tbcheck{
    position: relative;
}

.tbcheck input[type="checkbox"]{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.tbcheck label {
    background: url(../images/admin-logos.png) -365px 0 no-repeat;
    display: inline-block;
    cursor: pointer;
    height: 21px;
    width: 58px;
}

.tbcheck input[type="checkbox"]:checked + label{
    background-position: -293px 0;
}

.chosen-container{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 14px;
    margin: 0;
}

.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices{
	-webkit-box-shadow: none;
	border-color: #ccc;
	padding-left: 15px;
	line-height: 34px;
	box-shadow: none;
	background: #FFF;
	border-radius: 0;
	height: 35px;
}

.chosen-container-multi .chosen-choices{
    min-height: 35px;
    height: auto;
}

.chosen-disabled{
    opacity: 1 !important;
}

.chosen-disabled .chosen-single, 
.chosen-disabled .chosen-choices{
    background: #f5f5f5 !important;
}

.chosen-container-multi .chosen-choices li.search-choice{
    margin: 4px 5px 4px 0;
    padding: 4px 20px 4px 5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    top: 6px;
}

.chosen-container-single .chosen-single div b,
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background: url(../images/admin-logos.png) no-repeat;
    background-position: -143px -12px;
    margin: 10px 8px;
    height: 10px;
    width: 14px;
}

.chosen-container-single .chosen-single div{
	width: 30px;
}

.chosen-container-single .chosen-drop{
	border-color: #ccc;
}

.chosen-container-single .chosen-search input[type="text"]{
	font-family: inherit;
	border-color: #ccc;
	padding: 5px 10px;	
}

.chosen-container .chosen-results{
	padding: 0;
	margin: 0;
}

.chosen-container .chosen-results li.active-result,
.chosen-container .chosen-results li.disabled-result{
	border-bottom: 1px solid #cccccc;
	padding: 10px 15px;
}

.chosen-container .chosen-results li.highlighted{
	background-color: #FF8E1B;
	background-image: -webkit-linear-gradient(top, #FF8E1B 20%, #FE8105 90%);
	background-image: -moz-linear-gradient(top, #FF8E1B 20%, #FE8105 90%);
	background-image: -o-linear-gradient(top, #FF8E1B 20%, #FE8105 90%);
	background-image: linear-gradient(#FF8E1B 20%, #FE8105 90%);
}

.select2-selecto .select2-container {
    margin-top: 5px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0
}

.select2-container .select2-selection--single {
    height: 35px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 33px;
    width: 35px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: url(../images/admin-logos.png) no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-position: -143px -12px;
    position: static;
    border-width: 0;
    height: 10px;
    width: 14px
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0
}

.mce-tinymce.mce-container.mce-panel {
    border: none;
}

table.dataTable tbody td,
table.dataTable thead td,
table.dataTable thead th {
    border-right: solid 1px #ddd;
    border-bottom: 0
}

table.dataTable tbody td:last-child,
table.dataTable thead td:last-child,
table.dataTable thead th:last-child {
    border-right: 0
}

table.dataTable.display tbody tr td:nth-child(odd),
table.dataTable.display tbody tr.even>.sorting_1:nth-child(odd),
table.dataTable.display tbody tr.odd>.sorting_1:nth-child(odd) {
    background-color: #eff5fc
}

table.dataTable.display tbody tr td:nth-child(even),
table.dataTable.display tbody tr.even>.sorting_1:nth-child(even),
table.dataTable.display tbody tr.odd>.sorting_1:nth-child(even) {
    background-color: #fff
}

table.dataTable.display tbody td,
table.dataTable.no-footer,
table.dataTable.row-border tbody td {
    border-color: #cee3f4
}

table.dataTable tfoot th,
table.dataTable thead th {
    font-weight: 400;
    font-size: 14px;
}

table.dataTable tbody td,
table.dataTable tbody th {
    vertical-align: top;
    padding: 5px 18px;
    font-size: 13px;
}

table.dataTable tbody td,
table.dataTable td.dataTables_empty {
    padding: 10px 18px
}

table.dataTable thead th.text-center,
table.dataTable tbody td.text-center{
    text-align: center;
}

.actionc{
    background: url(../images/admin-logos.png) right no-repeat;
    background-position: -642px -74px;
    text-decoration: none;
    position: relative;
    margin: 0 5px 0 0;
    cursor: pointer;
    height: 22px;
    width: 24px;
    color: #333;
    float: left;
}

.actionf{
    background: url(../images/admin-logos.png) right no-repeat;
    background-position: -698px 5px;
    background-color: #f5f5f5;
    border: 1px solid #bbbbbb;
    text-decoration: none;
    position: relative;
    margin: 0 5px 0 0;
    cursor: pointer;
    height: 20px;
    width: 22px;
    color: #333;
    float: left;
}

.actionp{
    background: url(../images/admin-logos.png) right no-repeat;
    background-position: -652px -38px;
    text-decoration: none;
    position: relative;
    margin: 0 5px 0 0;
    cursor: pointer;
    height: 22px;
    width: 24px;
    color: #333;
    float: left;
}

.actiond,
.actione,
.actionc,
.actionf,
.actionp{
    float: none;
    display: inline-block;
}

.actionf{ 
    display: none;
}

.actionicon{
    margin: 0 auto 5px;
}

.ui-dialog {
    padding: 15px 16px 15px;
    width: auto !important;
    background: #1b86b4;
    border-radius: 0;
    max-width: 500px;
    border: 0
}

.ui-widget {
    font-family: "Open Sans", sans-serif;
    font-size: 15px
}

.ui-widget-content {
    color: #444
}

.ui-widget-overlay {
    background: rgba(255, 255, 255, .8);
    z-index: 99999;
    opacity: 1;
}

.ui-dialog{
    z-index: 99999;
}

.ui-dialog .ui-dialog-content {
    min-height: 0 !important;
    background: #fff;
    padding: 20px
}

.ui-dialog-no-titlebar .ui-dialog-titlebar {
    display: none
}

.ui-dialog .ui-dialog-buttonpane {
    background: #fff;
    border-width: 0;
    padding: 0;
    margin: 0
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    padding-right: 5px
}

.ui-dialog .ui-dialog-buttonpane button {
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #fff !important;
    background: #ffa348;
    margin: 0 5px 15px;
    border-radius: 0;
    font-size: 13px;
    border: 0
}

.list-content a {
    text-decoration: none
}

.property_popup:hover {
    text-decoration: underline
}

.wrap-list-property {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 5px #bcbcbc;
    height: auto;
    padding: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
    width: 550px;
    border: solid 1px #bdbdbd;
    text-align: left;
    padding-bottom: 0;
    left: 60px;
    top: -140px;
    display: none;
    -moz-box-shadow: 0 0 5px #bcbcbc;
    -webkit-box-shadow: 0 0 5px #bcbcbc;
    box-shadow: 0 0 5px #bcbcbc
}

.wrap-list-property .list-property {
    float: left;
    margin-bottom: 20px;
    border: solid 1px #bdbdbd;
    height: 120px;
    display: block;
    width: 549px
}

.wrap-list-property .list-property .list-property-b1 {
    float: left;
    width: 180px;
    height: 120px;
    -moz-box-shadow: 3px 0 2px #bcbcbc;
    -webkit-box-shadow: 3px 0 2px #bcbcbc;
    box-shadow: 3px 0 2px #bcbcbc;
    position: relative;
    z-index: 3
}

.wrap-list-property .list-property .list-property-b1 img {
    margin: 5px
}

.wrap-list-property .list-property .list-property-b2 {
    float: left;
    width: 369px;
    height: 120px;
    background: -moz-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(100%, #d6d6d6));
    background: -webkit-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: -o-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: linear-gradient(to bottom, #fdfdfd 0, #d6d6d6 100%);
    position: relative;
    z-index: 2
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-t {
    display: block;
    padding: 10px;
    background: url(../images/20130207/bor2.jpg) bottom repeat-x;
    height: 45px
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-t h2 {
    font-family: MyriadPro-SemiboldSemiCn !important;
    font-size: 16px;
    color: #333;
    padding-bottom: 0
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-t span {
    font-size: 13px;
    font-style: italic;
    color: #777;
    background: url(../images/20130207/icon1.png) no-repeat;
    padding-left: 10px;
    background-position: 0 2px
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-bl {
    background: url(../images/20130207/bor3.jpg) right repeat-y;
    display: block;
    height: 48px;
    line-height: 1.2em;
    padding: 3px 10px;
    width: 215px;
    font-size: 13px;
    float: left
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-bl b {
    font-weight: 400;
    font-family: MyriadPro-SemiboldSemiCn !important;
    color: #333
}

.wrap-list-property .list-property .list-property-b2 .list-property-b2-br {
    display: block;
    float: left;
    height: 48px;
    padding: 0 7px;
    width: 113px;
    font-family: MyriadPro-SemiboldSemiCn !important;
    color: #333;
    font-size: 13px;
    position: relative
}

.wrap-list-property .list-property .list-property-b3 {
    float: left;
    width: 219px;
    height: 100px;
    padding: 10px;
    -moz-box-shadow: 3px 0 2px #bcbcbc;
    -webkit-box-shadow: 3px 0 2px #bcbcbc;
    box-shadow: 3px 0 2px #bcbcbc;
    position: relative;
    z-index: 1;
    font-size: 13px
}

.wrap-list-property .list-property .list-property-b3 h2 {
    font-family: MyriadPro-SemiboldSemiCn !important;
    font-size: 13px !important
}

.wrap-list-property .list-property .list-property-b3 a {
    color: #00a5c4;
    text-decoration: underline;
    font-family: MyriadPro-SemiboldSemiCn !important
}

.wrap-list-property .list-property .list-property-b3 ul {
    margin-left: 15px;
    margin-top: 5px;
    padding-left: 10px
}

.wrap-list-property .list-property .list-property-b3 li form {
    display: inline
}

.wrap-list-property .list-property .list-property-b3 li form .button_a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #00a5c4;
    display: inline;
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-align: left;
    cursor: pointer
}

.wrap-list-property .list-property .list-property-b4 {
    float: left;
    width: 190px;
    height: 120px
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-tl {
    border-right: 1px solid #e5e5e5;
    color: #333;
    display: block;
    float: left;
    font-size: 13px;
    height: 50px;
    padding: 5px;
    text-align: right;
    width: 55px
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-tr {
    float: left;
    height: 50px;
    padding: 5px;
    width: 109px
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b {
    display: block;
    float: left;
    width: 100%;
    border-top: 1px solid #e5e5e5
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action {
    background: -moz-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(100%, #d6d6d6));
    background: -webkit-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: -o-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0, #d6d6d6 100%);
    background: linear-gradient(to bottom, #fdfdfd 0, #d6d6d6 100%);
    border: 1px solid #bdbdbd;
    cursor: pointer;
    display: block;
    float: left;
    height: 48px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 85px;
    position: relative
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action:hover {
    background: -moz-linear-gradient(top, #d6d6d6 0, #fdfdfd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(100%, #fdfdfd));
    background: -webkit-linear-gradient(top, #d6d6d6 0, #fdfdfd 100%);
    background: -o-linear-gradient(top, #d6d6d6 0, #fdfdfd 100%);
    background: -ms-linear-gradient(top, #d6d6d6 0, #fdfdfd 100%);
    background: linear-gradient(to bottom, #d6d6d6 0, #fdfdfd 100%)
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action .icon131_1 {
    margin: 6px 0 0 29px
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action .icon132 {
    margin: 3px 0 0 29px
}

.wrap-list-property .list-property .list-property-b4 .list-property-b4-b .action input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    text-indent: -99999px;
    width: 85px;
    top: 0;
    left: 0
}

.wrap-progressbar {
    background: url(../images/20130207/default120x78.jpg) no-repeat;
    display: block;
    height: 78px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 120px;
    z-index: 10000
}

.wrap-progressbar.wrap-progressbar-my-property {
    background: none repeat scroll 0 0 transparent;
    height: 32px;
    left: 0;
    top: 26px;
    width: 133px
}

.wrap-progressbar.wrap-progressbar-my-property .progressbar-text {
    background: none repeat scroll 0 0 #333;
    border-radius: 2px 2px 2px 2px;
    bottom: 25px;
    color: #fff;
    font-size: 11px;
    height: 15px;
    left: 0;
    line-height: 13px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    width: 30px
}

.wrap-progressbar.wrap-progressbar-my-property .progressbar-text .progressbar-arrow {
    background: url(../images/20130207/icon2.png) no-repeat;
    width: 9px;
    height: 6px;
    position: absolute;
    bottom: -6px;
    left: 11px
}

.wrap-progressbar.wrap-progressbar-my-property .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all {
    width: 120px
}

.wrap-progressbar span {
    display: block;
    font-size: 13px;
    width: 124px;
    font-family: MyriadPro-SemiboldSemiCn !important
}

.wrap-progressbar span:first-child {
    margin-top: 10px
}

.wrap-progressbar .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all {
    background: url(../images/20130207/bg3.png) repeat-x;
    height: 10px;
    margin-left: 4px;
    margin-top: 12px;
    width: 110px
}

.wrap-progressbar .ui-progressbar .ui-progressbar-value {
    background: none repeat scroll 0 0 #22b9d4;
    height: 9px;
    margin-top: 1px;
    margin-left: 1px;
    background: -moz-linear-gradient(top, #23b8d5 0, #229ad0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #23b8d5), color-stop(100%, #229ad0));
    background: -webkit-linear-gradient(top, #23b8d5 0, #229ad0 100%);
    background: -o-linear-gradient(top, #23b8d5 0, #229ad0 100%);
    background: -ms-linear-gradient(top, #23b8d5 0, #229ad0 100%);
    background: linear-gradient(to bottom, #23b8d5 0, #229ad0 100%);
    background: url(../images/20130207/bg4.png) repeat-x;
    border: medium none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 5px
}

.wrap-list-property .scrollbar4 {
    clear: both;
    font-size: 12px;
    margin: 0;
    width: 530px
}

.wrap-list-property .scrollbar4 .viewport {
    width: 520px;
    height: 531px;
    position: relative
}

.wrap-list-property .scrollbar4 .viewport.viewporthidden {
    overflow: hidden
}

.wrap-list-property .scrollbar4 .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

.wrap-list-property .scrollbar4 .overview ul li {
    padding: 2px
}

.wrap-list-property .scrollbar4 .overview ul li span {
    float: right
}

.wrap-list-property .scrollbar4 .thumb,
.wrap-list-property .scrollbar4 .thumb .end {
    background-color: #989898
}

.wrap-list-property .scrollbar4 .scrollbar {
    position: relative;
    float: right;
    width: 6px
}

.wrap-list-property .scrollbar4 .track {
    background-color: #dfdddd;
    height: 100%;
    width: 6px;
    position: relative;
    padding: 0;
    border-radius: 2px
}

.wrap-list-property .scrollbar4 .thumb {
    height: 20px;
    width: 6px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-radius: 2px
}

.wrap-list-property .scrollbar4 .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 6px
}

.wrap-list-property .scrollbar4 .disable {
    display: none
}

.property_popup {
    cursor: pointer
}

.actionm .content-mask {
    background: none repeat scroll 0 0 #fff;
    display: none;
    height: 22px;
    left: 7px;
    opacity: .5;
    position: absolute;
    top: 16px;
    width: 95px;
    z-index: 1
}

.actionm .content-mask .loadmore-loading {
    display: block;
    position: absolute;
    right: 5px
}

.block-mini .list .olmd {
    margin-right: 0
}

.chzn-selecto.chzn-selecto-action .chzn-container .chzn-results .active-result:first-child {
    color: #333
}

.list-content-box .list-content {
    font-size: 13px
}

.list-content-box-new .list-content {
    padding: 0
}

.list-content-box .list-content:nth-child(2n+1) {
    background: #eff5fc
}

.list-content-box.listdelete .list-content:nth-child(2n+1) {
    background: #fdd
}

.list-content-box.listoff .list-content:nth-child(2n+1) {
    background: #e1e7ed
}

.wrap-list-content-box .list-content-box.listoff .list-content:nth-child(2n+1) {
    background: #e1e7ed
}

.wrap-list-content-box .list-content-box.listoff .list-content:nth-child(2n+2) {
    background: #f0f0f0
}

.list-content-box .list-content b {
    font-weight: 400
}

.avartar_hd_temp div {
    position: absolute;
    z-index: 100;
    left: 390px;
    top: 201px;
    -moz-box-shadow: 0 0 5px #bcbcbc;
    -webkit-box-shadow: 0 0 5px #bcbcbc;
    box-shadow: 0 0 5px #bcbcbc;
    background: #fff;
    border: solid 1px #bdbdbd;
    padding: 20px
}

.wrapper-file {
    float: left;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 58px;
    position: absolute;
    width: 100px;
    z-index: 11
}

.wrapper-file img {
    position: absolute
}

.file-loading {
    width: 13px;
    height: 13px;
    background: url(../images/icon204.png) no-repeat;
    margin: 0 auto;
    display: none;
    margin-top: 23px;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0)
    }

    100% {
        -moz-transform: rotate(360deg)
    }
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0)
    }

    100% {
        -moz-transform: rotate(-360deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

.wrap-file {
    margin: 5px;
    position: absolute
}

.wrap-file span {
    float: left;
    font-weight: 400 !important;
    height: 16px !important;
    margin: 0 4px 0 0;
    padding: 0 2px
}

span.avatarfile_ok {
    cursor: pointer;
    height: 16px !important;
    margin: 0;
    padding: 0 2px;
    position: absolute;
    right: 4px;
    top: 5px
}

.wrap-file .avatarfile input {
    cursor: pointer;
    height: 20px;
    left: -2px;
    opacity: 0;
    position: absolute;
    top: -2px;
    width: 67px
}

.actione span {
    border-left: 1px solid #bdbdbd;
    border-right: medium none;
    float: left;
    height: 13px;
    font-size: 11px
}

.actiond span {
    border-left: 1px solid #bdbdbd;
    border-right: medium none;
    float: left;
    height: 13px;
    font-weight: 400 !important;
    font-size: 11px
}

.actiond.actiond_section span,
.actiond.actiond_slider span {
    height: auto
}

.actiondr span,
.list-content .action-box a span {
    height: 13px;
    font-weight: 400
}

.section-list {
    height: 170px;
    background: -moz-linear-gradient(top, #fff 0, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #eee));
    background: -webkit-linear-gradient(top, #fff 0, #eee 100%);
    background: -o-linear-gradient(top, #fff 0, #eee 100%);
    background: -ms-linear-gradient(top, #fff 0, #eee 100%);
    background: linear-gradient(to bottom, #fff 0, #eee 100%)
}

.curent-section {
    font-weight: 400
}

.section-list .icon200 {
    background: url(../images/icon203.png) no-repeat scroll 0 0 transparent;
    top: 75px
}

.actiondr.actiondrbaru span,
.section-list-active .actiondr span,
.wrap-drag-drop-126 .content-drag-drop .actiondr span {
    line-height: 12px;
    padding: 5px 9px 5px 6px;
    vertical-align: middle
}

.section-list .text1 {
    top: 73px
}

.section-addnew {
    display: none
}

.main-section {
    padding-bottom: 10px
}

.button5,
.button_phm {
    font-weight: 400;
    font-size: 19px !important
}

.section-list .text1,
.wrap-drag-drop .content-drag-drop .text1,
.wrap-drag-drop .content-drag-drop .text2,
.wrap-drag-drop-126 .content-drag-drop .text2,
.wrap-drag-drop-list-action .actiond span,
.wrap-drag-drop-list-action .actionsd span,
.wrap-drag-drop-list-action .actionss span {
    font-weight: 400 !important
}

.wrap-filter-char {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 131px;
    top: 0
}

.wrap-filter-char p {
    margin-bottom: 0 !important
}

.wrap-filter-char .olmd {
    float: right !important;
    margin-top: 7px !important
}

.wrap-snapshot {
    background: none repeat scroll 0 0 #fff;
    -moz-box-shadow: 0 0 5px #bcbcbc;
    -webkit-box-shadow: 0 0 5px #bcbcbc;
    box-shadow: 0 0 5px #bcbcbc;
    display: none;
    padding: 0 20px 20px;
    position: absolute;
    right: -490px;
    top: 0;
    width: 450px;
    z-index: 101
}

#home-display-page .wrap-snapshot {
    right: -483px;
    width: 450px
}

#home-display-page .wrap-drag-drop-126 {
    width: 140px
}

#home-display-page .wrap-drag-drop-126 .box-drag-drop {
    width: 135px
}

#home-display-page .wrap-drag-drop-126 .content-drag-drop {
    width: 122px;
    height: 71px;
    background: 0 0
}

a.button_phm input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.avartar_hd_block:hover .action-delete-avatar-hd {
    display: block
}

.action-delete-avatar-hd {
    background: url(../images/icon183.png) no-repeat;
    position: absolute;
    width: 15px;
    height: 16px;
    right: 4px;
    top: 4px;
    display: none;
    cursor: pointer
}

.menubo li a {
    font-weight: 400;
    font-size: 14px
}

.container .content-right.content-right-1020 .fwbold {
    font-weight: 400
}

.list-header {
    font-weight: 400;
    font-size: 15px;
    color: #444
}

.step span.step14 {
    font-weight: 300;
    font-size: 14px
}

.block-mini .list .avatarfile {
    font-size: 13px;
    font-weight: 400 !important;
    text-align: center
}

.sendmsg-body textarea {
    padding-bottom: 55px
}

.sendmsg-body .logo {
    bottom: 47px;
    height: 45px;
    left: 15px;
    position: absolute;
    width: 461px;
    background: url(../images/20130207/icon3.png) no-repeat #333;
    background-position: 5px 5px
}

.sendmsg-body .notif {
    background: url(../images/20130207/icon4.png) no-repeat;
    bottom: 8px;
    left: 10px;
    padding-left: 20px;
    position: absolute;
    display: none
}

.icon5 {
    width: 13px;
    height: 11px;
    position: absolute;
    background: url(../images/20130207/icon5.png) no-repeat;
    right: 3px;
    bottom: 3px;
    cursor: pointer
}

.icon6 {
    background: url(../images/20130207/icon6.png) no-repeat;
    cursor: pointer;
    height: 17px;
    left: 10px;
    position: absolute;
    top: 15px;
    width: 16px
}

.icon7 {
    background: url(../images/20130207/icon7.png) no-repeat;
    cursor: pointer;
    height: 18px;
    left: 21px;
    position: absolute;
    top: 16px;
    width: 18px;
    background-position: -4px -4px
}

.icon7.accept {
    background-position: -4px -54px
}

.icon7.refuse {
    background-position: -4px -104px
}

.icon7.ban {
    background-position: -4px -154px
}

.list-content a.c_008DEA {
    color: #008dea
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(1) {
    background: url(../images/20130207/icon7.png) no-repeat;
    background-position: 127px 4px;
    color: #333
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(1):hover {
    background: url(../images/20130207/icon7.png) #ea4b12 no-repeat;
    background-position: 127px 4px;
    color: #fff
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(2) {
    background: url(../images/20130207/icon7.png) no-repeat;
    background-position: 127px -95px;
    color: #333
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(2):hover {
    background: url(../images/20130207/icon7.png) #ea4b12 no-repeat;
    background-position: 127px -95px;
    color: #fff
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(3) {
    background: url(../images/20130207/icon7.png) no-repeat;
    background-position: 127px -45px;
    color: #333
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(3):hover {
    background: url(../images/20130207/icon7.png) #ea4b12 no-repeat;
    background-position: 127px -45px;
    color: #fff
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(4) {
    background: url(../images/20130207/icon7.png) no-repeat;
    background-position: 127px -145px;
    color: #333
}

#status_search_chzn.chzn-container .chzn-results .active-result:nth-child(4):hover {
    background: url(../images/20130207/icon7.png) #ea4b12 no-repeat;
    background-position: 127px -145px;
    color: #fff
}

.review-box {
    bottom: 75px;
    height: 189px;
    left: -66px;
    position: absolute;
    text-shadow: none;
    width: 231px;
    z-index: 10;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    display: none;
    left: -10000px
}

.review-box .review-body {
    background: none repeat scroll 0 0 #333;
    color: #333;
    padding: 10px
}

.review-box .review-body {
    position: relative;
    background: #333
}

.review-box .review-body:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.review-box .review-body:after {
    border-color: rgba(51, 51, 51, 0);
    border-top-color: #333;
    border-width: 10px;
    left: 50%;
    margin-left: -6px
}

.review-box .review-body .content-mask {
    background: none repeat scroll 0 0 #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.review-box .review-body .content-mask:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.review-box .review-body .content-mask:after {
    border-color: rgba(51, 51, 51, 0);
    border-top-color: #fff;
    border-width: 10px;
    left: 50%;
    margin-left: -6px
}

.review-box .review-body .content-mask .loadmore-loading {
    display: block;
    position: absolute;
    right: 5px
}

.review-box .review-body .review-title {
    background: url(../images/20130207/icon8.png) #333 no-repeat;
    color: #fff;
    font-size: 13px;
    padding: 0 25px;
    position: relative;
    text-shadow: none
}

.review-box .review-body .review-title a {
    color: #fff
}

.review-box .review-body .review-title .icon7 {
    left: auto;
    right: 0;
    top: 0
}

.review-box .review-body .review-desc {
    background: none repeat scroll 0 0 #fff;
    margin: 10px 0;
    padding: 10px
}

.review-box .review-body .review-footer .button {
    float: none;
    border: none;
    text-shadow: 0 -1px 0 #989898;
    width: 60px;
    margin: 0 13px 0 0;
    font-size: 12px;
    height: 25px;
    opacity: .5
}

.review-box .review-body .review-footer .button.actionr-triger {
    opacity: 1
}

.review-box .review-body .review-footer .button.none {
    display: none
}

.review-box .review-body .review-footer .button:nth-child(1) {
    background: -moz-linear-gradient(top, #9cdc5b 0, #59b200 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9cdc5b), color-stop(100%, #59b200));
    background: -webkit-linear-gradient(top, #9cdc5b 0, #59b200 100%);
    background: -o-linear-gradient(top, #9cdc5b 0, #59b200 100%);
    background: -ms-linear-gradient(top, #9cdc5b 0, #59b200 100%);
    background: linear-gradient(to bottom, #9cdc5b 0, #59b200 100%)
}

.review-box .review-body .review-footer .button:nth-child(1):hover {
    background: -moz-linear-gradient(top, #59b200 0, #9cdc5b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #59b200), color-stop(100%, #9cdc5b));
    background: -webkit-linear-gradient(top, #59b200 0, #9cdc5b 100%);
    background: -o-linear-gradient(top, #59b200 0, #9cdc5b 100%);
    background: -ms-linear-gradient(top, #59b200 0, #9cdc5b 100%);
    background: linear-gradient(to bottom, #59b200 0, #9cdc5b 100%)
}

.review-box .review-body .review-footer .button:nth-child(3),
.review-box .review-body .review-footer .button:nth-child(4) {
    background: -moz-linear-gradient(top, #faac90 0, #d90000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #faac90), color-stop(100%, #d90000));
    background: -webkit-linear-gradient(top, #faac90 0, #d90000 100%);
    background: -o-linear-gradient(top, #faac90 0, #d90000 100%);
    background: -ms-linear-gradient(top, #faac90 0, #d90000 100%);
    background: linear-gradient(to bottom, #faac90 0, #d90000 100%);
    float: right;
    margin: 0
}

.review-box .review-body .review-footer .button:nth-child(3):hover,
.review-box .review-body .review-footer .button:nth-child(4):hover {
    background: -moz-linear-gradient(top, #d90000 0, #faac90 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d90000), color-stop(100%, #faac90));
    background: -webkit-linear-gradient(top, #d90000 0, #faac90 100%);
    background: -o-linear-gradient(top, #d90000 0, #faac90 100%);
    background: -ms-linear-gradient(top, #d90000 0, #faac90 100%);
    background: linear-gradient(to bottom, #d90000 0, #faac90 100%)
}

.review-box .scrollbar4 {
    clear: both;
    font-size: 12px;
    margin: 0;
    width: 530px
}

.review-box .scrollbar4 .viewport {
    width: 520px;
    height: 531px;
    position: relative
}

.review-box .scrollbar4 .viewport.viewporthidden {
    overflow: hidden
}

.review-box .scrollbar4 .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

.review-box .scrollbar4 .overview ul li {
    padding: 2px
}

.review-box .scrollbar4 .overview ul li span {
    float: right
}

.review-box .scrollbar4 .thumb,
.review-box .scrollbar4 .thumb .end {
    background-color: #989898
}

.review-box .scrollbar4 .scrollbar {
    position: relative;
    float: right;
    width: 6px
}

.review-box .scrollbar4 .track {
    background-color: #dfdddd;
    height: 100%;
    width: 6px;
    position: relative;
    padding: 0;
    border-radius: 2px
}

.review-box .scrollbar4 .thumb {
    height: 20px;
    width: 6px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-radius: 2px
}

.review-box .scrollbar4 .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 6px
}

.review-box .scrollbar4 .disable {
    display: none
}

.webwidget_rating_sex {
    padding: 0;
    margin: 0 5px;
    float: left
}

.webwidget_rating_sex li {
    line-height: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    list-style: none;
    float: left;
    cursor: pointer;
    background-image: url(../images/icon245.png)
}

.webwidget_rating_sex li span {
    display: none
}

.add_property {
    float: left;
    background: url(../images/20130207/icon179.png) left no-repeat;
    padding-left: 20px;
    margin: 12px 12px 12px 20px;
    color: #009fb1;
    cursor: pointer;
    display: none
}

.delete_property {
    float: left;
    background: url(../images/20130207/icon6.png) left no-repeat;
    padding-left: 20px;
    margin: 12px 12px 12px 20px;
    color: #777;
    cursor: pointer;
    display: none
}

.list-property-active li {
    background: linear-gradient(to bottom, #f7f7f7 0, #eee 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #bdbdbd;
    float: left;
    margin: 5px 10px 5px 0;
    padding: 2px 5px 2px 5px
}

.list-property-active li .icon209 {
    background: url(../images/20130207/icon6.png) no-repeat scroll right center #fff;
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 0;
    width: 20px
}

.block-mini .list-checkbox label {
    float: none;
    padding-left: 5px;
}

.block-mini .list-checkbox ul ul {
    margin-left: 20px;
    margin-top: 10px;
}

.block-mini .list-checkbox ul ul li {
    padding-bottom: 10px;
}

.multiple-check-list{
    position: relative;
    flex-wrap: wrap;
    display: flex;
}

.processing:before{
    content: 'LOADING ...';
        position: absolute;
        text-align: center;
        line-height: 30px;
        margin-top: -15px;
        height: 30px;
        width: 100%;
        z-index: 1;
        top: 50%;
        left: 0;
}

.processing:after{
    content: '';
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        text-align: center;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
}

.multiple-check-list .cols{
    border-bottom: 1px solid #CEE3F4;
    border-right: 1px solid #CEE3F4;
    box-sizing: border-box;
    width: 50%;
}

.multiple-check-list .cols:last-child .htext{
    border-bottom: 1px solid #CEE3F4;
    border-top: 1px solid #CEE3F4;
    padding: 0 0 14px 10px;
}

.multiple-check-list .htext{
    box-sizing: border-box;
    margin-top: 0px;
    height: auto;
    border:none;
    width: 100%;
}

.multiple-check-list table.dataTable thead th{
    padding: 7px 10px;
}

.multiple-check-list table.dataTable tbody td{
    border-top: 1px solid #CEE3F4 !important;
    padding: 0 10px;
}

.multiple-check-list table.dataTable tbody .dataTables_empty{
    padding: 7px 10px;
}

.multiple-check-list table.dataTable.no-footer{
    border-bottom: 0;
}

.multiple-check-list table.dataTable .actiont,
.multiple-check-list table.dataTable .actiond{
    display: inline-block;
    cursor: pointer;
    margin: 5px 0 0;
    height: 24px;
    width: 24px;
    float: none;
}

.multiple-check-list table.dataTable .actiont{
    background-position: -163px 0px;
}

.multiple-check-list table.dataTable .actiond{

}

.multiple-check-list .dataTables_wrapper .dataTables_paginate{
    border-top: 1px solid #CEE3F4 !important;
    text-align: center;
    padding: 10px 0;
    float: none;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top: 30px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border-color: #23a8de;
    background: #23a8de;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    border-color: #23a8de;
    background: #FFFFFF;
}

.custom-checkbox{
    margin: 0 !important;
}

.custom-checkbox [type="checkbox"]:not(:checked),
.custom-checkbox [type="checkbox"]:checked {
    position: absolute;
    opacity: 0.01;
    left: 0;
}

.custom-checkbox [type="checkbox"]:not(:checked) + label,
.custom-checkbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
    float: none;
}

.custom-checkbox [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox [type="checkbox"]:checked + label:before {
    content: '';
        background-image: url(../images/admin-logos.png);
        background-position: -659px 2px;
        background-repeat: no-repeat;
        position: absolute;
        height: 19px;
        width: 19px;
        top: -3px;
        left: 0;
}

.custom-checkbox [type="checkbox"]:checked + label:before{
    background-position: -659px -19px;
}

.block-mini .list input.search-txt{
    line-height: 33px;
}

.block-mini .list .avatar-wrap{
    margin: 5px 0 10px;
}

.block-mini .list .avatar-wrap img{
    border: 1px solid #ddd;
    object-fit: cover;
    height: 100px;
    width: 100px;
    padding: 4px;
}

.block-mini .list .file-wrap{
    margin: 5px 0 10px;
}

.block-mini .list .file-image{
    justify-content: flex-start;
    border: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 170px;
    width: 170px;
    padding: 5px;
}

.block-mini .list .file-image .overlay{
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.block-mini .list .file-image .overlay a{
    visibility: hidden;
    cursor: pointer;
    color: #FFFFFF;
}

.block-mini .list .file-image .overlay:hover{    
    background: rgba(0, 0, 0, 0.7);
}

.block-mini .list .file-image .overlay:hover a{
    visibility: visible;
}

.block-mini .list .file-not-image{
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 40px;
}

.block-mini .list .file-image img{
    transition: opacity .3s ease-in;
    object-fit: cover;
    filter: blur(3px);
    opacity: 0.3;
    height: 100%;
    width: 100%;
}

.block-mini .list .file-not-image img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.block-mini .list .file-image .progress{
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 700;
    font-size: 17px;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.block-mini .list .file-not-image .progress{
    background: rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.block-mini .list .uploaded img{
    filter: unset;
    opacity: 1;
}

.block-mini .list .uploaded .progress{
    display: none;
}

.block-mini .list label.upload-gallery,
.block-mini .list label.upload-avatar,
.block-mini .list label.upload-file{
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px 0 0 0;
    display: flex;
    width: 100px;
    float: none;
}

.block-mini .list label.upload-gallery,
.block-mini .list label.upload-file{
    width: auto !important;
    display: inline-block;
    background: #23A8DE;
    padding: 0 20px;
    color: #FFFFFF;
}

.block-mini .list label.upload-gallery input[type="file"],
.block-mini .list label.upload-avatar input[type="file"],
.block-mini .list label.upload-file input[type="file"]{
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.block-mini .list label.upload-gallery span.ico-attachment,
.block-mini .list label.upload-file span.ico-attachment,
.block-mini .list label.upload-avatar span.admin-logos{
    margin: 0 5px 0 0;
    position: static;
}

.block-mini .list textarea{
    padding: 10px;
    height: auto;
}

.file-drop-zone{
    margin-bottom: 10px;
    background:#EAF2F1;
    min-height:120px;
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
    width: 100%;
}

.file-drop-zone .item{
    position: relative;
    height: 100px;
    width: 100px;
    opacity: 0.5;
    margin: 5px;
}

.file-drop-zone img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.file-drop-zone .action{
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
}

.file-drop-zone .action:hover{
    opacity: 1;
}

.file-drop-zone .delete{
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
}

.file-drop-zone .item .progress{
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 700;
    font-size: 17px;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.file-drop-zone .uploaded{
    opacity: 1;
}

.file-drop-zone .uploaded .action{
    visibility: visible;
}

.drag-drop{
    justify-content: center;
    align-items: center;
    min-height:120px;
    display: flex;
    width: 100%;
}

.drag-drop-hide,
.cloned-wrapp{
    display: none;
}

.drag-drop span{
    background: url(../images/admin-logos.png) left no-repeat;
    background-position: -407px -29px;
    height: 71px;
    width: 86px;
}

.drag-drop b{
    margin-left: 15px;
    font-weight: 400;
    font-size: 15px;
    color: #444;
}

.ico-attachment{
    background: url(../images/admin-logos.png) left no-repeat;
    background-position: -135px -28px;
    height: 100%;
    width: 30px;
    float: left;
}

.block-mini .list-field{
    width: 100%; 
    margin-top: 15px;
}

.block-mini .list-field input.text{
    margin-left: 0px; 
    width: 100%;
}

.block-mini .list-field input.text-small{
    width: 150px;
}

.block-mini .list-field input.text-medium{
    width: 300px;
}

.block-mini .list-field input.text-date{
    width: 240px;
}

.block-mini .list-field .textarea{
    border: 1px solid #CCC;
    background: #FFF;
    margin-left: 0px;
    font-size: 14px;
    width: 100%;
}

.block-mini .list .list-field-title{
    text-align: left;
    width: 100%;
    margin-left:0px;
    margin-bottom:5px;
    float: none;
    display: block;
}

.block-mini .list-field-desc{
    font-size: 11px;
    margin-top: 5px; 
    display: block; 
    clear: left;
    float: left;
}

.block-mini .list-field-checkbox{
    flex-wrap: wrap;
    display: flex;
}

.block-mini .list-field-checkbox .list-field-title{
    width: 150px;
}

.block-mini .list-field-checkbox .list-checkbox{
    width: calc(100% - 150px);
}

.block-mini .list-field-checkbox .list-checkbox li{
    margin-bottom: 10px;
    float: left;
    width: 25%;
}

.block-mini .no-float{
    float: none !important;
}

.block-mini .repeater-group{
    width: 100%;
}

.block-mini .repeater-group-title{
    text-align: left;
    width: 100%;
    margin-left:0px;
    margin-bottom:5px;
}

.block-mini .repeater-item-wrapp{
    border:1px solid #ccc;
    padding:10px; 
}

.block-mini .repeater-item .list:first-child{
    margin-top: 0 !important;
}

.block-mini .repeater-anchor{
    border-bottom:1px solid #ccc;
    background: #EAF2F1;
    padding:10px 15px;
    border-radius: 0;
}

.block-mini .repeater-anchor.ui-state-active{
    border-color: #cccccc;
    color: #454545;
}

.block-mini .repeater-anchor .ui-icon{
    border-color: transparent transparent transparent #454545;
    border-width: 5px 0 5px 8px;
    vertical-align: middle;
    background-image: none;
    border-style: solid;
    margin-right: 10px;
    height: 0;
    width: 0;
}

.block-mini .repeater-anchor h4{
    display: inline;
    font-size: 14px;
    margin: 0;
}

.block-mini .repeater-anchor.ui-state-active .ui-icon{
    border-color: #444444 transparent transparent transparent;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    height: 0;
    width: 0;
}

.block-mini .repeater-field{
    padding:10px 15px; 
}

.block-mini .repeater-body{
    border-radius: 0;
    padding: 0;
}

.block-mini .repeater-action{
    border-top:1px solid #ccc;
    justify-content: flex-end;
    background: #EAF2F1;
    padding:10px 15px; 
    display: flex;
    width: 100%;
}

.block-mini .repeater-action button,
.block-mini .connect{
    border: 1px solid #23A8DE;
    background: #23A8DE;
    margin-left: 10px;
    padding: 8px 10px;
    border-radius: 0;
    cursor: pointer;
    color: #fff;
}

.block-mini .connect{
    width: 150px;
    display: block;
    margin-top: 15px;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    float: left;
}

.block-mini .addguest{
    margin-top: 0;
    width: 80px;
}

.purchase-cont .bblock,
.pass-cont .bblock{
    max-width:200px; 
    float: right;
}

.pass-cont .del-pass{
    cursor: pointer;
    color: red;
}

.purchase-cont .bblock span,
.pass-cont .bblock span{
    display: inline-block; 
    margin-right: 10px;
}

.purchase-cont .bblock input,
.pass-cont .bblock input{
    width: 80px;
}

.block-mini .repeater-action button:hover,
.block-mini .connect:hover{
    background: transparent;
    color: #23A8DE;
}

.booking-id-content:first-child{
    text-align: left;
}

.purchase-cont{
    border: 0;
}

.back-soft-gray{
    background-color: #f5f5f5;
    font-weight: 700;
}

.add-new-schedule {
    border: 1px solid #23A8DE;
    background: #23A8DE;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 0;
    cursor: pointer;
    color: #fff;
}

.customer-cont .box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
        align-items:center; 
        margin:5px 0;
        width:100%;
}

.customer-cont .box-top{
    align-items: flex-start;
}

.content-container-left{
    float: left;
    width: 90px;
}

.popup-wrap:disabled{
    border: 1px solid #ddd;
}

.popup-wrap .customer-cont{
    border-bottom: 0;
    padding-bottom: 0;
}

.popup-field-select,
.guest-select{
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
            border: 1px solid #ddd;
            padding: 8px 10px;
            background: #fff;
            width: 100%;
}

.popup-field-text{
    line-height: normal !important;
    border: 1px solid #ddd;
    padding: 8px 10px;
    width: 100%;
}

.text-half{
    width: calc( 50% - 2.5px );
    float: left;
}

.text-half:first-child{
    margin-right: 2.5px;
}

.text-half:last-child{
    margin-left: 2.5px;
}

.relative-content{
    position: relative;
}

label.error{
    display: none;
}

.relative-content label.error{
    position: absolute;
    background: none;
    border: none;
    right: 5px;
    z-index: 1;
    color: red;
    padding: 0;
    top: 7px;
}

.guest-item .relative-content label.error{
    right: 15px;
    top: 17px;
}

.table-pass-detail{
    margin-bottom: 5px;
}

.block-mini .add-new{
    width: 80px;
    margin: 0;
}

.table-pass-detail .back-soft-gray th{
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 7px 10px;
  font-weight: 700;
}

.table-booking-detail td label.error{
    font-weight: normal;
    background: none;
    border: none;
    color: red;
    padding: 0;
}

.table-booking-detail th label.error{
    font-weight: normal;
    right: 50px;
    top: 17px;
}

.popup-field-textarea{
    border: 1px solid #ddd;
    padding: 8px 10px;
    resize: none;
    height: 70px;
    width: 100%;
}

.table-booking-detail td.middle{
    vertical-align: middle;
}

.table-booking-detail .note{
    font-size: 11px;
    font-weight: normal;
    float: right;
}

.title-container i{
    font-size: 11px;
    font-weight: normal;
}

.table-booking-detail button{
    padding: 7px 15px;
    margin: 0 5px;
}

.table-booking-detail button:first-child{
    margin-right: 0;
}

.table-booking-detail button:last-child{
    background: #444;
}

.status-cols{
    text-align: left;
}

.status-cols span{
    margin-right: 10px;
    line-height: 34px;
    height: 34px;
    float: left;
}

.status-cols .chosen-container{
    width: 416px !important;
    float: left;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    content: "\f005";
    font-weight: 900;
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    float: right !important;
    width: auto !important;
    color: #ddd !important;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700 !important;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85 !important;
}

.table-booking-detail .back-soft-blue th .chosen-container{
    font-weight: normal;
}

.chosenImage-container .chosen-results li,
.chosenImage-container .chosen-results li.active-result,
.chosenImage-container .chosen-single span {
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 19px 19px;
    padding-left: 30px;
}

.chosenImage-container .chosen-results li.empty,
.chosenImage-container .chosen-single span.empty{
    padding-left: 10px;
}

.chosenImage-container .chosen-single {
    padding-left: 0;
}

.chosenImage-container .chosen-single span {
    background-position: 5px center;
}

.chosenImage-container .chosen-results .no-results {
    padding-left: inherit;
}

.view-link{
    color: inherit;
}

.period-item{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.period-item span{
    margin-right: 10px;
    line-height: 237%;
    float: left;
}

.period-item a{
    margin-top: 7px;
}