.wrap-dragdrop4 {
    float: left;
    width: 100%;
    margin: 0 0 20px;
}

.wrap-dragdrop4 .info {
    color: #444444;
    font-size: 14px;
    /* font-style:italic; */
    text-align: center;
    font-weight: 300;
}

.wrap-dragdrop4 .info span {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}

.wrap-dragdrop4 .dragdrop4-content {
    background: #EAF2F1;
    border: none;
    width: 100%;
    height: 147px;
    margin: 0 auto;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-l {
    float: left;
    width: calc(50% - 1px);
    height: 146px;
    border-right: solid 1px #fff;
    position: relative;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-l .icon137 {
    background: url(../images/admin-logos.png) left no-repeat;
    background-position: -407px -29px;
    height: 71px;
    left: 105px;
    position: absolute;
    top: 38px;
    width: 86px;
    padding: 0px;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-l .icon138 {
    background: url(../images/admin-logos.png) no-repeat;
    background-position: -583px -29px;
    height: 41px;
    left: 100%;
    position: absolute;
    top: 51px;
    width: 42px;
    margin-left: -21px;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-l h2 {
    line-height: 1em;
    width: 164px;
    margin: 28px 0 0 120px;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-l.hover h2 {
    color: #F23F00;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-l h2 {
    margin: 50px 0 0 210px;
    font-size: 18px;
    text-shadow: none;
    color: #444444;
    line-height: 125%;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-r {
    float: left;
    width: calc(50% - 1px);
    height: 146px;
    border-left: solid 1px #fff;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-r h2 {
    margin: 23px 0 0 55px;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-r .avatarfile {
    font-size: 14px;
    font-weight: 300;
    height: 25px;
    margin-right: 114px;
    margin-top: 47px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    width: 240px;
    text-align: center;
    background: #23A8DE;
}

h2.fwbold.upload-ypp-new {
    float: left;
    margin: 0 !important;
    padding: 0px !important;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px !important;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-r .avatarfile:active {
    margin-top: 13px !important;
}

.wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-r input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.wrap-dragdrop4.new-wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-r {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}

.wrap-dragdrop4.new-wrap-dragdrop4 .dragdrop4-content .dragdrop4-content-r .avatarfile {
    margin: 0 0 15px;
    float: none;
    bottom: 0 !important;
    height: 30px;
    padding: 0;
}

.wrap-list-picture {
    position: relative;
    float: left;
    width: 100%;
}

.wrap-list-picture .wrap-reorder {
    float: left;
    width: 100%;
    margin: 5px 0 10px;
}

.wrap-list-picture .wrap-reorder h3 {
    float: left;
    font-size: 18px !important;
    margin: 0 !important;
}

.container .content-right.content-right-1020 .wrap-list-picture h3 {
    font-size: 18px !important;
}

.wrap-list-picture .wrap-reorder .reorder-tirger {
    border: 1px solid #23A8DE;
    float: left;
    margin-left: 8px;
    background-position: 3px 3px;
    cursor: pointer;
    position: relative;
    background: linear-gradient(tobottom, #FDFDFD0%, #D6D6D6100%);
    padding: 1px 10px 2px 25px;
    background: #23A8DE;
    text-shadow: none;
    color: #fff;
}

.wrap-list-picture .wrap-reorder .reorder-tirger .icon139 {
    background: url(../images/admin-logos.png) no-repeat;
    background-position: -201px -71px;
    cursor: pointer;
    display: block;
    height: 15px;
    left: 5px;
    position: absolute;
    top: 3px;
    width: 15px;
    z-index: 1;
}

.wrap-list-picture .list-picture-content {
    float: left;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 1000px;
}

.wrap-list-picture .list-picture-content .list-picture-temp,
.wrap-list-picture .list-picture-content .list-picture {
    float: left;
    width: 132px;
    height: 93px;
    background: #FFF;
    position: relative;
    -moz-box-shadow: 0 0 5px #5B5B5B;
    -webkit-box-shadow: 0 0 5px #5B5B5B;
    box-shadow: 0 0 5px #5B5B5B;
    margin-right: 10px;
    margin-bottom: 12px;
    text-align: center;
}

.wrap-list-picture .list-picture-content .list-picture:hover {
    background: #28AFDA;
}

.wrap-list-picture .list-picture-content .list-picture img {
    margin: 0px;
}

.wrap-list-picture .list-picture-content .list-picture .view_picture {
    background: #fff;
    border: solid 1px #FFA348;
    left: 33px;
    opacity: 1;
    position: absolute;
    top: 35px;
    z-index: 1;
    cursor: pointer;
    padding: 2px 5px 2px 0px;
    display: none;
}

.wrap-list-picture .list-picture-content .list-picture .view_picture .admin-logos {
    width: 15px;
    height: 15px;
    background-position: -177px -69px;
    margin: 1px 10px 0;
}

.wrap-list-picture .list-picture-content .list-picture .view_picture .label {
    float: left;
}

.wrap-list-picture .list-picture-content .list-picture .status_picture {
    background: url(../images/admin-logos.png) left no-repeat;
    background-position: -125px -65px;
    position: absolute;
    /* left:10px; */
    right: 2px;
    top: 1px;
    width: 20px;
    height: 22px;
    /* background-position:0 0; */
    cursor: pointer;
    z-index: 1;
}

.wrap-list-picture .list-picture-content .list-picture .status_picture.online-picture {
    background-position: -152px -65px;
}

.wrap-list-picture .list-picture-content .list-picture .status_picture.ofline-picture {
    background-position: -40px 0;
    top: 3px;
}

.wrap-list-picture .list-picture-content .list-picture ul {
    position: absolute;
    z-index: 101;
    width: 120px;
    border: solid 1px #BDBDBD;
    border-bottom: none;
    top: 25px;
    display: none;
    background-color: #fff;
    right: 0;
}

.wrap-list-picture .list-picture-content .list-picture ul li {
    border-bottom: solid 1px #BDBDBD;
    color: #333;
    background: linear-gradient(tobottom, #FFF0%, #EEE100%);
    font-size: 12px;
    position: relative;
    cursor: pointer;
    padding: 2px 5px;
    text-align: left;
}

.wrap-list-picture .list-picture-content .list-picture ul li:hover {
    background: linear-gradient(tobottom, #EEE0%, #FFF100%);
}

.wrap-list-picture .list-picture-content .list-picture ul li:first-child:hover {
    background: linear-gradient(tobottom, #FFF0%, #EEE100%);
    cursor: default;
}

.wrap-list-picture .list-picture-content .list-picture .status_picture2 {
    background: url(../images/gallery-action.png) left no-repeat;
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 13px;
    z-index: 1;
    background-position: 0 0;
}

.wrap-list-picture .list-picture-content .list-picture .status_picture2.online-picture {
    background-position: 0 -19px;
}

.wrap-list-picture .list-picture-content .list-picture .status_picture2.ofline-picture {
    background-position: 0 -38px;
}

.wrap-list-picture .list-picture-content .list-picture .status_picture2.delete-picture {
    background-position: 0 -57px;
}

.wrap-list-picture .list-picture-content .list-picture .order_picture {
   	background: #fff;
    left: 33px;
    opacity: 1;
    position: absolute;
    top: 35px;
    z-index: 5;
    background-position: 4px 4px;
    cursor: move;
    display: none;
    padding: 2px 0px 2px 0px;
    width: 68px;
    border: solid 1px #FFA348;
}

.wrap-list-picture .list-picture-content .list-picture .order_picture .admin-logos {
    width: 15px;
    height: 15px;
    background-position: -724px -0px;
    margin: 1px 7px 0;
}

.wrap-list-picture .list-picture-content .list-picture .order_picture .label {
    float: left;
    margin-right: 0px;
}

.body-mask.body-mask3 {
    background: #000;
    opacity: 0.8;
    display: none;
}

.wrap-slide-picture4 {
    position: absolute;
    width: 1020px;
    height: 540px;
    z-index: 200;
    display: none;
}

.wrap-slide-picture4 .slide-picture-content4 {
    background: none repeat scroll 0 0 #FFF;
    height: 540px;
    left: 36px;
    position: absolute;
    width: 950px;
    padding-bottom: 5px;
}

.wrap-slide-picture4 .slide-picture-nav {
    position: absolute;
    width: 36px;
    height: 540px;
    background: url(../images/bg1.png) repeat;
    top: 0;
    display: none;
    padding-bottom: 5px;
}

.wrap-slide-picture4 .slide-picture-nav.r {
    right: 0;
}

.wrap-slide-picture4 .slide-picture-nav .left,
.wrap-slide-picture4 .slide-picture-nav .right {
    background: url(../images/icon143.png) repeat;
    height: 25px;
    left: 10px;
    position: absolute;
    top: 245px;
    width: 15px;
    background-position: -2px -1px;
    cursor: pointer;
}

.wrap-slide-picture4 .slide-picture-nav .right {
    right: 0;
    background-position: -37px 0;
}

.wrap-slide-picture4 .slide-picture-list4 {
    left: 5px;
    position: absolute;
    top: 5px;
    width: 940px;
    height: 535px;
    background: #000;
    text-align: center;
    overflow: hidden;
}

.wrap-slide-picture4 .slide-picture-header4 {
    display: block;
    height: 61px;
    position: absolute;
    width: 940px;
}

.wrap-slide-picture4 .slide-picture-header4 .verified-logo {
    background: url(../images/icon144.png) repeat;
    display: block;
    height: 47px;
    position: absolute;
    width: 47px;
    right: 6px;
    top: 6px;
}

.wrap-slide-picture4 .slide-picture-header4 h1 {
    font-size: 22px;
    color: #FFF;
    text-shadow: none;
    margin: 20px 10px 5px;
}

.wrap-slide-picture4 .slide-picture-header4 .location a {
    background: url(../../images/icon22.png) left no-repeat;
    color: #AAA;
    display: block;
    float: left;
    font-family: MyriadPro-Light;
    font-size: 13px;
    padding-left: 18px;
    text-decoration: none;
    text-shadow: none;
    margin: 2px 2px 2px 10px;
}

.wrap-slide-picture4 .content-mask {
    background: none repeat scroll 0 0 #FFF;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

.wrap-slide-picture4 .content-mask .loading-89 {
    background: url(../images/89.gif) no-repeat;
    display: block;
    height: 16px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 16px;
    margin: 0;
}

.wrap-slide-picture4 .slide-picture-action {
    background: url(../images/bg2.png) repeat;
    display: block;
    height: 40px;
    position: absolute;
    width: 940px;
    bottom: 0;
}

.wrap-slide-picture4 .slide-picture-action .text4 {
    width: 908px !important;
    font-size: 16px;
    color: #878787;
    display: none;
    margin: 0 0 5px;
}

.wrap-slide-picture4 .slide-picture-action .button {
    font-size: 16px;
    height: 31px;
    text-shadow: 0 -1px 0 #B43400;
    width: 95px;
    display: none;
    margin: 5px;
}

.wrap-slide-picture4 .slide-picture-action h1 {
    color: #878787;
    font-size: 16px;
    font-style: normal;
    text-shadow: none;
    cursor: pointer;
    margin: 10px 10px 5px;
}

.wrap-list-picture .wrap-reorder h3.title-delete-image {
    margin: 1px 10px !important;
}

.btn-del-img-style {
    border: 1px solid #BDBDBD;
    cursor: pointer;
    float: left;
    margin-left: 8px;
    padding: 3px 11px;
    cursor: pointer;
    position: relative;
    color: #fff;
    background: #23A8DE;
}

.wrap-list-form .list-form .chzn-container {
    float: none;
    margin-left: 5px;
    height: 30px;
    border: medium none;
}

.wrap-list-form .list-form .chzn-container .chzn-drop {
    border-color: #ddd;
    /*margin-left: -1px !important;*/
    border: 1px solid #bbb;
}

.loader-medium-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/loader-medium-black.GIF') no-repeat#000;
    background-position: center center;
    z-index: 2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    display: none;
}

.popup-are-you-sure.contentainer-notification.auto {
    position: fixed;
    z-index: 101;
    top: 50%;
    margin-top: -67px;
    left: 50%;
    margin-left: -207px;
    display: none;
}

.white-tranparent-fixed {
    background: #FFF;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
}

.mini-loader {
    background: url('../../images/mini-loader.GIF') no-repeat;
    display: none;
}

.mini-loader.rt-valid {
    float: left;
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin: 5px 15px;
}

.cont-del-all-image {
    float: left;
    display: none;
}

.cont-del-all-image span {
    float: left;
}

.cont-del-all-image .btn-del-img-style {
    margin-left: 0;
}

.check-all-image {
    float: left;
    margin: 0 0 0 20px;
}

label.new-checkbox {
    float: left;
    position: relative;
    margin-left: 0;
}

label.new-checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    left: 0;
    margin: 0;
    top: 1px;
}

label.new-checkbox input[type=checkbox]:checked+span.admin-logos {
    background-position: -659px -21px;
}

label.new-checkbox span.admin-logos {
    width: 19px;
    height: 16px;
    background-position: -659px 0;
    margin: 0 7px 0 0;
}

label.new-checkbox span.lbl-new-checkbox {
    float: left;
}

label.check-box-del-image {
    position: absolute;
    left: 5px;
    top: 5px;
    display: none;
}

.optdual {
    position: relative;
}

.optdual .offset {
    position: absolute;
    left: 18em;
}

.optlist label {
    width: 16em;
    display: block;
}

#dl_links {
    margin-top: .5em;
}

.wrap-slide-picture4 .reposition-tirger {
    z-index: 100;
}

.wrap-reposition {
    position: absolute;
    z-index: 1;
}

.wrap-slide-picture4 .slide-picture-header4 {
    z-index: 100;
}

.wrap-slide-picture4 .slide-picture-action {
    z-index: 100;
    display: none;
}

.wrap-slide-picture4 .slideaktif .slide-picture-action {
    display: block;
}

/*.ui-state-highlight {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #5B5B5B;
    float: left;
    height: 84px;
    margin-bottom: 12px;
    margin-right: 12px;
    position: relative;
    width: 128px;
}

.wrap-progressbar {
    z-index: 1;
}*/