<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab flex">
            <h2 class="dtitle">Create new listing</h2>
        </div>

        {message}

        <form class="formlisting" method="post">
            <div class="cfield">
                <label for="">Choose a currency</label>
                <div class="radioinline flex">
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][currency]" id="radio-eur" class="radioinput" value="1" checked>
                        <label for="radio-eur" class="radiolabel">EUR</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][currency]" id="radio-usd" class="radioinput" value="2">
                        <label for="radio-usd" class="radiolabel">USD</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][currency]" id="radio-idr" class="radioinput" value="3">
                        <label for="radio-idr" class="radiolabel">IDR</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][currency]" id="radio-gbp" class="radioinput" value="4">
                        <label for="radio-gbp" class="radiolabel">GBP</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][currency]" id="radio-brl" class="radioinput" value="5">
                        <label for="radio-brl" class="radiolabel">BRL</label>
                    </div>
                </div>
            </div>
            <div class="cfield">
                <label for="">What is the name of your listing?</label>
                <input type="hidden" name="fields[llang_id]" value="{llang_id}" required>
                <input type="hidden" name="fields[lpost_id]" value="{lpost_id}" required>
                <input type="hidden" name="fields[lorder_id]" value="{lorder_id}" required>
                <input type="hidden" name="fields[ladditional][review]" value="0" required>
                <input type="hidden" name="fields[lcreated_by]" value="{lcreated_by}" required>
                <input type="text" placeholder="Type your listing name" name="fields[ltitle]" required>
            </div>
            <div class="cfield">
                <label for="">Which category does your listing belong to?</label>
                <select name="terms[accommodation_type]" class="sl2_" data-placeholder="Select listing type" autocomplete="off" required>
                    <option value=""></option>
                    {laccommodation_type}
                </select>
            </div>
            <div class="cfield">
                <label for="">Choose template for your listing?</label>
                <select name="fields[ladditional][page_template]" class="sl2_" data-placeholder="Select listing template" autocomplete="off" required>
                    <option value=""></option>
                    {lpage_template}
                </select>
            </div>
            <div class="cfield">
                <label for="">How would you best describe your listing?</label>
                <input type="text" name="fields[ladditional][title_part_1]" placeholder="Example: Tropical, Fun, Luxurious" required>
            </div>
            <div class="cfield">
                <label for="">What is the closest beach or surf spot?</label>
                <input type="text" name="fields[ladditional][title_part_2]" placeholder="Example: Echo Beach, Batu Bolong" required>
            </div>
            <div class="cfield">
                <label for="">What is your listing’s most prominent feature?</label>
                <input type="text" name="fields[ladditional][title_part_3]" placeholder="Example: Big Pool, Family Friendly" required>
            </div>
            <div class="cfield">
                <label for="">Where is the exact location of your listing?</label>
                <input type="text" name="fields[ladditional][title_part_4]" placeholder="Example:  Canggu, Seminyak" required>
            </div>
            <div class="cfield">
                <label for="">Your property Facebook page (Optional)</label>
                <input type="text" name="fields[ladditional][fb_link]" placeholder="Paste Facebook link here">
            </div>
            <div class="cfield">
                <label for="">Your property website page (Optional)</label>
                <input type="text" name="fields[ladditional][website]" placeholder="Paste URL here">
            </div>
            <div class="cfield">
                <label for="">
                    <strong>Commission</strong> <br>
                    Please, note that giving us more commission will allow you to get more bookings
                </label>
                <div class="radioinline">
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][commission]" id="radio-15" class="radioinput" value="15" checked>
                        <label for="radio-15" class="radiolabel">15%</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][commission]" id="radio-20" class="radioinput" value="20">
                        <label for="radio-20" class="radiolabel">20%</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][commission]" id="radio-25" class="radioinput" value="25">
                        <label for="radio-25" class="radiolabel">25%</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][commission]" id="radio-30" class="radioinput" value="30">
                        <label for="radio-30" class="radiolabel">30%</label>
                    </div>
                </div>
            </div>
            <div class="cfield">
                <label for="">
                    Pricing
                </label>
                <div class="radioinline">
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][price_type]" id="radio-prnight" class="radioinput" value="0" checked>
                        <label for="radio-prnight" class="radiolabel">Per Night</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][price_type]" id="radio-prpckage" class="radioinput" value="1">
                        <label for="radio-prpckage" class="radiolabel">Per Package</label>
                    </div>
                </div>
            </div>
            <div class="cfield">
                <label for="">
                    Define your booking policy
                </label>
                <div class="radioinline">
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][policy]" id="radio-auto" class="radioinput" value="0" checked>
                        <label for="radio-auto" class="radiolabel">
                            Automatic <br>
                            Guest will be able to select dates and if available <br>
                            then they will pay by credit card immedietly.
                        </label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="fields[ladditional][policy]" id="radio-manual" class="radioinput" value="1">
                        <label for="radio-manual" class="radiolabel">
                            Manual <br>
                            Guest have to receive an email to confirm availibility <br>
                            and then they can proceed to payment.
                        </label>
                    </div>
                </div>
            </div>
            <h3>
                Your listing title will be genereted by Support based on SEO best practices.
            </h3>
            <button type="submit" name="save" class="yellowbtn">PROCEED TO LISTING DETAILS</button>
            <h4>
                Please note that once you have selected the above items, they will be submitted for review and will be only subject to change via contacting our support team.
            </h4>
        </form>
    </div>
</section>
<!-- END formContent -->
<!-- END formBlock -->