<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab wbtn_ flex">
            <h2 class="dtitle">{ltitle}</h2>
            <div class="ctrlbtn flex">
                {switcher_lang}
                <a href="javascript:;" class="nbtn" onclick="jQuery('form [name=save]').trigger('click');">SAVE</a>
                <a href="{calendar_link}" class="nbtn {calendar_class}">CALENDAR</a>
                <a href="{permalink}" class="nbtn" target="_blank">PREVIEW LISTING</a>
            </div>
        </div>
    </div>
    <div class="container flex">
        <div class="profmen">
            {sidebar_menu}
        </div>
        <div class="profcont">
            {message}

            <form class="cutkform" action="" method="post">
                <div class="cfield">
                    <label for=""><strong>Status</strong></label>
                    {lstatus}
                </div>
                <div id="section-photos" class="cfield">
                    <label for=""><strong>Cover Photos</strong><br>
                        (Main listing image)
                    </label>
                    {laccommodation_image}
                </div>
                <div class="cfield">
                    <label for=""><strong>Photos</strong><br>
                        Min. 3 photos <br>
                        Max. 10 photos
                    </label>
                    {laccommodation_galery}
                </div>
                <div class="cfield" style="display:none;">
                    <label for=""><strong>Videos</strong></label>
                    <div class="imguploadpreview flex">
                        <figure>
                            <img src="//{template_url}/asset/img/bg.jpg" alt="" class="cover">
                            <a href="" class="delimg">
                                <img src="//{template_url}/asset/img/del-w.svg">
                            </a>
                        </figure>
                        <figure class="addfile_">
                            <strong>+</strong>
                            UPLOAD MORE<br>VIDEOS
                        </figure>
                    </div>
                </div>
                <div id="section-description" class="cfield">
                    <label for=""><strong>Description</strong></label>
                    <div class="tinymce-wrapper">
                        <textarea class="tinymce" name="fields[ldescription]" id="" rows="10">{ldescription}</textarea>
                    </div>
                </div>
                <div id="section-description" class="cfield">
                    <label for=""><strong>Accommodation</strong></label>
                    <div class="tinymce-wrapper">
                        <textarea class="tinymce" name="fields[ladditional][accommodation_text]" id="" rows="10">{accommodation_text}</textarea>
                    </div>
                </div>
                <div id="section-hightlights" class="cfield">
                    <label for=""><strong>Highlights</strong><br>
                        Please, write the amenities that make your listing stand out.
                    </label>
                    <div class="listing-hl flex">
                        {lhightlight}
                    </div>
                </div>
                <div id="section-location" class="cfield">
                    <label for=""><strong>Location</strong></label>
                    <div class="conloc">
                        <div class="innerfield flex">
                            <span class="label">Address</span>
                            <textarea name="fields[ladditional][accommodation_address]" id="" cols="30" rows="5">{accommodation_address}</textarea>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Continent</span>
                            <div class="select-wrap">
                                <select id="sl2_continent" class="sl2_continent" name="fields[ladditional][accommodation_continent]" autocomplete="off" data-placeholder="Select Continent">
                                    {accommodation_continent}
                                </select>
                            </div>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Country/Region</span>
                            <div class="select-wrap">
                                <select id="sl2_country" class="sl2_country" name="fields[ladditional][accommodation_country]" autocomplete="off" data-placeholder="Select Country/Region">
                                    {accommodation_country}
                                </select>
                            </div>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">State/Province</span>
                            <div class="select-wrap">
                                <select id="sl2_state" class="sl2_state" name="fields[ladditional][accommodation_state]" autocomplete="off" data-placeholder="Select State/Province">
                                    {accommodation_state}
                                </select>
                            </div>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">City/Area</span>
                            <div class="select-wrap">
                                <select id="sl2_city" class="sl2_city" name="fields[ladditional][accommodation_city]" autocomplete="off" data-tags="true" data-placeholder="Select City/Area">
                                    {accommodation_city}
                                </select>
                            </div>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Post code</span>
                            <input type="text" name="fields[ladditional][post_code]" value="{post_code}">
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Coordinate on Map</span>
                            <input type="text" name="fields[ladditional][map_coordinate]" value="{map_coordinate}">
                        </div>
                        <!--
                        <div class="locationmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.201350206922!2d115.26042871513863!3d-8.672392893768702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd24038d3dcbe97%3A0x5fb2c82c96bb39a!2sJl.%20Sanur%20Beach%20Street%20Walk%2C%20Sanur%20Kaja%2C%20Denpasar%20Selatan%2C%20Kota%20Denpasar%2C%20Bali!5e0!3m2!1sen!2sid!4v1638518608835!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        -->
                        <div class="innerfield flex">
                            <span class="label">Closest Airport Name</span>
                            <input type="text" name="fields[ladditional][closer_airport_name]" value="{closer_airport_name}">
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Closest Airport City</span>
                            <div class="input-wrap">
                                <input type="text" name="fields[ladditional][closer_airport_city]" value="{closer_airport_city}" maxlength="3">
                                <small>3 letter code, ex: DPS</small>
                            </div>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Arrival by Plane</span>
                            <textarea name="fields[ladditional][arrival_by_plane]" id="" cols="30" rows="5">{arrival_by_plane}</textarea>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Arrival by Bus</span>
                            <textarea name="fields[ladditional][arrival_by_bus]" id="" cols="30" rows="5">{arrival_by_bus}</textarea>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Arrival by Train</span>
                            <textarea name="fields[ladditional][arrival_by_train]" id="" cols="30" rows="5">{arrival_by_train}</textarea>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Arrival by Boat</span>
                            <textarea name="fields[ladditional][arrival_by_boat]" id="" cols="30" rows="5">{arrival_by_boat}</textarea>
                        </div>
                        <button type="submit" name="save" class="nbtn black_">
                            SAVE
                        </button>
                    </div>
                </div>
            </form>

            <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
            <input type="hidden" id="lpost_id" value="{lpost_id}" autocomplete="off">
            <input type="hidden" id="lmodule" value="{lmodule_id}" autocomplete="off">
        </div>
    </div>
</section>
<!-- END formContent -->
<!-- END formBlock -->