<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab wbtn_ flex">
            <h2 class="dtitle">{ltitle}</h2>
            <div class="ctrlbtn flex">
                {switcher_lang}
                <a href="javascript:;" class="nbtn" onclick="jQuery('form [name=save]').trigger('click');">SAVE</a>
                <a href="{calendar_link}" class="nbtn {calendar_class}">CALENDAR</a>
                <a href="{permalink}" class="nbtn" target="_blank">PREVIEW LISTING</a>
            </div>
        </div>
    </div>
    <div class="container flex">
        <div class="profmen">
            {sidebar_menu}
        </div>
        <div class="profcont">
            {message}

            <form class="cutkform" action="" method="post">
                <div class="cfield">
                    <label for=""><strong>Discounts</strong></label>
                    <div class="conloc">
                        <div class="innerfield flex">
                            <span class="label">Early Bird</span>
                            <input type="text" name="fields[ladditional][early_bird_discount]" class="text text-number" data-a-sign=" %" data-a-pos="s" data-a-sep="." data-a-dec="," data-m-dec="0" value="{early_bird_discount}" autocomplete="off">
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Last Minute</span>
                            <input type="text" name="fields[ladditional][last_minute_discount]" class="text text-number" data-a-sign=" %" data-a-pos="s" data-a-sep="." data-a-dec="," data-m-dec="0" value="{last_minute_discount}" autocomplete="off">
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Monthly</span>
                            <input type="text" name="fields[ladditional][monthly_discount]" class="text text-number" data-a-sign=" %" data-a-pos="s" data-a-sep="." data-a-dec="," data-m-dec="0" value="{monthly_discount}" autocomplete="off">
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Bi-Weekly</span>
                            <input type="text" name="fields[ladditional][bi_weekly_discount]" class="text text-number" data-a-sign=" %" data-a-pos="s" data-a-sep="." data-a-dec="," data-m-dec="0" value="{bi_weekly_discount}" autocomplete="off">
                        </div>
                        <div class="innerfield flex">
                            <p class="notegap">
                                *Discounts: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cfield">
                    <label for=""><strong>Guest Requirements</strong></label>
                    <div class="conloc">
                        <div class="innerfield flex">
                            <span class="label">Minimum Age</span>
                            <input type="text" name="fields[ladditional][min_age]" class="text text-number" data-a-sep="." data-a-dec="," data-m-dec="0" value="{min_age}" autocomplete="off">
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Maximum Age</span>
                            <input type="text" name="fields[ladditional][max_age]" class="text text-number" data-a-sep="." data-a-dec="," data-m-dec="0" value="{max_age}" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="cfield">
                    <label for=""><strong>Check-in / Check-out</strong></label>
                    <div class="conloc">
                        <div class="innerfield flex">
                            <span class="label">Check-in</span>
                            <div class="select-wrap">
                                <select name="fields[ladditional][check_in_time]" class="sl2_" autocomplete="off">
                                    {lcheck_in_time}
                                </select>
                            </div>
                        </div>
                        <div class="innerfield flex">
                            <span class="label">Check-out </span>
                            <div class="select-wrap">
                                <select name="fields[ladditional][check_out_time]" class="sl2_" autocomplete="off">
                                    {lcheck_out_time}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cfield">
                    <label for="">
                        <strong>Payout</strong>
                    </label>
                    <div class="radioinline">
                        {lpayment_method}
                    </div>
                </div>
                <div class="cfield">
                    <label for="">
                        <strong>Payout Policy</strong>
                    </label>
                    <div class="radioinline">
                        {lpayment_policy}
                    </div>
                </div>
                <div class="cfield">
                    <label for="">
                        <strong>Cancellation Policy</strong>
                    </label>
                    <div class="radioinline">
                        {lcancellation_policy}
                        <p style="max-width: 600px">
                            Flexible: Once paid outstanding balance. 50 % refund for cancellations made at least 7 days before check-in. No refunds for cancellations made within 7 days of check-in.
                        </p>
                        <br/>
                        <p style="max-width: 600px">
                            Moderate: Once paid outstanding balance, 50 % refund for cancellations made at least 15 days before check-in. No refunds for cancellations made within 15 days of check-in.<br/>
                        </p>
                        <br/>
                        <p style="max-width: 600px">
                            Strict: Once paid outstanding balance there is no refund to client. If client cancels before client pays outstanding balance, Nomad surfers will send the reservation deposit to us.
                        </p>
                    </div>
                </div>
                <div class="cfield">
                    <label for=""></label>
                    <button type="submit" name="save" class="nbtn black_">
                        SAVE
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- END formContent -->
<!-- END formBlock -->