<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab wbtn_ flex">
            <h2 class="dtitle">{ltitle}</h2>
            <div class="ctrlbtn flex">
                {switcher_lang}
                <a href="javascript:;" class="nbtn" onclick="jQuery('form [name=save]').trigger('click');">SAVE</a>
                <a href="{calendar_link}" class="nbtn {calendar_class}">CALENDAR</a>
                <a href="{permalink}" class="nbtn" target="_blank">PREVIEW LISTING</a>
            </div>
        </div>
    </div>
    <div class="container flex">
        <div class="profmen">
            {sidebar_menu}
        </div>
        <div class="profcont">
            {message}

            <form class="cutkform" action="" method="post">
                {laccommodation_rooms}
                {laccommodation_package}
                {laccommodation_venue}
                {laccommodation_schedule}

                <div id="section-add-ons" class="cfield">
                    <label><strong>Add-ons</strong><br/>Manage add-ons for this accommodation</label>
                    <div class="mepetfield">
                        <div class="cfield-wrap" data-note="You can manage add-ons by click the link below">
                            {laccommodation_add_ons}
                        </div>
                        <a href="javascript:;" class="admmorebtn admmoreaddons">+ add more add-ons</a>
                    </div>
                </div>
                <div id="section-type-of-surf" class="cfield">
                    <label><strong>Type of Surf</strong><br>
                        Choose maximum <br>
                        2 categories
                    </label>
                    <div class="cbcbcbx maxSet flex" data-max="2" data-name="surf_trip">
                        {laccommodation_type_of_surf}
                    </div>
                </div>
                <div id="section-amenities" class="cfield">
                    <label><strong>Amenities</strong></label>
                    <div class="cbcbcbx flex" data-name="amenities">
                        {lamenities}
                    </div>
                </div>
                <div id="section-whats-included" class="cfield">
                    <label><strong>What's Included</strong>
                    </label>
                    <div class="concbbxline flex">
                        <div class="cbcbcbx" data-name="include_stay">
                            <h3>Stay</h3>
                            {lwhats_included_stay}
                        </div>
                        <div class="cbcbcbx" data-name="include_transport">
                            <h3>Transport</h3>
                            {lwhats_included_transport}
                        </div>
                        <div class="cbcbcbx" data-name="include_activity">
                            <h3>Activities</h3>
                            {lwhats_included_activities}
                        </div>
                    </div>
                </div>
                <div id="section-food" class="cfield">
                    <label><strong>Food</strong></label>
                    <div class="wrapfield flex">
                        <div class="tinymce-wrapper">
                            <textarea class="tinymce" name="fields[ladditional][food]" rows="10">{food}</textarea>
                        </div>
                        <br/>
                        <div class="cbcbcbx" data-name="meals">
                            <h3>Meals</h3>
                            {lmeals}
                        </div>
                        <div class="cbcbcbx" data-name="dietary">
                            <h3>Dietary Needs</h3>
                            {ldietary}
                        </div>
                    </div>
                </div>
                <div class="cfield">
                    <label></label>
                    <button type="submit" name="save" class="nbtn black_">
                        SAVE
                    </button>
                </div>
            </form>

            <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
            <input type="hidden" id="lpost_id" value="{lpost_id}" autocomplete="off">
            <input type="hidden" id="lmodule" value="{lmodule_id}" autocomplete="off">
        </div>
    </div>
</section>
<!-- END formContent -->
<!-- END formBlock -->