<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab wbtn_ flex">
            <h2 class="dtitle">{ltitle}</h2>
            <div class="ctrlbtn flex">
                {switcher_lang}
                <a href="javascript:;" class="nbtn" onclick="jQuery('form [name=save]').trigger('click');">SAVE</a>
                <a href="{calendar_link}" class="nbtn {calendar_class}">CALENDAR</a>
                <a href="{permalink}" class="nbtn" target="_blank">PREVIEW LISTING</a>
            </div>
        </div>
    </div>
    <div class="container flex">
        <div class="profmen">
            {sidebar_menu}
        </div>
        <div class="profcont">
            {message}

            <form class="cutkform" action="" method="post">
                <div id="things-to-do" class="cfield">
                    <label><strong>Things To Do</strong></label>
                    <div class="mepetfield">
                        {lthingstodo}
                        <a href="javascript:;" class="admmorebtn admmoreactivity">+ add more activities</a>
                    </div>
                </div>
                <div id="surfing-information" class="cfield">
                    <label><strong>Surfing Information</strong></label>
                    <div class="wrapfield mrg_">
                        {lsurfinfo}
                        <a href="javascript:;" class="admmorebtn admmoreinfo">+ add more surf info</a>
                    </div>
                </div>
                <div class="cfield">
                    <label></label>
                    <button type="submit" name="save" class="nbtn black_">
                        SAVE
                    </button>
                </div>
            </form>

            <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
            <input type="hidden" id="lpost_id" value="{lpost_id}" autocomplete="off">
            <input type="hidden" id="lmodule" value="{lmodule_id}" autocomplete="off">
        </div>
    </div>
</section>
<!-- END formContent -->
<!-- END formBlock -->