<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab flex">
            <h2 class="dtitle">{num_of_listing}</h2>
            <div class="frmsrc flex">
                <div class="form flex">
                    <img src="//{template_url}/asset/img/src.svg" alt="" class="icnsearch">
                    <input type="text" name="asearchval" autocomplete="off">
                    <button type="button" name="asearchbtn">SEARCH</button>
                </div>
                <a href="//{site_url}/agent/listings/add/" class="blckbtn">CREATE NEW LISTING</a>
            </div>
        </div>
        <div class="tabtab">
            <table id="table_accommodation" class="tabwrapp">
                <thead>
                    <tr>
                        <th width="100">STATUS</th>
                        <th>NAME</th>
                        <th width="80" data-orderable="false">LISTED</th>
                        <th data-orderable="false">CONFIRMATION</th>
                        <th data-orderable="false">LOCATION</th>
                        <th>LAST MODIFIED</th>
                    </tr>
                </thead>
            </table>
        </div>

        <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
    </div>
</section>
<!-- END viewContent -->
<!-- END viewBlock -->