.thecalendar {
    max-width: calc(100% - 600px);
    margin-top: 33px;
    width: 100%;
    float: left;
}

.thecalendar .nav {
    margin-top: 40px;
}

.thecalendar .nav a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}

.thecalendar .prev {
    float: left;
}

.thecalendar .next {
    float: right;
}

.thecalendar img {
    display: inline-block;
    width: 15px;
}

.thecalendar .prev img {
    transform: rotate(90deg);
    margin-right: 10px;
}

.thecalendar .next img {
    transform: rotate(-90deg);
    margin-left: 10px;
}

.thecalendar span {
    display: inline-block;
    color: #191515;
}

.thecalendar table {
    background-color: #fff;
}

.fc .fc-col-header-cell {
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 18px 9px;
}

.fc .fc-day-past{
    background-color: rgba( 209, 209, 209, 0.1 );
}

.fc .fc-blocked{
    background-color: rgba( 244, 67, 54, 0.1 );
}

.fc .fc-booked{
    background-color: #FFC200;
}

.fc .fc-booked .fc-event-main{
    margin: 0 3px;
}

.fc .fc-booked .fc-event-main .other-event{
    display: none;
}

.fc-h-event{
    background-color: transparent !important;
    border: 0 !important;
}

.fc-h-event .fc-event-main{
    color: inherit !important;
    text-align: right;
}

.fc-h-event .book-event {
    border: 1px solid #979797;
    border-left-width: 10px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background: #fff;
    font-size: 10px;
    padding: 5px;
}

.fc-h-event .book-event figure {
    border-radius: 14px;
    position: absolute;
    height: 25px;
    width: 25px;
    float: left;
    left: 10px;
}

.fc-h-event .book-event img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.fc-h-event .book-event p {
    margin-left: 40px;
    padding-top: 5px;
    color: #000000;
    float: left;
}