*{
    box-sizing: border-box;
}

body {
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
    line-height: 21px;
    font-weight: 400;
    font-size: 14px;
    color: black;
}

:focus {
    outline: 0
}

.form-upload-media{
	background-color: #FFFFFF;
	text-align: center;
	max-width: 739px;
	margin: 0 auto;
	padding: 30px;
	width: 100%;
}

.h-title{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 45px;
		width: 100%;
}

.h-title h3{
	margin: 0;
}

.h-title a{
	cursor: pointer;
}

.h-title img{
	width: 17px;
}

.file-drop-zone{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
		min-height: 240px;
		flex-wrap: wrap;
		padding: 5px;
		width: 100%;
}

.list{
	border: 1px solid #C1C1C1;
	border-radius: 4px;
	overflow-y: auto;
	height: 273px;
}

.item{
	position: relative;
	height: 120px;
	width: 120px;
	margin: 5px;
}

.item img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.item a{
	position: absolute;
	right: -6px;
	top: -6px;
}

.drag-drop{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		height: 240px;
		width: 100%;
}

.drag-drop b{
	display: block;
	width: 100%;
}

.drag-drop i{
	margin: 10px 0 30px;
	font-style: normal;
	font-size: 13px;
	display: block;
	color: #C1C1C1;
	width: 100%;
}

.drag-drop label{
	background: #191515;
	padding: 15px 30px;
	position: relative;
	font-weight: 700;
    cursor: pointer;
	font-size: 13px;
	color: #FFFFFF;
}

.drag-drop label input[type="file"]{
    position: absolute;
    visibility: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.drag-drop label span{
    margin: 0 5px 0 0;
    position: static;
}

.action{
	text-align: center;
	margin-top: 30px;
	display: none;
}

.upload-media{
	display: inline-block;
	background: #191515;
	padding: 15px 30px;
	position: relative;
	font-weight: 700;
    cursor: pointer;
	font-size: 13px;
	color: #FFFFFF;
}

.show-action{
	display: block !important;
}

.hide{
	display: none !important;
}

.progressbar{
	border: 1px solid #ccc !important;
	margin-top: 15px;
	font-size: 12px;
	display: none;
	width: 100%;
}

.progressbar span{
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
	    transition: width 1s ease-in-out;
			background: #4CAF50 !important;
			text-align: center;
			line-height: 25px;
			color: #FFFFFF;
			display: block;
			height: 25px;
			width: 0;
}