* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: black;
    background-color: #EDEDED;
    text-rendering: optimizeLegibility;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    display: none !important;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    display: flex;
}

.god-hand {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.c-flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c-relative {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bgcover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none !important;
}

input,
textarea,
button,
select,
option {
    border-radius: 0px;
    background: none;
    box-shadow: none;
    border: 0px;
    font-family: 'Rubik', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
*:focus {
    outline: none;
}

:root {
    --cont: 1310px;
    --cont-xs: 860px;
    --cont-m: 1005px;
}

.container {
    width: calc(100% - 60px);
    /*max-width: 1073px;*/
    max-width: var(--cont);
    margin: 0 auto;
}

.container.xs_ {
    max-width: var(--cont-xs);
}

.lcon {
    max-width: 1155px;
}

.scon {
    max-width: 1086px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mainav ul.menu-mobile {
    display: none;
}

/* ============= */
/* Lets ROCK   */
/* ========  */
.mainnav {    
    box-shadow: 0px 0px 2px rgba(213, 213, 213, 0.7);
    background-color: white;
    position: sticky;
    height: 86px;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
}

.mainnav .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.mainnav .logo {
    width: 140px;
}

.sticky-top{
    background-color: #EDEDED;
    padding: 50px 0 35px;
    position: sticky;
    z-index: 2;
    top: 86px;
}

.sticky-top .toptab.wbtn_{
    margin-bottom: 0;
}

.menrgt {
    align-items: center;
}

.menrgt a {
    display: block;
    /*width: max-content;*/
    margin-left: 45px;

    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #191515;
}

.menrgt a.actv {
    font-weight: bold;
    color: #FFC200;
    text-decoration: underline;
}

.avanya {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.avanya a {
    margin-left: 0;
}

.ava {
    margin-left: 33px;
}

.maintab {
    padding: 57px 0 60px;
}

.selopt {
    width: 158px;
    height: 40px;
    background-color: white;
    border-radius: 2.16px;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    border: 0px;
}

.tabtab {
    width: 100%;
    margin-top: 37px;
}

.td1 {
    /*width: 20%;*/
    box-sizing: border-box;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.td2 {
    box-sizing: border-box;
    padding-right: 20px;
    width: 25%
}

.td3 {
    box-sizing: border-box;
    padding-right: 20px;
    width: 25%
}

.td4 {
    box-sizing: border-box;
    padding-right: 20px;
    width: 15%
}

.td5 {
    box-sizing: border-box;
    padding-right: 20px;
    width: 15%
}

.tabhead h2 {
    height: 18px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #000;
    padding-bottom: 18px;
}

.tabbod {
    background-color: white;
    box-sizing: border-box;
    padding: 40px 0px;
    margin-top: 18px;
}

.td1 h3 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.07em;
    color: #000;
}

.td1 h3.actv {
    color: #FFC200;
}

.dnl figure,
.host figure {
    width: 79px;
    height: 54.89px;
    margin-right: 19px;
}

.dnl span,
.host span,
.td4 span {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.07em;
    color: #000;
}

.host figure {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;
}

.linebtn {
    font-weight: normal;
    text-decoration: underline;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 19px;
    color: #ffc200;
}

.td5 {
    padding-right: 48px;
    text-align: right;
}

.tabrow {
    margin-bottom: 60px;
}

.tabrow:last-child {
    margin-bottom: 0px;
}

.loyalbanner {
    background-color: #FFC200;
    padding: 21px 0 12px;
}

.loyalbanner p {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.04em;
    line-height: 30px;
    text-align: center;
    color: #000;
}

.loyalbanner p a {
    text-decoration: underline;
    font-size: 14px;
}

.theend {
    width: 100%;
    margin-top: 85px;
    padding: 0 0 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.theend ul {
    display: flex;
    width: 50%;
}

.theend li {
    margin-right: 47px;
}

.theend figure {
    height: 80px;
    margin: 0 0 0 50px;
}

.theend figure img {
    height: 100%;
    width: auto;
}

.logo-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    width: 50%;
}

footer {
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 45px 67px 0;
    background-color: #000000;
    width: 100%;
}

footer .container {
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

footer h3 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.13em;
    color: #fff;
    margin-bottom: 15px;
}

footer li a {
    font-weight: normal;
    font-size: 15px;
    color: #c1c1c1;
}

.footmenu ul {
    width: 200px;
}

.footmenu li {
    margin-bottom: 15px;
}

.fm1 {
    margin-right: 45px;
}

.fm1:last-child {
    margin-right: 0;
}

.theend {
    width: 100%;
    margin-top: 85px;
    padding: 15px 0 18px;
}

.theend ul {
    display: flex;
}

.theend li {
    margin-right: 47px;
}

footer .y-btn {
    padding: 18px 24px;
    height: max-content;
    text-transform: uppercase;
}

.subsform input {
    width: 100%;
    height: 45px;
    background-color: white;
    border: 1px solid #9B9B9B;
    border-radius: 3px;
    line-height: 45px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    color: #565656;
    margin-bottom: 12px;
}

.subsform input[type="submit"] {
    color: white;
    background-color: black;
    border-color: white;
    cursor: pointer;
}

.subsform input[type="submit"]:disabled {
    background-color: #ccc;
}

.ftsosmed {
    margin-top: 25px;
    justify-content: flex-end;
}

.ftsosmed a {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 16px;
    background-color: #3A5897;
}

.ftsosmed a.ig {
    background-color: white;
}

.ftsosmed a.yt {
    background-color: #FF0000;
}

.y-btn {
    display: block;
    padding: 19px 28px 15px;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.90px;
    color: #323232;
    background-color: #FFC200;
    border-radius: 3px;
    font-weight: 500;
    width: max-content;
}

footer .y-btn {
    padding: 18px 24px;
    height: max-content;
    text-transform: uppercase;
}

.footerlogo,
.gotop {
    display: none;
}

.tripdtl {
    padding: 51px 0;
}

.tripdtl-no-top{
    padding-top: 0;
}

.dtitle {
    margin-bottom: 28px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #000;
    position: relative;
}

.box-w {
    box-sizing: border-box;
    padding: 33px 48px;
    background-color: white;
}

.ehlf {
    width: 50%;
    margin-top: 35px;
}

.ehlf-fullw.hlfhlf {
    display: block;
}

.ehlf-fullw .ehlf {
    width: 100%;
    max-width: 495px;
}

.hlfhlf:not(.ehlf-fullw) .ehlf:nth-child(2),
.hlfhlf:not(.ehlf-fullw) .ehlf:nth-child(3) {
    margin-top: 0px;
}

.ehlf h3 {
    width: 192px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.07em;
    color: #000;
}

.ehlf-fullw .ehlf h3 {
    width: 250px;
}

.ehlf p {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 23px;
    text-align: left;
    color: #191515;
}

.ehlf-fullw .ehlf p {
    font-weight: normal;
}

.ehlf p span {
    display: flex;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: left;
    color: #191515;
}

.hlfhlf {
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.label_ {
    display: block;
    font-style: normal;
    width: 110px;
}

.conmsgmsg,
.rvrvrv {
    width: 100%;
    max-width: 922px;
}

.conmsgmsg textarea,
.rvrvrv textarea {
    width: 100%;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px 20px;
}

.conmsgmsg button,
.rvrvrv button {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #fff;
    box-sizing: border-box;
    padding: 9px 35px;
    margin-top: 12px;
    display: block;
    margin-left: auto;
    border-radius: 3px;
}

.msgnya {
    margin-top: 33px;
}

.msgn figure {
    width: 46px;
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 28px;
}

.mssgg {
    box-sizing: border-box;
    padding: 9px 13px;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
}

.datesent {
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.03em;
    line-height: 22px;
    text-align: left;
    color: #c1c1c1;
    display: block;
    margin-top: 8px;
}

.msgn {
    margin-bottom: 25px;
}

.admin {
    flex-direction: row-reverse;
}

.admin.msgn figure {
    margin-left: 0;
    margin-right: 28px;
}

.yellowbtn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 13px 75px;
    background-color: #FFC200;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.07em;
    line-height: 22px;
    text-align: center;
    color: #fff;
}

.editprof {
    padding: 55px 0;
}

.profmen {
    background-color: white;
    height: max-content;
    margin-right: 30px;
    min-width: 244px;
    position: sticky;
    top: 115px;
}

.profmen a {
    display: block;
    width: 100%;
    height: 61px;
    line-height: 61px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #191515;
    box-sizing: border-box;
    padding: 0 30px;
    transition: all .3s ease;
}

.profmen a.actv {
    background-color: black;
    color: white;
}

.profcont {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 45px 35px 60px;
}

.cutleft {
    width: 100%;
}

.fld {
    margin-bottom: 20px;
}

.fld label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 22px;
    color: #4a4a4a;
    /*padding-top: 10px;*/
    min-width: 168px;
}

.fld .long {
    min-width: 220px;
}

.fld input,
.fld textarea {
    width: 100%;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    padding: 0 25px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    font-size: 16px;
}

.fld textarea {
    height: 102px;
    line-height: 24px;
    padding-top: 11px;
    resize: none;
}

.fld .radioinline {
    min-height: 44px;
}

.fld .mdl {
    margin-right: 10px;
    width: 40%;
}

.fld button {
    background-color: black;
    color: white;
    width: 223px;
    height: 43px;
    line-height: 43px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

.cutright {
    min-width: 167px;
    margin-left: 93px;
    overflow: hidden;
}

.pfava {
    width: 167px;
    height: 167px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 32px;
}

.pfava img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cutright input {
    position: absolute;
    z-index: -1;
    left: -200vw;
    opacity: 0;
}

.cutright label,
.rmvava {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
}

.upload-avatar {
    position: relative;
}

.upload-avatar input[type="file"] {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.titleform {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 58px;
    display: block;
    width: 100%;
}

/*rate star*/
.rate-area {
    float: left;
    border-style: none;
}

.rate-area:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked)>label {
    float: right;
    width: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 180%;
    color: lightgrey;
}

.rate-area:not(:checked)>label:before {
    content: "★" !important;
    border: 0 !important;
}

.rate-area>input:checked~label {
    color: gold;
}

.rate-area:not(:checked)>label:hover,
.rate-area:not(:checked)>label:hover~label {
    color: gold;
}

.rate-area>input:checked+label:hover,
.rate-area>input:checked+label:hover~label,
.rate-area>input:checked~label:hover,
.rate-area>input:checked~label:hover~label,
.rate-area>label:hover~input:checked~label {
    color: gold;
}

.rate-area>input:checked+label::after {
    background-color: transparent;
}

/*end star*/

.rvrvrv .ehlf h3 {
    width: 130px;
}

.rvrvrv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*partner*/
.constat {
    min-width: 389px;
    margin-left: 33px;
    background-color: white;
    box-sizing: border-box;
    padding: 35px;
}

.conlireq {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 35px 50px;
}

.smallesttitle {
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #191515;
    display: block;
    margin-bottom: 36px;
}

.eachreq {
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 28px;
}

.reqh {
    box-sizing: border-box;
    padding: 14px 18px;
    background-color: #FCFBFA;
    justify-content: space-between;
    align-items: center;
}

.reqh h3 {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #191515;
}

.dbtn {
    display: block;
    width: max-content;
    box-sizing: border-box;
    padding: 10px 23px 9px;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #fff;
    background: #191515;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);

}

.dbtn.y_ {
    background: #FFC200;
    font-weight: bold;
}

.reqbtn a {
    margin-left: 15px;
    height: max-content;
}

.reqb {
    align-items: center;
}

.reqb figure {
    min-width: 237px;
    height: 165px;
}

.reqb figcaption {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    height: max-content;
}

.reqb p {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: #4a4a4a;
}

.reqb p span {
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
}

.reqb p i {
    font-style: normal;
    display: block;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #ababab;
}

.statitle {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 39px;
    text-align: left;
    color: #191515;
    margin-bottom: 16px;
}

.htprs {
    box-sizing: border-box;
    padding: 28px 35px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.htprs p {
    display: flex;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #191515;
    justify-content: space-between;
    margin-bottom: 22px;
}

.htprs p:last-child {
    margin-bottom: 0px;
}

.constat .constat-section {
    margin-bottom: 40px;
}

.constat .constat-section:last-child {
    margin-bottom: 0;
}

.chartitle {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #191515;
    margin-bottom: 8px;
    display: block;
}

.sts__ {
    color: #D0021B;
}

.sts__.actv {
    color: #2FAC66;
}

.alg-i span.flex {
    padding-left: 30px;
    align-items: flex-start;
}

.alg-i span.flex img {
    margin-left: 2px;
    margin-top: 3px;
}

.toptab {
    justify-content: space-between;
}

.frmsrc .form,
.blckbtn,
.yelowbtn {
    height: 40px;
    position: relative;
}

.icnsearch {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.frmsrc .form input {
    width: 250px;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    padding-left: 50px;
}

.frmsrc .sl2_ajax {
    width: 250px;
}

.frmsrc .form button,
.blckbtn,
.yelowbtn {
    font-weight: normal;
    font-size: 10.08px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #fff;
    border-radius: 2.16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    background-color: black;
    cursor: pointer;
}

.blckbtn,
.yelowbtn {
    margin-left: 14px;
}

.yelowbtn {
    color: white;
    background-color: #F7B132;
}

.formlisting {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 57px;
}

.cfield {
    margin-bottom: 25px;
    display: flex;
}

.cfield label,
.innerfield span {
    min-width: 457px;
    width: 457px;

    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 16px;
    text-align: left;
    color: #000;
    box-sizing: border-box;
    padding-right: 150px;
}

.cfield input,
.cfield select,
.cfield textarea {
    width: 315px;
    height: 43px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
    padding: 0 21px;

    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: #000;
}

.cfield textarea {
    width: 494px;
    height: 211px;
    padding: 23px 21px 13px;
    resize: none;
}

.cfield input:disabled,
.cfield select:disabled,
.cfield textarea:disabled{
    background-color: #f5f5f5;
}

.tinymce-wrapper {
    margin-bottom: 15px;
}

.tinymce-wrapper,
.cfield .tinymce {
    width: 100%;
}

.select2-container--default .select2-selection--single {
    height: 43px;
    border: 1px solid #c1c1c1;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 21px;
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 45%;
    transform: translateY(-50%);
    right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-right: 10px;
}

.tripdtl h3 {
    margin-top: 70px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.04em;
    line-height: 15px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.tripdtl .room-name {
    margin-top: 0;
    font-size: 24px;
}

.tripdtl h4 {
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.04em;
    line-height: 13px;
    text-align: center;
    color: #000;
}

.tripdtl .yellowbtn {
    transform: unset;
    position: static;
    margin: 25px auto 38px;
    display: block;
}

/*radio */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #FFC200;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cfield .radioinline label,
.cutkform .cfield .radioinline label {
    width: auto;
    min-width: unset;
    padding-right: 35px;
    margin-bottom: 11px;
}

.cfield .radioinline.flex label {
    margin-bottom: 0px;
}

.cutkform .cfield .radioinline label {
    color: #000;
}

.cutkform .cfield .radioinline .bank-detail{
    margin-bottom: 10px;
}

/*end radio*/

.nbtn {
    padding: 14px 15px 13px;
    background-color: #FFC200;
    border-radius: 2.16px;
    background: #ffc200;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);

    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.07em;
    color: #fff;
    box-sizing: border-box;
    min-width: 165px;
    text-align: center;
}

.toptab.wbtn_ h2 {
    margin: 0;
}

.toptab.wbtn_ {
    align-items: center;
    margin-bottom: 35px;
}

.ctrlbtn a {
    margin-left: 11px;
    display: block;
}

.ctrlbtn a:nth-child(1) {
    background-color: black;
}

.ctrlbtn a:nth-child(2) {
    background-color: white;
    color: black;
}

.profmen ul li ul a {
    padding-left: 55px;
    height: 53px;
    line-height: 53px;
}

.cutkform .cfield label {
    width: 200px;
    min-width: 200px;
    padding-right: 30px;
}

.imguploadpreview figure {
    width: 286px;
    height: 143px;
    margin-right: 12px;
    margin-bottom: 12px;
    position: relative;
}

.delimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.imguploadpreview figure:hover .delimg {
    opacity: 1;
    visibility: visible;
}

.imguploadpreview {
    align-items: center;
    flex-wrap: wrap;
}

.lineyellowbtn {
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffc200;
}

.chgimg {
    position: relative;
}

.chgimg input[type=file] {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.imguploadpreview.small_ {
    justify-content: space-between;
    width: 100%;
}

.file-drop-zone {
    width: 100%;
}

.imguploadpreview.small_ figure {
    width: 115px;
    height: 115px;
    float: left;
}

.addfile_ {
    width: 115px;
    height: 115px;
    margin-right: 0;
    background-color: #C1C1C1;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 12px;
}

.addfile_ input {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.addfile_:hover {
    color: #fff;
}

.addfile_ strong {
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #fff;

}

.listing-hl .hl {
    width: calc((100% - 51px) / 4);
    height: 34px;
    margin-right: 7px;
    margin-bottom: 17px;
}

.listing-hl {
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.conloc,
.locationmap {
    max-width: 494px;
    width: 100%;
}

.innerfield {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.innerfield span.label {
    width: 170px;
    min-width: 170px;
    padding-right: 30px;
}

.innerfield .input-wrap {
    width: 100%;
}

.innerfield .input-wrap small {
    font-style: italic;
    text-align: right;
    display: block;
    color: #666;
}

.innerfield .select-wrap {
    width: calc(100% - 170px)
}

.innerfield input,
.innerfield .select2-container--default .select2-selection--single,
.innerfield span.select2-container {
    width: 100% !important;
    height: 34px;
    line-height: 34px;
}

.innerfield .select2-container span {
    min-width: 0;
    padding-right: 0;
}

.innerfield .select2-container--default,
.innerfield .select2-container--default .select2-selection--single .select2-selection__arrow {
    min-width: unset;
    padding: 0;
}

.locationmap {
    height: 185px;
    background-color: grey;
    margin-bottom: 16px;
}

.locationmap iframe {
    width: 100%;
    height: 100%;
}

.cfield .innerfield textarea {
    min-height: 61px;
    padding: 6px 21px;
    height: auto;
}

.delete {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%) translateX(100%);
}

.nbtn.black_ {
    background-color: black;
    margin-top: 47px;
    cursor: pointer;
}

.addmoreoption {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: #c1c1c1;
}

.profmen a.pmh_ {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.profmen a.pmh_ input {
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.profmen a.pmh_ span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
    width: 100%;
}

.pmh_ img {
    width: 13px;
    height: auto;
}

.pmh_.actv img {
    transition: all .3s ease;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.pmh_.actv img {
    transform: rotate(180deg);
}

.profmen .ddnav li a {
    position: relative;
}

.profmen .ddnav li a input {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.ddnav {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .3s ease;
}

.addfile_.black_ {
    background-color: #000000;
}

.addfile_.wh-set {
    width: 149px;
    height: 70px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 0;
}

.cfield.wh-set {
    width: 149px;
    height: 70px;
}

.cfield.wh-set .select2-container--default .select2-selection--single,
.cfield.wh-set input,
.cfield.wh-set textarea {
    width: 100%;
    height: 70px;
}

.cfield.wh-set-medium {
    width: 228px;
}

.cfield.wh-set-textarea {
    width: 160px;
}

.cfield.wh-set.xs_,
.cfield.wh-set.xs_ .select2-container--default .select2-selection--single {
    width: 115px;
}

.flex-wrap{
    flex-wrap: wrap;
}

.cfield.wh-set.larger_,
.cfield.wh-set.larger_ input,
.cfield.wh-set.larger_ textarea {
    width: 175px;
}

.cfield.wh-set.larger_.more_,
.cfield.wh-set.larger_.more_ textarea {
    width: 346px;
}

.cfield.wh-set.smaller_,
.cfield.wh-set.smaller_ input {
    width: 90px;
}

.cfield.wh-set.wh_70_prc{    
    width: 70%;
}

.cfield.wh-set.wh_70_prc > * {
    width: 100%;
}

.addfile_.wh-set.smaller_ {
    width: 110px;
}

.cfield.wh-set {
    margin-right: 8px;
}

.cfield.wh-set.auto {
    align-items: center;
    width: auto;
}

.cfield.wh-set.auto input {
    width: 175px;
}

.cfield .label {
    display: inline-block;
    font-size: 13px;
    width: 110px;
}

.delete.closer_ {
    right: -5px;
}

.eachroomupload .cfield,
.eachaddonsupload .cfield,
.eachactivityupload .cfield,
.eachscheduleupload .cfield,
.eachpackageupload .cfield {
    margin-bottom: 0px;
}

.eachroomupload .delimg,
.eachaddonsupload .delimg,
.eachactivityupload .delimg,
.eachpackageupload .delimg {
    display: none;
}

.eachroomuploadwithimage .delimg,
.eachaddonsuploadwithimage .delimg,
.eachactivityuploadwithimage .delimg {
    align-items: center;
    visibility: visible;
    display: flex;
}

.eachroomuploadwithimage:hover .delimg,
.eachaddonsuploadwithimage:hover .delimg,
.eachactivityuploadwithimage:hover .delimg {
    opacity: 1;
}

.eachroomuploadwithimage .inner,
.eachaddonsuploadwithimage .inner,
.eachactivityuploadwithimage .inner {
    display: none;
}

.addroomimage,
.addaddonsimage,
.addactivityimage {
    background-size: cover;
}

.eachsurfinfo,
.eachroomupload,
.eachaddonsupload,
.eachactivityupload,
.eachscheduleupload,
.eachpackageupload {
    position: relative;
    margin-bottom: 11px;
    align-items: center;
}

.eachsurfinfo {
    align-items: flex-start;
}

.eachsurfinfo .delete {
    margin-top: 20px;
    position: static;
}

.eachscheduleupload .delete {
    right: -10px;
}

.eachpackageupload .delete {
    top: 35px;
    right: 0;
}

.eachpackageupload .wh-set{
    margin-bottom: 10px;
}

.eachscheduleupload .cfield.dt-set {
    width: 130px;
}

.eachpackageupload .cfield.dt-set {
    width: 30%;
}

.eachpackageupload .cfield.xs_ {
    width: 118px;
}

.plumin {
    position: relative;
    margin-left: 8px;
    padding: 0 27px;
}

.plm {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 50%;
    background-color: #C1C1C1;
    cursor: pointer;
    color: white;
}

.plm.plu_ {
    left: auto;
    right: 0;
}

.plumin span b {
    font-weight: normal;
}

.admmorebtn {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: #c1c1c1;
    display: inline-block;
/*    margin-top: 12px;*/
}

.form-group {
    display: block;
    margin-bottom: 20px;
    width: calc((100% - 70px) / 2);
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.cutkform .form-group label {
    position: relative;
    cursor: pointer;
    width: 100%;
    min-width: unset;
    padding-right: 0;

    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: #000;
    display: block;

}

.wrapfield {
    flex-wrap: wrap;
}

.wrapfield textarea,
.wrapfield input {
    /*margin-bottom: 26px;*/
    margin-bottom: 15px;
    width: 100%;
    max-width: 648px;
}

.eachsurfinfo textarea {
    margin-bottom: 0;
}

.concbbxline,
.wrapfield {
    width: 100%;
}

.concbbxline .cbcbcbx,
.wrapfield .cbcbcbx {
    margin-right: 70px;
    width: max-content;
}

.concbbxline .cbcbcbx:last-child {
    margin-right: 0;
}

.concbbxline .form-group,
.wrapfield .form-group {
    width: calc((440px - 70px) / 2);
}

.cbcbcbx h3 {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 22px;
    text-align: left;
    color: #000;
    margin-bottom: 15px;
    margin-top: 0px;
}

.form-group label:before {
    content: '';
    position: absolute;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #C1C1C1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    right: 0;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: auto;
    width: 6px;
    height: 14px;
    border: solid #FFC200;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    right: 9px;
}

.cbcbcbx {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*max-width: 440px;*/
    max-width: 60%;
}

.kesimpulan {
    align-items: center;
    width: max-content;
}

.kesimpulan span {
    display: block;
    margin-right: 21px;
    font-weight: bold;
    font-size: 13.44px;
    letter-spacing: 0.13em;
    text-align: left;
    color: #211915;
}

.kesimpulan img,
.str {
    margin-right: 5px;
    height: 17px;
    width: auto;
}

.kesimpulan i {
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.16em;
    text-align: left;
    color: #211915;
    font-style: normal;
    display: block;
    margin-left: 10px;
}

.headreview ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 426.21px;
    flex-wrap: wrap;
}

.headreview {
    justify-content: space-between;
    align-items: flex-start;
}

.headreview li {
    width: calc((100% - 40px) / 2);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;

    font-weight: normal;
    font-size: 11.2px;
    letter-spacing: 0.03em;
    line-height: 16.38px;
    text-align: left;
    color: #211915;

}

.erl-ava {
    margin-right: 28px;
    text-align: center;
    width: 70px;
}

.erl-ava figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.erl-ava span {
    font-weight: normal;
    font-size: 13px;
    line-height: 18.5px;
    text-align: center;
    color: #9b9b9b;
}

.erl-capt {
    margin-right: 89px;
    width: 100%;
    max-width: 340px;
}

.erl-capt h3 {
    font-size: 15px;
    letter-spacing: 0.04em;
    line-height: 20px;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 5px;
    margin-top: 0px;
}

.erl-left {
    align-items: center;
}

.eachreviewlisting {
    justify-content: space-between;
    padding: 17px 0;
    border-bottom: 1px solid #C1C1C1;
}

.eachreviewlisting:first-child {
    border-top: 1px solid #C1C1C1;
}

.listreviewlisting {
    margin-top: 25px;
}

.eachreviewlisting .reqbtn {
    align-items: center;
}

.alert {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid;
}

.alert-error {
    color: #D8000C;
    background-color: #FFBABA;
    border-color: #D8000C;
}

.alert-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    border-color: #4F8A10;
}

.td1 .form-group {
    width: max-content;
    margin: 0 auto;
    /*margin-right: auto;*/
}

.td1 .form-group label:before {
    position: relative;
}

.td1 .form-group input:checked+label:after {
    top: 0;
}

.tabhead h2 {
    text-transform: uppercase;
}

.tabbod .cutkform .form-group label {
    margin-top: -1.5px;
}

.sprtr_ {
    margin: 25px 0 75px;
}

.ctrlbtn a {
    text-transform: uppercase;
}

body .nbtn.green_ {
    background-color: #2FAC66;
    color: white;
}

body .nbtn.yellow_ {
    color: white;
    background-color: #F7B132;
}

body .nbtn.red_ {
    background-color: #D0021B;
    color: white;
}

.toptab.mrbot_ h2 {
    margin-bottom: 0px;
}

.toptab.mrbot_ {
    margin-bottom: 40px;
}

.tripdtl .renorm h3 {
    margin-top: 0px;
}

.renorm.hlfhlf:not(.ehlf-fullw) .ehlf:nth-child(2),
.renorm.hlfhlf:not(.ehlf-fullw) .ehlf:nth-child(3) {
    margin-top: 35px;
}

.tripdtl .renorm h3 {
    text-align: left;
    height: max-content;
    line-height: 23px;
}

.ctrlbtn {
    justify-content: flex-end;
}

.ctrlbtn.l_ {
    justify-content: flex-start;
}

.ctrlbtn.l_ a:first-child {
    margin-left: 0px;
}

.conselopt,
.frmsrc .cfield {
    margin-right: 25px;
    margin-bottom: 0;
}

.conselopt .select2-container--default .select2-selection--single,
.frmsrc .cfield.wh-set input {
    height: 40px;
    background-color: white;
}

.frmsrc .cfield.wh-set input {
    padding: 0 21px;
    width: 100%;
}

.frmsrc .cfield.wh-set {
    width: 208px;
}

.profmen.smaller_ {
    width: 100%;
}

.profmen.smaller_ li {
    text-decoration: underline;
}

.oncalendar-page * {
    box-sizing: border-box;
}

.wrpwrp {
    float: left;
    width: 300px;
    padding-right: 20px;
}

.wrpwrp .profmen {
    margin-right: 0;
    min-width: unset;
}

.wrpwrp .profmen.smaller_ li {
    text-decoration: none;
}

.wrpwrp .profmen .ddnav li.sub-actv {
    text-decoration: underline;
}

.wrpwrp-right {
    padding-left: 20px;
    padding-right: 0;
}

.bannerright {
    /*min-width: 164px;*/
    width: 250px;
    background-color: white;
    /*margin-left: 20px;*/
    box-sizing: border-box;
    padding: 33px 28px;
    margin-top: 33px;
    float: left;
}

.bannerright span {
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: left;
    color: #191515;
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
}

.bannerright span:first-child {
    margin-top: 0px;
}

.bannerright .con-r {
    margin-bottom: 10px;
}

.bnrr-input {
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
    padding: 0 21px;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #000;
}

.nbtn.b_.f_ {
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 40px;
    display: block;
    min-width: unset;
    font-size: 12px;
    cursor: pointer;
}

.oncalendar-page {
    margin-top: 55px;
}

.labsmall {
    display: block;
    /*margin-bottom: 12px;*/
    height: 35px;
}

/*custom daterange*/
.daterangepicker .drp-calendar.right {
    overflow: hidden;
    display: block;
    width: 0px;
    padding: 0;
}

.daterangepicker .calendar-table th.next {
    position: absolute;
    right: 9px;
    top: 9px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #FFC200;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border-bottom: 0;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 18px 10px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    vertical-align: top;
    padding: 30px 10px;
}

table.dataTable thead th,
table.dataTable tbody th,
table.dataTable thead td,
table.dataTable tbody td {
    text-align: left;
}

table.dataTable thead .text-center,
table.dataTable tbody .text-center {
    text-align: center;
}

table.dataTable thead .text-right,
table.dataTable tbody .text-right {
    text-align: right;
}

.popup {
    max-width: 700px;
    width: 100%;
}

.popup-processing {
    position: relative;
}

.popup-processing:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.popup-processing:after {
    content: 'Processing...';
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.popup .inner {
    justify-content: center;
    align-items: center;
    min-height: 300px;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    width: 100%;
}

.popup h2 {
    letter-spacing: 3px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
}

.popup .action {
    justify-content: space-between;
    max-width: 427px;
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.popup .btn {
    background-color: #FFC200;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    line-height: 17px;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    padding: 10px;
    width: 170px;
}

.popup .form {
    max-width: 470px;
    margin: 0 auto;
    width: 95%;
}

.popup fieldset {
    margin: 16px auto 0;
    display: flex;
    border: 0;
}

.popup fieldset label {
    letter-spacing: 1px;
    padding-right: 20px;
    text-align: right;
    line-height: 20px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 16px;
    width: 130px;
}

.popup fieldset input,
.popup fieldset textarea {
    border: 1px solid #C1C1C1;
    width: calc(100% - 130px);
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px 15px;
    line-height: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}

.popup fieldset textarea {
    height: 119px;
    resize: none;
}

.popup .desc {
    margin: 35px auto 0;
}

.popup-change-date h2 {
    margin-bottom: 27px;
}

.popup-change-date .action {
    padding-left: 130px;
    margin: 21px 0 0;
}

#table_trips thead th,
#table_trips tbody td {
    padding: 18px 30px;
}

.review-form .titleform {
    margin-bottom: 0;
    color: #000000;
    font-weight: 600;
}

.review-form .fld{
	margin-top: 47px;
	width: 100%;
}

.review-form input[type=text] {
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0;
}

.helpbox .ehlf:first-child{
	margin-top: 0;
}

.switch-language{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
}

.switch-language .lbl{
    margin-right: 10px;
}

.switch-language .sl-nav {
    display: inline;
}

.switch-language .sl-nav ul {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.switch-language .sl-nav li {
    cursor: pointer;
    border: none;
}

.switch-language .sl-nav li ul {
    background: white;
    display: none;
    top: 0;
}

.switch-language .sl-nav li:hover ul,
.switch-language .sl-nav li.selected ul {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    padding-top: 0px;
    display: block;
    right: -15px;
    width: auto;
    z-index: 1;
    top: 30px;
}

.switch-language .sl-nav li b{
    padding: 10px 0 10px 10px !important;
    font-weight: normal;
    font-size: 13px;
}

.switch-language .sl-nav li:hover .triangle {
    background: transparent;
    position: absolute;
    overflow: hidden;
    right: -10px;
    height: 14px;
    width: 30px;
    z-index: 10;
    top: 17px;
}

.switch-language .sl-nav li:hover .triangle:after {
    content: '';
        transform: rotate(45deg) translateY(0px) translatex(10px);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        border-radius: 2px 0px 0px 0px;
        background: #FFFFFF;
        display: block;
        height: 15px;
        z-index: 20;
        width: 15px;
}

.switch-language .sl-nav li ul li {
    background-color: transparent;
    padding: 10px 10px 5px !important;
    position: relative;
    text-align: left;
    font-size: 13px;
    width: 100%;
    z-index: 2;
    border: 0;
}

.switch-language .sl-nav li ul li a{
    background: transparent;
    letter-spacing: normal;
    text-transform: none;
    line-height: normal;
    font-size: 12px;
    display: block;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

.switch-language .sl-nav li ul li span{
    vertical-align: top;
}

.switch-language .sl-nav li ul li span:hover,
.switch-language .sl-nav li ul li span.active {
    color: #146c78;
}

.switch-language .sl-flag {
    margin-right: 10px !important;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.switch-language b .sl-flag{
    top: 2px;
}

.switch-language .sl-flag img{
    width: 24px !important;
}

.popup-upload-media .fancybox-slide--iframe .fancybox-content {
    background: transparent;
    max-width  : 80%;
    max-height : 80%;
    width  : 800px;
    height : 600px;
    margin: 0;
}

.popup-upload-media .fancybox-close-small{
    display: none;
}

/* 
============= */
/* RESPONSIVE  */
/* ========  */
@media (max-width: 1440px) {
    .fm1 {
        margin-right: 45px;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1080px) {}

@media (max-width: 916px) {}

@media (max-width: 768px) {
    .fm1 {
        margin-right: 0;
    }

    .theend ul {
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        order: 2;
    }

    .theend ul li {
        margin: 0;
    }
}

@media (max-width: 500px) {}