<!-- BEGIN viewBlock -->
<section class="tripdtl">
    <div class="container">
        <h2 class="dtitle" style="text-align: center;">{title}</h2>
        <div class="hlfhlf helpbox renorm ehlf-fullw box-w flex center" style="text-align: center;">
            {message}
        </div>
    </div>
</section>
<!-- END viewBlock -->