<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<div class="content-body-1020 content-body-1042">
    <div class="header-1020 header-1042">Manage Admin Accounts</div>
    {message}
    <div class="content-1042 new-style-content-1024 mtop30">
        <div class="block-flex box-size">
            <div class="mb0 b-left">
                <p class="f14 fwbold mb0">Create a new Admin Account (or update)<br />
                    <span class="f12 fwnormal">Fill-in the form.</span>
                </p>
            </div>
            <div class="mb0 b-right">
                <p class="f14 fwbold mb0" style="text-align: right;">Set permissions level<br />
                    <span class="f12 fwnormal">Check module list below</span>
                </p>
            </div>
            <div class="clear"></div>
            <hr class="style4">
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="block-flex box-size">
                <div class="block-mini bw-left">
                    <span class="or35"></span>
                    <div class="list">
                        <label>Username</label>
                        <input value="{luser_id}" name="fields[luser_id]" type="hidden" autocomplete="off" />
                        <input value="{lusername}" name="fields[lusername]" type="text" class="text" {lusername_style}/>
                    </div>
                    <div class="list">
                        <label>Email</label>
                        <input value="{lemail}" name="fields[lemail]" type="email" class="text" />
                    </div>
                    <div class="list">
                        <div class="half-box">
                            <label>First Name</label>
                            <input value="{lfirstname}" name="fields[lfirstname]" type="text" class="text" />
                        </div>
                        <div class="half-box">
                            <label>Last Name</label>
                            <input value="{llastname}" name="fields[llastname]" type="text" class="text" />
                        </div>
                    </div>
                    <div class="list">
                        <div class="half-box">
                            <label>Skype</label>
                            <input value="{lskype}" name="fields[lskype]" type="text" class="text" />
                        </div>
                        <div class="half-box">
                            <label>Phone</label>
                            <input value="{lphone}" name="fields[lphone]" type="text" class="text" />
                        </div>
                    </div>
                    <div class="list">
                        <div class="half-box">
                            <label>Password</label>
                            <input value="{lpassword}" name="fields[lpassword]" type="password" class="text" />
                        </div>
                        <div class="half-box">
                            <label>Confirm Password</label>
                            <input value="{lcpassword}" name="fields[lcpassword]" type="password" class="text" />
                        </div>
                    </div>
                    <div class="list">
                        <label>Country</label>
                        <div class="chzn-selecto">
                            <select name="fields[lcountry_code]" class="chzn-select" style="width: 100%;">
                                <option value="">Select Country</option>
                                {lcountry_code}
                            </select>
                        </div>
                    </div>
                    <div class="list">
                        <figure class="avatar-wrap">
                            {limage}
                        </figure>
                        <label for="fileupload" class="upload-avatar">
                            <span class="admin-logos"></span>Browse
                            <input type="file" name="limage" placeholder="Upload Avatar photo" id="fileupload">
                        </label>
                    </div>
                    <a href="{cancel_url}" class="button shadow fwbold {cancel_css}">CANCEL</a>
                    <label for="btn_cta" class="btn-plus-style {btn_style}">
                        <span class="admin-logos"></span>
                        <input name="save" type="submit" value="{action_label}"id="btn_cta">
                    </label>
                </div>
                <div class="block-mini bw-right">
                    <div class="list">
                        <label>User Level</label>
                        <div class="chzn-selecto">
                            <select name="fields[lusertype_id]" class="chzn-select usertype" style="width: 100%;">
                                <option value="">Select user level</option>
                                <option value="0">Custom</option>
                                {lusertype_id}
                            </select>
                        </div>
                    </div>
                    <div class="list list-usertype">
                        <label>New level name</label>
                        <input name="fields[lpermission_name]" type="text" class="text" {lmodule_style}/>
                    </div>
                    <div class="list">
                        <label>Module List</label>
                        <div class="chzn-selecto">
                            <select name="fields[lmodule_id][]" class="chzn-select moduleid" style="width: 100%;" multiple autocomplete="off">
                                {lmodule}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
        <hr class="style4">
        <div class="block-full-list">
            <table id="table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th data-orderable="false" width="65">Photo</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th width="125">Level</th>
                        <th width="125">Country</th>
                        <th width="80">Status</th>
                        <th data-orderable="false" width="80">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" id="limit" value="{limit}" autocomplete="off">
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</div>
<!-- END viewContent -->
<!-- END viewBlock -->