<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form name="rate_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Rates</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
	        <div class="mb0" style="margin-top: 0px; width: 487px; height: auto; border:none; float:left;">
	            <p class="f14 fwbold mb0">Create a new rate<br />
	                <span class="f12 fwnormal">All fields with (*) mark are required</span>
	            </p>
	        </div>
	        <div class="clear"></div>
	        <hr style="float: left;" class="style4">
	        <div class="block-mini box-size" style="margin-top: 0px; width: 100%; height: auto; border-right:none; margin: 0;  float: left;">
                <div style="width: 100%; margin-top: 15px;" class="list">
                    <label style="text-align: left;width: 100%;margin-left:0px;margin-bottom:5px;">Name</label>
                    <input value="{llang_id}" id="llang_id" name="fields[llang_id]" type="hidden">
                    <input value="{lrate_id}" id="lrate_id" name="fields[lrate_id]" type="hidden">
        			<input value="{lcreated_by}" id="lcreated_by" name="fields[lcreated_by]" type="hidden">
                    <input value="{lrate_name}" id="lrate_name" name="fields[lrate_name]" type="text" class="text required" style="margin-left: 0px; width: 100%;">
                    <small style="margin-top: 5px; display: block; float: left;"><i>Name of your rate, ex: High Seasons.</i></small>
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Accommodation</label>
                    <div class="chzn-selecto">
                        <select id="laccommodation" name="fields[lpost_id]" class="chzn-select" autocomplete="off" style="width:300px;" data-placeholder="Choose accommodation">
                            {lpost_id}
                        </select>
                    </div>
                </div>
                <div class="list-room-rate">
                    {lroom_rate}
                </div>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>

    <div class="content-body-1020 content-body-1042">
        <div class="content-1042 new-style-content-1024">
            <div class="button_step_bottom new-bsb" style="float:right;">
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
	
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->