<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<section class="tripdtl">
    <div class="container">
        <div class="toptab wbtn_ flex">
            <h2 class="dtitle">{listing_num}</h2>
        </div>
    </div>
    <div class="container oncalendar-page clearfix">
        <div class="wrpwrp">
            <span class="labsmall">NAME</span>
            <div class="profmen smaller_">
                {listing}
            </div>
        </div>
        <div class="thecalendar">
            <div id="wrap-list-form-calendar"></div>
            <div class="nav clearfix">
                <a class="prev"><img src="//{template_url}/asset/img/arw.svg"><span></span></a>
                <a class="next"><span></span><img src="//{template_url}/asset/img/arw.svg"></a>
            </div>
        </div>
        <div class="wrpwrp wrpwrp-right">
            <div class="bannerright">
                <form name="availability" method="post">
                    <span>
                        Selected dates
                    </span>
                    <b class="selected-date">
                        No selected date
                    </b>
                    <span>Availability</span>
                    <div class="con-r">
                        <input type="radio" name="lstatus" id="radio-pp" class="radioinput" autocomplete="off" value="1" checked>
                        <label for="radio-pp" class="radiolabel">Available</label>
                    </div>
                    <div class="con-r">
                        <input type="radio" name="lstatus" id="radio-pp2" class="radioinput" autocomplete="off" value="2">
                        <label for="radio-pp2" class="radiolabel">Blocked</label>
                    </div>
                    <span>Nightly price</span>
                    <input type="text" name="lrate" class="bnrr-input text" data-a-sep="." data-a-dec="," data-m-dec="0" value="0"  autocomplete="off" required>
                    <div class="hidden">
                        <input type="text" name="lend" autocomplete="off">
                        <input type="text" name="lstart" autocomplete="off">
                        <input type="text" name="lpost_id" autocomplete="off">
                        <input type="text" name="lterm_id" autocomplete="off">
                        <input type="text" name="pKEY" value="update_availability" autocomplete="off" />
                    </div>
                    <button type="submit" class="update-availability nbtn b_ f_">
                        SAVE
                    </button>
                </form>
            </div>
        </div>
    </div>

    <input type="hidden" id="lpost_id" autocomplete="off" />
    <input type="hidden" id="lroom_id" autocomplete="off" />
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off" />
    <input type="hidden" id="lmodule" value="{lmodule_id}" autocomplete="off" />
</section>
<!-- END viewContent -->
<!-- END viewBlock -->