<!-- BEGIN formBlock -->
{error}
<!-- BEGIN formContent -->
<form name="app_form" method="post">
	<div class="content-body-1020 content-body-1042">
    	<div class="header-1020 header-1042">Manage Guest Review</div>
    	{message}
	    <div class="content-1042 new-style-content-1024 mtop30">
	        <div class="mb0" style="margin-top: 0px; width: 487px; height: auto; border:none; float:left;">
	            <p class="f14 fwbold mb0">Create a review<br />
	                <span class="f12 fwnormal">All fields with (*) mark are required</span>
	            </p>
	        </div>
	        <div class="clear"></div>
	        <hr style="float: left;" class="style4">
	        <div class="block-mini box-size" style="margin-top: 0px; width: 100%; height: auto; border-right:none; margin: 0;  float: left;">
                <div class="list list-field">
                    <label class="list-field-title">Accommodation</label>
                    <div class="chzn-selecto">
                        <select name="fields[lpost_id]" class="chzn-select" style="width:300px;">
                            <option value=""></option>
                            {lpost_id}
                        </select>
                    </div>
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Guest Name</label>
                    <input value="{lname}" name="fields[lname]" class="text" type="text" {lname_css} />
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Title</label>
                    <input value="{lreview_title}" name="fields[lreview_title]" class="text" type="text" />
                </div>
                <div class="list list-field">
                    <label class="list-field-title">Review</label>
                    <input value="{lreview_id}" id="lreview_id" name="fields[lreview_id]" type="hidden">
                    <div><textarea id="lreview_note" class="textarea" name="fields[lreview_note]" autocomplete="off" style="margin-left: 0px; width: 100%; background: #FFF; border: 1px solid #CCC;">{lreview_note}</textarea></div>
                </div>

                {laccuracy_score}
                {lcleanliness_score}
                {llocation_score}
                {lstaff_score}
                {lactivities_score}
                {loverall_score}
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>

	{ladditional}

    <div class="content-body-1020 content-body-1042">
        <div class="content-1042 new-style-content-1024">
            <div class="button_step_bottom new-bsb" style="float:right;">
                <input type="submit" value="Save" class="button shadow fwbold mt0" name="save" style="font-size: 15px;padding: 9px 20px;font-weight: 400;">
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
	
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</form>
<!-- END formContent -->
<!-- END formBlock -->