<!-- BEGIN viewBlock -->
{error}
<!-- BEGIN viewContent -->
<div class="content-body-1020 content-body-1042">
    <div class="header-1020 header-1042">Manage Guests Review</div>
    <div class="content-1042 new-style-content-1024">
        <div class="block-mini box-size search-porperty" style="border-right: medium none; height: auto; width: 100%;">
            <div class="step">
                <span class="num36">1</span>
                <span class="step14">Search guests review.</span><br>
                <span class="stepb12">You can also select filters to refine your search.</span>
            </div>
            <br clear="all">
            <div class="list list-select-option">
                <div class="chzn-selecto chzn-selecto3">
                    <select name="lperiod" class="chzn-select" style="width: 220px;" autocomplete="off">
                        <option value="">All Dates</option>
                        {lperiod}
                    </select>
                </div>
                <div class="chzn-selecto chzn-selecto-last">
                    <select name="laccommodation" class="chzn-select" style="width: 220px;" autocomplete="off">
                        <option value="">All Accommodation</option>
                        {laccommodation}
                    </select>
                </div>
            </div>
            <div class="list">
                <input type="text" class="text textstyle search-txt mt10" name="lsearch" placeholder="Search..." style="margin: 5px 0px 0px; width: 356px; background-position: 437px 0px;" autocomplete="off" />
                <input type="button" class="button shadow fwbold mt10 btn-magnifier" style="float: left; margin: 0px; margin-top:5px;" />
                <input type="button" class="button shadow fwbold" value="FILTER" name="filter" style="float: left; width: 108px; padding: 9px 10px; margin: 5px 6px; height: 35px;">

                <a href="{add_url}" class="button" style="margin: 5px 0 0; height: 35px;">
                    <span class="button_ayp" style="margin:4px; height:27px;"></span>
                    <span style="margin: 9px 10px;">ADD NEW</span>
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <hr class="style4">
        <div class="block-full-list">
            <table id="table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Accommodation</th>
                        <th>Title</th>
                        <th width="120">Rating</th>
                        <th data-orderable="false" width="80">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>

    <input type="hidden" id="limit" value="{limit}" autocomplete="off">
    <input type="hidden" id="ajax_url" value="{ajax_url}" autocomplete="off">
</div>
<!-- END viewContent -->
<!-- END viewBlock -->